Repository kedro-org/kedro: changes, and which CircleCI parameters are due for each by the changed paths.
All: docs_change, code_change

address vale comments
  docs/integrations-and-plugins/pandera.md
Due: docs_change

cleaned up and removed params validation
  docs/integrations-and-plugins/pandera.md
Due: docs_change

last cleanup
  docs/integrations-and-plugins/pandera.md
Due: docs_change

done
  .github/styles/Kedro/Repetition.yml
  docs/develop/automated_testing.md
Due: docs_change, code_change

changed to text scope
  .github/styles/Kedro/Repetition.yml
Due: code_change

Fix: Improve Vale repetition rule to exclude code blocks and fix typo in docs (#5162)
  .github/styles/Kedro/Repetition.yml
  docs/develop/automated_testing.md
Due: docs_change, code_change

Replaced built tool name with proper tool name
  kedro/pipeline/agent_context.py
Due: code_change

trigger CI
  docs/integrations-and-plugins/pandera.md
Due: docs_change

fix dco issue
  docs/integrations-and-plugins/pandera.md
Due: docs_change

remove note on float64
  docs/integrations-and-plugins/pandera.md
Due: docs_change

tried to fix vale
  .vale.ini
  docs/integrations-and-plugins/pyspark_integration.md
Due: docs_change, code_change

revert and lint
  .vale.ini
  docs/integrations-and-plugins/pyspark_integration.md
Due: docs_change, code_change

vale issue fix
  .github/workflows/merge-gatekeeper.yml
Due: code_change

done
  .github/workflows/merge-gatekeeper.yml
  .vale.ini
Due: code_change

revert vale stuff
  .github/workflows/merge-gatekeeper.yml
Due: code_change

revert vale
  .github/workflows/merge-gatekeeper.yml
  .vale.ini
Due: code_change

Fix Cursor link
  docs/develop/vibe_coding_with_mcp.md
Due: docs_change

Fix links to kedro-mcp
  docs/develop/vibe_coding_with_mcp.md
Due: docs_change

Apply suggestions from code review
  docs/develop/vibe_coding_with_mcp.md
Due: docs_change

Fix review comments
  docs/develop/vibe_coding_with_mcp.md
Due: docs_change

Add note on programmatically creating lambdas when lazily saving a `PartionedDataset` (#5158)
  RELEASE.md
  docs/catalog-data/partitioned_and_incremental_datasets.md
Due: docs_change, code_change

Kedro MCP docs update (#5107)
  docs/develop/vibe_coding_with_mcp.md
  docs/meta/images/mcp_general_guidance.png
  docs/meta/images/mcp_migration.png
  docs/meta/images/mcp_notebook_convertion.png
  mkdocs.yml
Due: docs_change, code_change

requested changes + lint
  kedro/framework/session/session.py
  kedro/io/data_catalog.py
  kedro/utils.py
  tests/test_utils.py
Due: code_change

Update kedro/utils.py
  kedro/utils.py
Due: code_change

secrets.baseline
  .secrets.baseline
Due: code_change

reverts _datasets
  kedro/io/data_catalog.py
Due: code_change

auto suggestions for typo
  kedro/framework/session/session.py
  kedro/io/data_catalog.py
  kedro/utils.py
Due: code_change

Update GitHub Actions (#5140)
  .github/dependabot.yml
  .github/workflows/auto-merge-prs.yml
  .github/workflows/benchmark-performance.yml
  .github/workflows/check-release.yml
  .github/workflows/detect-secrets.yml
  .github/workflows/docs-language-linter.yml
  .github/workflows/e2e-tests.yml
  .github/workflows/lint.yml
  .github/workflows/pip-compile.yml
  .github/workflows/sync.yml
  .github/workflows/unit-tests.yml
Due: code_change

Documentation: Autoreload & toggle theme for Kedro-Viz (#5156)
  docs/ide/set_up_vscode.md
  docs/meta/images/vscode_autoreload_viz.gif
  docs/meta/images/vscode_toggle_viz_theme.gif
Due: docs_change

Add explicit permissions block to GitHub Actions workflows (#5151)
  .github/workflows/all-checks.yml
  .github/workflows/auto-merge-prs.yml
  .github/workflows/benchmark-performance.yml
  .github/workflows/check-release.yml
  .github/workflows/detect-secrets.yml
  .github/workflows/docs-language-linter.yml
  .github/workflows/docs-only-checks.yml
  .github/workflows/e2e-tests.yml
  .github/workflows/label-community-issues.yml
  .github/workflows/lint.yml
  .github/workflows/nightly-build.yml
  .github/workflows/no-response.yml
  .github/workflows/pip-compile.yml
  .github/workflows/pipeline-performance-test.yml
  .github/workflows/release-starters.yml
  .github/workflows/sync.yml
  .github/workflows/unit-tests.yml
Due: code_change

simple test
  .secrets.baseline
  tests/test_utils.py
Due: code_change

Add auto suggestions for typo correction feature
  kedro/utils.py
Due: code_change

required changes
  kedro/framework/session/session.py
  kedro/io/data_catalog.py
  kedro/utils.py
  tests/test_utils.py
Due: code_change

Update pipeline to Pipeline in docs (#5155)
  docs/tutorials/add_another_pipeline.md
  docs/tutorials/create_a_pipeline.md
  docs/tutorials/test_a_project.md
  features/test_starter/{{ cookiecutter.repo_name }}/src/{{ cookiecutter.python_package }}/pipelines/data_engineering/pipeline.py
  features/test_starter/{{ cookiecutter.repo_name }}/src/{{ cookiecutter.python_package }}/pipelines/data_science/pipeline.py
Due: docs_change, code_change

Documentation for tutorial, optional namespaces (#5145)
  docs/tutorials/add_another_pipeline.md
Due: docs_change

error msg update
  kedro/io/data_catalog.py
  kedro/utils.py
Due: code_change

Path conditions:
  docs_change: any of: docs/.*
  code_change: any of: ^((?!docs/).)*$
