Repository kedro-org/kedro: changes, and which CircleCI parameters are due for each by the changed paths.
All: docs_change, code_change

Return exact namespace matches
  RELEASE.md
  kedro/pipeline/pipeline.py
Due: code_change

Change links from github to pypi
  docs/source/deployment/airflow.md
Due: docs_change

Changes based on review docs
  docs/source/configuration/configuration_basics.md
Due: docs_change

Add return type annotation
  kedro/pipeline/pipeline.py
Due: code_change

Update for cases where airflow is running outside of k8s
  docs/source/deployment/airflow.md
Due: docs_change

address PR suggestions
  RELEASE.md
  kedro/runner/task.py
Due: code_change

fix based on reviews
  .secrets.baseline
  kedro/io/core.py
  tests/io/test_data_catalog.py
  tests/io/test_kedro_data_catalog.py
Due: code_change

add-secrets-base-line
  .secrets.baseline
Due: code_change

add flaky link to linkcheck ignore
  docs/source/conf.py
Due: docs_change

Add cloud protocol support for `--conf-source` (#4543)
  RELEASE.md
  docs/source/conf.py
  docs/source/configuration/configuration_basics.md
  kedro/config/omegaconf_config.py
  kedro/framework/cli/project.py
  kedro/framework/cli/utils.py
  kedro/io/core.py
  kedro/utils.py
  tests/config/test_omegaconf_config.py
  tests/framework/cli/test_cli.py
Due: docs_change, code_change

Add unit test for helper
  tests/pipeline/test_pipeline.py
Due: code_change

done
  docs/source/configuration/advanced_configuration.md
Due: docs_change

done (#4588)
  docs/source/configuration/advanced_configuration.md
Due: docs_change

fix logging mypy
  kedro/logging.py
Due: code_change

format
  kedro/logging.py
Due: code_change

Add checkout to cookiecutter args
  kedro/framework/cli/starters.py
Due: code_change

Release notes
  RELEASE.md
Due: code_change

add tests to cover extra edge cases
  tests/framework/project/test_logging.py
Due: code_change

Make map nodes private
  kedro/pipeline/pipeline.py
Due: code_change

Fixed ThreadRunner
  kedro/runner/thread_runner.py
Due: code_change

Fixed SequentialRunner
  kedro/runner/sequential_runner.py
Due: code_change

Added default pattern
  kedro/io/catalog_config_resolver.py
  kedro/io/kedro_data_catalog.py
  kedro/runner/runner.py
  kedro/runner/sequential_runner.py
Due: code_change

Fixed ParallelRunner
  kedro/framework/context/context.py
  kedro/framework/session/session.py
  kedro/runner/parallel_runner.py
Due: code_change

Removed unsatisfy ds check as not needed
  kedro/runner/runner.py
Due: code_change

Simplified runner.run()
  kedro/io/catalog_config_resolver.py
  kedro/runner/runner.py
Due: code_change

Fixed bugs
  kedro/io/catalog_config_resolver.py
Due: code_change

Left TODO comment for PS
  kedro/runner/runner.py
  tests/runner/conftest.py
Due: code_change

Fix Kedro logging broadcasting markup log message to all handlers. (#4496)
  kedro/io/data_catalog.py
  kedro/io/kedro_data_catalog.py
  kedro/logging.py
  kedro/utils.py
  tests/framework/project/test_logging.py
Due: code_change

Move checkout
  kedro/framework/cli/starters.py
Due: code_change

Bump version to 0.19.12
  CITATION.cff
  RELEASE.md
  docs/source/development/commands_reference.md
  kedro/__init__.py
Due: docs_change, code_change

Community contributions added
  RELEASE.md
Due: code_change

tests
  kedro/framework/cli/starters.py
Due: code_change

Made run method return all pipeline outputs
  kedro/runner/runner.py
Due: code_change

Updated run method docstrings
  kedro/runner/runner.py
Due: code_change

Code review suggestions
  RELEASE.md
Due: code_change

update error message
  kedro/io/core.py
Due: code_change

Release date updated
  CITATION.cff
Due: code_change

Release 0.19.12 (#4593)
  CITATION.cff
  RELEASE.md
  docs/source/development/commands_reference.md
  kedro/__init__.py
Due: docs_change, code_change

Add `checkout` to cookiecutter args even for tools (#4591)
  RELEASE.md
  kedro/framework/cli/starters.py
Due: code_change

Update RELEASE.md
  RELEASE.md
Due: code_change

Path conditions:
  docs_change: any of: docs/.*
  code_change: any of: ^((?!docs/).)*$
