Repository kedro-org/kedro: changes, and which CircleCI parameters are due for each by the changed paths.
All: docs_change, code_change

.circleci/config.yml:

version: 2.1

parameters:
  release_kedro:
    type: boolean
    default: false
  # The parameters below are set in CircleCI UI.
  # https://app.circleci.com/settings/project/github/kedro-org/kedro/triggers?return-to=https%3A%2F%2Fapp.circleci.com%2Fpipelines%2Fgithub%2Fkedro-org%2Fkedro&triggerSource=&scheduledTriggerId=61f7226f-f092-4449-98d9-40420f8c46b2&success=true
  run_hourly:
    type: boolean
    default: false
  run_nightly:
    type: boolean
    default: false

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.1

workflows:
  regular:
    jobs:
      # the path-filtering/filter job determines which pipeline
      # parameters to update, i.e. which builds to run.
      - path-filtering/filter:
          name: check-updated-files
          base-revision: main
          config-path: .circleci/continue_config.yml
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            docs/.* docs_change true
            ^((?!docs/).)*$ code_change true

Try remove --system flag from commands
  Makefile
Due: code_change

Implement the log
  kedro/runner/runner.py
Due: code_change

Update RELEASE.md
  RELEASE.md
Due: code_change

Migrate `DataCatalog` docs to mkdocs (#4767)
  .secrets.baseline
  docs/index.md
  docs/pages/api/framework/kedro.framework.context.md
  docs/pages/api/io/kedro.io.DataCatalog.md
  docs/pages/api/io/kedro.io.SharedMemoryDataCatalog.md
  docs/pages/api/io/kedro.io.md
  docs/pages/catalog-data/introduction.md
  docs/pages/catalog-data/kedro_data_catalog.md
  docs/source/api/kedro.io.rst
  docs/source/conf.py
  docs/source/data/index.md
  mkdocs.yml
Due: docs_change, code_change

update corect external links
  docs/pages/integrations-and-plugins/mlflow.md
Due: docs_change

fix the DataCatalog Issue
  docs/pages/api/io/kedro.io.DataCatalog.md
  docs/pages/api/io/kedro.io.md
  docs/pages/integrations-and-plugins/notebooks_and_ipython/kedro_and_notebooks.md
Due: docs_change

update "table of contents" to "contents"
  mkdocs.yml
Due: code_change

create "install-docs-requirements"
  Makefile
Due: code_change

fix some of the typo
  docs/pages/build/pipeline_introduction.md
  docs/pages/integrations-and-plugins/notebooks_and_ipython/kedro_and_notebooks.md
Due: docs_change

Fix merge
  docs/index.md
Due: docs_change

update catalog in kedro.io
  docs/pages/api/io/kedro.io.md
Due: docs_change

fix: resolve logger warnings (#4760)
  tests/framework/project/test_logging.py
Due: code_change

include max-concurrency for lychee
  .lycheeignore
  Makefile
Due: code_change

update link in welcome page
  docs/overrides/welcome.html
Due: docs_change

update mlflow link
  docs/pages/integrations-and-plugins/mlflow.md
Due: docs_change

update catalog links
  docs/pages/integrations-and-plugins/notebooks_and_ipython/kedro_and_notebooks.md
Due: docs_change

Fix lint
  tests/framework/project/test_logging.py
Due: code_change

remove the version dependencies for griffee
  pyproject.toml
Due: code_change

use custom 404.html to ensure it runs externally
  docs/overrides/404.html
Due: docs_change

try the ENV VAR for the site_url
  .readthedocs.yml
  mkdocs.yml
Due: code_change

use base_url
  docs/overrides/404.html
  docs/overrides/welcome.html
Due: docs_change

imclude block extrahead
  docs/overrides/404.html
Due: docs_change

fix the empty note or code block
  .lycheeignore
  docs/pages/about/telemetry.md
  docs/pages/catalog-data/data_catalog_yaml_examples.md
Due: docs_change, code_change

chnage the video height
  docs/pages/tutorials/spaceflights_tutorial.md
Due: docs_change

apply new styles for autocompletion
  docs/pages/getting-started/commands_reference.md
Due: docs_change

fix empty code block
  docs/pages/build/slice_a_pipeline.md
Due: docs_change

include min-width for table
  docs/stylesheets/globals.css
Due: docs_change

position the ad placement
  docs/overrides/main.html
  docs/overrides/welcome.html
Due: docs_change

Removed default dataset option for get method
  kedro/io/data_catalog.py
Due: code_change

Main sections draft
  docs/pages/catalog-data/test_phase.md
Due: docs_change

Updated goal, installation and testing scenarios
  docs/pages/catalog-data/test_phase.md
Due: docs_change

Moved test page draft to new docs structure
  docs/pages/catalog-data/test_phase.md
Due: docs_change

Updated DataCatalog API section
  docs/pages/catalog-data/test_phase.md
Due: docs_change

Updated Dataset factories section
  docs/pages/catalog-data/test_phase.md
Due: docs_change

Fixing formtting
  docs/pages/catalog-data/test_phase.md
Due: docs_change

Removed KedroDataCatalog old page
  docs/pages/catalog-data/kedro_data_catalog.md
Due: docs_change

Added Catalog and CLI commands section
  docs/pages/catalog-data/test_phase.md
Due: docs_change

Added Lazy loading section
  docs/pages/catalog-data/test_phase.md
Due: docs_change

Fixed the link to page
  docs/index.md
Due: docs_change
