Repository kedro-org/kedro: changes, and which CircleCI parameters are due for each by the changed paths.
All: docs_change, code_change

Update docs
  docs/source/development/set_up_pycharm.md
Due: docs_change

Update release file
  RELEASE.md
Due: code_change

add a few more unit test
  kedro/ipython/__init__.py
  tests/ipython/test_ipython.py
Due: code_change

fix tests
  kedro/ipython/__init__.py
  tests/ipython/test_ipython.py
Due: code_change

Update RELEASE.md
  RELEASE.md
Due: code_change

clean up print and detech VScode better
  kedro/ipython/__init__.py
Due: code_change

Add to faq
  docs/source/faq/faq.md
Due: docs_change

fix coverage
  tests/ipython/test_ipython.py
Due: code_change

fix lint
  tests/ipython/test_ipython.py
Due: code_change

Explicitly import get_ipython()
  kedro/ipython/__init__.py
Due: code_change

Add gif to demonstrate load_node
  docs/source/meta/images/jupyter_ipython_load_node.gif
  docs/source/notebooks_and_ipython/kedro_and_notebooks.md
Due: docs_change

fix lint
  kedro/ipython/__init__.py
Due: code_change

Fix link error
  docs/source/faq/faq.md
Due: docs_change

fix mypy
  kedro/ipython/__init__.py
Due: code_change

Rejig the page
  docs/source/notebooks_and_ipython/kedro_and_notebooks.md
Due: docs_change

Add recommended debug workflow with load node line magic
  docs/source/notebooks_and_ipython/kedro_and_notebooks.md
Due: docs_change

Add VSCode/ IPython support for `%load_node` and printing support for Databricks (#3604)
  RELEASE.md
  kedro/ipython/__init__.py
  kedro/logging.py
  kedro/utils.py
  tests/ipython/test_ipython.py
Due: code_change

Fix link after title change
  docs/source/faq/faq.md
Due: docs_change

support optional arg for simple case
  tests/ipython/conftest.py
  tests/ipython/dummy_function_fixtures.py
  tests/ipython/test_ipython.py
Due: code_change

update the function call for prepare_node_inputs
  kedro/ipython/__init__.py
Due: code_change

dummy commit
  RELEASE.md
Due: code_change

Add clarification on where to find node name when debugging
  docs/source/meta/images/pipeline_error_logs.png
  docs/source/notebooks_and_ipython/kedro_and_notebooks.md
Due: docs_change

Fix reference
  docs/source/development/debugging.md
  docs/source/notebooks_and_ipython/kedro_and_notebooks.md
Due: docs_change

Use link to paremt section
  docs/source/notebooks_and_ipython/kedro_and_notebooks.md
Due: docs_change

Appease Vale
  docs/source/notebooks_and_ipython/kedro_and_notebooks.md
Due: docs_change

Add load node line magic documentation (#3619)
  docs/source/development/debugging.md
  docs/source/faq/faq.md
  docs/source/meta/images/jupyter_ipython_load_node.gif
  docs/source/meta/images/pipeline_error_logs.png
  docs/source/notebooks_and_ipython/kedro_and_notebooks.md
Due: docs_change

add release note
  RELEASE.md
Due: code_change

rename node->node_name
  kedro/ipython/__init__.py
Due: code_change

Intrdouce NodeBoundArguments for refactoring - introduce a proper object instead of generate string for cells directly
  kedro/ipython/__init__.py
  tests/ipython/test_ipython.py
Due: code_change

revert accidental chagnes of notebook docs
  docs/source/notebooks_and_ipython/kedro_and_notebooks.md
Due: docs_change

revert notes
  docs/source/notebooks_and_ipython/kedro_and_notebooks.md
Due: docs_change

rename variables
  kedro/ipython/__init__.py
Due: code_change

refactor function call to use the new arg list
  kedro/ipython/__init__.py
Due: code_change

bug fix, should iterate through *args because it can be more than one element
  kedro/ipython/__init__.py
Due: code_change

merge with main
  tests/ipython/test_ipython.py
Due: code_change

Update static/jsonschema/kedro-catalog-0.19.json
  static/jsonschema/kedro-catalog-0.19.json
Due: code_change

Add new JSON Schema to Support v0.19 (#3621)
  RELEASE.md
  docs/source/development/set_up_pycharm.md
  static/jsonschema/kedro-catalog-0.19.json
Due: docs_change, code_change

Lint
  docs/source/notebooks_and_ipython/kedro_and_notebooks.md
Due: docs_change

Path conditions:
  docs_change: any of: docs/.*
  code_change: any of: ^((?!docs/).)*$
