Repository kedro-org/kedro: changes, and which CircleCI parameters are due for each by the changed paths.
All: docs_change, code_change

.circleci/config.yml:

version: 2.1

parameters:
  release_kedro:
    type: boolean
    default: false
  # The parameters below are set in CircleCI UI.
  # https://app.circleci.com/settings/project/github/kedro-org/kedro/triggers?return-to=https%3A%2F%2Fapp.circleci.com%2Fpipelines%2Fgithub%2Fkedro-org%2Fkedro&triggerSource=&scheduledTriggerId=61f7226f-f092-4449-98d9-40420f8c46b2&success=true
  run_hourly:
    type: boolean
    default: false
  run_nightly:
    type: boolean
    default: false

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.1

workflows:
  regular:
    jobs:
      # the path-filtering/filter job determines which pipeline
      # parameters to update, i.e. which builds to run.
      - path-filtering/filter:
          name: check-updated-files
          base-revision: main
          config-path: .circleci/continue_config.yml
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            docs/.* docs_change true
            ^((?!docs/).)*$ code_change true

simplify dataset snapshot
  kedro/inspection/snapshot.py
Due: code_change

merge updates to project_metadata_snapshot docstring
  kedro/inspection/snapshot.py
Due: code_change

add project snapshot support
  kedro/inspection/helper.py
  kedro/inspection/models.py
  kedro/inspection/snapshot.py
  tests/inspection/test_helper.py
  tests/inspection/test_project_snapshot.py
Due: code_change

add integration
  kedro/inspection/__init__.py
  tests/inspection/test_integration.py
Due: code_change

docs: improve mermaid diagram visibility in dark mode (#5105)
  docs/stylesheets/mermaid.css
  mkdocs.yml
Due: docs_change, code_change

Update kedro/io/data_catalog.py
  kedro/io/data_catalog.py
Due: code_change

Add testcase and changelog entry
  RELEASE.md
  tests/io/test_data_catalog.py
Due: code_change

remove typo and leftover code
  kedro/framework/session/__init__.py
  kedro/framework/session/service_session.py
Due: code_change

Add validation model factory (#5419)
  kedro/validation/__init__.py
  kedro/validation/model_factory.py
  tests/validation/test_model_factory.py
Due: code_change

Add validation context integration (#5423)
  .secrets.baseline
  RELEASE.md
  kedro/framework/context/context.py
  kedro/validation/parameter_validator.py
  kedro/validation/type_extractor.py
  tests/framework/context/test_context.py
  tests/validation/conftest.py
  tests/validation/test_parameter_validator.py
  tests/validation/test_type_extractor.py
Due: code_change

Add validation parameter validator (#5422)
  kedro/validation/__init__.py
  kedro/validation/parameter_validator.py
  tests/validation/conftest.py
  tests/validation/test_parameter_validator.py
Due: code_change

Add validation framework exceptions and pydantic utilities (#5403)
  kedro/validation/__init__.py
  kedro/validation/exceptions.py
  kedro/validation/utils.py
  pyproject.toml
  tests/validation/__init__.py
  tests/validation/conftest.py
  tests/validation/test_exceptions.py
  tests/validation/test_utils.py
Due: code_change

Add scaffolding for AbstractSession class. (#5424)
  RELEASE.md
  docs/tutorials/settings.md
  kedro/framework/cli/catalog.py
  kedro/framework/cli/project.py
  kedro/framework/project/__init__.py
  kedro/framework/session/__init__.py
  kedro/framework/session/abstract_session.py
  kedro/framework/session/session.py
  kedro/ipython/__init__.py
  kedro/templates/project/{{ cookiecutter.repo_name }}/src/{{ cookiecutter.python_package }}/settings.py
  tests/framework/project/test_settings.py
  tests/framework/session/test_session.py
  tests/ipython/conftest.py
  tests/ipython/test_ipython.py
Due: docs_change, code_change

Specify dataset name on dataset load failure
  kedro/io/data_catalog.py
Due: code_change

preserve runtime logging handlers in configure_project() (#5409)
  RELEASE.md
  kedro/framework/project/__init__.py
  tests/framework/project/test_logging.py
Due: code_change

Allow checkout flag for default template projects (#5415)
  RELEASE.md
  kedro/framework/cli/starters.py
  tests/framework/cli/starters/test_new_from_cli_flags.py
Due: code_change

Add validation type extractor (#5421)
  kedro/validation/__init__.py
  kedro/validation/type_extractor.py
  kedro/validation/utils.py
  tests/validation/conftest.py
  tests/validation/test_type_extractor.py
  tests/validation/test_utils.py
Due: code_change

Refactor `test_starters` into smaller test files (#5337)
  tests/framework/cli/starters/__init__.py
  tests/framework/cli/starters/conftest.py
  tests/framework/cli/starters/test_new_from_cli_flags.py
  tests/framework/cli/starters/test_new_from_config_file.py
  tests/framework/cli/starters/test_new_from_prompts.py
  tests/framework/cli/starters/test_starters_flow.py
  tests/framework/cli/starters/test_tools_parsing.py
  tests/framework/cli/starters/utils.py
  tests/framework/cli/test_starters.py
Due: code_change

Fix for `CatalogConfigResolver` splitting sqlalchemy URL during pattern resolution. (#5377)
  RELEASE.md
  kedro/io/catalog_config_resolver.py
  tests/io/test_catalog_config_resolver.py
Due: code_change

docs: fix broken venv command and broken external link in MLflow integration docs (#5394)
  docs/integrations-and-plugins/mlflow.md
Due: docs_change

improvement issue #4827: reusable typo suggestions for pipeline typos (#5411)
  RELEASE.md
  kedro/framework/cli/utils.py
  kedro/framework/session/session.py
  kedro/pipeline/pipeline.py
  kedro/utils.py
  tests/framework/cli/test_cli.py
  tests/framework/session/test_session.py
  tests/test_utils.py
Due: code_change

Pass list of pipelines to run to find_pipelines (#5401)
  RELEASE.md
  docs/build/pipeline_registry.md
  kedro/framework/project/__init__.py
  tests/framework/project/test_pipeline_discovery.py
Due: docs_change, code_change

Fix version path traversal (#5442)
  kedro/framework/cli/utils.py
  kedro/io/core.py
  kedro/utils.py
  tests/framework/cli/test_cli.py
  tests/io/test_core.py
  tests/test_utils.py
Due: code_change

Add SparkDatasetV2 examples on Delta Lake versioning docs (#5448)
  docs/integrations-and-plugins/deltalake_versioning.md
Due: docs_change

Bugfix/4980: added util method to find config file for both kinds of … (#5410)
  RELEASE.md
  kedro/framework/project/__init__.py
  kedro/utils.py
  tests/framework/project/test_logging.py
  tests/test_utils.py
Due: code_change

Add Dataset snapshots for the inspection layer (#5451)
  kedro/inspection/models.py
  kedro/inspection/snapshot.py
  tests/inspection/test_dataset_snapshot.py
Due: code_change

add node and pipeline snapshots
  kedro/inspection/models.py
  kedro/inspection/snapshot.py
  tests/inspection/test_node_pipeline_snapshot.py
Due: code_change

update tests
  tests/inspection/test_node_pipeline_snapshot.py
Due: code_change

Update detect secrets
  .secrets.baseline
Due: code_change

Add Node and Pipeline snapshots for the inspection layer (#5449)
  kedro/inspection/models.py
  kedro/inspection/snapshot.py
  tests/inspection/test_node_pipeline_snapshot.py
Due: code_change

Lint and test fix
  tests/inspection/test_dataset_snapshot.py
Due: code_change

update pipeline snapshot to accept pipeline arg
  kedro/inspection/snapshot.py
  tests/inspection/test_helper.py
  tests/inspection/test_node_pipeline_snapshot.py
Due: code_change

docs: fix linter issues - trim whitespace and add newline
  docs/stylesheets/mermaid.css
  mkdocs.yml
Due: docs_change, code_change

Add feedback
  RELEASE.md
  kedro/io/data_catalog.py
Due: code_change

update docs
  docs/configure/parameter_validation.md
  docs/configure/parameters.md
  mkdocs.yml
Due: docs_change, code_change
