Repository kedro-org/kedro: changes, and which CircleCI parameters are due for each by the changed paths.
All: docs_change, code_change

.circleci/config.yml:

version: 2.1

parameters:
  release_kedro:
    type: boolean
    default: false
  # The parameters below are set in CircleCI UI.
  # https://app.circleci.com/settings/project/github/kedro-org/kedro/triggers?return-to=https%3A%2F%2Fapp.circleci.com%2Fpipelines%2Fgithub%2Fkedro-org%2Fkedro&triggerSource=&scheduledTriggerId=61f7226f-f092-4449-98d9-40420f8c46b2&success=true
  run_hourly:
    type: boolean
    default: false
  run_nightly:
    type: boolean
    default: false

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.1

workflows:
  regular:
    jobs:
      # the path-filtering/filter job determines which pipeline
      # parameters to update, i.e. which builds to run.
      - path-filtering/filter:
          name: check-updated-files
          base-revision: main
          config-path: .circleci/continue_config.yml
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            docs/.* docs_change true
            ^((?!docs/).)*$ code_change true

Add trailing whitespace (?)
  docs/source/_static/css/qb1-sphinx-rtd.css
Due: docs_change

Update Kedro image path
  docs/source/index.rst
Due: docs_change

Fix the. template
  features/steps/test_starter/{{ cookiecutter.repo_name }}/conf/base/logging.yml
Due: code_change

Update font size
  docs/source/_static/css/qb1-sphinx-rtd.css
Due: docs_change

Lint
  kedro/logging.py
Due: code_change

Remove logs directory
  docs/source/deployment/databricks/databricks_deployment_workflow.md
Due: docs_change

Update image of final job configuration
  docs/source/meta/images/databricks_configure_new_job.png
Due: docs_change

add verification file and change to conf
  docs/source/conf.py
  docs/source/googlebce3ad2fda582ae8.html
Due: docs_change

Add full stops in list.
  docs/source/deployment/databricks/databricks_deployment_workflow.md
Due: docs_change

Fix conda environment name.
  docs/source/deployment/databricks/databricks_deployment_workflow.md
Due: docs_change

Add doc to fix doc issues
  docs/source/kedro.logging.RichHandler.rst
Due: docs_change

fix doc
  docs/source/kedro.logging.rst
Due: docs_change

Update add_another_pipeline.md
  docs/source/tutorial/add_another_pipeline.md
Due: docs_change

Modify wording and image for creating a new job cluster
  docs/source/deployment/databricks/databricks_deployment_workflow.md
  docs/source/meta/images/databricks_create_job_cluster.png
Due: docs_change

Modify wording in guide to create new job cluster
  docs/source/deployment/databricks/databricks_deployment_workflow.md
Due: docs_change

Remove --upgrade option
  docs/source/deployment/databricks/databricks_deployment_workflow.md
Due: docs_change

Fix doc rst so it don't reference to the upstream class
  docs/source/kedro.logging.RichHandler.rst
Due: docs_change

Remvoe whitespace
  docs/source/kedro.logging.RichHandler.rst
  docs/source/kedro.logging.rst
Due: docs_change

remove undoc member and inherited-member for RichHandler
  docs/source/kedro.logging.RichHandler.rst
Due: docs_change

Please the linter once again
  docs/source/kedro.logging.RichHandler.rst
Due: docs_change

Add the Kedro RichHandler (#2592)
  RELEASE.md
  docs/source/conf.py
  docs/source/kedro.logging.RichHandler.rst
  docs/source/kedro.logging.rst
  docs/source/logging/logging.md
  features/steps/test_starter/{{ cookiecutter.repo_name }}/conf/base/logging.yml
  kedro/__init__.py
  kedro/framework/project/__init__.py
  kedro/framework/project/default_logging.yml
  kedro/logging.py
  kedro/templates/project/{{ cookiecutter.repo_name }}/conf/base/logging.yml
  tests/framework/project/test_logging.py
Due: docs_change, code_change

Update __init__.py
  kedro/__init__.py
Due: code_change

Add both ways of creating a new job
  docs/source/deployment/databricks/databricks_deployment_workflow.md
Due: docs_change

Mention awesome-kedro in docs
  docs/source/contribution/index.md
Due: docs_change

Update CONTRIBUTING.md
  CONTRIBUTING.md
Due: code_change

Update release note
  RELEASE.md
Due: code_change

Enable variable interpolation in catalog by escaping _
  kedro/config/omegaconf_config.py
  tests/config/test_omegaconf_config.py
Due: code_change

Spelling and style fixes
  CONTRIBUTING.md
  docs/source/contribution/index.md
Due: docs_change, code_change

Fix test
  tests/config/test_omegaconf_config.py
Due: code_change

Update docs
  docs/source/configuration/advanced_configuration.md
  docs/source/configuration/configuration_basics.md
Due: docs_change

Clean ups + add two more tests
  kedro/config/omegaconf_config.py
  tests/config/test_omegaconf_config.py
Due: code_change

Mention awesome-kedro in docs (#2620)
  CONTRIBUTING.md
  docs/source/contribution/index.md
Due: docs_change, code_change

Update with most recent kedro-datasets release
  setup.py
Due: code_change

Use latest version of kedro-datasets
  setup.py
Due: code_change

Fix TensorFlowModelDataSet name
  docs/source/data/kedro_io.md
  docs/source/kedro_datasets.rst
Due: docs_change

Update SnowparkTableDataSet docs
  docs/source/kedro_datasets.rst
Due: docs_change

Add documentation of polars datasets
  docs/source/kedro_datasets.rst
Due: docs_change

Add missing snowpark dependencies for docs building
  setup.py
Due: code_change

Document SparkStreamingDataSet
  docs/source/kedro_datasets.rst
Due: docs_change

Update Version Numbers across docs
  CITATION.cff
  docs/source/development/commands_reference.md
  docs/source/extend_kedro/plugins.md
  docs/source/integrations/databricks_workspace.md
  docs/source/tutorial/tutorial_template.md
Due: docs_change, code_change
