Repository kedro-org/kedro: changes, and which CircleCI parameters are due for each by the changed paths.
All: docs_change, code_change

.circleci/config.yml:

version: 2.1

parameters:
  release_kedro:
    type: boolean
    default: false
  # The parameters below are set in CircleCI UI.
  # https://app.circleci.com/settings/project/github/kedro-org/kedro/triggers?return-to=https%3A%2F%2Fapp.circleci.com%2Fpipelines%2Fgithub%2Fkedro-org%2Fkedro&triggerSource=&scheduledTriggerId=61f7226f-f092-4449-98d9-40420f8c46b2&success=true
  run_hourly:
    type: boolean
    default: false
  run_nightly:
    type: boolean
    default: false

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.1

workflows:
  regular:
    jobs:
      # the path-filtering/filter job determines which pipeline
      # parameters to update, i.e. which builds to run.
      - path-filtering/filter:
          name: check-updated-files
          base-revision: main
          config-path: .circleci/continue_config.yml
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            docs/.* docs_change true
            ^((?!docs/).)*$ code_change true

Fix micropkg tests
  tests/framework/cli/micropkg/test_micropkg_pull.py
Due: code_change

Update kedro_datasets.rst
  docs/source/kedro_datasets.rst
Due: docs_change

test branch
  setup.py
Due: code_change

Create choosing_databricks_workflow.md
  docs/source/deployment/databricks/choosing_databricks_workflow.md
Due: docs_change

Add release note
  RELEASE.md
Due: code_change

Update docs with more examples
  docs/source/data/data_catalog.md
Due: docs_change

Minor edits
  docs/source/data/data_catalog.md
Due: docs_change

Add more detailed explanation of Requirement custom subclass
  kedro/framework/cli/micropkg.py
Due: code_change

micropkg packaging improvements (#2614)
  RELEASE.md
  docs/source/nodes_and_pipelines/micro_packaging.md
  kedro/framework/cli/micropkg.py
  tests/framework/cli/micropkg/test_micropkg_pull.py
  tests/framework/cli/micropkg/test_micropkg_requirements.py
Due: docs_change, code_change

Re-trigger CI
  setup.py
Due: code_change

Re-trigger CI pt 2
  setup.py
Due: code_change

Add project level logs to default logging setup
  kedro/framework/project/__init__.py
Due: code_change

Lint
  kedro/framework/project/__init__.py
Due: code_change

Re-trigger CI pt 3
  setup.py
Due: code_change

Re-trigger CI pt N
  setup.py
Due: code_change

Apply suggestions from code review
  docs/source/data/data_catalog.md
Due: docs_change

Update Kedro banner image
  .github/demo-dark.png
  .github/demo-light.png
  README.md
Due: code_change

Add a workspace-only workflow for Kedro projects on Databricks (#2628)
  RELEASE.md
  docs/source/deployment/databricks/databricks_deployment_workflow.md
  docs/source/deployment/databricks/databricks_ide_development_workflow.md
  docs/source/deployment/databricks/databricks_notebooks_development_workflow.md
  docs/source/deployment/databricks/databricks_visualisation.md
  docs/source/deployment/databricks/databricks_workspace.md
  docs/source/deployment/databricks/index.md
  docs/source/meta/images/databricks_authenticate_repo.png
  docs/source/meta/images/databricks_edit_file.png
  docs/source/meta/images/databricks_new_repo_popup.png
  docs/source/meta/images/databricks_notebooks_workflow_finished_notebook.png
  docs/source/meta/images/databricks_specify_github_repo.png
Due: docs_change, code_change

Update plugins.md to fix extra dot after a version
  docs/source/extend_kedro/plugins.md
Due: docs_change

Update setup.py
  setup.py
Due: code_change

Update choosing_databricks_workflow.md
  docs/source/deployment/databricks/choosing_databricks_workflow.md
Due: docs_change

reorder and update logging docs
  docs/source/deployment/databricks/databricks_workspace.md
  docs/source/logging/logging.md
Due: docs_change

lint
  docs/source/deployment/databricks/choosing_databricks_workflow.md
Due: docs_change

changes based on review
  docs/source/deployment/databricks/choosing_databricks_workflow.md
Due: docs_change

Bump Pylint test_requirements.txt
  test_requirements.txt
Due: code_change

Update .gitpod.yml
  .gitpod.yml
Due: code_change

Add tests
  tests/framework/project/test_logging.py
Due: code_change

update docs
  docs/source/logging/logging.md
Due: docs_change

Update .readthedocs.yml
  .readthedocs.yml
Due: code_change

update base image
  .gitpod.yml
Due: code_change

changes based on review
  docs/source/deployment/databricks/choosing_databricks_workflow.md
  docs/source/deployment/databricks/index.md
Due: docs_change

Bump Pylint test_requirements.txt (#2687)
  test_requirements.txt
Due: code_change

Add namespace example
  docs/source/data/data_catalog.md
Due: docs_change

add examples of advanced requirements
  docs/source/deployment/databricks/choosing_databricks_workflow.md
Due: docs_change

fix rtd warnings and errors
  docs/source/deployment/databricks/choosing_databricks_workflow.md
Due: docs_change
