Repository kedro-org/kedro: changes, and which CircleCI parameters are due for each by the changed paths.
All: docs_change, code_change

.circleci/config.yml:

version: 2.1

parameters:
  release_kedro:
    type: boolean
    default: false
  # The parameters below are set in CircleCI UI.
  # https://app.circleci.com/settings/project/github/kedro-org/kedro/triggers?return-to=https%3A%2F%2Fapp.circleci.com%2Fpipelines%2Fgithub%2Fkedro-org%2Fkedro&triggerSource=&scheduledTriggerId=61f7226f-f092-4449-98d9-40420f8c46b2&success=true
  run_hourly:
    type: boolean
    default: false
  run_nightly:
    type: boolean
    default: false

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.1

workflows:
  regular:
    jobs:
      # the path-filtering/filter job determines which pipeline
      # parameters to update, i.e. which builds to run.
      - path-filtering/filter:
          name: check-updated-files
          base-revision: main
          config-path: .circleci/continue_config.yml
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            docs/.* docs_change true
            ^((?!docs/).)*$ code_change true

review-pr-skill 1
  .gitignore
  features/test_starter/{{ cookiecutter.repo_name }}/src/{{ cookiecutter.python_package }}/settings.py
  kedro/templates/project/{{ cookiecutter.repo_name }}/conf/README.md
  kedro/templates/project/{{ cookiecutter.repo_name }}/src/{{ cookiecutter.python_package }}/settings.py
  mkdocs.yml
Due: code_change

Update .gitignore
  .gitignore
Due: code_change

fix vale
  docs/configure/configuration_explanation.md
  docs/configure/parameters_and_credentials_explanation.md
  docs/configure/templating_explanation.md
Due: docs_change

Fix Vale sentencelength suggestions in new config docs
  docs/catalog-data/data_catalog.md
  docs/configure/configuration_explanation.md
  docs/configure/how_to_configure_project.md
  docs/configure/parameters_and_credentials_explanation.md
  docs/configure/templating_explanation.md
Due: docs_change

changes based on reviews
  .agents/skills/kedro-security-review/SKILL.md
  .agents/skills/kedro-security-review/reference.md
  .agents/skills/kedro-security-review/rules/kedro-security-patterns.yml
Due: code_change

Fix errors
  kedro/framework/cli/registry.py
  kedro/framework/project/__init__.py
  tests/framework/cli/test_registry.py
  tests/framework/project/test_pipeline_discovery.py
Due: code_change

Add the fix to KedroServiceSession too
  kedro/framework/project/__init__.py
  kedro/framework/session/service_session.py
  tests/framework/session/test_service_session.py
Due: code_change

Reorganize Configuration docs following Diataxis framework (#5513)
  docs/catalog-data/advanced_data_catalog_usage.md
  docs/catalog-data/data_catalog.md
  docs/configure/config_loader_migration.md
  docs/configure/configuration_basics.md
  docs/configure/configuration_explanation.md
  docs/configure/credentials.md
  docs/configure/how_to_configure_project.md
  docs/configure/how_to_use_parameters_and_credentials.md
  docs/configure/how_to_use_templating.md
  docs/configure/parameters.md
  docs/configure/parameters_and_credentials_explanation.md
  docs/configure/templating_explanation.md
  docs/create/minimal_kedro_project.md
  docs/develop/logging.md
  docs/getting-started/faq.md
  docs/inspect/inspect-project.md
  docs/tutorials/add_another_pipeline.md
  docs/tutorials/settings.md
  docs/tutorials/tutorial_template.md
  features/test_starter/{{ cookiecutter.repo_name }}/src/{{ cookiecutter.python_package }}/settings.py
  kedro/templates/project/{{ cookiecutter.repo_name }}/conf/README.md
  kedro/templates/project/{{ cookiecutter.repo_name }}/src/{{ cookiecutter.python_package }}/settings.py
  mkdocs.yml
Due: docs_change, code_change

fixes based on reviews
  .agents/skills/kedro-security-review/SKILL.md
Due: code_change

Refactor GitHub PR review posting into a shared agent helper (#5560)
  .agents/scripts/post_github_review.sh
  .agents/skills/review-kedro-pr/SKILL.md
Due: code_change

Security scan skill (#5561)
  .agents/skills/kedro-security-review/SKILL.md
  .agents/skills/kedro-security-review/reference.md
  .agents/skills/kedro-security-review/rules/kedro-security-patterns.yml
Due: code_change

Add TSC roles and update orgs (non QB) (#5580)
  docs/about/technical_steering_committee.md
Due: docs_change

Add TSC roles core team (QB) (#5584)
  docs/about/technical_steering_committee.md
Due: docs_change

Address review
  docs/build/run_a_pipeline.md
  features/run.feature
  kedro/framework/cli/catalog.py
  kedro/framework/cli/registry.py
  kedro/framework/project/__init__.py
  kedro/framework/session/service_session.py
  kedro/framework/session/session.py
  tests/framework/project/test_pipeline_discovery.py
Due: docs_change, code_change

Fix Vale weasel word
  docs/build/run_a_pipeline.md
Due: docs_change

Run-on sentence
  docs/build/run_a_pipeline.md
Due: docs_change

Fix ParallelRunner._run not passing a hook_manager
  kedro/runner/parallel_runner.py
Due: code_change

Adds note on ParallelRunner to hooks intro
  docs/extend/hooks/introduction.md
Due: docs_change

Adds note on hook/ParallelRunner compatibility
  docs/build/run_a_pipeline.md
Due: docs_change

Adds note to RELEASE.md
  RELEASE.md
Due: code_change

Moves run_a_pipeline hooks note; restructures sections
  docs/build/run_a_pipeline.md
Due: docs_change

Strengthens hooks note
  docs/extend/hooks/introduction.md
Due: docs_change

Moves SparkDataset note to ParallelRunner section
  docs/build/run_a_pipeline.md
Due: docs_change

Adds hooks warning to parallel_runner.py
  kedro/runner/parallel_runner.py
Due: code_change

Removes whitespace
  docs/extend/hooks/introduction.md
Due: docs_change

Add "contribution
  RELEASE.md
Due: code_change

Fixes backtick-quote in md header
  docs/build/run_a_pipeline.md
Due: docs_change

Fix Rich logging markup handling
  RELEASE.md
  kedro/io/data_catalog.py
  kedro/pipeline/node.py
  tests/framework/project/test_logging.py
Due: code_change

update doc for aws emr
  docs/deploy/supported-platforms/amazon_emr_serverless.md
Due: docs_change

update doc for emr 7 and 6
  docs/deploy/supported-platforms/amazon_emr_serverless.md
Due: docs_change

Apply review suggestions
  features/run.feature
  features/steps/cli_steps.py
  kedro/framework/cli/catalog.py
  kedro/framework/project/__init__.py
Due: code_change

Remove reduntant variable
  kedro/framework/cli/catalog.py
Due: code_change

update doc after e2e success on 7.x
  docs/deploy/supported-platforms/amazon_emr_serverless.md
Due: docs_change

Add note on ParallelRunner hooks limitation (#5588)
  RELEASE.md
  docs/build/run_a_pipeline.md
  docs/extend/hooks/introduction.md
  kedro/runner/parallel_runner.py
Due: docs_change, code_change

working doc with e2e test complete
  docs/deploy/supported-platforms/amazon_emr_serverless.md
Due: docs_change

update doc for simpler navigation
  docs/deploy/supported-platforms/amazon_emr_serverless.md
Due: docs_change

fix doc lint
  .github/styles/Kedro/headings.yml
  .github/styles/Kedro/ignore.txt
  docs/deploy/supported-platforms/amazon_emr_serverless.md
Due: docs_change, code_change

fix doc lint
  docs/deploy/supported-platforms/amazon_emr_serverless.md
Due: docs_change

Add quick_start.md
  docs/getting-started/image.png
  docs/getting-started/quick_start.md
  mkdocs.yml
Due: docs_change, code_change

Improvements to the skill text
  .agents/skills/kedro-docs-draft-writer/SKILL.md
Due: code_change
