Repository kedro-org/kedro: changes, and which CircleCI parameters are due for each by the changed paths.
All: docs_change, code_change

Apply suggestions from code review
  docs/source/tutorial/set_up_experiment_tracking.md
Due: docs_change

Apply suggestions from code review
  docs/source/get_started/standalone_use_of_datacatalog.md
Due: docs_change

Apply suggestions from code review
  docs/source/kedro_project_setup/configuration.md
Due: docs_change

Apply suggestions from code review
  docs/source/data/kedro_io.md
Due: docs_change

Documentation improvements to set_up_experiment_tracking.md (#1676)
  docs/source/tutorial/set_up_experiment_tracking.md
Due: docs_change

Doc improvements to configuration.md (#1680)
  docs/source/kedro_project_setup/configuration.md
Due: docs_change

Doc improvements to standalone_use_of_datacatalog.md (#1669)
  docs/source/get_started/standalone_use_of_datacatalog.md
Due: docs_change

Add unminified mermaid.js to pages w/ mermaid node
  docs/conf.py
Due: docs_change

Add Mermaid JS file, then remove where unnecessary
  docs/conf.py
Due: docs_change

Delete the bad "None" items from `mermaid_version`
  docs/conf.py
Due: docs_change

Update RELEASE.md
  RELEASE.md
Due: code_change

more descriptive links
  docs/source/deployment/airflow_astronomer.md
  docs/source/deployment/aws_batch.md
  docs/source/deployment/aws_step_functions.md
  docs/source/deployment/databricks.md
  docs/source/deployment/distributed.md
  docs/source/deployment/single_machine.md
  docs/source/development/commands_reference.md
  docs/source/extend_kedro/common_use_cases.md
  docs/source/extend_kedro/create_kedro_starters.md
  docs/source/extend_kedro/custom_datasets.md
  docs/source/extend_kedro/plugins.md
Due: docs_change

changes based on review
  docs/source/extend_kedro/common_use_cases.md
Due: docs_change

Tidy up cookiecutter.json
  kedro/framework/cli/starters.py
  kedro/templates/project/cookiecutter.json
  tests/framework/cli/test_starters.py
Due: code_change

Simplify `kedro new` flow (#1643)
  RELEASE.md
  docs/source/extend_kedro/create_kedro_starters.md
  docs/source/get_started/new_project.md
  docs/source/get_started/starters.md
  docs/source/tutorial/spaceflights_tutorial.md
  features/steps/test_starter/prompts.yml
  kedro/framework/cli/starters.py
  kedro/templates/project/cookiecutter.json
  kedro/templates/project/prompts.yml
  tests/framework/cli/test_starters.py
Due: docs_change, code_change

Fix links after header renames
  docs/source/deployment/argo.md
  docs/source/deployment/aws_batch.md
  docs/source/deployment/aws_sagemaker.md
  docs/source/deployment/kubeflow.md
  docs/source/extend_kedro/custom_datasets.md
  docs/source/get_started/example_project.md
  docs/source/tools_integration/ipython.md
Due: docs_change

Documentation improvements to data_catalog.md (#1684)
  docs/source/data/data_catalog.md
  docs/source/deployment/argo.md
  docs/source/deployment/aws_batch.md
  docs/source/deployment/aws_sagemaker.md
  docs/source/deployment/kubeflow.md
  docs/source/extend_kedro/custom_datasets.md
  docs/source/get_started/example_project.md
  docs/source/tools_integration/ipython.md
Due: docs_change

Doc improvements to kedro_io.md (#1685)
  docs/source/data/kedro_io.md
Due: docs_change

Update deployment diagram to include Dask :merman: (#1392)
  RELEASE.md
  docs/conf.py
  docs/source/deployment/deployment_guide.md
  docs/source/meta/images/deployments.png
  setup.py
Due: docs_change, code_change

Add changes to docs
  docs/source/meta/images/pipeline_show_metrics.gif
  docs/source/meta/images/pipeline_visualisation_icon.png
  docs/source/tutorial/set_up_experiment_tracking.md
Due: docs_change

Adjust icon size
  docs/source/meta/images/pipeline_visualisation_icon.png
Due: docs_change

Bump up version to 0.18.2
  CITATION.cff
Due: code_change

Bump up version to 0.18.2
  RELEASE.md
  docs/source/deployment/databricks.md
  docs/source/development/commands_reference.md
  docs/source/tutorial/tutorial_template.md
  docs/source/tutorial/visualise_pipeline.md
  kedro/__init__.py
Due: docs_change, code_change

Fix e2etest where plugin starter should use latest version instead
  docs/source/extend_kedro/plugins.md
  features/steps/cli_steps.py
Due: docs_change, code_change

fixing the args intialized before the starter variable is transformed
  features/steps/cli_steps.py
Due: code_change

Add names to CITATION.cff
  CITATION.cff
Due: code_change

Add names to team list
  docs/source/faq/faq.md
Due: docs_change

Add names to CITATION.cff pt 2
  CITATION.cff
Due: code_change

Loosen kedro requirements
  docs/source/tutorial/tutorial_template.md
  kedro/templates/project/{{ cookiecutter.repo_name }}/src/requirements.txt
Due: docs_change, code_change

Update CITATION.cff
  CITATION.cff
Due: code_change

Update e2etest to use local starter
  docs/source/extend_kedro/plugins.md
  features/steps/cli_steps.py
  features/steps/test_plugin/plugin.py
Due: docs_change, code_change

changes based on review
  docs/source/deployment/aws_batch.md
  docs/source/deployment/databricks.md
  docs/source/deployment/single_machine.md
  docs/source/development/commands_reference.md
  docs/source/extend_kedro/common_use_cases.md
  docs/source/extend_kedro/create_kedro_starters.md
  docs/source/extend_kedro/custom_datasets.md
  docs/source/extend_kedro/plugins.md
  docs/source/tutorial/set_up_experiment_tracking.md
Due: docs_change

update datebricks guide to 0.18.2
  docs/source/deployment/databricks.md
Due: docs_change

further link improvements
  docs/source/faq/architecture_overview.md
  docs/source/hooks/examples.md
  docs/source/kedro_project_setup/configuration.md
  docs/source/logging/experiment_tracking.md
  docs/source/tools_integration/ipython.md
  docs/source/tools_integration/pyspark.md
  docs/source/tutorial/create_pipelines.md
  docs/source/tutorial/package_a_project.md
  docs/source/tutorial/set_up_data.md
Due: docs_change

Fixing the relative path
  features/steps/test_plugin/plugin.py
Due: code_change

Fix linting
  features/steps/test_plugin/plugin.py
Due: code_change

Release 0.18.2 (#1695)
  CITATION.cff
  RELEASE.md
  docs/source/deployment/databricks.md
  docs/source/development/commands_reference.md
  docs/source/extend_kedro/plugins.md
  docs/source/faq/faq.md
  docs/source/tutorial/tutorial_template.md
  docs/source/tutorial/visualise_pipeline.md
  features/steps/cli_steps.py
  features/steps/test_plugin/plugin.py
  kedro/__init__.py
  kedro/templates/project/{{ cookiecutter.repo_name }}/src/requirements.txt
Due: docs_change, code_change

changes based on review
  docs/source/extend_kedro/common_use_cases.md
  docs/source/extend_kedro/plugins.md
  docs/source/kedro_project_setup/configuration.md
  docs/source/logging/experiment_tracking.md
  docs/source/tools_integration/pyspark.md
Due: docs_change

Fix CI
  .circleci/continue_config.yml
Due: code_change

Path conditions:
  docs_change: any of: docs/.*
  code_change: any of: ^((?!docs/).)*$
