Repository kedro-org/kedro: changes, and which CircleCI parameters are due for each by the changed paths.
All: docs_change, code_change

Add powered by Kedro badge to all starter READMEs
  kedro/templates/project/{{ cookiecutter.repo_name }}/README.md
Due: code_change

Updated Kedro Data Catalog page
  docs/source/data/kedro_data_catalog.md
Due: docs_change

Added kedro_data_catalog to toctree
  docs/source/data/index.md
Due: docs_change

Add support for Oracle Cloud Infrastructure (OCI) (#4244)
  RELEASE.md
  kedro/io/core.py
  tests/io/test_core.py
Due: code_change

lint
  asv.conf.json
  kedro_benchmarks/README.md
  kedro_benchmarks/benchmark_runner.py
Due: code_change

Add powered by Kedro badge to all starter READMEs (#4248)
  kedro/templates/project/{{ cookiecutter.repo_name }}/README.md
Due: code_change

Updated docstrings
  kedro/io/kedro_data_catalog.py
Due: code_change

Updated setter and list docstrings
  kedro/io/kedro_data_catalog.py
Due: code_change

Improved wordings
  docs/source/data/index.md
Due: docs_change

Removed odd new line
  docs/source/data/kedro_data_catalog.md
Due: docs_change

Point Kedro version
  docs/source/data/index.md
Due: docs_change

Added a note on how to access datasets after _FrozenDatasets class was removed
  docs/source/data/index.md
Due: docs_change

Added a link to the old documentation
  docs/source/data/index.md
Due: docs_change

Added link to the Slack channel
  docs/source/data/index.md
Due: docs_change

Fixed typos
  docs/source/data/kedro_data_catalog.md
  kedro/io/kedro_data_catalog.py
Due: docs_change, code_change

Added top links for how-to items
  docs/source/data/kedro_data_catalog.md
Due: docs_change

Fixed page reference
  docs/source/data/index.md
Due: docs_change

Updated reference to slack
  docs/source/data/index.md
Due: docs_change

Updates slack link
  docs/source/data/index.md
  docs/source/data/kedro_data_catalog.md
Due: docs_change

Quoted KedroDataCatalog in the title
  docs/source/data/index.md
Due: docs_change

Fixed typos
  kedro/io/kedro_data_catalog.py
Due: code_change

Added example of print output
  docs/source/data/kedro_data_catalog.md
Due: docs_change

Install dependencies
  .github/workflows/pipeline-performance-test.yml
Due: code_change

Fix directory path
  .github/workflows/pipeline-performance-test.yml
Due: code_change

Run workflow on kedro repo
  .github/workflows/pipeline-performance-test.yml
Due: code_change

Applied suggested changes
  docs/source/data/index.md
  docs/source/data/kedro_data_catalog.md
Due: docs_change

avoid Oxford -ize spelling
  RELEASE.md
Due: code_change

.pq -> .parquet
  docs/source/data/kedro_dataset_factories.md
  docs/source/integrations/mlflow.md
  docs/source/tutorial/create_a_pipeline.md
  tests/framework/cli/test_catalog.py
  tests/io/test_data_catalog.py
Due: docs_change, code_change

accept more standard release note
  RELEASE.md
Due: code_change

RELEASE-note on .pq -> .parquet
  RELEASE.md
Due: code_change

Standardise `.parquet` suffix in docs and tests (#4254)
  RELEASE.md
  docs/source/data/kedro_dataset_factories.md
  docs/source/integrations/mlflow.md
  docs/source/tutorial/create_a_pipeline.md
  tests/framework/cli/test_catalog.py
  tests/io/test_data_catalog.py
Due: docs_change, code_change

Add docs for `KedroDataCatalog` (#4249)
  docs/source/data/index.md
  docs/source/data/kedro_data_catalog.md
  kedro/io/kedro_data_catalog.py
Due: docs_change, code_change

Change setup-python version to 5
  .github/workflows/pipeline-performance-test.yml
Due: code_change

Add Github Actions workflow to trigger pipeline performance test (#4231)
  .github/workflows/pipeline-performance-test.yml
Due: code_change

test matrix of runner
  kedro_benchmarks/benchmark_runner.py
Due: code_change

Check RTD build
  docs/source/conf.py
Due: docs_change

Move warm-up to runner
  kedro/framework/session/session.py
  kedro/runner/runner.py
Due: code_change

Implemented test for running thread runner with patterns
  tests/runner/test_thread_runner.py
Due: code_change

Changes to pyproject.toml template
  kedro/templates/project/{{ cookiecutter.repo_name }}/pyproject.toml
Due: code_change

Path conditions:
  docs_change: any of: docs/.*
  code_change: any of: ^((?!docs/).)*$
