Repository kedro-org/kedro: changes, and which CircleCI parameters are due for each by the changed paths.
All: docs_change, code_change

Updated runtime patterns types
  kedro/io/kedro_data_catalog.py
Due: code_change

Update catalog CLI commands (#4678)
  kedro/framework/cli/catalog.py
  kedro/io/kedro_data_catalog.py
  kedro/runner/runner.py
Due: code_change

fixing docs
  docs/source/api/kedro.io.rst
  docs/source/configuration/parameters.md
  docs/source/data/advanced_data_catalog_usage.md
  docs/source/data/data_catalog.md
  docs/source/development/commands_reference.md
  docs/source/extend_kedro/common_use_cases.md
  docs/source/kedro_project_setup/settings.md
  docs/source/notebooks_and_ipython/kedro_and_notebooks.md
Due: docs_change

fixing docs
  kedro/io/kedro_data_catalog.py
Due: code_change

fix to config docstring
  kedro/io/kedro_data_catalog.py
Due: code_change

docs fix
  docs/source/conf.py
  docs/source/configuration/configuration_basics.md
  docs/source/configuration/credentials.md
  docs/source/data/advanced_data_catalog_usage.md
  docs/source/data/data_catalog.md
  docs/source/data/data_catalog_yaml_examples.md
  docs/source/data/index.md
  docs/source/deployment/airflow.md
  docs/source/deployment/aws_batch.md
  docs/source/deployment/aws_step_functions.md
  docs/source/deployment/dask.md
  docs/source/deployment/prefect.md
  docs/source/development/commands_reference.md
  docs/source/development/set_up_vscode.md
  docs/source/extend_kedro/architecture_overview.md
  docs/source/get_started/kedro_concepts.md
  docs/source/hooks/common_use_cases.md
  docs/source/hooks/examples.md
  docs/source/hooks/introduction.md
  docs/source/integrations/pyspark_integration.md
  docs/source/nodes_and_pipelines/run_a_pipeline.md
  docs/source/nodes_and_pipelines/slice_a_pipeline.md
  docs/source/notebooks_and_ipython/notebook-example/add_kedro_to_a_notebook.ipynb
  docs/source/notebooks_and_ipython/notebook-example/add_kedro_to_a_notebook.md
  docs/source/tutorial/add_another_pipeline.md
  docs/source/tutorial/test_a_project.md
  kedro/io/kedro_data_catalog.py
Due: docs_change, code_change

docs fix
  kedro/io/kedro_data_catalog.py
Due: code_change

doc fix r2
  kedro/io/core.py
  kedro/io/kedro_data_catalog.py
Due: code_change

add re.Pattern to conf
  docs/source/conf.py
  kedro/io/kedro_data_catalog.py
Due: docs_change, code_change

trying to fix doc string
  kedro/io/kedro_data_catalog.py
Due: code_change

update lintcheck
  .readthedocs.yml
  Makefile
  mkdocs.yml
Due: code_change

update the build folder to site folder
  Makefile
Due: code_change

integrate the RTD search
  docs/javascript/readthedocs.js
  mkdocs.yml
  pyproject.toml
Due: docs_change, code_change

Proposal
  docs/source/contribution/technical_steering_committee.md
Due: docs_change

Fix the lint error for MKdocs
  Makefile
  mkdocs.yml
  pyproject.toml
Due: code_change

testing the deindex-old-docs file
  docs/javascript/deindex-old-docs.js
  docs/source/conf.py
  mkdocs.yml
Due: docs_change, code_change

make a copy to _static file for the deindex-old-docs file
  docs/_static/deindex-old-docs.js
Due: docs_change

Disallow periods in dataset names in Node class
  kedro/pipeline/node.py
Due: code_change

remove unused files
  docs/pages/configuration/index.md
  docs/pages/development/debugging.md
  docs/pages/extend_kedro/index.md
  docs/pages/get_started/index.md
  docs/pages/hooks/index.md
  docs/pages/introduction/index.md
  docs/pages/kedro_project_setup/index.md
  docs/pages/resources/index.md
Due: docs_change

Optimize dictionary inputs processing in Node class
  kedro/pipeline/node.py
Due: code_change

update internal and external links
  docs/pages/create/new_project.md
  docs/pages/extend/common_use_cases.md
  mkdocs.yml
Due: docs_change, code_change

Added use_directory_urls: true to mkdocs.yml to enforce consistent URL formatting
  mkdocs.yml
Due: code_change

update the mv in the .rtd
  .readthedocs.yml
Due: code_change

using ReadTheDocs' native MkDocs suppor
  .readthedocs.yml
Due: code_change

renaming BUILD to test
  mkdocs.yml
Due: code_change

try different path file
  mkdocs.yml
Due: code_change

update typo in mkdocs
  mkdocs.yml
Due: code_change

update the build folder name to pipeline_build
  docs/pages/pipeline-build/modular_pipelines.md
  docs/pages/pipeline-build/namespaces.md
  docs/pages/pipeline-build/nodes.md
  docs/pages/pipeline-build/pipeline_introduction.md
  docs/pages/pipeline-build/pipeline_registry.md
  docs/pages/pipeline-build/run_a_pipeline.md
  docs/pages/pipeline-build/slice_a_pipeline.md
  mkdocs.yml
Due: docs_change, code_change

ensure it only removes ./build not every build folder
  Makefile
  docs/pages/pipeline-build/modular_pipelines.md
  mkdocs.yml
Due: docs_change, code_change

remove the build completely to test
  Makefile
  docs/pages/pipeline-build/namespaces.md
  docs/pages/pipeline-build/nodes.md
  docs/pages/pipeline-build/pipeline_introduction.md
  docs/pages/pipeline-build/pipeline_registry.md
  docs/pages/pipeline-build/run_a_pipeline.md
  docs/pages/pipeline-build/slice_a_pipeline.md
Due: docs_change, code_change

remove build from gitignore
  .gitignore
  Makefile
Due: code_change

specifically say dont ignore the
  .gitignore
  docs/pages/build/.gitkeep
  docs/pages/build/modular_pipelines.md
  docs/pages/build/namespaces.md
  docs/pages/build/nodes.md
  docs/pages/build/pipeline_introduction.md
  docs/pages/build/pipeline_registry.md
  docs/pages/build/run_a_pipeline.md
  docs/pages/build/slice_a_pipeline.md
Due: docs_change, code_change

update some of the syntax
  docs/pages/build/nodes.md
  docs/pages/build/pipeline_introduction.md
  docs/pages/build/pipeline_registry.md
  docs/pages/catalog-data/advanced_data_catalog_usage.md
Due: docs_change

fix the warning error about api node
  docs/pages/api/pipeline/kedro.pipeline.md
  docs/pages/api/pipeline/kedro.pipeline.node.Node.md
  docs/pages/api/pipeline/kedro.pipeline.node.md
Due: docs_change

update doc based on PR comments
  docs/source/data/data_catalog.md
Due: docs_change

update build as tests are passing
  .github/workflows/all-checks.yml
Due: code_change

Optimize Node.inputs using cached_property
  kedro/pipeline/node.py
Due: code_change

Path conditions:
  docs_change: any of: docs/.*
  code_change: any of: ^((?!docs/).)*$
