Repository kedro-org/kedro: changes, and which CircleCI parameters are due for each by the changed paths.
All: docs_change, code_change

.circleci/config.yml:

version: 2.1

parameters:
  release_kedro:
    type: boolean
    default: false
  # The parameters below are set in CircleCI UI.
  # https://app.circleci.com/settings/project/github/kedro-org/kedro/triggers?return-to=https%3A%2F%2Fapp.circleci.com%2Fpipelines%2Fgithub%2Fkedro-org%2Fkedro&triggerSource=&scheduledTriggerId=61f7226f-f092-4449-98d9-40420f8c46b2&success=true
  run_hourly:
    type: boolean
    default: false
  run_nightly:
    type: boolean
    default: false

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.1

workflows:
  regular:
    jobs:
      # the path-filtering/filter job determines which pipeline
      # parameters to update, i.e. which builds to run.
      - path-filtering/filter:
          name: check-updated-files
          base-revision: main
          config-path: .circleci/continue_config.yml
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            docs/.* docs_change true
            ^((?!docs/).)*$ code_change true

Revert "Undo `user_agent` change, but still trigger builds"
  docs/conf.py
Due: docs_change

Bump the `user_agent` to latest version of Firefox
  docs/conf.py
Due: docs_change

fix merge issue
  kedro/extras/datasets/spark/spark_dataset.py
Due: code_change

Added load_args to ApiDataSet
  kedro/extras/datasets/api/api_dataset.py
Due: code_change

Unpack load args into request args
  kedro/extras/datasets/api/api_dataset.py
Due: code_change

Fix imports for Prefect script (#1379)
  docs/source/deployment/prefect.md
Due: docs_change

Support schema load argument for SparkDataset (#986)
  RELEASE.md
  kedro/config/abstract_config.py
  kedro/config/common.py
  kedro/extras/datasets/networkx/gml_dataset.py
  kedro/extras/datasets/networkx/graphml_dataset.py
  kedro/extras/datasets/pandas/xml_dataset.py
  kedro/extras/datasets/spark/spark_dataset.py
  tests/extras/datasets/networkx/test_gml_dataset.py
  tests/extras/datasets/networkx/test_graphml_dataset.py
  tests/extras/datasets/pandas/test_xml_dataset.py
  tests/extras/datasets/spark/test_spark_dataset.py
Due: code_change

Fix starter alias list
  kedro/framework/cli/starters.py
Due: code_change

Specify user agent to fix 403 errors in link check (#1443)
  docs/conf.py
Due: docs_change

Remove debugging code
  kedro/framework/cli/starters.py
Due: code_change

Fix kedro-starter templates alias list (#1446)
  kedro/framework/cli/starters.py
Due: code_change

remove session checking
  kedro/framework/session/session.py
Due: code_change

Temporarily pin delta spark
  test_requirements.txt
Due: code_change

Fix CircleCI triggers
  .circleci/continue_config.yml
Due: code_change

Update continue_config.yml
  .circleci/continue_config.yml
Due: code_change

Add a context for publishing the docker image
  .circleci/continue_config.yml
Due: code_change

Address PR comments
  docs/source/kedro_project_setup/configuration.md
  kedro/config/common.py
  kedro/config/templated_config.py
  tests/config/test_templated_config.py
Due: docs_change, code_change

Fix CircleCI triggers (#1448)
  .circleci/continue_config.yml
Due: code_change

blacken docs
  docs/source/kedro_project_setup/configuration.md
Due: docs_change

Temporarily pin delta spark (#1447)
  test_requirements.txt
Due: code_change

Add a context for publishing the docker image (#1450)
  .circleci/continue_config.yml
Due: code_change

Apply suggestions from code review
  kedro/config/common.py
  kedro/config/templated_config.py
Due: code_change

Revert previous changes and update test_run to contain settings.CONF_SOURCE
  features/steps/test_starter/{{ cookiecutter.repo_name }}/src/tests/test_run.py
  kedro/templates/project/{{ cookiecutter.repo_name }}/src/tests/test_run.py
Due: code_change

Fix typing error
  kedro/config/common.py
Due: code_change

Fix link
  docs/source/kedro_project_setup/configuration.md
Due: docs_change

Fix pyspark example in docs
  docs/source/tools_integration/pyspark.md
Due: docs_change

Update configuration docs
  docs/source/kedro_project_setup/configuration.md
  kedro/config/config.py
Due: docs_change, code_change

Use project path instead of current dir
  docs/source/kedro_project_setup/configuration.md
  kedro/config/config.py
Due: docs_change, code_change

Clean up
  docs/source/kedro_project_setup/configuration.md
Due: docs_change

Linting
  features/steps/test_starter/{{ cookiecutter.repo_name }}/src/tests/test_run.py
Due: code_change

Replace subprocess with python base git library
  kedro/framework/session/session.py
  requirements.txt
Due: code_change

Fix typing issue with `globals_pattern`
  docs/source/kedro_project_setup/configuration.md
  features/steps/test_starter/{{ cookiecutter.repo_name }}/src/{{ cookiecutter.python_package }}/settings.py
  kedro/config/templated_config.py
  tests/config/test_templated_config.py
Due: docs_change, code_change

Fix pyspark example in docs (#1452)
  docs/source/tools_integration/pyspark.md
Due: docs_change

Fix list() issue
  kedro/config/templated_config.py
Due: code_change

remove unused type hint
  kedro/config/templated_config.py
Due: code_change

Tweak docstring
  kedro/config/templated_config.py
Due: code_change

Fix `KedroContext` arguments in test (#1439)
  RELEASE.md
  features/steps/test_starter/{{ cookiecutter.repo_name }}/src/tests/test_run.py
  kedro/templates/project/{{ cookiecutter.repo_name }}/src/tests/test_run.py
Due: code_change

Update configuration docs (#1453)
  docs/source/kedro_project_setup/configuration.md
  kedro/config/config.py
Due: docs_change, code_change

Try out on databricks
  kedro/framework/project/__init__.py
  kedro/templates/project/{{ cookiecutter.repo_name }}/src/{{ cookiecutter.python_package }}/__main__.py
Due: code_change

Bumbed outdated schema references
  docs/source/development/set_up_pycharm.md
  docs/source/development/set_up_vscode.md
Due: docs_change
