Repository kedro-org/kedro: changes, and which CircleCI parameters are due for each by the changed paths.
All: docs_change, code_change

Reorder the logging page
  docs/source/logging/index.md
  docs/source/logging/logging.md
Due: docs_change

Decouple `logging` from ConfigLoader (#2642)
  RELEASE.md
  docs/source/configuration/advanced_configuration.md
  docs/source/configuration/configuration_basics.md
  features/steps/cli_steps.py
  features/steps/test_starter/{{ cookiecutter.repo_name }}/conf/base/logging.yml
  kedro/config/config.py
  kedro/config/omegaconf_config.py
  kedro/config/templated_config.py
  kedro/framework/cli/catalog.py
  kedro/framework/session/session.py
  kedro/ipython/__init__.py
  kedro/templates/project/{{ cookiecutter.repo_name }}/conf/base/logging.yml
  tests/config/test_omegaconf_config.py
  tests/framework/cli/test_catalog.py
  tests/framework/cli/test_starters.py
  tests/framework/session/test_session.py
Due: docs_change, code_change

Update .pre-commit-config.yaml to optimise developer experience (#2661)
  .pre-commit-config.yaml
Due: code_change

Bump version to 0.18.10 (#2660)
  CITATION.cff
  RELEASE.md
  docs/source/deployment/databricks/databricks_workspace.md
  docs/source/development/commands_reference.md
  docs/source/extend_kedro/plugins.md
  docs/source/tutorial/tutorial_template.md
  kedro/__init__.py
Due: docs_change, code_change

Modify readme.md to add new messaging (#2653)
  README.md
Due: code_change

fix(datasets): use `side_effect`, not `side_effct`
  tests/extras/datasets/tensorflow/test_tensorflow_model_dataset.py
Due: code_change

Update add_another_pipeline.md (#2617)
  docs/source/tutorial/add_another_pipeline.md
Due: docs_change

Add unit tests
  tests/io/test_data_catalog.py
Due: code_change

Fix test + refactor runner
  kedro/runner/runner.py
  tests/io/test_data_catalog.py
Due: code_change

fix(datasets): use `side_effect`, not `side_effct` (#2657)
  tests/extras/datasets/tensorflow/test_tensorflow_model_dataset.py
Due: code_change

Minor changes to add anchor links and a few style tweaks
  docs/source/deployment/databricks/databricks_deployment_workflow.md
Due: docs_change

Fix linter error
  docs/source/deployment/databricks/databricks_deployment_workflow.md
Due: docs_change

Wrap `kedro.io.core` to fix error deprecation
  kedro/io/__init__.py
  kedro/io/core.py
Due: code_change

Fix build error
  docs/source/deployment/databricks/databricks_deployment_workflow.md
Due: docs_change

Proposed heading changes
  docs/source/deployment/databricks/databricks_deployment_workflow.md
  docs/source/deployment/databricks/databricks_ide_development_workflow.md
  docs/source/deployment/databricks/databricks_notebooks_development_workflow.md
Due: docs_change

Leverage PEP 562 for less hacky error deprecations
  kedro/io/__init__.py
  kedro/io/core.py
  kedro/utils.py
Due: code_change

Test old `DataSetError` in `kedro.extras.datasets`
  tests/extras/datasets/pandas/test_csv_dataset.py
  tests/extras/datasets/tensorflow/test_tensorflow_model_dataset.py
Due: code_change

Fix missing and unnecessary imports/other mistakes
  kedro/io/core.py
  tests/extras/datasets/tensorflow/test_tensorflow_model_dataset.py
Due: code_change

Add documentation for dataset factories
  docs/source/data/data_catalog.md
Due: docs_change

Blacken kedro/io/core.py
  kedro/io/core.py
Due: code_change

Don't raise `DeprecationWarning` each time import from `kedro.io`
  kedro/io/__init__.py
Due: code_change

Revert "Add file for search console verification (#2631)"
  docs/source/conf.py
  docs/source/googlebce3ad2fda582ae8.html
Due: docs_change

Revert "Add file for search console verification (#2631)" (#2674)
  docs/source/conf.py
  docs/source/googlebce3ad2fda582ae8.html
Due: docs_change

Revert "Revert "Add file for search console verification (#2631)" (#2674)"
  docs/source/conf.py
  docs/source/googlebce3ad2fda582ae8.html
Due: docs_change

Add comments + update specificity fn
  kedro/io/data_catalog.py
Due: code_change

Revert "Revert "Add file for search console verification (#2631)" (#2674)" (#2675)
  docs/source/conf.py
  docs/source/googlebce3ad2fda582ae8.html
Due: docs_change

Do not rely on setup.py to generate sdist
  kedro/framework/cli/micropkg.py
Due: code_change

Stop using pkg_resources
  kedro/framework/cli/micropkg.py
  tests/framework/cli/micropkg/test_micropkg_requirements.py
Due: code_change

Improve error when `micropkg pull` does not find sdist Fix gh-2542.
  docs/source/nodes_and_pipelines/micro_packaging.md
  kedro/framework/cli/micropkg.py
  tests/framework/cli/micropkg/test_micropkg_pull.py
Due: docs_change, code_change

Make `kedro micropkg package` accept `--verbose`
  kedro/framework/cli/micropkg.py
Due: code_change

Improve code comments
  kedro/framework/cli/micropkg.py
Due: code_change

Add tests for new micropkg pull branches
  tests/framework/cli/micropkg/test_micropkg_pull.py
Due: code_change

Revert sdist check to make it more testable
  kedro/framework/cli/micropkg.py
  tests/framework/cli/micropkg/test_micropkg_pull.py
Due: code_change

Add micropackaging improvements to release notes
  RELEASE.md
Due: code_change

Stop relying on .egg-info directories
  kedro/framework/cli/micropkg.py
  tests/framework/cli/micropkg/test_micropkg_pull.py
Due: code_change

Fix micropkg pull error handling
  kedro/framework/cli/micropkg.py
Due: code_change

Fix equality checks of equivalent requirements
  kedro/framework/cli/micropkg.py
Due: code_change

Remove untested path of private code
  kedro/framework/cli/micropkg.py
Due: code_change

Note change from pkg_requirements
  kedro/framework/cli/micropkg.py
Due: code_change

Apply suggestions from code review
  docs/source/data/data_catalog.md
Due: docs_change

Path conditions:
  docs_change: any of: docs/.*
  code_change: any of: ^((?!docs/).)*$
