Repository kedro-org/kedro: changes, and which CircleCI parameters are due for each by the changed paths.
All: docs_change, code_change

.circleci/config.yml:

version: 2.1

parameters:
  release_kedro:
    type: boolean
    default: false
  # The parameters below are set in CircleCI UI.
  # https://app.circleci.com/settings/project/github/kedro-org/kedro/triggers?return-to=https%3A%2F%2Fapp.circleci.com%2Fpipelines%2Fgithub%2Fkedro-org%2Fkedro&triggerSource=&scheduledTriggerId=61f7226f-f092-4449-98d9-40420f8c46b2&success=true
  run_hourly:
    type: boolean
    default: false
  run_nightly:
    type: boolean
    default: false

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.1

workflows:
  regular:
    jobs:
      # the path-filtering/filter job determines which pipeline
      # parameters to update, i.e. which builds to run.
      - path-filtering/filter:
          name: check-updated-files
          base-revision: main
          config-path: .circleci/continue_config.yml
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            docs/.* docs_change true
            ^((?!docs/).)*$ code_change true

More rename
  docs/source/notebooks_and_ipython/notebook-example/add_kedro_to_a_notebook.ipynb
  tests/io/test_core.py
Due: docs_change, code_change

Fix linting
  docs/source/notebooks_and_ipython/notebook-example/add_kedro_to_a_notebook.ipynb
Due: docs_change

Final rename DataSet to Dataset (#3409)
  .gitpod.Dockerfile
  docs/source/notebooks_and_ipython/kedro_and_notebooks.md
  docs/source/notebooks_and_ipython/notebook-example/add_kedro_to_a_notebook.ipynb
  docs/source/notebooks_and_ipython/notebook-example/add_kedro_to_a_notebook.md
  docs/source/notebooks_and_ipython/notebook-example/catalog.yml
  tests/io/test_core.py
Due: docs_change, code_change

Bump up version to 0.19.0
  CITATION.cff
  RELEASE.md
  docs/source/development/commands_reference.md
  docs/source/robots.txt
  kedro/__init__.py
Due: docs_change, code_change

Add 'tools' to expected keys
  kedro/framework/startup.py
  tests/framework/test_startup.py
Due: code_change

Release `0.19.0` (#3411)
  CITATION.cff
  RELEASE.md
  docs/source/development/commands_reference.md
  docs/source/robots.txt
  kedro/__init__.py
  kedro/framework/startup.py
  tests/framework/test_startup.py
Due: docs_change, code_change

Bump python version for release job
  .circleci/continue_config.yml
Due: code_change

Bump python version for release job (#3414)
  .circleci/continue_config.yml
Due: code_change

Trigger tests
  .circleci/continue_config.yml
Due: code_change

Loosen bound on kedro-telemetry
  docs/source/tutorial/tutorial_template.md
  features/steps/test_starter/{{ cookiecutter.repo_name }}/requirements.txt
  kedro/templates/project/{{ cookiecutter.repo_name }}/requirements.txt
Due: docs_change, code_change

Update .circleci/continue_config.yml
  .circleci/continue_config.yml
Due: code_change

Fix broken link in docs
  docs/source/starters/new_project_tools.md
Due: docs_change

Fix broken links
  docs/source/deployment/databricks/databricks_deployment_workflow.md
  docs/source/logging/index.md
Due: docs_change

Bump kedro-telemtry to latest version
  docs/source/tutorial/tutorial_template.md
  features/steps/test_starter/{{ cookiecutter.repo_name }}/requirements.txt
  kedro/templates/project/{{ cookiecutter.repo_name }}/requirements.txt
Due: docs_change, code_change

Loosen bound + set to latest release for `kedro-telemetry` (#3417)
  docs/source/deployment/databricks/databricks_deployment_workflow.md
  docs/source/logging/index.md
  docs/source/starters/new_project_tools.md
  docs/source/tutorial/tutorial_template.md
  features/steps/test_starter/{{ cookiecutter.repo_name }}/requirements.txt
  kedro/templates/project/{{ cookiecutter.repo_name }}/requirements.txt
Due: docs_change, code_change

Bump version to 0.19.1
  CITATION.cff
  RELEASE.md
  docs/source/configuration/config_loader_migration.md
  docs/source/development/commands_reference.md
  docs/source/robots.txt
  kedro/__init__.py
Due: docs_change, code_change

Use template for starter
  tests/framework/cli/test_starters.py
Due: code_change

Use template for testing starter (#3422)
  tests/framework/cli/test_starters.py
Due: code_change

Release `0.19.1` (#3421)
  CITATION.cff
  RELEASE.md
  docs/source/configuration/config_loader_migration.md
  docs/source/development/commands_reference.md
  docs/source/robots.txt
  kedro/__init__.py
  tests/framework/cli/test_starters.py
Due: docs_change, code_change

Link doesn't need to be ignored anymore
  docs/source/conf.py
Due: docs_change

Link doesn't need to be ignored anymore (#3423)
  docs/source/conf.py
Due: docs_change

Add logging about not using async for Sequential and Parallel runners
  kedro/runner/parallel_runner.py
  kedro/runner/sequential_runner.py
  tests/runner/test_parallel_runner.py
  tests/runner/test_sequential_runner.py
  tests/runner/test_thread_runner.py
Due: code_change

remove example pipeline requirements
  RELEASE.md
  kedro/templates/project/hooks/utils.py
Due: code_change

lint
  kedro/templates/project/hooks/utils.py
Due: code_change

Update cli.py template
  docs/source/development/commands_reference.md
Due: docs_change

Minor tech debts
  kedro/framework/cli/starters.py
  tests/framework/cli/test_starters.py
Due: code_change

Adjust doc files to use 'kedro viz run' instead
  docs/source/extend_kedro/common_use_cases.md
  docs/source/get_started/new_project.md
Due: docs_change

Adjust word to be 'hence', resolving warning
  docs/source/extend_kedro/common_use_cases.md
Due: docs_change

Update cli.py template (#3428)
  docs/source/development/commands_reference.md
Due: docs_change

Update kedro/runner/parallel_runner.py
  kedro/runner/parallel_runner.py
Due: code_change

Update release notes
  RELEASE.md
Due: code_change

Apply suggestions from code review
  kedro/runner/sequential_runner.py
  tests/runner/test_parallel_runner.py
  tests/runner/test_sequential_runner.py
  tests/runner/test_thread_runner.py
Due: code_change

Fix lint
  tests/runner/test_parallel_runner.py
  tests/runner/test_sequential_runner.py
  tests/runner/test_thread_runner.py
Due: code_change

simplify amending kedro[...] lines
  kedro/templates/project/hooks/utils.py
Due: code_change

keep the version for datasets
  kedro/templates/project/hooks/utils.py
Due: code_change

Add logging about not using async for Sequential and Parallel runners (#3424)
  RELEASE.md
  kedro/runner/parallel_runner.py
  kedro/runner/sequential_runner.py
  tests/runner/test_parallel_runner.py
  tests/runner/test_sequential_runner.py
  tests/runner/test_thread_runner.py
Due: code_change

Create Sponsor FUNDING.yml (#7)
  .github/Sponsor FUNDING.yml
Due: code_change

Don't include requirements only needed for example pipeline (#3425)
  RELEASE.md
  kedro/templates/project/hooks/utils.py
Due: code_change
