Repository kedro-org/kedro: changes, and which CircleCI parameters are due for each by the changed paths.
All: docs_change, code_change

.circleci/config.yml:

version: 2.1

parameters:
  release_kedro:
    type: boolean
    default: false
  # The parameters below are set in CircleCI UI.
  # https://app.circleci.com/settings/project/github/kedro-org/kedro/triggers?return-to=https%3A%2F%2Fapp.circleci.com%2Fpipelines%2Fgithub%2Fkedro-org%2Fkedro&triggerSource=&scheduledTriggerId=61f7226f-f092-4449-98d9-40420f8c46b2&success=true
  run_hourly:
    type: boolean
    default: false
  run_nightly:
    type: boolean
    default: false

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.1

workflows:
  regular:
    jobs:
      # the path-filtering/filter job determines which pipeline
      # parameters to update, i.e. which builds to run.
      - path-filtering/filter:
          name: check-updated-files
          base-revision: main
          config-path: .circleci/continue_config.yml
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            docs/.* docs_change true
            ^((?!docs/).)*$ code_change true

Try adding automodule pt 65
  docs/source/api_docs/kedro.rst
Due: docs_change

How to use orphan?
  docs/source/api_docs/kedro.rst
Due: docs_change

Try adding automodule pt 66
  docs/source/api_docs/kedro.config.rst
  docs/source/index.rst
Due: docs_change

Adjusted code to remove task duplication and indexing
  RELEASE.md
  docs/source/deployment/prefect.md
Due: docs_change, code_change

corrected typos
  docs/source/deployment/prefect.md
Due: docs_change

Try adding automodule pt 66
  docs/source/api_docs/kedro.config.rst
Due: docs_change

Try adding automodule pt 68
  docs/source/index.rst
Due: docs_change

Try adding automodule pt 69
  docs/source/api_docs/kedro.config.rst
Due: docs_change

Try adding automodule pt 70
  docs/source/api_docs/kedro.config.rst
Due: docs_change

Register a new `reload_kedro` line magic with arugments supported
  kedro/extras/extensions/ipython.py
Due: code_change

Try something else
  docs/source/api_docs/kedro.config.rst
  docs/source/index.rst
Due: docs_change

Try something else 2
  docs/source/api_docs/kedro.config.rst
Due: docs_change

Try something else 3
  docs/source/api_docs/kedro.config.rst
Due: docs_change

Try something else 4
  docs/source/index.rst
Due: docs_change

Try something else 5
  docs/source/api_docs/kedro.config.rst
  docs/source/index.rst
Due: docs_change

Try something else 6
  docs/source/api_docs/kedro.config.rst
  docs/source/index.rst
Due: docs_change

Try something else 7
  docs/source/index.rst
Due: docs_change

Try something else 8
  docs/source/api_docs/kedro.config.rst
Due: docs_change

Try something else 9
  docs/source/api_docs/kedro.config.rst
Due: docs_change

Try something else 10
  docs/source/api_docs/kedro.config.rst
  docs/source/index.rst
Due: docs_change

Try something else 11
  docs/source/api_docs/kedro.config.rst
Due: docs_change

Rewind
  docs/source/api_docs/kedro.config.rst
  docs/source/api_docs/kedro.extras.datasets.rst
  docs/source/api_docs/kedro.extras.logging.color_logger.ColorHandler.rst
  docs/source/api_docs/kedro.framework.cli.cli.KedroCLI.rst
  docs/source/api_docs/kedro.framework.cli.hooks.manager.CLIHooksManager.rst
  docs/source/api_docs/kedro.framework.cli.hooks.rst
  docs/source/api_docs/kedro.framework.cli.utils.rst
  docs/source/api_docs/kedro.framework.context.rst
  docs/source/api_docs/kedro.framework.hooks.rst
  docs/source/api_docs/kedro.framework.session.store.BaseSessionStore.rst
  docs/source/api_docs/kedro.framework.session.store.ShelveStore.rst
  docs/source/api_docs/kedro.io.rst
  docs/source/api_docs/kedro.pipeline.rst
  docs/source/api_docs/kedro.rst
  docs/source/api_docs/kedro.runner.rst
  docs/source/index.rst
Due: docs_change

Attempt
  docs/conf.py
  docs/source/api_docs/kedro.config.rst
Due: docs_change

Attempt 2
  docs/conf.py
  docs/source/api_docs/kedro.config.rst
Due: docs_change

Attempt 3
  docs/_templates/autosummary/module.rst
  docs/source/api_docs/kedro.config.rst
Due: docs_change

Attempt 2 - again
  docs/_templates/autosummary/module.rst
Due: docs_change

Update %reload_kedro argument list
  kedro/extras/extensions/ipython.py
Due: code_change

Fix imports and test
  kedro/extras/extensions/ipython.py
  tests/extras/extensions/test_ipython.py
Due: code_change

update doc
  RELEASE.md
  docs/source/tools_integration/ipython.md
Due: docs_change, code_change

Clean up comments
  kedro/extras/extensions/ipython.py
Due: code_change

Update release doc
  RELEASE.md
Due: code_change

Add new test that check `%reload_kedro` is registered
  kedro/extras/extensions/ipython.py
  tests/extras/extensions/test_ipython.py
Due: code_change

update release note
  RELEASE.md
Due: code_change

Fixing test to make sure the coverage is 100%
  kedro/extras/extensions/ipython.py
  tests/extras/extensions/test_ipython.py
Due: code_change

Try copy fix
  docs/source/index.rst
Due: docs_change

Changed objectd returned by init task from tuple to init
  docs/source/deployment/prefect.md
Due: docs_change

Try copy fix 2
  docs/source/index.rst
Due: docs_change

Try copy fix 3
  docs/source/index.rst
Due: docs_change
