Repository kedro-org/kedro: changes, and which CircleCI parameters are due for each by the changed paths.
All: docs_change, code_change

.circleci/config.yml:

version: 2.1

parameters:
  release_kedro:
    type: boolean
    default: false
  # The parameters below are set in CircleCI UI.
  # https://app.circleci.com/settings/project/github/kedro-org/kedro/triggers?return-to=https%3A%2F%2Fapp.circleci.com%2Fpipelines%2Fgithub%2Fkedro-org%2Fkedro&triggerSource=&scheduledTriggerId=61f7226f-f092-4449-98d9-40420f8c46b2&success=true
  run_hourly:
    type: boolean
    default: false
  run_nightly:
    type: boolean
    default: false

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.1

workflows:
  regular:
    jobs:
      # the path-filtering/filter job determines which pipeline
      # parameters to update, i.e. which builds to run.
      - path-filtering/filter:
          name: check-updated-files
          base-revision: main
          config-path: .circleci/continue_config.yml
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            docs/.* docs_change true
            ^((?!docs/).)*$ code_change true

Add screenshots to example
  docs/source/meta/images/pipeline_visualisation_matplotlib.png
  docs/source/meta/images/pipeline_visualisation_matplotlib_expand.png
  docs/source/tutorial/visualise_pipeline.md
Due: docs_change

Lint changes
  docs/source/tutorial/visualise_pipeline.md
Due: docs_change

Replace instantiations of Pipeline with pipeline
  tests/runner/conftest.py
Due: code_change

Modify test_suggest_resume_scenario fixture to use node names
  tests/runner/test_sequential_runner.py
Due: code_change

Add disable=unused-argument to _save
  tests/runner/conftest.py
Due: code_change

Add test
  kedro/__init__.py
  tests/extras/extensions/test_ipython.py
Due: code_change

Fix the case of Excel in docs
  docs/source/data/data_catalog.md
  kedro/extras/datasets/pandas/excel_dataset.py
Due: docs_change, code_change

Small tidy
  kedro/extras/extensions/ipython.py
Due: code_change

Use magic_reload_kedro
  kedro/extras/extensions/ipython.py
Due: code_change

Small rewording
  RELEASE.md
  docs/source/tools_integration/ipython.md
Due: docs_change, code_change

Use split_params to process --params
  RELEASE.md
  kedro/extras/extensions/ipython.py
Due: code_change

Update docs
  docs/source/tools_integration/ipython.md
Due: docs_change

Fix the case of Excel in docs (#1822)
  docs/source/data/data_catalog.md
  kedro/extras/datasets/pandas/excel_dataset.py
Due: docs_change, code_change

Update plugins.md (#1818)
  docs/source/extend_kedro/plugins.md
Due: docs_change

Update for pandas datasets
  kedro/io/core.py
  tests/extras/datasets/pandas/test_excel_dataset.py
  tests/extras/datasets/pandas/test_feather_dataset.py
  tests/extras/datasets/pandas/test_json_dataset.py
  tests/extras/datasets/pandas/test_parquet_dataset.py
  tests/extras/datasets/pandas/test_xml_dataset.py
Due: code_change

Update test_excel_dataset.py
  tests/extras/datasets/pandas/test_excel_dataset.py
Due: code_change

Fix lint
  kedro/extras/extensions/ipython.py
Due: code_change

Fix test and linting
  kedro/extras/extensions/ipython.py
  tests/extras/extensions/test_ipython.py
Due: code_change

Enable passing argument to line magic `%reload_kedro` (#1789)
  RELEASE.md
  docs/source/tools_integration/ipython.md
  kedro/extras/extensions/ipython.py
  tests/extras/extensions/test_ipython.py
Due: docs_change, code_change

Use suppress instead of try-except, fix corresponding test and move imports to top-level
  kedro/__init__.py
  kedro/extras/extensions/ipython.py
  tests/extras/extensions/test_ipython.py
Due: code_change

Update pyspark.md
  docs/source/tools_integration/pyspark.md
Due: docs_change

fix linting
  tests/extras/extensions/test_ipython.py
Due: code_change

refactoring import kedro
  tests/extras/extensions/test_ipython.py
Due: code_change

Remove resume suggestion for ParallelRunner
  kedro/runner/parallel_runner.py
Due: code_change

Remove spurious try / except
  kedro/runner/parallel_runner.py
Due: code_change

Update docs/source/tools_integration/pyspark.md
  docs/source/tools_integration/pyspark.md
Due: docs_change

Improve resume pipeline suggestion (#1795)
  kedro/runner/parallel_runner.py
  kedro/runner/runner.py
  kedro/runner/sequential_runner.py
  kedro/runner/thread_runner.py
  tests/runner/conftest.py
  tests/runner/test_sequential_runner.py
Due: code_change

Update docs/source/tutorial/set_up_experiment_tracking.md
  docs/source/tutorial/set_up_experiment_tracking.md
Due: docs_change

Add suggestions from review
  docs/source/tutorial/set_up_experiment_tracking.md
Due: docs_change

Change heading tense
  docs/source/tutorial/visualise_pipeline.md
Due: docs_change

Change api link to relative
  docs/source/tutorial/visualise_pipeline.md
Due: docs_change

Change inline code to code block to follow convention
  docs/source/tutorial/visualise_pipeline.md
Due: docs_change

Change to Sphinx syntax
  docs/source/tutorial/visualise_pipeline.md
Due: docs_change
