Repository kedro-org/kedro: changes, and which CircleCI parameters are due for each by the changed paths.
All: docs_change, code_change

.circleci/config.yml:

version: 2.1

parameters:
  release_kedro:
    type: boolean
    default: false
  # The parameters below are set in CircleCI UI.
  # https://app.circleci.com/settings/project/github/kedro-org/kedro/triggers?return-to=https%3A%2F%2Fapp.circleci.com%2Fpipelines%2Fgithub%2Fkedro-org%2Fkedro&triggerSource=&scheduledTriggerId=61f7226f-f092-4449-98d9-40420f8c46b2&success=true
  run_hourly:
    type: boolean
    default: false
  run_nightly:
    type: boolean
    default: false

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.1

workflows:
  regular:
    jobs:
      # the path-filtering/filter job determines which pipeline
      # parameters to update, i.e. which builds to run.
      - path-filtering/filter:
          name: check-updated-files
          base-revision: main
          config-path: .circleci/continue_config.yml
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            docs/.* docs_change true
            ^((?!docs/).)*$ code_change true

Further updates following review
  docs/source/tutorial/add_another_pipeline.md
  docs/source/tutorial/create_a_pipeline.md
  docs/source/tutorial/set_up_data.md
  docs/source/tutorial/spaceflights_tutorial.md
  docs/source/tutorial/tutorial_template.md
Due: docs_change

Update docs/source/tutorial/package_a_project.md
  docs/source/tutorial/package_a_project.md
Due: docs_change

Update docs/source/visualisation/kedro-viz_visualisation.md
  docs/source/visualisation/kedro-viz_visualisation.md
Due: docs_change

Further changes following feedback
  docs/source/faq/faq.md
  docs/source/get_started/prerequisites.md
  docs/source/tutorial/add_another_pipeline.md
  docs/source/tutorial/create_a_pipeline.md
  docs/source/tutorial/spaceflights_tutorial_faqs.md
  docs/source/tutorial/tutorial_template.md
  docs/source/visualisation/kedro-viz_visualisation.md
Due: docs_change

fix autosummary issues
  .circleci/continue_config.yml
  docs/conf.py
Due: docs_change, code_change

Update conf.py
  docs/conf.py
Due: docs_change

Update continue_config.yml
  .circleci/continue_config.yml
Due: code_change

Tutorial fix and improvement
  docs/source/tutorial/set_up_experiment_tracking.md
Due: docs_change

Few more changes
  docs/source/meta/images/moon-rocket.gif
  docs/source/meta/images/moon-rocket.png
  docs/source/tutorial/package_a_project.md
  docs/source/tutorial/spaceflights_tutorial.md
  docs/source/tutorial/spaceflights_tutorial_faqs.md
Due: docs_change

Improve DataSet API documentation with YAML examples (#1844)
  kedro/extras/datasets/api/api_dataset.py
  kedro/extras/datasets/dask/parquet_dataset.py
  kedro/extras/datasets/pandas/csv_dataset.py
  kedro/extras/datasets/pandas/feather_dataset.py
  kedro/extras/datasets/tensorflow/tensorflow_model_dataset.py
  kedro/extras/datasets/tracking/json_dataset.py
  kedro/extras/datasets/tracking/metrics_dataset.py
  kedro/extras/datasets/yaml/yaml_dataset.py
Due: code_change

Final tweaks
  docs/source/tutorial/add_another_pipeline.md
  docs/source/tutorial/create_a_pipeline.md
  docs/source/tutorial/set_up_data.md
  docs/source/tutorial/spaceflights_tutorial.md
  docs/source/tutorial/tutorial_template.md
  docs/source/visualisation/kedro-viz_visualisation.md
Due: docs_change

Final changes
  docs/build-docs.sh
  docs/source/meta/images/coffee-cup.png
  docs/source/tutorial/add_another_pipeline.md
  docs/source/tutorial/create_a_pipeline.md
  docs/source/tutorial/set_up_data.md
  docs/source/tutorial/spaceflights_tutorial_faqs.md
  docs/source/tutorial/tutorial_template.md
Due: docs_change

Linted
  docs/source/tutorial/add_another_pipeline.md
  docs/source/tutorial/create_a_pipeline.md
  docs/source/tutorial/package_a_project.md
  docs/source/tutorial/set_up_data.md
  docs/source/tutorial/spaceflights_tutorial.md
  docs/source/tutorial/spaceflights_tutorial_faqs.md
  docs/source/tutorial/tutorial_template.md
Due: docs_change

Tutorial fix and improvement (#2015)
  docs/source/tutorial/set_up_experiment_tracking.md
Due: docs_change

Bump version
  setup.py
  test_requirements.txt
Due: code_change

Update build-docs.sh
  docs/build-docs.sh
Due: docs_change

Update introduction.md
  docs/source/introduction/introduction.md
Due: docs_change

Update experiment_tracking.md
  docs/source/visualisation/experiment_tracking.md
Due: docs_change

Update new_project.md
  docs/source/get_started/new_project.md
Due: docs_change

Move project directory structure information from one page to later in the section
  docs/source/get_started/kedro_concepts.md
  docs/source/get_started/new_project.md
Due: docs_change

Move starters into the project section
  docs/source/kedro_project_setup/starters.md
Due: docs_change

Combine starters and create_a_starter
  docs/source/extend_kedro/create_kedro_starters.md
  docs/source/index.rst
  docs/source/kedro_project_setup/starters.md
Due: docs_change

Fix links broken by moving starters
  docs/source/deployment/airflow_astronomer.md
  docs/source/deployment/distributed.md
  docs/source/extend_kedro/common_use_cases.md
  docs/source/extend_kedro/plugins.md
  docs/source/faq/architecture_overview.md
  docs/source/get_started/new_project.md
  docs/source/introduction/introduction.md
  docs/source/kedro_project_setup/starters.md
  docs/source/resources/glossary.md
  docs/source/tools_integration/ipython.md
  docs/source/tutorial/spaceflights_tutorial.md
Due: docs_change

Fix sticky toc
  setup.py
Due: code_change

Create dummy changes to trigger Gitpod
  kedro/io/__init__.py
Due: code_change

rollback the dummy change
  kedro/io/__init__.py
Due: code_change

Fix linting
  docs/source/tutorial/set_up_experiment_tracking.md
Due: docs_change

Fix sticky table of content for Kedro doc page (#2018)
  docs/source/tutorial/set_up_experiment_tracking.md
  setup.py
Due: docs_change, code_change

Some reorg in the early sections for project setup
  docs/source/index.rst
  docs/source/kedro_project_setup/project_best_practices.md
  docs/source/notebook_and_ipython/kedro_and_ipython.md
  docs/source/notebook_and_ipython/kedro_and_notebooks.md
  docs/source/pyspark_integration/pyspark.md
Due: docs_change

attrs >=21.3,<22.2
  dependency/requirements.txt
Due: code_change

Test update
  test_requirements.txt
  tests/conftest.py
Due: code_change

update
  setup.py
Due: code_change

add missing module
  tests/conftest.py
Due: code_change

update
  tests/io/test_partitioned_dataset.py
Due: code_change

fix the fixture
  tests/conftest.py
Due: code_change

update test_requirements
  test_requirements.txt
Due: code_change
