Repository kedro-org/kedro: changes, and which CircleCI parameters are due for each by the changed paths.
All: docs_change, code_change

.circleci/config.yml:

version: 2.1

parameters:
  release_kedro:
    type: boolean
    default: false
  # The parameters below are set in CircleCI UI.
  # https://app.circleci.com/settings/project/github/kedro-org/kedro/triggers?return-to=https%3A%2F%2Fapp.circleci.com%2Fpipelines%2Fgithub%2Fkedro-org%2Fkedro&triggerSource=&scheduledTriggerId=61f7226f-f092-4449-98d9-40420f8c46b2&success=true
  run_hourly:
    type: boolean
    default: false
  run_nightly:
    type: boolean
    default: false

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.1

workflows:
  regular:
    jobs:
      # the path-filtering/filter job determines which pipeline
      # parameters to update, i.e. which builds to run.
      - path-filtering/filter:
          name: check-updated-files
          base-revision: main
          config-path: .circleci/continue_config.yml
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            docs/.* docs_change true
            ^((?!docs/).)*$ code_change true

Remove mention of black which has been long replaced by ruff
  docs/source/starters/new_project_tools.md
Due: docs_change

Updated constructor and add methods
  kedro/io/data_catalog.py
Due: code_change

Updated _get_dataset method
  kedro/io/catalog_config_resolver.py
  kedro/io/data_catalog.py
Due: code_change

Updated __contains__
  kedro/io/data_catalog.py
Due: code_change

Updated __eq__ and shallow_copy
  kedro/io/data_catalog.py
Due: code_change

Added __iter__ and __getitem__
  kedro/io/data_catalog.py
Due: code_change

Removed unused imports
  kedro/io/data_catalog.py
Due: code_change

Added TODO
  kedro/io/catalog_config_resolver.py
Due: code_change

Updated runner.run()
  kedro/runner/runner.py
Due: code_change

Updated session
  kedro/framework/session/session.py
Due: code_change

Added confil_resolver property
  kedro/framework/session/session.py
  kedro/io/data_catalog.py
Due: code_change

Updated catalog list command
  kedro/framework/cli/catalog.py
Due: code_change

Updated catalog create command
  kedro/framework/cli/catalog.py
Due: code_change

Updated catalog rank command
  kedro/framework/cli/catalog.py
Due: code_change

Updated catalog resolve command
  kedro/framework/cli/catalog.py
  kedro/io/data_catalog.py
Due: code_change

Remove some methods
  kedro/io/data_catalog.py
Due: code_change

Remove mention of black which has been long replaced by ruff (#4146)
  docs/source/starters/new_project_tools.md
Due: docs_change

Remove ShelveStore
  RELEASE.md
  docs/source/api/kedro.framework.session.shelvestore.ShelveStore.rst
  kedro/framework/session/shelvestore.py
  tests/framework/project/test_settings.py
  tests/framework/session/test_session.py
  tests/framework/session/test_store.py
Due: docs_change, code_change

Remove ShelveStore
  RELEASE.md
  tests/framework/session/test_session.py
Due: code_change

Removed ds configs from catalog
  kedro/framework/cli/catalog.py
  kedro/io/data_catalog.py
Due: code_change

Fixed lint
  kedro/framework/cli/catalog.py
  kedro/io/catalog_config_resolver.py
  kedro/io/data_catalog.py
  kedro/runner/parallel_runner.py
  kedro/runner/runner.py
  kedro/runner/sequential_runner.py
  kedro/runner/thread_runner.py
Due: code_change

Fixed typo
  kedro/runner/sequential_runner.py
Due: code_change

Add projects remove lastmod for latest
  docs/source/sitemap.xml
Due: docs_change

Added module docstring
  kedro/io/catalog_config_resolver.py
Due: code_change

Add latest for projects
  docs/source/sitemap.xml
Due: docs_change

Renaming methods
  kedro/io/data_catalog_redesign.py
Due: code_change

Removed None from Pattern type
  kedro/io/catalog_config_resolver.py
  kedro/io/data_catalog.py
  kedro/runner/parallel_runner.py
  kedro/runner/runner.py
  kedro/runner/sequential_runner.py
  kedro/runner/thread_runner.py
Due: code_change

Fixed docs failing to find class reference
  docs/source/conf.py
Due: docs_change

Updated Patterns type
  kedro/io/catalog_config_resolver.py
Due: code_change

Introduce task class + small refactoring
  kedro/runner/__init__.py
  kedro/runner/parallel_runner.py
  kedro/runner/runner.py
  kedro/runner/sequential_runner.py
  kedro/runner/task.py
  kedro/runner/thread_runner.py
Due: code_change

Fix most tests
  kedro/io/catalog_config_resolver.py
  kedro/io/data_catalog.py
  tests/framework/cli/test_catalog.py
  tests/framework/session/test_session.py
  tests/io/test_data_catalog.py
Due: code_change

Fix most tests
  tests/io/test_data_catalog.py
Due: code_change

Fix tests (#4149)
  kedro/io/catalog_config_resolver.py
  kedro/io/data_catalog.py
  tests/framework/cli/test_catalog.py
  tests/framework/session/test_session.py
  tests/io/test_data_catalog.py
Due: code_change

Returned constants to avoid breaking changes
  kedro/io/data_catalog.py
Due: code_change

Udapted KedroDataCatalog for recent changes
  kedro/io/data_catalog_redesign.py
Due: code_change

Minor fix
  kedro/io/data_catalog.py
Due: code_change

Implement Nok's comments re: utility functions
  docs/source/kedro_project_setup/code_beyond_starter_files.md
Due: docs_change

Remove `ShelveStore` (#4148)
  RELEASE.md
  docs/source/api/kedro.framework.session.shelvestore.ShelveStore.rst
  kedro/framework/session/shelvestore.py
  tests/framework/project/test_settings.py
  tests/framework/session/test_session.py
  tests/framework/session/test_store.py
Due: docs_change, code_change

Updated test_sorting_order_with_other_dataset_through_extra_pattern
  tests/io/test_data_catalog.py
Due: code_change
