Repository kedro-org/kedro: changes, and which CircleCI parameters are due for each by the changed paths.
All: docs_change, code_change

.circleci/config.yml:

version: 2.1

parameters:
  release_kedro:
    type: boolean
    default: false
  # The parameters below are set in CircleCI UI.
  # https://app.circleci.com/settings/project/github/kedro-org/kedro/triggers?return-to=https%3A%2F%2Fapp.circleci.com%2Fpipelines%2Fgithub%2Fkedro-org%2Fkedro&triggerSource=&scheduledTriggerId=61f7226f-f092-4449-98d9-40420f8c46b2&success=true
  run_hourly:
    type: boolean
    default: false
  run_nightly:
    type: boolean
    default: false

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.1

workflows:
  regular:
    jobs:
      # the path-filtering/filter job determines which pipeline
      # parameters to update, i.e. which builds to run.
      - path-filtering/filter:
          name: check-updated-files
          base-revision: main
          config-path: .circleci/continue_config.yml
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            docs/.* docs_change true
            ^((?!docs/).)*$ code_change true

Made credentials resolving API private
  kedro/io/catalog_config_resolver.py
  kedro/io/kedro_data_catalog.py
  tests/io/test_catalog_config_resolver.py
Due: code_change

Updated mixins
  kedro/framework/context/catalog_mixins.py
Due: code_change

Make credentials resolution api private (#4717)
  kedro/framework/context/catalog_mixins.py
  kedro/io/catalog_config_resolver.py
  kedro/io/kedro_data_catalog.py
  tests/io/test_catalog_config_resolver.py
Due: code_change

Style for info/tip block
  docs/stylesheets/globals.css
  docs/stylesheets/themes.css
  mkdocs.yml
Due: docs_change, code_change

Fix mypy issues
  kedro/framework/cli/utils.py
Due: code_change

Fix mypy issues
  kedro/framework/cli/cli.py
Due: code_change

Style for expandable code block
  docs/pages/catalog-data/kedro_data_catalog.md
  docs/stylesheets/globals.css
  docs/stylesheets/themes.css
  mkdocs.yml
Due: docs_change, code_change

update read me with different styling option
  docs/readme.md
Due: docs_change

Update Click types to solve mypy errors
  kedro/framework/cli/cli.py
  kedro/framework/cli/utils.py
Due: code_change

Update Click types to solve mypy errors (#4723)
  kedro/framework/cli/cli.py
  kedro/framework/cli/utils.py
Due: code_change

Apply suggestions from code review
  kedro/framework/cli/utils.py
Due: code_change

Update kedro/framework/cli/utils.py
  kedro/framework/cli/utils.py
Due: code_change

update colour code for the code block
  docs/pages/catalog-data/kedro_data_catalog.md
  docs/pages/integrations-and-plugins/pyspark_integration.md
  docs/stylesheets/globals.css
  docs/stylesheets/themes.css
Due: docs_change

pin click
  pyproject.toml
Due: code_change

update admonition syntax
  docs/pages/catalog-data/advanced_data_catalog_usage.md
  docs/pages/catalog-data/data_catalog.md
  docs/pages/catalog-data/data_catalog_yaml_examples.md
  docs/pages/catalog-data/introduction.md
  docs/pages/catalog-data/kedro_dataset_factories.md
  docs/pages/create/customise_project.md
  docs/pages/deploy/index.md
  docs/pages/deploy/package_a_project.md
  docs/pages/deploy/supported-platforms/argo.md
  docs/pages/deploy/supported-platforms/aws_batch.md
  docs/pages/deploy/supported-platforms/prefect.md
  docs/pages/develop/automated_testing.md
  docs/pages/develop/debugging.md
  docs/pages/getting-started/faq.md
  docs/pages/ide/set_up_vscode.md
  docs/pages/integrations-and-plugins/mlflow.md
  docs/pages/integrations-and-plugins/notebooks_and_ipython/notebook-example/add_kedro_to_a_notebook.md
  docs/pages/tutorials/test_a_project.md
  docs/readme.md
  docs/stylesheets/globals.css
Due: docs_change

Update recommendation to use Pipeline & Node Class instead of methods in all docs
  docs/pages/build/modular_pipelines.md
  docs/pages/build/nodes.md
  docs/pages/build/pipeline_introduction.md
  docs/pages/catalog-data/kedro_dataset_factories.md
  docs/pages/catalog-data/partitioned_and_incremental_datasets.md
  docs/pages/create/minimal_kedro_project.md
  docs/pages/getting-started/kedro_concepts.md
  docs/pages/integrations-and-plugins/pyspark_integration.md
  docs/pages/tutorials/add_another_pipeline.md
Due: docs_change

revert changes from #4723
  kedro/framework/cli/cli.py
Due: code_change

Update utils.py
  kedro/framework/cli/utils.py
Due: code_change

Pin `click<8.2.0` to resolve CI failures (#4724)
  kedro/framework/cli/cli.py
  kedro/framework/cli/utils.py
  pyproject.toml
Due: code_change

use warning instead of important
  docs/pages/create/customise_project.md
  docs/pages/deploy/supported-platforms/argo.md
  docs/pages/deploy/supported-platforms/aws_batch.md
  docs/pages/deploy/supported-platforms/prefect.md
  docs/pages/develop/debugging.md
  docs/readme.md
  mkdocs.yml
Due: docs_change, code_change

update correct colour code for white theme
  docs/stylesheets/themes.css
Due: docs_change

include custom footer for each page
  docs/overrides/main.html
  docs/overrides/partials/copyright-legal-socials.html
  docs/overrides/welcome.html
  docs/stylesheets/footer.css
  docs/stylesheets/globals.css
  docs/stylesheets/welcome.css
  mkdocs.yml
Due: docs_change, code_change

temporarily styling for main page footer
  docs/stylesheets/footer.css
  docs/stylesheets/welcome.css
Due: docs_change

update icons for the socials footer
  docs/overrides/partials/copyright-legal-socials.html
  docs/stylesheets/footer.css
  docs/stylesheets/themes.css
Due: docs_change

Fix the search box styling
  docs/stylesheets/globals.css
Due: docs_change

fix missing typo from the merge
  docs/pages/about/telemetry.md
  docs/pages/api/pipeline/kedro.pipeline.md
  docs/pages/catalog-data/advanced_data_catalog_usage.md
  docs/pages/catalog-data/data_catalog.md
  docs/pages/catalog-data/introduction.md
  docs/pages/catalog-data/partitioned_and_incremental_datasets.md
  docs/pages/configure/credentials.md
  docs/pages/deploy/index.md
  docs/pages/deploy/supported-platforms/aws_step_functions.md
  docs/pages/extend/hooks/common_use_cases.md
  docs/pages/extend/session.md
  docs/pages/getting-started/commands_reference.md
  docs/pages/integrations-and-plugins/notebooks_and_ipython/kedro_and_notebooks.md
  docs/pages/integrations-and-plugins/notebooks_and_ipython/notebook-example/add_kedro_to_a_notebook.md
  docs/pages/integrations-and-plugins/pyspark_integration.md
  docs/pages/tutorials/settings.md
  mkdocs.yml
Due: docs_change, code_change

remove node.Node
  docs/pages/api/pipeline/kedro.pipeline.node.Node.md
Due: docs_change

fix lint error
  docs/assets/kedro_logo_black.svg
  docs/overrides/main.html
  docs/overrides/partials/copyright-legal-socials.html
  docs/overrides/welcome.html
  docs/pages/deploy/index.md
  docs/pages/deploy/supported-platforms/argo.md
  docs/stylesheets/footer.css
  docs/stylesheets/globals.css
  docs/stylesheets/welcome.css
Due: docs_change

Ignore test coverage for FrozenDataset method
  kedro/io/data_catalog.py
Due: code_change

Only enable pluggy tracing for DEBUG level (#4705)
  RELEASE.md
  docs/source/hooks/introduction.md
  docs/source/logging/index.md
  kedro/framework/cli/hooks/manager.py
  kedro/framework/hooks/manager.py
  kedro/io/data_catalog.py
Due: docs_change, code_change

update links for welcome page
  docs/overrides/welcome.html
Due: docs_change

Remove empty file
  kedro/io/data_catalog.py
Due: code_change

Rename GroupedNode class and move to node.py
  docs/source/api/kedro.pipeline.rst
  kedro/pipeline/__init__.py
  kedro/pipeline/node.py
  kedro/pipeline/pipeline.py
  tests/pipeline/test_pipeline.py
Due: docs_change, code_change

[TSC VOTE] Update recommendation to use classes instead of methods to instantiate `Node` and `Pipeline` objects (#4675)
  kedro/pipeline/__init__.py
  kedro/templates/pipeline/{{ cookiecutter.pipeline_name }}/pipeline.py
Due: code_change

Added warning for KedroDataCatalog
  kedro/io/kedro_data_catalog.py
Due: code_change

Updated DataCatalog warning
  kedro/io/data_catalog.py
  kedro/io/kedro_data_catalog.py
Due: code_change

Added suppress_catalog_warning
  kedro/framework/context/context.py
  kedro/io/data_catalog.py
  kedro/io/warning_utils.py
Due: code_change

Supressed warning when shallow copy
  kedro/framework/project/__init__.py
  kedro/io/data_catalog.py
Due: code_change

Added type annotations
  kedro/io/warning_utils.py
Due: code_change
