Repository kedro-org/kedro: changes, and which CircleCI parameters are due for each by the changed paths.
All: docs_change, code_change

.circleci/config.yml:

version: 2.1

parameters:
  release_kedro:
    type: boolean
    default: false
  # The parameters below are set in CircleCI UI.
  # https://app.circleci.com/settings/project/github/kedro-org/kedro/triggers?return-to=https%3A%2F%2Fapp.circleci.com%2Fpipelines%2Fgithub%2Fkedro-org%2Fkedro&triggerSource=&scheduledTriggerId=61f7226f-f092-4449-98d9-40420f8c46b2&success=true
  run_hourly:
    type: boolean
    default: false
  run_nightly:
    type: boolean
    default: false

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.1

workflows:
  regular:
    jobs:
      # the path-filtering/filter job determines which pipeline
      # parameters to update, i.e. which builds to run.
      - path-filtering/filter:
          name: check-updated-files
          base-revision: main
          config-path: .circleci/continue_config.yml
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            docs/.* docs_change true
            ^((?!docs/).)*$ code_change true

Feat/add conf source to ipython (#3199)
  RELEASE.md
  kedro/ipython/__init__.py
  tests/ipython/test_ipython.py
Due: code_change

Refactor utils.py use toml and unstrip pyproject.toml and requirements.txt
  kedro/templates/project/hooks/utils.py
  kedro/templates/project/{{ cookiecutter.repo_name }}/pyproject.toml
  kedro/templates/project/{{ cookiecutter.repo_name }}/requirements.txt
Due: code_change

fix broken test missing options 7
  tests/framework/cli/test_starters.py
Due: code_change

add more test
  tests/framework/cli/test_starters.py
Due: code_change

fix test
  tests/framework/cli/test_starters.py
Due: code_change

attempt to fix tests
  kedro/framework/cli/starters.py
  tests/framework/cli/test_starters.py
Due: code_change

Use full kedro icon and type for logo
  docs/source/_templates/layout.html
  docs/source/conf.py
  docs/source/kedro-horizontal-color-on-light.svg
Due: docs_change

Make add_ons as string in pyproject.toml + add to test starter
  features/steps/test_starter/cookiecutter.json
  features/steps/test_starter/{{ cookiecutter.repo_name }}/pyproject.toml
  kedro/templates/project/{{ cookiecutter.repo_name }}/pyproject.toml
Due: code_change

remove reporting when viz selected
  kedro/templates/project/hooks/utils.py
  kedro/templates/project/{{ cookiecutter.repo_name }}/pyproject.toml
Due: code_change

Make `OmegaConfigLoader` the default config loader (#3243)
  RELEASE.md
  docs/source/kedro.config.rst
  kedro/framework/context/context.py
  kedro/framework/project/__init__.py
  kedro/framework/session/session.py
  kedro/templates/project/{{ cookiecutter.repo_name }}/src/{{ cookiecutter.python_package }}/settings.py
  tests/framework/project/test_settings.py
  tests/framework/session/test_session.py
  tests/framework/session/test_session_extension_hooks.py
Due: docs_change, code_change

Readability changes
  kedro/framework/cli/starters.py
  tests/framework/cli/test_starters.py
Due: code_change

First attempt, remove CL and TCL
  kedro/config/__init__.py
  kedro/config/common.py
  kedro/config/config.py
  kedro/config/templated_config.py
  tests/config/test_config.py
  tests/config/test_templated_config.py
  tests/framework/context/test_context.py
  tests/framework/project/test_settings.py
  tests/framework/session/test_session.py
Due: code_change

update tests for viz add-on
  kedro/templates/project/hooks/utils.py
  kedro/templates/project/{{ cookiecutter.repo_name }}/pyproject.toml
  tests/framework/cli/test_starters.py
Due: code_change

Undo quotes around add_ons
  features/steps/test_starter/{{ cookiecutter.repo_name }}/pyproject.toml
  kedro/templates/project/{{ cookiecutter.repo_name }}/pyproject.toml
Due: code_change

Apply suggestions from code review
  docs/source/configuration/advanced_configuration.md
Due: docs_change

Fix context test + remove from docs index
  docs/source/kedro.config.rst
  tests/framework/context/test_context.py
Due: docs_change, code_change

Quick fix starters test
  tests/framework/cli/test_starters.py
Due: code_change

Quick fix starters test (#3254)
  tests/framework/cli/test_starters.py
Due: code_change

remove reporting.yml and update tests
  kedro/templates/project/hooks/utils.py
  tests/framework/cli/test_starters.py
Due: code_change

Lint
  kedro/framework/cli/starters.py
Due: code_change

Extract make config from kedro new to external function
  kedro/framework/cli/starters.py
Due: code_change

add comment to _get_expected_files number counts
  tests/framework/cli/test_starters.py
Due: code_change

First pass at removing mentions of CL and TCL
  docs/source/configuration/advanced_configuration.md
  docs/source/configuration/config_loader_migration.md
  docs/source/configuration/configuration_basics.md
  docs/source/configuration/credentials.md
  docs/source/configuration/parameters.md
  docs/source/extend_kedro/architecture_overview.md
  docs/source/faq/faq.md
  docs/source/kedro.config.rst
Due: docs_change

Update tests to parse pyprojec.toml (#3230)
  tests/framework/cli/test_starters.py
Due: code_change

Revise API docs link
  docs/source/notebooks_and_ipython/notebook-example/add_kedro_to_a_notebook.ipynb
  docs/source/notebooks_and_ipython/notebook-example/add_kedro_to_a_notebook.md
Due: docs_change

Update logging docs link
  docs/source/deployment/databricks/databricks_deployment_workflow.md
  docs/source/deployment/databricks/databricks_ide_development_workflow.md
  docs/source/deployment/databricks/databricks_notebooks_development_workflow.md
Due: docs_change

Update xrefs in docs
  docs/source/configuration/config_loader_migration.md
Due: docs_change

Add .gitkeep for conf/local/
  kedro/templates/project/{{ cookiecutter.repo_name }}/conf/local/.gitkeep
  tests/framework/cli/test_starters.py
Due: code_change

Update features/steps/test_starter/cookiecutter.json
  features/steps/test_starter/cookiecutter.json
Due: code_change

Update migration guide
  docs/source/configuration/config_loader_migration.md
Due: docs_change

Update advanced config
  docs/source/configuration/advanced_configuration.md
Due: docs_change

Fix tests
  tests/framework/cli/test_starters.py
Due: code_change

Update commands refs
  docs/source/development/commands_reference.md
Due: docs_change

Update docs/source/deployment/databricks/databricks_deployment_workflow.md
  docs/source/deployment/databricks/databricks_deployment_workflow.md
Due: docs_change

Update docs/source/deployment/databricks/databricks_ide_development_workflow.md
  docs/source/deployment/databricks/databricks_ide_development_workflow.md
Due: docs_change

Update docs/source/deployment/databricks/databricks_notebooks_development_workflow.md
  docs/source/deployment/databricks/databricks_notebooks_development_workflow.md
Due: docs_change

style(ruff-format): format code with `ruff format`
  kedro/extras/datasets/email/message_dataset.py
  kedro/extras/datasets/pandas/generic_dataset.py
  kedro/extras/datasets/spark/spark_dataset.py
  kedro/extras/datasets/spark/spark_jdbc_dataset.py
  kedro/framework/cli/micropkg.py
  kedro/framework/cli/pipeline.py
  kedro/framework/cli/project.py
  kedro/framework/cli/registry.py
  kedro/io/partitioned_dataset.py
  kedro/runner/runner.py
  tests/extras/datasets/matplotlib/test_matplotlib_writer.py
  tests/extras/datasets/pandas/test_gbq_dataset.py
  tests/framework/cli/test_catalog.py
  tests/framework/context/test_context.py
  tests/framework/session/conftest.py
  tests/framework/session/test_session.py
  tests/framework/session/test_session_extension_hooks.py
Due: code_change

build: format code with `ruff format` over `black`
  .pre-commit-config.yaml
  pyproject.toml
Due: code_change

Update features/steps/test_starter/{{ cookiecutter.repo_name }}/pyproject.toml
  features/steps/test_starter/{{ cookiecutter.repo_name }}/pyproject.toml
Due: code_change
