Repository kedro-org/kedro: changes, and which CircleCI parameters are due for each by the changed paths.
All: docs_change, code_change

.circleci/config.yml:

version: 2.1

parameters:
  release_kedro:
    type: boolean
    default: false
  # The parameters below are set in CircleCI UI.
  # https://app.circleci.com/settings/project/github/kedro-org/kedro/triggers?return-to=https%3A%2F%2Fapp.circleci.com%2Fpipelines%2Fgithub%2Fkedro-org%2Fkedro&triggerSource=&scheduledTriggerId=61f7226f-f092-4449-98d9-40420f8c46b2&success=true
  run_hourly:
    type: boolean
    default: false
  run_nightly:
    type: boolean
    default: false

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.1

workflows:
  regular:
    jobs:
      # the path-filtering/filter job determines which pipeline
      # parameters to update, i.e. which builds to run.
      - path-filtering/filter:
          name: check-updated-files
          base-revision: main
          config-path: .circleci/continue_config.yml
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            docs/.* docs_change true
            ^((?!docs/).)*$ code_change true

Address some review comments
  kedro/pipeline/pipeline.py
Due: code_change

fix tests for pipeline and session
  kedro/pipeline/pipeline.py
  tests/framework/session/test_session.py
  tests/pipeline/test_pipeline.py
Due: code_change

fix tests for cli
  tests/framework/cli/test_cli.py
Due: code_change

fix lint error
  kedro/pipeline/pipeline.py
Due: code_change

update some of the failed test
  kedro/pipeline/pipeline.py
  tests/pipeline/test_pipeline.py
Due: code_change

fix lint and tests for ruff PR from MasterOfLogic1
  features/steps/test_plugin/plugin.py
  kedro/pipeline/pipeline.py
Due: code_change

fix docs build
  docs/source/deployment/databricks/databricks_ide_databricks_asset_bundles_workflow.md
Due: docs_change

update catalogprotocol
  kedro/io/core.py
Due: code_change

Remove Conda environment from version control
  docs/source/index.md
Due: docs_change

update format for the first section
  kedro-docs/docs/course/index.md
  kedro-docs/docs/get_started/index.md
  kedro-docs/docs/introduction/index.md
  kedro-docs/mkdocs.yml
Due: none

second section
  kedro-docs/docs/notebooks_and_ipython/index.md
  kedro-docs/docs/resources/index.md
  kedro-docs/docs/tutorial/spaceflights_tutorial.md
  kedro-docs/docs/visualisation/index.md
  kedro-docs/mkdocs.yml
Due: none

third section - kedro projects
  kedro-docs/docs/configuration/index.md
  kedro-docs/docs/data/index.md
  kedro-docs/docs/nodes_and_pipelines/index.md
  kedro-docs/docs/starters/index.md
  kedro-docs/mkdocs.yml
Due: none

update copy for the nav
  kedro-docs/docs/get_started/index.md
  kedro-docs/mkdocs.yml
Due: none

Move deindex to public
  docs/_static/deindex-old-docs.js
  docs/source/conf.py
Due: docs_change

integration section
  kedro-docs/docs/integrations/mlflow.md
  kedro-docs/docs/integrations/pyspark_integration.md
  kedro-docs/mkdocs.yml
Due: none

Ensure _static folder is recognised during RTD build
  docs/_static/.keep
Due: docs_change

Move _static to source
  docs/_static/.keep
  docs/source/_static/deindex-old-docs.js
Due: docs_change

Fix broken docs link
  docs/source/deployment/databricks/databricks_ide_databricks_asset_bundles_workflow.md
Due: docs_change

update development
  kedro-docs/docs/development/debugging.md
  kedro-docs/docs/development/set_up_vscode.md
  kedro-docs/mkdocs.yml
Due: none

Make deindex-old-docs.js publicly accessible for Read the Docs deindexing (#4621)
  docs/source/_static/deindex-old-docs.js
  docs/source/conf.py
  docs/source/deployment/databricks/databricks_ide_databricks_asset_bundles_workflow.md
Due: docs_change

Add missing space between sentences (#4598)
  kedro/io/data_catalog.py
Due: code_change

Ensure dependencies order on grouped_nodes_by_namespace
  kedro/pipeline/pipeline.py
  tests/pipeline/test_pipeline.py
Due: code_change

Avoid dependency duplication
  kedro/pipeline/pipeline.py
Due: code_change

Clean up
  kedro/pipeline/modular_pipeline.py
  kedro/pipeline/pipeline.py
Due: code_change

Fix imports
  features/steps/test_starter/{{ cookiecutter.repo_name }}/src/{{ cookiecutter.python_package }}/pipeline_registry.py
  kedro/templates/pipeline/{{ cookiecutter.pipeline_name }}/pipeline.py
  kedro/templates/project/{{ cookiecutter.repo_name }}/src/{{ cookiecutter.python_package }}/pipeline_registry.py
Due: code_change

Add back modular pipeline tests for coverage
  tests/pipeline/test_pipeline_namespaces.py
Due: code_change

Clean up types
  features/steps/test_starter/{{ cookiecutter.repo_name }}/src/{{ cookiecutter.python_package }}/pipeline_registry.py
  kedro/framework/project/__init__.py
  kedro/templates/pipeline/{{ cookiecutter.pipeline_name }}/pipeline.py
  tests/framework/project/test_pipeline_discovery.py
  tests/framework/session/conftest.py
Due: code_change

Clean up types
  tests/framework/project/test_pipeline_discovery.py
Due: code_change

advance usage
  kedro-docs/docs/extend_kedro/index.md
  kedro-docs/docs/hooks/index.md
  kedro-docs/docs/kedro_project_setup/index.md
  kedro-docs/mkdocs.yml
Due: none

Fix test issues
  kedro/pipeline/modular_pipeline.py
  kedro/pipeline/pipeline.py
  tests/pipeline/test_modular_pipeline.py
Due: code_change

Fix types
  kedro/pipeline/pipeline.py
  tests/pipeline/test_pipeline_namespaces.py
Due: code_change

Clean up
  kedro/pipeline/pipeline.py
Due: code_change

Try fix coverage
  kedro/pipeline/modular_pipeline.py
  kedro/pipeline/pipeline.py
  tests/pipeline/test_pipeline.py
Due: code_change

Add back transcoding deprecation message
  kedro/pipeline/pipeline.py
Due: code_change

error handling for upper S in Dataset
  kedro/io/core.py
  tests/io/test_core.py
Due: code_change

fix lint error
  kedro/io/core.py
  tests/io/test_core.py
Due: code_change

Just remove modular pipeline tests to avoid confusion
  pyproject.toml
  tests/pipeline/test_modular_pipeline.py
Due: code_change

Sync methods with original
  kedro/pipeline/pipeline.py
  tests/pipeline/test_pipeline_namespaces.py
Due: code_change

Sync methods with original
  kedro/pipeline/pipeline.py
Due: code_change
