Repository kedro-org/kedro: changes, and which CircleCI parameters are due for each by the changed paths.
All: docs_change, code_change

Create _NullHookManager Class
  kedro/runner/runner.py
Due: code_change

Fix linting
  kedro/runner/runner.py
Due: code_change

add config_loader property
  kedro/framework/context/context.py
Due: code_change

Update reference with `._config_loader` to the public attirbute.
  docs/source/tools_integration/pyspark.md
  kedro/framework/context/context.py
  tests/framework/context/test_context.py
Due: docs_change, code_change

Add type hint
  kedro/framework/project/__init__.py
Due: code_change

Add changes to RELEASE.md
  RELEASE.md
Due: code_change

Add tests
  tests/framework/project/test_settings.py
Due: code_change

Add runner class name to pipeline hooks + introduce `after_command_run` CLI hook spec (#1309)
  RELEASE.md
  docs/source/extend_kedro/hooks.md
  kedro/framework/cli/cli.py
  kedro/framework/cli/hooks/specs.py
  kedro/framework/session/session.py
  tests/framework/cli/test_cli_hooks.py
  tests/framework/session/test_session.py
Due: docs_change, code_change

Make new validator
  kedro/framework/project/__init__.py
Due: code_change

Fix up tests
  tests/framework/session/test_session.py
Due: code_change

Update RELEASE.md
  RELEASE.md
Due: code_change

Update docstrings
  kedro/framework/project/__init__.py
Due: code_change

Bumbed outdated schema references (#1463)
  docs/source/development/set_up_pycharm.md
  docs/source/development/set_up_vscode.md
Due: docs_change

Lint
  kedro/framework/project/__init__.py
  tests/framework/session/test_session.py
Due: code_change

Add comments and lint
  RELEASE.md
  kedro/framework/project/__init__.py
  tests/extras/datasets/spark/conftest.py
  tests/framework/project/test_settings.py
Due: code_change

Update namespace section of tutorial to match spaceflights starter
  docs/source/tutorial/namespace_pipelines.md
Due: docs_change

Fix typo
  docs/source/tutorial/namespace_pipelines.md
Due: docs_change

Fix TemplatedConfigLoader raising ValidationError (#1467)
  RELEASE.md
  kedro/framework/project/__init__.py
  tests/extras/datasets/spark/conftest.py
  tests/framework/project/test_settings.py
  tests/framework/session/test_session.py
Due: code_change

Databricks debug
  kedro/framework/project/__init__.py
Due: code_change

Update experiment tracking tutorial to include namespaces
  docs/source/tutorial/namespace_pipelines.md
  docs/source/tutorial/set_up_experiment_tracking.md
Due: docs_change

Have a stab at making plotly tutorial section work
  docs/source/tutorial/visualise_pipeline.md
Due: docs_change

Make other plotly dataset work as well
  docs/source/tutorial/visualise_pipeline.md
Due: docs_change

Wrap kedrocontext as dataclass
  kedro/framework/context/context.py
Due: code_change

Bug fix - swap the signature order for hook_manger and extra_params
  kedro/framework/context/context.py
Due: code_change

Fix test that should use the public attribute to access project path
  tests/framework/context/test_context.py
Due: code_change

fix Liniting
  tests/framework/context/test_context.py
Due: code_change

Add small clarifications to tutorial flow
  docs/source/tutorial/namespace_pipelines.md
  docs/source/tutorial/set_up_experiment_tracking.md
Due: docs_change

Use preprocessed data for plotly graphs
  docs/source/tutorial/visualise_pipeline.md
Due: docs_change

Add new hooks and associated tests
  kedro/framework/hooks/manager.py
  kedro/framework/hooks/specs.py
  kedro/framework/session/session.py
  tests/framework/hooks/test_manager.py
Due: code_change

Add test to see jinja2 with globals loading fail
  tests/config/test_templated_config.py
Due: code_change

Add fix for jinja2 + globals loading
  kedro/config/templated_config.py
Due: code_change

Move hook to after __init__ and fix linting
  kedro/framework/context/context.py
  kedro/framework/hooks/manager.py
  kedro/framework/hooks/specs.py
  kedro/framework/session/session.py
Due: code_change

fix linting again
  kedro/framework/hooks/specs.py
Due: code_change

Linting
  tests/config/test_templated_config.py
Due: code_change

Update release note
  RELEASE.md
Due: code_change

Update docs
  docs/source/extend_kedro/common_use_cases.md
Due: docs_change

Fixing cli doc
  docs/source/development/commands_reference.md
  docs/source/extend_kedro/common_use_cases.md
Due: docs_change

Add `suggest` option to `DataCatalog._get_dataset`
  kedro/io/data_catalog.py
Due: code_change

Update kedro/io/data_catalog.py
  kedro/io/data_catalog.py
Due: code_change

Update release notes
  RELEASE.md
Due: code_change

Path conditions:
  docs_change: any of: docs/.*
  code_change: any of: ^((?!docs/).)*$
