Repository kedro-org/kedro: changes, and which CircleCI parameters are due for each by the changed paths.
All: docs_change, code_change

.circleci/config.yml:

version: 2.1

parameters:
  release_kedro:
    type: boolean
    default: false
  # The parameters below are set in CircleCI UI.
  # https://app.circleci.com/settings/project/github/kedro-org/kedro/triggers?return-to=https%3A%2F%2Fapp.circleci.com%2Fpipelines%2Fgithub%2Fkedro-org%2Fkedro&triggerSource=&scheduledTriggerId=61f7226f-f092-4449-98d9-40420f8c46b2&success=true
  run_hourly:
    type: boolean
    default: false
  run_nightly:
    type: boolean
    default: false

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.1

workflows:
  regular:
    jobs:
      # the path-filtering/filter job determines which pipeline
      # parameters to update, i.e. which builds to run.
      - path-filtering/filter:
          name: check-updated-files
          base-revision: main
          config-path: .circleci/continue_config.yml
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            docs/.* docs_change true
            ^((?!docs/).)*$ code_change true

Remove mentions of old kedro CLI commands (#3089)
  features/steps/test_starter/{{ cookiecutter.repo_name }}/README.md
  kedro/framework/cli/micropkg.py
  kedro/templates/project/{{ cookiecutter.repo_name }}/README.md
Due: code_change

Add "runtime_params" resolver to allow overriding of config with CLI params (#3036)
  RELEASE.md
  docs/source/configuration/advanced_configuration.md
  docs/source/deployment/databricks/databricks_deployment_workflow.md
  kedro/config/omegaconf_config.py
  tests/config/test_omegaconf_config.py
Due: docs_change, code_change

Update docs/source/nodes_and_pipelines/pipeline_introduction.md
  docs/source/nodes_and_pipelines/pipeline_introduction.md
Due: docs_change

Pin fsspec version in test requirements
  pyproject.toml
  tests/io/test_data_catalog.py
Due: code_change

lint
  tests/io/test_data_catalog.py
Due: code_change

Added new docs section that warns against using dot notation for pipe… (#3085)
  docs/source/nodes_and_pipelines/pipeline_introduction.md
Due: docs_change

Changing some wording; updaing example gif
  docs/source/meta/images/kedro-publish-share.gif
  docs/source/meta/images/kedro-viz-deploy.gif
  docs/source/visualisation/share_kedro_viz.md
Due: docs_change

Clean Up Kedro's CI Config and Makefile for 0.19 release (#3083)
  .github/workflows/unit-tests.yml
  Makefile
Due: code_change

Update docs/source/deployment/amazon_emr_serverless.md
  docs/source/deployment/amazon_emr_serverless.md
Due: docs_change

Apply suggestions from code review
  docs/source/deployment/amazon_emr_serverless.md
Due: docs_change

Fix links to stable version of docs
  docs/source/deployment/amazon_emr_serverless.md
Due: docs_change

Address Vale linter suggestions
  .github/styles/Kedro/ignore.txt
  docs/source/deployment/amazon_emr_serverless.md
Due: docs_change, code_change

Add to toc
  docs/source/deployment/index.md
Due: docs_change

Fix broken link
  docs/source/deployment/amazon_emr_serverless.md
Due: docs_change

Mention conf in approach
  docs/source/deployment/amazon_emr_serverless.md
Due: docs_change

Remove steps to create log files
  docs/source/deployment/amazon_emr_serverless.md
Due: docs_change

feat(datasets): create custom `DeprecationWarning`
  kedro/__init__.py
Due: code_change

feat(datasets): use the custom deprecation warning
  kedro/extras/extensions/ipython.py
  kedro/extras/logging/__init__.py
  kedro/framework/cli/utils.py
  kedro/framework/startup.py
  kedro/io/cached_dataset.py
  kedro/io/core.py
  kedro/io/lambda_dataset.py
  kedro/io/memory_dataset.py
  kedro/io/partitioned_dataset.py
  kedro/runner/parallel_runner.py
  tests/io/test_core.py
  tests/runner/test_parallel_runner.py
Due: code_change

chore: del unneeded `_filter_deprecation_warnings`
  kedro/framework/cli/pipeline.py
  kedro/framework/cli/starters.py
  kedro/framework/cli/utils.py
Due: code_change

Add Shareable URLs docs for Kedro-Viz (#3079)
  docs/source/deployment/databricks/databricks_ide_development_workflow.md
  docs/source/meta/images/kedro-publish-share.gif
  docs/source/visualisation/index.md
  docs/source/visualisation/share_kedro_viz.md
Due: docs_change

Use helper function to add addons to config
  kedro/framework/cli/starters.py
Due: code_change

Update test to accomodate for new flag
  tests/tools/test_cli.py
Due: code_change

Fix some valid Vale warnings, disregard others
  .github/styles/Kedro/ignore.txt
  docs/source/deployment/amazon_emr_serverless.md
Due: docs_change, code_change

Update vale test name in ignore list for merge-gatekeeper
  .github/workflows/merge-gatekeeper.yml
Due: code_change
