Repository kedro-org/kedro: changes, and which CircleCI parameters are due for each by the changed paths.
All: docs_change, code_change

lint
  kedro/runner/runner.py
Due: code_change

tests
  kedro/runner/runner.py
  tests/runner/test_sequential_runner.py
Due: code_change

Docs/fix content (#4837)
  docs/create/new_project.md
  docs/create/new_project_tools.md
  docs/create/starters.md
  docs/integrations-and-plugins/notebooks_and_ipython/kedro_and_notebooks.md
  docs/tutorials/notebooks_tutorial.md
Due: docs_change

update content changes from docs
  docs/create/new_project.md
  docs/create/new_project_tools.md
  docs/create/starters.md
  docs/integrations-and-plugins/notebooks_and_ipython/kedro_and_notebooks.md
  docs/tutorials/notebooks_tutorial.md
Due: docs_change

update content changes from docs (#4844)
  docs/create/new_project.md
  docs/create/new_project_tools.md
  docs/create/starters.md
  docs/integrations-and-plugins/notebooks_and_ipython/kedro_and_notebooks.md
  docs/tutorials/notebooks_tutorial.md
Due: docs_change

Removed section about experimental catalog
  docs/catalog-data/introduction.md
Due: docs_change

Update tests/pipeline/test_node.py
  tests/pipeline/test_node.py
Due: code_change

Added lazy loading section
  docs/catalog-data/introduction.md
  docs/catalog-data/lazy_loading.md
Due: docs_change

coverage
  tests/runner/test_sequential_runner.py
Due: code_change

Docs/mkdocs click (#4820)
  docs/getting-started/commands_reference.md
  mkdocs.yml
  pyproject.toml
Due: docs_change, code_change

Release Kedro 0.19.14 (#4836)
  CITATION.cff
  RELEASE.md
  docs/source/development/commands_reference.md
  kedro/__init__.py
Due: docs_change, code_change

Updated dataset factories section
  docs/catalog-data/kedro_dataset_factories.md
Due: docs_change

Fix test for session and pipeline integration
  tests/framework/session/test_session.py
  tests/pipeline/test_pipeline_integration.py
Due: code_change

Update test_sequential_runner.py
  tests/runner/test_sequential_runner.py
Due: code_change

Fix test for session and pipeline integration (#4845)
  tests/framework/session/test_session.py
  tests/pipeline/test_pipeline_integration.py
Due: code_change

Fix test_sequential_runner
  tests/runner/test_sequential_runner.py
Due: code_change

remove redundant code
  kedro/runner/runner.py
  tests/runner/test_sequential_runner.py
Due: code_change

Check if test was causing the hanging
  tests/runner/test_parallel_runner.py
Due: code_change

Skip context selection test on Windows
  tests/runner/test_parallel_runner.py
Due: code_change

more simplification
  kedro/runner/runner.py
  tests/runner/test_sequential_runner.py
Due: code_change

Skip all three tests on on Windows and python < 3.11
  tests/runner/test_parallel_runner.py
Due: code_change

Update test_parallel_runner
  tests/runner/conftest.py
  tests/runner/test_parallel_runner.py
Due: code_change

Update test_thread_runner
  tests/runner/test_thread_runner.py
Due: code_change

Change to warning
  kedro/pipeline/node.py
  tests/pipeline/test_node.py
Due: code_change

Allow option for user to select multiprocessing method on ParallelRunner (#4801)
  RELEASE.md
  docs/build/run_a_pipeline.md
  kedro/runner/parallel_runner.py
  tests/runner/test_parallel_runner.py
Due: docs_change, code_change

Updated commands page
  docs/getting-started/commands_reference.md
Due: docs_change

Added page for migration guide
  docs/catalog-data/migration_to_1_0.md
Due: docs_change

Updated advanced catalolg section
  docs/catalog-data/advanced_data_catalog_usage.md
Due: docs_change

implementation
  kedro/framework/cli/project.py
  kedro/framework/session/session.py
  kedro/runner/runner.py
  tests/framework/cli/test_cli.py
  tests/framework/session/test_session.py
  tests/runner/data/test.pkl
  tests/runner/test_sequential_runner.py
Due: code_change

Fix tests runners (#4847)
  tests/runner/conftest.py
  tests/runner/test_parallel_runner.py
  tests/runner/test_sequential_runner.py
  tests/runner/test_thread_runner.py
Due: code_change

Merge `develop` to `feature-1.0.0` (#4850)
  RELEASE.md
  docs/build/run_a_pipeline.md
  docs/getting-started/commands_reference.md
  features/run.feature
  features/steps/cli_steps.py
  kedro/io/core.py
  kedro/io/data_catalog.py
  kedro/logging.py
  kedro/runner/parallel_runner.py
  kedro/utils.py
  mkdocs.yml
  pyproject.toml
  tests/io/test_core.py
  tests/runner/test_parallel_runner.py
Due: docs_change, code_change

Remove deprecated LambdaDataset
  kedro/io/__init__.py
  kedro/io/lambda_dataset.py
  mkdocs.yml
  tests/conftest.py
  tests/io/test_core.py
  tests/io/test_data_catalog.py
  tests/io/test_lambda_dataset.py
  tests/pipeline/test_node_run.py
  tests/pipeline/test_pipeline_from_missing.py
  tests/runner/conftest.py
  tests/runner/test_parallel_runner.py
  tests/runner/test_resume_logic.py
  tests/runner/test_sequential_runner.py
Due: code_change

Lint
  .secrets.baseline
Due: code_change

Remove LambdaDataset from API docs
  docs/api/io/kedro.io.LambdaDataset.md
  docs/api/io/kedro.io.md
Due: docs_change

Delete test.pkl
  tests/runner/data/test.pkl
Due: code_change

revert
  .gitignore
  kedro/runner/runner.py
Due: code_change

Updated deprecated API page
  docs/catalog-data/migration_to_1_0.md
Due: docs_change

Path conditions:
  docs_change: any of: docs/.*
  code_change: any of: ^((?!docs/).)*$
