Repository kedro-org/kedro: changes, and which CircleCI parameters are due for each by the changed paths.
All: docs_change, code_change

.circleci/config.yml:

version: 2.1

parameters:
  release_kedro:
    type: boolean
    default: false
  # The parameters below are set in CircleCI UI.
  # https://app.circleci.com/settings/project/github/kedro-org/kedro/triggers?return-to=https%3A%2F%2Fapp.circleci.com%2Fpipelines%2Fgithub%2Fkedro-org%2Fkedro&triggerSource=&scheduledTriggerId=61f7226f-f092-4449-98d9-40420f8c46b2&success=true
  run_hourly:
    type: boolean
    default: false
  run_nightly:
    type: boolean
    default: false

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.1

workflows:
  regular:
    jobs:
      # the path-filtering/filter job determines which pipeline
      # parameters to update, i.e. which builds to run.
      - path-filtering/filter:
          name: check-updated-files
          base-revision: main
          config-path: .circleci/continue_config.yml
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            docs/.* docs_change true
            ^((?!docs/).)*$ code_change true

Revise FAQs and README (#2909)
  CONTRIBUTING.md
  README.md
  docs/source/faq/faq.md
  docs/source/get_started/install.md
  docs/source/index.rst
  docs/source/meta/images/data_layers.png
  docs/source/resources/index.md
  docs/source/tutorial/spaceflights_tutorial.md
  docs/source/visualisation/kedro-viz_visualisation.md
Due: docs_change, code_change

Update Generator example (#2858)
  RELEASE.md
  docs/source/nodes_and_pipelines/nodes.md
Due: docs_change, code_change

update docs to reflect change to /conf file structure (#2913)
  docs/source/data/data_catalog.md
  docs/source/development/commands_reference.md
  docs/source/nodes_and_pipelines/micro_packaging.md
  docs/source/nodes_and_pipelines/modular_pipelines.md
  docs/source/tutorial/add_another_pipeline.md
  docs/source/tutorial/create_a_pipeline.md
Due: docs_change

Change CONTRIBUTING.md file based on PR #2894 (#2914)
  CONTRIBUTING.md
Due: code_change

Move contribution guidelines from CONTRIBUTING.md to the Wiki (#2894)
  CONTRIBUTING.md
Due: code_change

PiP/pyproject.toml and Conda/Meta.yaml Sync
  pyproject.toml
Due: code_change

Add links to API docs
  docs/source/extend_kedro/architecture_overview.md
Due: docs_change

Further changes
  docs/source/data/advanced_data_catalog_usage.md
  docs/source/data/data_catalog.md
  docs/source/data/data_catalog_yaml_examples.md
Due: docs_change

Remove trailing whitespace
  kedro/io/data_catalog.py
Due: code_change

Remove redundant pages and direct users to wiki (#2917)
  docs/source/contribution/backwards_compatibility.md
  docs/source/contribution/developer_contributor_guidelines.md
  docs/source/contribution/development_for_databricks.md
  docs/source/contribution/documentation_contributor_guidelines.md
  docs/source/contribution/index.md
  docs/source/contribution/technical_steering_committee.md
Due: docs_change

Another chunk of changes
  docs/source/configuration/credentials.md
  docs/source/contribution/developer_contributor_guidelines.md
  docs/source/data/advanced_data_catalog_usage.md
  docs/source/data/data_catalog.md
  docs/source/data/data_catalog_yaml_examples.md
  docs/source/data/how_to_create_a_custom_dataset.md
  docs/source/data/partitioned_and_incremental_datasets.md
  docs/source/deployment/argo.md
  docs/source/deployment/aws_batch.md
  docs/source/deployment/databricks/databricks_deployment_workflow.md
  docs/source/deployment/databricks/databricks_ide_development_workflow.md
  docs/source/development/commands_reference.md
  docs/source/experiment_tracking/index.md
  docs/source/extend_kedro/common_use_cases.md
  docs/source/extend_kedro/index.md
  docs/source/faq/faq.md
  docs/source/nodes_and_pipelines/nodes.md
  docs/source/notebooks_and_ipython/kedro_and_notebooks.md
  docs/source/tutorial/add_another_pipeline.md
  docs/source/tutorial/set_up_data.md
Due: docs_change

Final changes
  docs/source/data/how_to_create_a_custom_dataset.md
Due: docs_change

Revise ordering of pages
  docs/source/data/index.md
Due: docs_change

Revert refactoring
  kedro/config/omegaconf_config.py
Due: code_change

Added in type of users
  docs/source/extend_kedro/architecture_overview.md
Due: docs_change

Revert "Remove setuptools and wheels references"
  Makefile
  features/environment.py
  tools/circleci/requirements.txt
Due: code_change

Remove setuptools and wheels references
  Makefile
  features/environment.py
  tools/circleci/requirements.txt
Due: code_change

Add suggestions from code review (docs)
  docs/source/development/commands_reference.md
  kedro/framework/cli/catalog.py
Due: docs_change, code_change

Add suggestions from code review (code)
  kedro/framework/cli/catalog.py
Due: code_change

Add test + remove self.globals
  kedro/config/omegaconf_config.py
  tests/config/test_omegaconf_config.py
Due: code_change

Fix ruff linter precommit config
  .pre-commit-config.yaml
  pyproject.toml
  tests/pyproject.toml
Due: code_change

Allow for nested variables in globals
  kedro/config/omegaconf_config.py
  tests/config/test_omegaconf_config.py
Due: code_change

Add documentation
  docs/source/configuration/advanced_configuration.md
  docs/source/configuration/configuration_basics.md
  docs/source/faq/faq.md
Due: docs_change

Typo
  docs/source/configuration/advanced_configuration.md
Due: docs_change

Add line about Viz to PR template
  .github/PULL_REQUEST_TEMPLATE.md
Due: code_change

Fix linting error
  docs/source/extend_kedro/architecture_overview.md
Due: docs_change

Add kedro catalog rank example
  docs/source/data/data_catalog.md
Due: docs_change

Add kedro catalog resolve example
  docs/source/data/data_catalog.md
Due: docs_change

Add error message + test
  kedro/config/omegaconf_config.py
  tests/config/test_omegaconf_config.py
Due: code_change

Enable overriding keys in config with runtime params
  kedro/config/omegaconf_config.py
Due: code_change

Cleanup
  kedro/config/omegaconf_config.py
Due: code_change

Apply suggestions from code review
  docs/source/data/data_catalog.md
Due: docs_change

Fix remaining instance of "*DataSet*"->"*Dataset*"
  docs/source/data/data_catalog.md
Due: docs_change

`find . -name '*.md' -print0 | xargs -0 sed -i "" "s/\([^A-Za-z]\)DataSet/\1Dataset/g"`
  docs/source/data/data_catalog.md
  docs/source/deployment/argo.md
  docs/source/deployment/aws_batch.md
  docs/source/extend_kedro/common_use_cases.md
  docs/source/hooks/examples.md
  docs/source/resources/glossary.md
  docs/source/tutorial/spaceflights_tutorial_faqs.md
Due: docs_change

Change non-class instances of Dataset to dataset
  docs/source/deployment/argo.md
  docs/source/deployment/aws_batch.md
  docs/source/extend_kedro/common_use_cases.md
  docs/source/resources/glossary.md
Due: docs_change

Remove update_nested_dict
  kedro/config/omegaconf_config.py
Due: code_change
