Repository kedro-org/kedro: changes, and which CircleCI parameters are due for each by the changed paths.
All: docs_change, code_change

.circleci/config.yml:

version: 2.1

parameters:
  release_kedro:
    type: boolean
    default: false
  # The parameters below are set in CircleCI UI.
  # https://app.circleci.com/settings/project/github/kedro-org/kedro/triggers?return-to=https%3A%2F%2Fapp.circleci.com%2Fpipelines%2Fgithub%2Fkedro-org%2Fkedro&triggerSource=&scheduledTriggerId=61f7226f-f092-4449-98d9-40420f8c46b2&success=true
  run_hourly:
    type: boolean
    default: false
  run_nightly:
    type: boolean
    default: false

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.1

workflows:
  regular:
    jobs:
      # the path-filtering/filter job determines which pipeline
      # parameters to update, i.e. which builds to run.
      - path-filtering/filter:
          name: check-updated-files
          base-revision: main
          config-path: .circleci/continue_config.yml
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            docs/.* docs_change true
            ^((?!docs/).)*$ code_change true

Kept runner object
  tests/framework/session/test_session_extension_hooks.py
Due: code_change

Coverage for `CatalogConfigResolver` (#4864)
  kedro/io/catalog_config_resolver.py
  tests/io/test_catalog_config_resolver.py
Due: code_change

Added a comment
  tests/framework/session/test_session_extension_hooks.py
Due: code_change

Add coverage for SharedMemoryDataset:
  tests/io/test_shared_memory_dataset.py
Due: code_change

Fix data catalog test coverage (#4863)
  .secrets.baseline
  tests/io/test_data_catalog.py
Due: code_change

Fix hooks test (#4865)
  tests/framework/session/test_session_extension_hooks.py
Due: code_change

Coverage for sharedmemorydataset (#4866)
  tests/io/test_shared_memory_dataset.py
Due: code_change

Clean remaining deprecations from the `develop` branch (#4857)
  RELEASE.md
  docs/api/framework/kedro.framework.cli.md
  docs/api/runner/kedro.runner.md
  docs/api/runner/kedro.runner.run_node.md
  docs/deploy/supported-platforms/dask.md
  docs/deploy/supported-platforms/prefect.md
  kedro/framework/cli/utils.py
  kedro/framework/hooks/specs.py
  kedro/runner/__init__.py
  kedro/runner/runner.py
  mkdocs.yml
  tests/framework/cli/test_cli.py
  tests/runner/test_run_generator_node.py
Due: docs_change, code_change

Removed odd import
  kedro/runner/runner.py
Due: code_change

Fixed tests after merge
  tests/runner/test_run_generator_node.py
Due: code_change

Remove deprecated LambdaDataset (#4853)
  docs/api/io/kedro.io.LambdaDataset.md
  docs/api/io/kedro.io.md
  kedro/io/__init__.py
  kedro/io/lambda_dataset.py
  mkdocs.yml
  tests/conftest.py
  tests/io/test_core.py
  tests/io/test_data_catalog.py
  tests/io/test_lambda_dataset.py
  tests/pipeline/test_node_run.py
  tests/pipeline/test_pipeline_from_missing.py
  tests/runner/conftest.py
  tests/runner/test_parallel_runner.py
  tests/runner/test_resume_logic.py
  tests/runner/test_sequential_runner.py
Due: docs_change, code_change

Fixed merge bug
  .secrets.baseline
  tests/runner/test_sequential_runner.py
Due: code_change

run node if it has no outputs
  kedro/runner/runner.py
  tests/runner/test_only_missing_outputs.py
Due: code_change

Updated release notes
  RELEASE.md
Due: code_change

Added how-to list
  docs/catalog-data/advanced_data_catalog_usage.md
Due: docs_change

Fixed indentation
  docs/catalog-data/advanced_data_catalog_usage.md
Due: docs_change

Updated release notes (#4867)
  RELEASE.md
Due: code_change

Added how-to overview (#4868)
  docs/catalog-data/advanced_data_catalog_usage.md
Due: docs_change

lint
  docs/catalog-data/introduction.md
  kedro/runner/runner.py
Due: docs_change, code_change

remove redundant test
  tests/pipeline/test_pipeline_from_missing.py
Due: code_change

Removed trufflehog related file
  trufflehog-ignore.txt
Due: code_change

Reverted sign-off command change
  Makefile
Due: code_change

Update test_only_missing_outputs.py
  tests/runner/test_only_missing_outputs.py
Due: code_change

Fixed indentation
  Makefile
Due: code_change

Removed trufflehog related file (#4875)
  trufflehog-ignore.txt
Due: code_change

Reverted sign-off command change (#4876)
  Makefile
Due: code_change

Update .secrets.baseline
  .secrets.baseline
Due: code_change

Updated version
  CITATION.cff
  kedro/__init__.py
Due: code_change

Fixed typo
  RELEASE.md
Due: code_change

Fixed release notes
  RELEASE.md
Due: code_change

Release Kedro 1.0.0rc1 (#4877)
  CITATION.cff
  RELEASE.md
  kedro/__init__.py
Due: code_change

Reverted removing telemetry dependency
  pyproject.toml
Due: code_change

Revert "Release Kedro 1.0.0rc1 (#4877)"
  CITATION.cff
  RELEASE.md
  kedro/__init__.py
Due: code_change

Disabled failing links
  docs/source/conf.py
Due: docs_change

Disabled failing links 2
  docs/source/conf.py
Due: docs_change
