Repository kedro-org/kedro: changes, and which CircleCI parameters are due for each by the changed paths.
All: docs_change, code_change

.circleci/config.yml:

version: 2.1

parameters:
  release_kedro:
    type: boolean
    default: false
  # The parameters below are set in CircleCI UI.
  # https://app.circleci.com/settings/project/github/kedro-org/kedro/triggers?return-to=https%3A%2F%2Fapp.circleci.com%2Fpipelines%2Fgithub%2Fkedro-org%2Fkedro&triggerSource=&scheduledTriggerId=61f7226f-f092-4449-98d9-40420f8c46b2&success=true
  run_hourly:
    type: boolean
    default: false
  run_nightly:
    type: boolean
    default: false

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.1

workflows:
  regular:
    jobs:
      # the path-filtering/filter job determines which pipeline
      # parameters to update, i.e. which builds to run.
      - path-filtering/filter:
          name: check-updated-files
          base-revision: main
          config-path: .circleci/continue_config.yml
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            docs/.* docs_change true
            ^((?!docs/).)*$ code_change true

Updated release notes
  RELEASE.md
Due: code_change

Fixed typo
  docs/source/data/partitioned_and_incremental_datasets.md
Due: docs_change

Document the magic behaviour of filepath attributes
  docs/source/data/how_to_create_a_custom_dataset.md
Due: docs_change

Added secret-scan
  .pre-commit-config.yaml
  .secrets.baseline
  Makefile
  pyproject.toml
Due: code_change

Removed trufflehog
  Makefile
  pyproject.toml
  trufflehog-ignore.txt
Due: code_change

Removed secret scan pre-commit hook
  .pre-commit-config.yaml
Due: code_change

Added action to detect secrets
  .github/workflows/all-checks.yml
  .github/workflows/detect-secrets.yml
Due: code_change

Renamed scan command for GH action
  .github/workflows/detect-secrets.yml
Due: code_change

Detect secrets test
  tests/test_utils.py
Due: code_change

Removed test check
  tests/test_utils.py
Due: code_change

pin vale
  .github/workflows/docs-language-linter.yml
Due: code_change

remove omegaconf as a dependencies of KedroContext
  kedro/framework/context/context.py
Due: code_change

initial test draft
  kedro/__init__.py
  tests/ipython/test_ipython.py
Due: code_change

initial test draft
  kedro/__init__.py
Due: code_change

fix lint
  kedro/__init__.py
  pyproject.toml
Due: code_change

Document the convention for filepath related attributes in custom dataset creation (#4403)
  .github/workflows/docs-language-linter.yml
  docs/source/data/how_to_create_a_custom_dataset.md
Due: docs_change, code_change

Remove outdated telemetry notification (#4397)
  docs/source/get_started/new_project.md
Due: docs_change

Fixed _parse_filepath
  kedro/io/core.py
Due: code_change

Replace trufflehog with detect-secrets (#4404)
  .github/workflows/all-checks.yml
  .github/workflows/detect-secrets.yml
  .pre-commit-config.yaml
  .secrets.baseline
  Makefile
  RELEASE.md
  pyproject.toml
  trufflehog-ignore.txt
Due: code_change

Updated unit tests
  tests/io/test_core.py
Due: code_change

update release note
  RELEASE.md
Due: code_change

Remove explicit transformation to lowercase prior validation
  kedro/framework/cli/starters.py
  kedro/templates/project/prompts.yml
  tests/framework/cli/test_starters.py
Due: code_change

Switch to linkcode extension
  docs/source/conf.py
Due: docs_change

Update ignore-names.txt
  .github/styles/Kedro/ignore-names.txt
Due: code_change

Update ignore.txt
  .github/styles/Kedro/ignore.txt
Due: code_change

Update docs/source/deployment/gcp_dataproc.md
  docs/source/deployment/gcp_dataproc.md
Due: docs_change

Update index.md
  docs/source/deployment/index.md
Due: docs_change

remove os
  docs/source/conf.py
Due: docs_change

Refactor
  docs/source/conf.py
Due: docs_change

use os
  docs/source/conf.py
Due: docs_change

Renamed job
  .github/workflows/detect-secrets.yml
Due: code_change

Switch to linkcode extension (#4410)
  docs/source/conf.py
Due: docs_change

Renamed job (#4411)
  .github/workflows/detect-secrets.yml
Due: code_change

Add auxiliary function for converting numbers to tools
  kedro/framework/cli/starters.py
Due: code_change

Keep jsonschemas for CachedDataset, MemoryDataset, and LambdaDataset
  static/img/kedro-catalog-0.19.json
Due: code_change
