Repository kedro-org/kedro: changes, and which CircleCI parameters are due for each by the changed paths.
All: docs_change, code_change

.circleci/config.yml:

version: 2.1

parameters:
  release_kedro:
    type: boolean
    default: false
  # The parameters below are set in CircleCI UI.
  # https://app.circleci.com/settings/project/github/kedro-org/kedro/triggers?return-to=https%3A%2F%2Fapp.circleci.com%2Fpipelines%2Fgithub%2Fkedro-org%2Fkedro&triggerSource=&scheduledTriggerId=61f7226f-f092-4449-98d9-40420f8c46b2&success=true
  run_hourly:
    type: boolean
    default: false
  run_nightly:
    type: boolean
    default: false

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.1

workflows:
  regular:
    jobs:
      # the path-filtering/filter job determines which pipeline
      # parameters to update, i.e. which builds to run.
      - path-filtering/filter:
          name: check-updated-files
          base-revision: main
          config-path: .circleci/continue_config.yml
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            docs/.* docs_change true
            ^((?!docs/).)*$ code_change true

Changes made on insights from coffee chat
  .agents/skills/kedro-docs-draft-writer/SKILL.md
  .agents/skills/kedro-docs-draft-writer/reference.md
Due: code_change

Update title and sentence casing in spaceflights_tutorial.md
  docs/tutorials/spaceflights_tutorial.md
  mkdocs.yml
Due: docs_change, code_change

Update title in tutorial_template.md
  docs/tutorials/tutorial_template.md
  mkdocs.yml
Due: docs_change, code_change

Update title set_up_data.md
  docs/tutorials/set_up_data.md
Due: docs_change

Update file name to create_a_data_processing_pipeline.md
  docs/tutorials/create_a_data_processing_pipeline.md
  mkdocs.yml
Due: docs_change, code_change

step functions update doc draft
  .github/styles/Kedro/headings.yml
  docs/deploy/supported-platforms/aws_step_functions.md
Due: docs_change, code_change

fix lint
  .github/styles/Kedro/headings.yml
  .github/styles/Kedro/ignore.txt
  docs/deploy/supported-platforms/aws_step_functions.md
Due: docs_change, code_change

update images in the docs
  docs/meta/images/aws_lambda_functions.png
  docs/meta/images/aws_step_functions_state_machine.png
  docs/meta/images/aws_step_functions_state_machine_listing.png
Due: docs_change

adjust style for step functions
  .github/styles/Kedro/headings.yml
  docs/deploy/supported-platforms/aws_step_functions.md
Due: docs_change, code_change

initial draft for aws batch doc update
  .github/styles/Kedro/headings.yml
  .github/styles/Kedro/ignore.txt
  docs/deploy/supported-platforms/aws_batch.md
Due: docs_change, code_change

revert file permissions to 644
  docs/deploy/supported-platforms/amazon_emr_serverless.md
Due: docs_change

docs: add contributor to release notes
  RELEASE.md
Due: code_change

Fix Rich logging markup handling (#5590)
  RELEASE.md
  kedro/io/data_catalog.py
  kedro/pipeline/node.py
  tests/framework/project/test_logging.py
Due: code_change

Update content in quick_start.md
  docs/getting-started/quick_start.md
Due: docs_change

Upload videos to quick_start.md
  docs/getting-started/quick_start.md
Due: docs_change

Improve abstract dataset config errors
  RELEASE.md
  kedro/io/core.py
  tests/io/test_core.py
Due: code_change

Update content of quick_start.md
  docs/getting-started/key_concepts.md
  docs/getting-started/quick_start.md
Due: docs_change

Delete docs/getting-started/image.png
  docs/getting-started/image.png
Due: docs_change

Add gifs to quick_start.md
  docs/getting-started/01-download-the-kedro-starter-project.gif
  docs/getting-started/02-navigate-to-the-project-folder.gif
  docs/getting-started/03-verification.gif
  docs/getting-started/04-run-the-default-pipeline.gif
  docs/getting-started/05-visualise-the-default-pipeline.gif
  docs/getting-started/quick_start.md
Due: docs_change

Fix some line breaks in quick_start.md
  docs/getting-started/quick_start.md
Due: docs_change

Add 4 key concepts and project template section
  docs/getting-started/quick_start.md
Due: docs_change

fix: remove stale modules reference from generated Sphinx docs template
  kedro/templates/project/{{ cookiecutter.repo_name }}/docs/source/index.rst
  tests/framework/cli/starters/test_new_from_cli_flags.py
Due: code_change

docs: add release note for stale modules fix
  RELEASE.md
Due: code_change

docs: resolve release note conflict
  RELEASE.md
Due: code_change

docs: finalize release note merge
  RELEASE.md
  features/test_starter/{{ cookiecutter.repo_name }}/ipython_script.py
  features/test_starter/{{ cookiecutter.repo_name }}/src/{{ cookiecutter.python_package }}/__init__.py
  features/test_starter/{{ cookiecutter.repo_name }}/src/{{ cookiecutter.python_package }}/__main__.py
  features/test_starter/{{ cookiecutter.repo_name }}/src/{{ cookiecutter.python_package }}/pipeline_registry.py
  features/test_starter/{{ cookiecutter.repo_name }}/src/{{ cookiecutter.python_package }}/pipelines/data_engineering/nodes.py
  features/test_starter/{{ cookiecutter.repo_name }}/src/{{ cookiecutter.python_package }}/pipelines/data_engineering/pipeline.py
  features/test_starter/{{ cookiecutter.repo_name }}/src/{{ cookiecutter.python_package }}/pipelines/data_science/nodes.py
  features/test_starter/{{ cookiecutter.repo_name }}/src/{{ cookiecutter.python_package }}/settings.py
  kedro/framework/project/__init__.py
  kedro/templates/project/hooks/utils.py
  kedro/templates/project/{{ cookiecutter.repo_name }}/src/{{ cookiecutter.python_package }}/__init__.py
  kedro/templates/project/{{ cookiecutter.repo_name }}/src/{{ cookiecutter.python_package }}/__main__.py
  kedro/templates/project/{{ cookiecutter.repo_name }}/src/{{ cookiecutter.python_package }}/pipeline_registry.py
  kedro/templates/project/{{ cookiecutter.repo_name }}/tests/test_run.py
  tests/framework/cli/starters/test_new_from_cli_flags.py
  tests/framework/project/test_project_pipelines_selective.py
  tests/ipython/test_ipython.py
Due: code_change

docs: add unit-testing example for DataCatalog using MemoryDataset
  docs/catalog-data/data_catalog.md
Due: docs_change

updated quickstart example
  docs/getting-started/install.md
Due: docs_change

updated the syntactical claims
  docs/deploy/nodes_grouping.md
Due: docs_change

updated tutorial command
  docs/tutorials/add_another_pipeline.md
Due: docs_change

cli commands updated
  docs/build/run_a_pipeline.md
Due: docs_change

updated tutorial command
  docs/build/pipeline_registry.md
Due: docs_change

updated FAQ example
  docs/tutorials/spaceflights_tutorial_faqs.md
Due: docs_change

Improve abstract dataset config errors (#5589)
  RELEASE.md
  kedro/io/core.py
  tests/io/test_core.py
Due: code_change

revert: fully remove accidental docs change from scope
  docs/inspect/inspect-project.md
Due: docs_change

revert: remove stray review helper script
  .agents/skills/review-kedro-pr/scripts/post_review.sh
Due: code_change

revert: restore review helper script
  .agents/skills/review-kedro-pr/scripts/post_review.sh
Due: code_change

revert: restore helper script mode
  .agents/skills/review-kedro-pr/scripts/post_review.sh
Due: code_change

Update key concepts secton
  docs/getting-started/key_concepts.md
  docs/getting-started/quick_start.md
Due: docs_change
