Repository kedro-org/kedro: changes, and which CircleCI parameters are due for each by the changed paths.
All: docs_change, code_change

.circleci/config.yml:

version: 2.1

parameters:
  release_kedro:
    type: boolean
    default: false
  # The parameters below are set in CircleCI UI.
  # https://app.circleci.com/settings/project/github/kedro-org/kedro/triggers?return-to=https%3A%2F%2Fapp.circleci.com%2Fpipelines%2Fgithub%2Fkedro-org%2Fkedro&triggerSource=&scheduledTriggerId=61f7226f-f092-4449-98d9-40420f8c46b2&success=true
  run_hourly:
    type: boolean
    default: false
  run_nightly:
    type: boolean
    default: false

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.1

workflows:
  regular:
    jobs:
      # the path-filtering/filter job determines which pipeline
      # parameters to update, i.e. which builds to run.
      - path-filtering/filter:
          name: check-updated-files
          base-revision: main
          config-path: .circleci/continue_config.yml
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            docs/.* docs_change true
            ^((?!docs/).)*$ code_change true

Add a new command `make language-lint` for doc lint. Trigger only manually for now
  Makefile
Due: code_change

fix makefile
  Makefile
Due: code_change

doc: fix typo return vs yield node generator
  docs/source/nodes_and_pipelines/nodes.md
Due: docs_change

Revert some typos
  .github/workflows/docs-language-linter.yml
  docs/source/data/data_catalog.md
Due: docs_change, code_change

fix lint
  Makefile
Due: code_change

Introduce error that Vale should spot
  docs/source/data/data_catalog.md
Due: docs_change

Add vale to merge-gatekeeper ignore list
  .github/workflows/merge-gatekeeper.yml
Due: code_change

rename cli hooks function to reflect that it supports generic entrypoints not just setuptools
  kedro/framework/cli/hooks/manager.py
Due: code_change

Refactor _register_hooks_setuptools
  kedro/framework/hooks/manager.py
  kedro/framework/session/session.py
  kedro/runner/parallel_runner.py
  tests/framework/session/test_session_extension_hooks.py
Due: code_change

Fix broken links
  docs/source/hooks/common_use_cases.md
  docs/source/hooks/examples.md
Due: docs_change

Fix links
  docs/source/extend_kedro/plugins.md
  docs/source/hooks/common_use_cases.md
  docs/source/hooks/examples.md
Due: docs_change

Remove setup.py mention, reference it to 0.18.13 documentation
  docs/source/extend_kedro/plugins.md
Due: docs_change

Lint
  kedro/framework/cli/starters.py
Due: code_change

Improve resume suggestions for SequentialRunner
  kedro/runner/runner.py
  tests/runner/conftest.py
  tests/runner/test_sequential_runner.py
Due: code_change

Changes to style and formatting
  docs/source/configuration/advanced_configuration.md
  docs/source/configuration/configuration_basics.md
Due: docs_change

Clarify the <micropkg_name> argument to kedro micropkg package (#2835)
  docs/source/nodes_and_pipelines/micro_packaging.md
Due: docs_change

Add test to check overriding template path on the CLI
  tests/framework/cli/pipeline/test_pipeline.py
Due: code_change

Add architecture graphic back to docs with revisions (#2916)
  CONTRIBUTING.md
  docs/source/extend_kedro/architecture_overview.md
  docs/source/extend_kedro/index.md
  docs/source/meta/images/KedroArchitecture.drawio
  docs/source/meta/images/kedro_architecture.png
Due: docs_change, code_change

Update lookup based on feedback
  kedro/framework/cli/pipeline.py
Due: code_change

Minor changes to test + release notes + docs
  RELEASE.md
  docs/source/nodes_and_pipelines/modular_pipelines.md
  tests/framework/cli/conftest.py
  tests/framework/cli/pipeline/conftest.py
Due: docs_change, code_change

Fix typos across the documentation (#2956)
  docs/source/data/index.md
  docs/source/data/partitioned_and_incremental_datasets.md
  docs/source/deployment/databricks/databricks_deployment_workflow.md
  docs/source/deployment/databricks/databricks_notebooks_development_workflow.md
  docs/source/development/commands_reference.md
  docs/source/experiment_tracking/index.md
  docs/source/extend_kedro/architecture_overview.md
Due: docs_change

Update kedro pipeline create to use new /conf file structure (#2856)
  RELEASE.md
  kedro/framework/cli/micropkg.py
  kedro/framework/cli/pipeline.py
  kedro/templates/pipeline/{{ cookiecutter.pipeline_name }}/config/parameters_{{ cookiecutter.pipeline_name }}.yml
  tests/framework/cli/micropkg/test_micropkg_package.py
  tests/framework/cli/micropkg/test_micropkg_pull.py
  tests/framework/cli/pipeline/test_pipeline.py
Due: code_change

Move contribution guidelines from CONTRIBUTING.md to the Wiki (#2894)
  CONTRIBUTING.md
Due: code_change

Create issues_metrics.yml (#2814)
  .github/workflows/issues_metrics.yml
Due: code_change

Fix README to show graphics on PyPI (#2961)
  README.md
Due: code_change

Try only trigger docs build when release notes updated (#2907)
  .github/workflows/all-checks.yml
  .github/workflows/docs-only-checks.yml
Due: code_change

Add deprecation warnings to top-level use of layer in catalog definition (#2964)
  RELEASE.md
  kedro/io/data_catalog.py
Due: code_change

Fix broken link to Prefect website in deploy guide (#2885)
  docs/source/deployment/prefect.md
Due: docs_change

Add Python 3.11 support to Kedro (#2851)
  .github/workflows/all-checks.yml
  .github/workflows/docs-only-checks.yml
  .github/workflows/e2e-tests.yml
  .github/workflows/pip-compile.yml
  .github/workflows/unit-tests.yml
  README.md
  RELEASE.md
  docs/source/conf.py
  docs/source/index.rst
  kedro/__init__.py
  kedro/extras/datasets/spark/deltatable_dataset.py
  kedro/extras/datasets/spark/spark_dataset.py
  kedro/extras/datasets/spark/spark_jdbc_dataset.py
  setup.py
  tests/extras/datasets/spark/test_deltatable_dataset.py
  tests/extras/datasets/spark/test_spark_dataset.py
  tests/extras/datasets/spark/test_spark_hive_dataset.py
  tests/extras/datasets/spark/test_spark_jdbc_dataset.py
  tests/framework/cli/test_cli.py
  tests/framework/cli/test_cli_hooks.py
  tests/io/test_data_catalog.py
  tests/test_import.py
  tests/tools/test_cli.py
Due: docs_change, code_change

Automatically trigger `kedro-starters` release on the release of `kedro` (#2889)
  .github/workflows/release-starters.yml
Due: code_change

Setup Vale linter as a GHA workflow (#2953)
  .github/styles/Kedro/Spellings.yml
  .github/styles/Kedro/ignore-names.txt
  .github/styles/Kedro/ignore.txt
  .github/workflows/docs-language-linter.yml
  .github/workflows/docs-only-checks.yml
  .vale.ini
Due: code_change

Move default template to static `pyproject.toml`, take 2 (#2853)
  RELEASE.md
  docs/source/conf.py
  docs/source/deployment/airflow_astronomer.md
  docs/source/development/linting.md
  docs/source/get_started/kedro_concepts.md
  docs/source/kedro_project_setup/starters.md
  features/steps/test_starter/{{ cookiecutter.repo_name }}/.flake8
  features/steps/test_starter/{{ cookiecutter.repo_name }}/README.md
  features/steps/test_starter/{{ cookiecutter.repo_name }}/setup.cfg
  features/steps/test_starter/{{ cookiecutter.repo_name }}/src/pyproject.toml
  features/steps/test_starter/{{ cookiecutter.repo_name }}/src/setup.py
  kedro/templates/project/{{ cookiecutter.repo_name }}/.flake8
  kedro/templates/project/{{ cookiecutter.repo_name }}/src/pyproject.toml
  kedro/templates/project/{{ cookiecutter.repo_name }}/src/setup.py
  tests/framework/cli/micropkg/test_micropkg_requirements.py
Due: docs_change, code_change

Add migration steps for `ConfigLoader` to `OmegaConfigLoader` (#2887)
  RELEASE.md
  docs/source/configuration/config_loader_migration.md
  docs/source/configuration/index.md
Due: docs_change, code_change

Fix #2498 Adding logging issue 2498 (#2842)
  kedro/framework/cli/micropkg.py
Due: code_change

Clean up setuptools and wheel requirements to align with PEP-518 (#2927)
  .circleci/continue_config.yml
  .github/workflows/e2e-tests.yml
  .github/workflows/pip-compile.yml
  .github/workflows/unit-tests.yml
  Makefile
  features/environment.py
  tools/circleci/requirements.txt
Due: code_change

Add globals feature for `OmegaConfigLoader` using a globals resolver (#2921)
  RELEASE.md
  docs/source/configuration/advanced_configuration.md
  docs/source/configuration/configuration_basics.md
  docs/source/faq/faq.md
  kedro/config/omegaconf_config.py
  tests/config/test_omegaconf_config.py
Due: docs_change, code_change

Revise FAQs and README (#2909)
  CONTRIBUTING.md
  README.md
  docs/source/faq/faq.md
  docs/source/get_started/install.md
  docs/source/index.rst
  docs/source/meta/images/data_layers.png
  docs/source/resources/index.md
  docs/source/tutorial/spaceflights_tutorial.md
  docs/source/visualisation/kedro-viz_visualisation.md
Due: docs_change, code_change

Update kedro catalog create to use new /conf structure (#2884)
  RELEASE.md
  docs/source/configuration/configuration_basics.md
  kedro/framework/cli/catalog.py
  tests/framework/cli/test_catalog.py
Due: docs_change, code_change
