Repository kedro-org/kedro: changes, and which CircleCI parameters are due for each by the changed paths.
All: docs_change, code_change

.circleci/config.yml:

version: 2.1

parameters:
  release_kedro:
    type: boolean
    default: false
  # The parameters below are set in CircleCI UI.
  # https://app.circleci.com/settings/project/github/kedro-org/kedro/triggers?return-to=https%3A%2F%2Fapp.circleci.com%2Fpipelines%2Fgithub%2Fkedro-org%2Fkedro&triggerSource=&scheduledTriggerId=61f7226f-f092-4449-98d9-40420f8c46b2&success=true
  run_hourly:
    type: boolean
    default: false
  run_nightly:
    type: boolean
    default: false

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.1

workflows:
  regular:
    jobs:
      # the path-filtering/filter job determines which pipeline
      # parameters to update, i.e. which builds to run.
      - path-filtering/filter:
          name: check-updated-files
          base-revision: main
          config-path: .circleci/continue_config.yml
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            docs/.* docs_change true
            ^((?!docs/).)*$ code_change true

Added a suggested note
  docs/source/data/data_catalog.md
Due: docs_change

Make overwriting of commands work
  kedro/framework/cli/cli.py
  kedro/framework/cli/utils.py
Due: code_change

Added key completions example
  kedro/io/data_catalog.py
Due: code_change

Fix detection of `load` or `save` being overridden
  kedro/io/core.py
Due: code_change

Try to remove `Self` annotation from function defs
  kedro/io/core.py
Due: code_change

Expose `load` and `save` publicly for each dataset
  kedro/io/cached_dataset.py
  kedro/io/core.py
  kedro/io/lambda_dataset.py
  kedro/io/memory_dataset.py
  kedro/io/shared_memory_dataset.py
Due: code_change

Auto-convert from `_load`/`_save` to `load`/`save`
  kedro/io/cached_dataset.py
  kedro/io/core.py
  kedro/io/lambda_dataset.py
  kedro/io/memory_dataset.py
  kedro/io/shared_memory_dataset.py
  tests/io/test_core.py
Due: code_change

Add missing type annotations for wrapper functions
  kedro/io/core.py
Due: code_change

Add coverage for legacy dataset functionality, too
  kedro/io/core.py
  tests/io/test_core.py
Due: code_change

Restore `Self` annotation for load, save functions
  kedro/io/core.py
Due: code_change

Split docstrings to maintain one-line descriptions
  kedro/io/core.py
Due: code_change

Update type hints for wrapper methods, adding Self
  kedro/io/core.py
  pyproject.toml
Due: code_change

Don't fail when trying to access unset annotations
  kedro/io/core.py
Due: code_change

Add tests for invalid data and version consistency
  tests/io/test_core.py
Due: code_change

Cover saving versioned over unversioned for legacy
  kedro/io/core.py
  tests/io/test_core.py
Due: code_change

Remove unneeded `load`/`save` in versioned dataset
  kedro/io/core.py
Due: code_change

Assign new-style public `load` and `save` in tests
  tests/io/test_core.py
Due: code_change

Guard against wrapping inherited `load` and `save`
  kedro/io/core.py
  tests/io/test_core.py
Due: code_change

Update the instructions for creating a new dataset
  RELEASE.md
  docs/source/data/how_to_create_a_custom_dataset.md
  kedro/io/core.py
Due: docs_change, code_change

Applied review comments
  docs/source/data/data_catalog.md
Due: docs_change

Split sentences and added datasets' names
  docs/source/data/data_catalog.md
Due: docs_change

Update kedro-partitioned plugin repository (#3962)
  .github/styles/Kedro/ignore-names.txt
  docs/source/extend_kedro/plugins.md
Due: docs_change, code_change

Revise namespaces
  docs/source/meta/images/namespaces_collapsed.png
  docs/source/meta/images/namespaces_collapsed_all.png
  docs/source/meta/images/namespaces_uncollapsed.png
  docs/source/nodes_and_pipelines/namespaces.md
Due: docs_change

Improved documentation for configuring dataset parameters in the data catalog (#3969)
  RELEASE.md
  docs/source/data/data_catalog.md
Due: docs_change, code_change

Some lint fixes
  kedro/framework/cli/cli.py
  kedro/framework/cli/lazy_group.py
Due: code_change

Some lint fixes
  kedro/framework/cli/lazy_group.py
Due: code_change

Revise namespaces examples
  docs/source/nodes_and_pipelines/namespaces.md
Due: docs_change

Apply suggestions from code review
  docs/source/nodes_and_pipelines/modular_pipelines.md
  docs/source/nodes_and_pipelines/namespaces.md
  docs/source/nodes_and_pipelines/pipeline_introduction.md
Due: docs_change

Address review comments
  docs/source/nodes_and_pipelines/namespaces.md
  docs/source/nodes_and_pipelines/pipeline_introduction.md
Due: docs_change

Fix some tests
  kedro/framework/cli/cli.py
  tests/framework/cli/test_cli.py
Due: code_change

Implemented autocompletion by original name
  kedro/io/data_catalog.py
Due: code_change

Some tests + lint
  kedro/framework/cli/lazy_group.py
  tests/framework/cli/test_cli.py
Due: code_change

Added test for key completions
  tests/io/test_data_catalog.py
Due: code_change

Updated RELEASE.md
  RELEASE.md
Due: code_change

Added return types
  kedro/io/data_catalog.py
Due: code_change

Added variable types
  kedro/io/data_catalog.py
Due: code_change

Added kedro-telemetry as a core dependency
  features/steps/test_starter/{{ cookiecutter.repo_name }}/requirements.txt
  kedro/templates/project/{{ cookiecutter.repo_name }}/requirements.txt
  pyproject.toml
Due: code_change
