Repository kedro-org/kedro: changes, and which CircleCI parameters are due for each by the changed paths.
All: docs_change, code_change

.circleci/config.yml:

version: 2.1

parameters:
  release_kedro:
    type: boolean
    default: false
  # The parameters below are set in CircleCI UI.
  # https://app.circleci.com/settings/project/github/kedro-org/kedro/triggers?return-to=https%3A%2F%2Fapp.circleci.com%2Fpipelines%2Fgithub%2Fkedro-org%2Fkedro&triggerSource=&scheduledTriggerId=61f7226f-f092-4449-98d9-40420f8c46b2&success=true
  run_hourly:
    type: boolean
    default: false
  run_nightly:
    type: boolean
    default: false

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.1

workflows:
  regular:
    jobs:
      # the path-filtering/filter job determines which pipeline
      # parameters to update, i.e. which builds to run.
      - path-filtering/filter:
          name: check-updated-files
          base-revision: main
          config-path: .circleci/continue_config.yml
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            docs/.* docs_change true
            ^((?!docs/).)*$ code_change true

Update omegaconf_config.py
  kedro/config/omegaconf_config.py
Due: code_change

Update RELEASE.md
  RELEASE.md
Due: code_change

add a more complicated test case
  tests/config/test_omegaconf_config.py
Due: code_change

Fix error handling for OmegaConfigLoader (#3784)
  RELEASE.md
  kedro/config/omegaconf_config.py
  tests/config/test_omegaconf_config.py
Due: code_change

update tag doc
  docs/source/nodes_and_pipelines/nodes.md
  kedro/pipeline/node.py
Due: docs_change, code_change

update tag and name doc
  docs/source/nodes_and_pipelines/nodes.md
  kedro/pipeline/node.py
Due: docs_change, code_change

update pluggy dependencies
  pyproject.toml
Due: code_change

Update Airflow Astro deployment docs
  docs/source/deployment/airflow_astronomer.md
  docs/source/meta/images/kedro_airflow_dag_run.png
Due: docs_change

Linter
  docs/source/deployment/airflow_astronomer.md
Due: docs_change

Update docs/source/deployment/airflow_astronomer.md
  docs/source/deployment/airflow_astronomer.md
Due: docs_change

Add Simon Brugman to TSC (#3780)
  docs/source/contribution/technical_steering_committee.md
Due: docs_change

Add sections description
  docs/source/deployment/airflow_astronomer.md
Due: docs_change

Suggested fix
  kedro/runner/runner.py
Due: code_change

Update technical_steering_committee.md
  docs/source/contribution/technical_steering_committee.md
Due: docs_change

Update technical_steering_committee.md (#3796)
  docs/source/contribution/technical_steering_committee.md
Due: docs_change

Apply suggestions from code review
  docs/source/deployment/airflow_astronomer.md
Due: docs_change

Remove jmespath dependency
  pyproject.toml
Due: code_change

Updated citation
  CITATION.cff
Due: code_change

Updated version references
  docs/source/development/commands_reference.md
  docs/source/robots.txt
  kedro/__init__.py
Due: docs_change, code_change

Add comments
  docs/source/deployment/airflow_astronomer.md
Due: docs_change

fix e2e tests
  features/steps/cli_steps.py
  features/steps/util.py
Due: code_change

Remove jmespath dependency (#3797)
  pyproject.toml
Due: code_change

Try pip install -U
  features/environment.py
Due: code_change

update makecommand with -U
  Makefile
Due: code_change

Different datasets versions for python versions
  features/environment.py
  pyproject.toml
Due: code_change

Set reqs in test_starter
  features/steps/test_starter/{{ cookiecutter.repo_name }}/requirements.txt
Due: code_change

Add Cloud section
  docs/source/deployment/airflow_astronomer.md
  docs/source/meta/images/astronomer_cloud_deployment.png
  docs/source/meta/images/astronomer_connected.png
  docs/source/meta/images/astronomer_new_deployment.png
Due: docs_change

Update header
  docs/source/deployment/airflow_astronomer.md
Due: docs_change

Rename file
  docs/source/deployment/airflow.md
Due: docs_change

Updated citation as suggested
  CITATION.cff
Due: code_change

Fix python version checking
  features/environment.py
Due: code_change

Fix lint
  features/environment.py
Due: code_change
