Repository kedro-org/kedro: changes, and which CircleCI parameters are due for each by the changed paths.
All: docs_change, code_change

.circleci/config.yml:

version: 2.1

parameters:
  release_kedro:
    type: boolean
    default: false
  # The parameters below are set in CircleCI UI.
  # https://app.circleci.com/settings/project/github/kedro-org/kedro/triggers?return-to=https%3A%2F%2Fapp.circleci.com%2Fpipelines%2Fgithub%2Fkedro-org%2Fkedro&triggerSource=&scheduledTriggerId=61f7226f-f092-4449-98d9-40420f8c46b2&success=true
  run_hourly:
    type: boolean
    default: false
  run_nightly:
    type: boolean
    default: false

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.1

workflows:
  regular:
    jobs:
      # the path-filtering/filter job determines which pipeline
      # parameters to update, i.e. which builds to run.
      - path-filtering/filter:
          name: check-updated-files
          base-revision: main
          config-path: .circleci/continue_config.yml
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            docs/.* docs_change true
            ^((?!docs/).)*$ code_change true

Fix OmegaConfigLoader when file is empty
  kedro/config/omegaconf_config.py
Due: code_change

First drop of improvements to deployment docs
  docs/source/deployment/argo.md
  docs/source/deployment/aws_batch.md
  docs/source/deployment/azure.md
  docs/source/deployment/index.md
  docs/source/deployment/vertexai.md
Due: docs_change

Fix end of files
  docs/source/deployment/azure.md
  docs/source/deployment/vertexai.md
Due: docs_change

Add suggestions from review
  kedro/framework/cli/micropkg.py
  kedro/framework/cli/utils.py
Due: code_change

Apply comments and refactor the test
  RELEASE.md
  kedro/config/omegaconf_config.py
  tests/config/test_omegaconf_config.py
Due: code_change

Revert suggestion to fix linting
  kedro/framework/cli/micropkg.py
Due: code_change

Small cleanups
  kedro/framework/cli/catalog.py
  kedro/framework/project/__init__.py
  kedro/io/data_catalog.py
  kedro/runner/runner.py
Due: code_change

Add comments to explain code
  kedro/framework/cli/catalog.py
  kedro/io/data_catalog.py
  kedro/runner/runner.py
Due: code_change

Fix error if no patterns in the catalog
  kedro/io/data_catalog.py
Due: code_change

Next chunk of changes
  docs/source/deployment/airflow_astronomer.md
  docs/source/deployment/amazon_sagemaker.md
  docs/source/deployment/argo.md
  docs/source/deployment/aws_batch.md
  docs/source/deployment/aws_sagemaker.md
  docs/source/deployment/aws_step_functions.md
  docs/source/deployment/azure.md
  docs/source/deployment/dask.md
  docs/source/deployment/index.md
  docs/source/deployment/kubeflow.md
  docs/source/deployment/prefect.md
  docs/source/deployment/vertexai.md
  docs/source/meta/images/aws_create_iam_role.png
  docs/source/meta/images/kubeflow_pipelines_dag.png
  docs/source/meta/images/kubeflow_pipelines_experiment_run.png
  docs/source/meta/images/kubeflow_pipelines_upload_pipeline.png
Due: docs_change

Update RELEASE.md
  RELEASE.md
Due: code_change

Add community contributions (#2555)
  RELEASE.md
Due: code_change

Add catalog resolve fn
  kedro/framework/cli/catalog.py
Due: code_change

Add parse to requirements
  dependency/requirements.txt
Due: code_change

another chunk of changes to deployment docs
  docs/source/deployment/airflow_astronomer.md
  docs/source/deployment/amazon_sagemaker.md
  docs/source/deployment/argo.md
  docs/source/deployment/aws_batch.md
  docs/source/deployment/aws_step_functions.md
  docs/source/deployment/azure.md
  docs/source/deployment/distributed.md
  docs/source/deployment/index.md
  docs/source/deployment/kubeflow.md
  docs/source/deployment/prefect.md
  docs/source/deployment/single_machine.md
  docs/source/deployment/vertexai.md
Due: docs_change

add pointer page for databricks
  docs/source/deployment/databricks.md
  docs/source/deployment/index.md
Due: docs_change

fix linter error
  docs/source/deployment/databricks.md
Due: docs_change

remove unnecessary section head
  docs/source/deployment/index.md
Due: docs_change

Delete reference to removed kedro.extras subpackages
  docs/source/kedro.extras.rst
Due: docs_change

Remove extra layer of header/clicking in toc
  docs/source/hooks/index.md
  docs/source/tutorial/spaceflights_tutorial.md
Due: docs_change

remove draft folder
  docs/draft/installed-kedro-project.puml
  docs/draft/kedro-ipython.puml
  docs/draft/kedro-no-project.puml
  docs/draft/kedro-plugin.puml
  docs/draft/kedro-run.puml
  docs/draft/kedro-with-project.puml
  docs/draft/python-m-project.puml
Due: docs_change

[AUTO-MERGE] Merge main into develop via merge-main-to-develop (#2548)
  .gitignore
  .readthedocs.yml
  RELEASE.md
  docs/build-docs.sh
  docs/kedro-datasets-docs.sh
  docs/source/conf.py
  docs/source/data/data_catalog.md
  docs/source/data/kedro_io.md
  docs/source/extend_kedro/common_use_cases.md
  docs/source/extend_kedro/custom_datasets.md
  docs/source/get_started/kedro_concepts.md
  docs/source/index.rst
  docs/source/integrations/pyspark_integration.md
  docs/source/kedro.datasets.rst
  docs/source/kedro.extras.rst
  docs/source/kedro_datasets.rst
  docs/source/tutorial/add_another_pipeline.md
  docs/source/tutorial/create_a_pipeline.md
  docs/source/tutorial/set_up_data.md
  docs/source/visualisation/visualise_charts_with_plotly.md
  kedro/extras/datasets/README.md
  kedro/extras/datasets/__init__.py
  kedro/io/core.py
  pyproject.toml
Due: docs_change, code_change

Revert "[AUTO-MERGE] Merge main into develop via merge-main-to-develop (#2548)"
  .gitignore
  .readthedocs.yml
  RELEASE.md
  docs/build-docs.sh
  docs/kedro-datasets-docs.sh
  docs/source/conf.py
  docs/source/data/data_catalog.md
  docs/source/data/kedro_io.md
  docs/source/extend_kedro/common_use_cases.md
  docs/source/extend_kedro/custom_datasets.md
  docs/source/get_started/kedro_concepts.md
  docs/source/index.rst
  docs/source/integrations/pyspark_integration.md
  docs/source/kedro.datasets.rst
  docs/source/kedro.extras.rst
  docs/source/kedro_datasets.rst
  docs/source/tutorial/add_another_pipeline.md
  docs/source/tutorial/create_a_pipeline.md
  docs/source/tutorial/set_up_data.md
  docs/source/visualisation/visualise_charts_with_plotly.md
  kedro/extras/datasets/README.md
  kedro/extras/datasets/__init__.py
  kedro/io/core.py
  pyproject.toml
Due: docs_change, code_change

Revert "[AUTO-MERGE] Merge main into develop via merge-main-to-develop (#2548)" (#2562)
  .gitignore
  .readthedocs.yml
  RELEASE.md
  docs/build-docs.sh
  docs/kedro-datasets-docs.sh
  docs/source/conf.py
  docs/source/data/data_catalog.md
  docs/source/data/kedro_io.md
  docs/source/extend_kedro/common_use_cases.md
  docs/source/extend_kedro/custom_datasets.md
  docs/source/get_started/kedro_concepts.md
  docs/source/index.rst
  docs/source/integrations/pyspark_integration.md
  docs/source/kedro.datasets.rst
  docs/source/kedro.extras.rst
  docs/source/kedro_datasets.rst
  docs/source/tutorial/add_another_pipeline.md
  docs/source/tutorial/create_a_pipeline.md
  docs/source/tutorial/set_up_data.md
  docs/source/visualisation/visualise_charts_with_plotly.md
  kedro/extras/datasets/README.md
  kedro/extras/datasets/__init__.py
  kedro/io/core.py
  pyproject.toml
Due: docs_change, code_change

Fix small bugs
  kedro/framework/cli/catalog.py
  kedro/io/data_catalog.py
Due: code_change

Remove some random text in the runners docs
  docs/source/nodes_and_pipelines/run_a_pipeline.md
Due: docs_change

Remove unnecessary files and subheaders in documentation (#2563)
  docs/draft/installed-kedro-project.puml
  docs/draft/kedro-ipython.puml
  docs/draft/kedro-no-project.puml
  docs/draft/kedro-plugin.puml
  docs/draft/kedro-run.puml
  docs/draft/kedro-with-project.puml
  docs/draft/python-m-project.puml
  docs/source/hooks/index.md
  docs/source/nodes_and_pipelines/run_a_pipeline.md
  docs/source/tutorial/spaceflights_tutorial.md
Due: docs_change

Add specificity fn
  kedro/framework/cli/catalog.py
Due: code_change

Remove unnecessary condition when len(config) == 1
  kedro/config/omegaconf_config.py
Due: code_change

Update release note
  RELEASE.md
Due: code_change

add softfail runner
  kedro/runner/softfail_runner.py
Due: code_change

remove print statement
  kedro/framework/cli/catalog.py
Due: code_change

Update kedro/io/partitioned_dataset.py
  kedro/io/partitioned_dataset.py
Due: code_change

Update docs/source/deployment/amazon_sagemaker.md
  docs/source/deployment/amazon_sagemaker.md
Due: docs_change

Update docs/source/deployment/azure.md
  docs/source/deployment/azure.md
Due: docs_change

Change subsection levels
  docs/source/deployment/airflow_astronomer.md
Due: docs_change

Revise name of GetInData
  docs/source/deployment/airflow_astronomer.md
  docs/source/deployment/amazon_sagemaker.md
  docs/source/deployment/azure.md
  docs/source/deployment/kubeflow.md
  docs/source/deployment/vertexai.md
Due: docs_change

Add message about version support
  docs/source/deployment/airflow_astronomer.md
Due: docs_change

Make "important" admonitions use better color
  docs/source/_static/css/theme-overrides.css
Due: docs_change
