Repository kedro-org/kedro: changes, and which CircleCI parameters are due for each by the changed paths.
All: docs_change, code_change

.circleci/config.yml:

version: 2.1

parameters:
  release_kedro:
    type: boolean
    default: false
  # The parameters below are set in CircleCI UI.
  # https://app.circleci.com/settings/project/github/kedro-org/kedro/triggers?return-to=https%3A%2F%2Fapp.circleci.com%2Fpipelines%2Fgithub%2Fkedro-org%2Fkedro&triggerSource=&scheduledTriggerId=61f7226f-f092-4449-98d9-40420f8c46b2&success=true
  run_hourly:
    type: boolean
    default: false
  run_nightly:
    type: boolean
    default: false

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.1

workflows:
  regular:
    jobs:
      # the path-filtering/filter job determines which pipeline
      # parameters to update, i.e. which builds to run.
      - path-filtering/filter:
          name: check-updated-files
          base-revision: main
          config-path: .circleci/continue_config.yml
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            docs/.* docs_change true
            ^((?!docs/).)*$ code_change true

Fix cli starters tests (#4052)
  tests/framework/cli/test_starters.py
Due: code_change

Added a note about telemetry
  RELEASE.md
Due: code_change

Add tests for find run command
  kedro/framework/cli/utils.py
  tests/framework/cli/test_cli.py
Due: code_change

Revert inconsistent changes from `_meth` to `meth` (#4051)
  kedro/io/lambda_dataset.py
Due: code_change

Release 0.19.7 (#4050)
  CITATION.cff
  RELEASE.md
  docs/source/development/commands_reference.md
  docs/source/robots.txt
  kedro/__init__.py
Due: docs_change, code_change

Remove custom robots.txt
  docs/source/robots.txt
Due: docs_change

Remove link to robots.txt from conf.py
  docs/source/conf.py
Due: docs_change

Add more tests
  tests/framework/cli/test_cli.py
Due: code_change

Update docs/source/conf.py
  docs/source/conf.py
Due: docs_change

Implemented _init_datasets method
  kedro/io/data_catalog_redesign.py
Due: code_change

Implemented get dataset
  kedro/io/data_catalog_redesign.py
Due: code_change

Started resolve_patterns implementation
  kedro/io/data_catalog_redesign.py
Due: code_change

Fix hook manager test now telemetry is default
  tests/framework/cli/hooks/test_manager.py
Due: code_change

Fix version checking in e2e tests
  features/steps/cli_steps.py
Due: code_change

Swap test to use after_command_run instead of before_command_run
  tests/framework/cli/hooks/test_manager.py
Due: code_change

Update docs/source/nodes_and_pipelines/nodes.md
  docs/source/nodes_and_pipelines/nodes.md
Due: docs_change

Revert test to use before_command_run again to prevent sending heap events
  tests/framework/cli/hooks/test_manager.py
Due: code_change

add docs (#4019)
  docs/source/nodes_and_pipelines/nodes.md
Due: docs_change

Fix broken tests after making telemetry a dependency (#4061)
  features/steps/cli_steps.py
  tests/framework/cli/hooks/test_manager.py
Due: code_change

Update release notes
  RELEASE.md
Due: code_change

minor doc change
  docs/source/notebooks_and_ipython/kedro_and_notebooks.md
Due: docs_change

Apply suggestions from code review
  kedro/framework/cli/utils.py
Due: code_change

Fix lint
  kedro/framework/cli/utils.py
Due: code_change

Implemented resolve_patterns
  kedro/io/data_catalog_redesign.py
Due: code_change

Fixed credentials resolving
  kedro/io/data_catalog_redesign.py
Due: code_change

Move `_find_run_command` from template to framework (#4012)
  RELEASE.md
  features/steps/test_starter/{{ cookiecutter.repo_name }}/src/{{ cookiecutter.python_package }}/__main__.py
  kedro/framework/cli/utils.py
  kedro/templates/project/{{ cookiecutter.repo_name }}/src/{{ cookiecutter.python_package }}/__main__.py
  tests/framework/cli/test_cli.py
Due: code_change

Clean up after find run command refactoring
  kedro/framework/cli/project.py
Due: code_change

Fix lint
  docs/source/faq/faq.md
Due: docs_change

Apply suggestions from code review
  docs/source/course/index.md
Due: docs_change

Refarctored catalog resolve
  kedro/framework/cli/catalog.py
  kedro/io/data_catalog_redesign.py
Due: code_change

add new test case - failed as expected
  tests/ipython/dummy_multiline_fixtures.py
  tests/ipython/test_ipython.py
Due: code_change

add notes
  RELEASE.md
Due: code_change

Removed debug output
  kedro/framework/cli/catalog.py
Due: code_change

Updated match pattern
  kedro/io/data_catalog_redesign.py
Due: code_change

Add a fix for multi-lines imports
  tests/ipython/conftest.py
  tests/ipython/test_ipython.py
Due: code_change

fix
  kedro/ipython/__init__.py
  tests/ipython/dummy_multiline_fixtures.py
Due: code_change

Update instructions after databricks-iris starter was updated for new kedro-databricks plugin
  docs/source/deployment/databricks/databricks_deployment_workflow.md
Due: docs_change

Remove step to set custom logging, this now happens automatically
  docs/source/deployment/databricks/databricks_deployment_workflow.md
  docs/source/meta/images/databricks_configure_job_cluster.png
Due: docs_change
