Repository kedro-org/kedro: changes, and which CircleCI parameters are due for each by the changed paths.
All: docs_change, code_change

.circleci/config.yml:

version: 2.1

parameters:
  release_kedro:
    type: boolean
    default: false
  # The parameters below are set in CircleCI UI.
  # https://app.circleci.com/settings/project/github/kedro-org/kedro/triggers?return-to=https%3A%2F%2Fapp.circleci.com%2Fpipelines%2Fgithub%2Fkedro-org%2Fkedro&triggerSource=&scheduledTriggerId=61f7226f-f092-4449-98d9-40420f8c46b2&success=true
  run_hourly:
    type: boolean
    default: false
  run_nightly:
    type: boolean
    default: false

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.1

workflows:
  regular:
    jobs:
      # the path-filtering/filter job determines which pipeline
      # parameters to update, i.e. which builds to run.
      - path-filtering/filter:
          name: check-updated-files
          base-revision: main
          config-path: .circleci/continue_config.yml
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            docs/.* docs_change true
            ^((?!docs/).)*$ code_change true

Update CITATION.cff
  CITATION.cff
Due: code_change

Release `0.19.2` (#3517)
  CITATION.cff
  RELEASE.md
  docs/source/development/commands_reference.md
  docs/source/robots.txt
  kedro/__init__.py
Due: docs_change, code_change

Lint
  .github/ISSUE_TEMPLATE/doc-improvement.md
Due: code_change

Revise templates for GitHub issues (#3538)
  .github/ISSUE_TEMPLATE/doc-improvement.md
  .github/ISSUE_TEMPLATE/software_design_proposal.md
Due: code_change

First drop of video embeds
  docs/source/conf.py
  docs/source/introduction/index.md
  docs/source/tutorial/add_another_pipeline.md
  docs/source/tutorial/create_a_pipeline.md
  docs/source/tutorial/set_up_data.md
  docs/source/tutorial/spaceflights_tutorial.md
  pyproject.toml
Due: docs_change, code_change

add more dcostring
  kedro/ipython/__init__.py
Due: code_change

add logs
  kedro/ipython/__init__.py
Due: code_change

refactor the test and fix imports
  tests/ipython/test_ipython.py
Due: code_change

more tests fixed
  kedro/ipython/__init__.py
  tests/ipython/test_ipython.py
Due: code_change

refacto tests with list of string with """
  tests/ipython/test_ipython.py
Due: code_change

Fix node
  kedro/ipython/__init__.py
  tests/ipython/test_ipython.py
Due: code_change

Improve error message for invalid example pipeline value
  kedro/framework/cli/starters.py
  kedro/templates/project/prompts.yml
  tests/framework/cli/test_starters.py
Due: code_change

replace test with triple quotes string
  tests/ipython/test_ipython.py
Due: code_change

rename function to the _prepare pattern
  kedro/ipython/__init__.py
  tests/ipython/test_ipython.py
Due: code_change

First draft migration guide
  docs/source/resources/migration.md
Due: docs_change

fix more test
  tests/ipython/test_ipython.py
Due: code_change

skip tests
  tests/ipython/test_ipython.py
Due: code_change

Add info about _EPHEMERAL to docs and release notes
  RELEASE.md
  docs/source/data/how_to_create_a_custom_dataset.md
Due: docs_change, code_change

fix link
  docs/source/resources/migration.md
Due: docs_change

Update index.md
  docs/source/introduction/index.md
Due: docs_change

Use flag to resize responsively for screen size
  docs/source/course/index.md
  docs/source/introduction/index.md
  docs/source/tutorial/add_another_pipeline.md
  docs/source/tutorial/create_a_pipeline.md
  docs/source/tutorial/set_up_data.md
  docs/source/tutorial/spaceflights_tutorial.md
Due: docs_change

first cut
  .readthedocs.yml
Due: code_change

Just drop API docs as a starting point
  .readthedocs.yml
Due: code_change

First extension for last update date info
  .readthedocs.yml
  docs/source/conf.py
  pyproject.toml
Due: docs_change, code_change

Add favicon too
  docs/source/conf.py
  pyproject.toml
Due: docs_change, code_change

Update docs/source/course/index.md
  docs/source/course/index.md
Due: docs_change

Update docs/source/introduction/index.md
  docs/source/introduction/index.md
Due: docs_change

Update docs/source/tutorial/add_another_pipeline.md
  docs/source/tutorial/add_another_pipeline.md
Due: docs_change

Update docs/source/tutorial/create_a_pipeline.md
  docs/source/tutorial/create_a_pipeline.md
Due: docs_change

Update docs/source/tutorial/set_up_data.md
  docs/source/tutorial/set_up_data.md
Due: docs_change

Update docs/source/tutorial/spaceflights_tutorial.md
  docs/source/tutorial/spaceflights_tutorial.md
Due: docs_change

Address review comment
  tests/framework/cli/test_starters.py
Due: code_change

[Ready] Tweak docs search ranking to bump API docs down the listings (#3546)
  .readthedocs.yml
Due: code_change

Rough division of test based on usecase flow
  tests/framework/cli/test_starters.py
  tests/framework/cli/test_starters_cli_flags_flow.py
  tests/framework/cli/test_starters_cli_prompt_flow.py
  tests/framework/cli/test_starters_config_file_flow.py
Due: code_change

Move starters file into a directory
  tests/framework/cli/starters/__init__.py
  tests/framework/cli/starters/conftest.py
  tests/framework/cli/starters/test_starters.py
  tests/framework/cli/starters/test_starters_cli_flags_flow.py
  tests/framework/cli/starters/test_starters_cli_prompt_flow.py
  tests/framework/cli/starters/test_starters_config_file_flow.py
Due: code_change

Parameterise test for converting short name to tool number
  tests/framework/cli/starters/test_starters.py
Due: code_change

Try debugging with SSH
  .github/workflows/unit-tests.yml
Due: code_change
