Repository kedro-org/kedro: changes, and which CircleCI parameters are due for each by the changed paths.
All: docs_change, code_change

fix micropkg test
  tests/framework/cli/micropkg/test_micropkg_requirements.py
Due: code_change

Allow zip/tar conf-source
  kedro/framework/cli/project.py
  kedro/framework/cli/utils.py
Due: code_change

Update _conf_source_callback fn
  kedro/framework/cli/project.py
  kedro/framework/cli/utils.py
  tests/framework/cli/test_cli.py
Due: code_change

pin setuptools as breaking CI
  kedro/extras/datasets/redis/redis_dataset.py
  tools/circleci/requirements.txt
Due: code_change

Update requirements.txt
  tools/circleci/requirements.txt
Due: code_change

pin setuptools
  Makefile
  dependency/requirements.txt
  features/environment.py
  pyproject.toml
  tools/circleci/requirements.txt
Due: code_change

Update Makefile
  Makefile
Due: code_change

Safe extract instead of extractall()
  kedro/framework/cli/micropkg.py
  kedro/framework/cli/utils.py
  tests/framework/cli/micropkg/test_micropkg_pull.py
Due: code_change

Update RELEASE.md
  RELEASE.md
Due: code_change

fix links
  kedro/extras/datasets/pickle/pickle_dataset.py
  kedro/extras/datasets/redis/redis_dataset.py
Due: code_change

Add AMAI GmbH to companies list (#2265)
  README.md
Due: code_change

Move safe_extract
  RELEASE.md
  docs/source/development/commands_reference.md
  docs/source/kedro_project_setup/configuration.md
  kedro/framework/cli/micropkg.py
  kedro/framework/cli/project.py
  kedro/framework/cli/utils.py
  kedro/framework/session/session.py
  kedro/utils.py
  tests/framework/cli/micropkg/test_micropkg_pull.py
  tests/framework/cli/test_cli.py
Due: docs_change, code_change

lint
  kedro/framework/cli/micropkg.py
  kedro/framework/cli/pipeline.py
  kedro/framework/cli/project.py
  kedro/io/partitioned_dataset.py
  kedro/runner/parallel_runner.py
  tests/config/test_omegaconf_config.py
  tests/io/test_data_catalog.py
  tests/runner/conftest.py
Due: code_change

add upper bound to jupyterlab
  kedro/templates/project/{{ cookiecutter.repo_name }}/src/requirements.txt
  test_requirements.txt
Due: code_change

Update requirements.txt
  features/steps/test_starter/{{ cookiecutter.repo_name }}/src/requirements.txt
Due: code_change

fix broken link
  docs/source/deployment/databricks.md
Due: docs_change

Bump pytest to 7.2
  features/steps/test_starter/{{ cookiecutter.repo_name }}/src/requirements.txt
  kedro/templates/project/{{ cookiecutter.repo_name }}/src/requirements.txt
  test_requirements.txt
Due: code_change

Fix broken link
  docs/source/deployment/databricks.md
Due: docs_change

Bump `pytest` to 7.2 (#2278)
  docs/source/deployment/databricks.md
  features/steps/test_starter/{{ cookiecutter.repo_name }}/src/requirements.txt
  kedro/templates/project/{{ cookiecutter.repo_name }}/src/requirements.txt
  test_requirements.txt
Due: docs_change, code_change

Fix link + update release notes
  RELEASE.md
Due: code_change

Fix assert statement
  tests/framework/cli/micropkg/test_micropkg_requirements.py
Due: code_change

Unpin setuptools and fix test
  Makefile
  dependency/requirements.txt
  features/environment.py
  pyproject.toml
  tests/framework/cli/micropkg/test_micropkg_requirements.py
  tools/circleci/requirements.txt
Due: code_change

Unpin setuptools and fix test (#2279)
  Makefile
  RELEASE.md
  dependency/requirements.txt
  features/environment.py
  pyproject.toml
  tests/framework/cli/micropkg/test_micropkg_requirements.py
  tools/circleci/requirements.txt
Due: code_change

changes based on review
  kedro/framework/startup.py
  tests/framework/cli/micropkg/test_micropkg_requirements.py
Due: code_change

Rename `project_version` in `pyproject.toml` (#2219)
  RELEASE.md
  kedro/framework/startup.py
  kedro/templates/project/{{ cookiecutter.repo_name }}/pyproject.toml
  tests/framework/cli/conftest.py
  tests/framework/cli/micropkg/test_micropkg_requirements.py
  tests/framework/context/test_context.py
  tests/framework/session/conftest.py
  tests/framework/session/test_session.py
  tests/framework/test_startup.py
  tests/ipython/test_ipython.py
  tests/tools/test_cli.py
Due: code_change

Update experiment_tracking.md
  docs/source/visualisation/experiment_tracking.md
Due: docs_change

Removing the redundant click's multiple argument
  kedro/framework/cli/project.py
Due: code_change

Fix linting
  kedro/framework/cli/project.py
Due: code_change

Add node as an argument to all datasets' hook
  kedro/framework/hooks/specs.py
  kedro/runner/runner.py
Due: code_change

Fix missed node argument and conftest
  kedro/runner/runner.py
  tests/framework/session/conftest.py
Due: code_change

Rename OmegaConfLoader to OmegaConfigLoader
  RELEASE.md
  docs/source/api_docs/kedro.config.rst
  docs/source/kedro_project_setup/configuration.md
  kedro/config/__init__.py
  kedro/config/omegaconf_config.py
  tests/config/test_omegaconf_config.py
  tests/framework/session/test_session.py
Due: docs_change, code_change

Update experiment tracking page
  docs/source/visualisation/experiment_tracking.md
Due: docs_change

Update docs to remove some "will" language :)
  docs/source/meta/images/pipeline_show_metrics.gif
  docs/source/visualisation/experiment_tracking.md
Due: docs_change

Rename GIF files and resize
  docs/source/meta/images/experiment-tracking-metrics-comparison.gif
  docs/source/meta/images/pipeline_show_metrics.gif
Due: docs_change

Final tweak
  docs/source/visualisation/experiment_tracking.md
Due: docs_change

Path conditions:
  docs_change: any of: docs/.*
  code_change: any of: ^((?!docs/).)*$
