Repository kedro-org/kedro: changes, and which CircleCI parameters are due for each by the changed paths.
All: docs_change, code_change

Update doc references
  docs/source/api/kedro.pipeline.rst
  docs/source/data/kedro_dataset_factories.md
  docs/source/nodes_and_pipelines/pipeline_introduction.md
  docs/source/tutorial/add_another_pipeline.md
Due: docs_change

docs
  docs/source/nodes_and_pipelines/pipeline_introduction.md
Due: docs_change

docs
  docs/source/conf.py
  docs/source/nodes_and_pipelines/pipeline_introduction.md
Due: docs_change

Use set to ensure dependencies are not duplicated
  kedro/pipeline/pipeline.py
  tests/pipeline/test_pipeline.py
Due: code_change

Add namespace to confirms when creating pipeline
  kedro/pipeline/modular_pipeline.py
Due: code_change

deployment section
  kedro-docs/docs/deployment/argo.md
  kedro-docs/docs/deployment/aws_batch.md
  kedro-docs/docs/deployment/distributed.md
  kedro-docs/docs/deployment/index.md
  kedro-docs/docs/deployment/nodes_grouping.md
  kedro-docs/docs/deployment/prefect.md
  kedro-docs/mkdocs.yml
Due: none

update to user warning instead
  kedro/io/core.py
  tests/io/test_core.py
Due: code_change

Add test
  tests/pipeline/test_modular_pipeline.py
Due: code_change

Refactor: Update OmegaConfigLoader to accept Path and remove str() in tests
  kedro/config/abstract_config.py
  tests/config/test_omegaconf_config.py
Due: code_change

update test to match the current behaviour
  tests/io/test_core.py
Due: code_change

fix lint error
  tests/io/test_core.py
Due: code_change

add release notes
  RELEASE.md
Due: code_change

feat/error-message-for-DataSet (#4630)
  kedro/io/core.py
  tests/io/test_core.py
Due: code_change

remove datacatalog bm as per review comments
  kedro_benchmarks/benchmark_datacatalog.py
Due: code_change

address PR comments
  kedro/io/kedro_data_catalog.py
Due: code_change

run pipeline success t1
  kedro/framework/context/context.py
  kedro/framework/hooks/specs.py
  kedro/runner/runner.py
Due: code_change

"fix(config): support Path objects for conf_source in ConfigLoaders"
  .secrets.baseline
  kedro/config/abstract_config.py
  kedro/config/omegaconf_config.py
  tests/config/test_omegaconf_config.py
Due: code_change

Add release notes
  RELEASE.md
Due: code_change

fix lint
  RELEASE.md
Due: code_change

fix lint
  tests/io/test_core.py
Due: code_change

Apply namespace to `confirms` in modular pipelines to support namespaced IncrementalDatasets (#4634)
  RELEASE.md
  kedro/pipeline/modular_pipeline.py
  tests/pipeline/test_modular_pipeline.py
Due: code_change

update nav and tried the html tempalte
  kedro-docs/assets/kedro-horizontal-color-on-light.svg
  kedro-docs/docs/index.md
  kedro-docs/mkdocs.yml
  kedro-docs/overrides/main.html
  kedro-docs/stylesheets/extra.css
Due: none

fix typo
  kedro/framework/session/session.py
Due: code_change

Setup custom colour
  kedro-docs/docs/stylesheets/colors.css
  kedro-docs/docs/stylesheets/extra.css
  kedro-docs/mkdocs.yml
  kedro-docs/stylesheets/extra.css
Due: none

tidy up code
  kedro-docs/docs/assets/kedro-horizontal-color-on-light.svg
  kedro-docs/docs/assets/kedro_logo.svg
  kedro-docs/docs/index.rst
  kedro-docs/docs/stylesheets/extra.css
  kedro-docs/mkdocs.yml
  kedro-docs/overrides/main.html
Due: none

Revert docstring changes
  kedro/pipeline/pipeline.py
Due: code_change

Ensure dependencies come in a consistent order in grouped_nodes_by_namespace (#4629)
  kedro/pipeline/pipeline.py
  tests/pipeline/test_pipeline.py
Due: code_change

address review comments
  kedro/framework/context/context.py
  kedro/framework/hooks/specs.py
  kedro/io/kedro_data_catalog.py
  kedro_benchmarks/benchmark_kedrodatacatalog.py
Due: code_change

update docstring and catalog protocol
  kedro/framework/context/context.py
  kedro/io/core.py
Due: code_change

remove parameters addition as it does not belong to catalog level
  kedro/framework/context/context.py
  kedro/io/core.py
  kedro/io/kedro_data_catalog.py
Due: code_change

adjust docstring
  kedro/framework/context/context.py
Due: code_change

partial unit test refactor
  .secrets.baseline
  kedro/io/kedro_data_catalog.py
  tests/framework/hooks/test_manager.py
  tests/framework/session/conftest.py
  tests/framework/session/test_session.py
  tests/io/test_cached_dataset.py
  tests/io/test_kedro_data_catalog.py
  tests/pipeline/test_pipeline_from_missing.py
  tests/pipeline/test_pipeline_integration.py
  tests/runner/conftest.py
  tests/runner/test_parallel_runner.py
  tests/runner/test_sequential_runner.py
  tests/runner/test_thread_runner.py
Due: code_change

Fixed typo - AWAA to MWAA
  docs/source/deployment/airflow.md
Due: docs_change

remove unnessary check
  kedro/pipeline/pipeline.py
Due: code_change

update tests to reflect new changes
  tests/pipeline/test_pipeline.py
Due: code_change

remove template folder
  docs/_templates/autosummary/base.rst
  docs/_templates/autosummary/class.rst
  docs/_templates/autosummary/module.rst
  docs/_templates/breadcrumbs.html
Due: docs_change

first working draft for the API docs
  docs/api/kedro.config.md
  docs/api/kedro.config.rst
  docs/api/kedro.framework.cli.cli.KedroCLI.rst
  docs/api/kedro.framework.cli.hooks.manager.CLIHooksManager.rst
  docs/api/kedro.framework.cli.utils.CommandCollection.rst
  docs/api/kedro.framework.cli.utils.rst
  docs/api/kedro.framework.context.rst
  docs/api/kedro.framework.session.shelvestore.ShelveStore.rst
  docs/api/kedro.framework.session.store.BaseSessionStore.rst
  docs/api/kedro.io.rst
  docs/api/kedro.logging.RichHandler.rst
  docs/api/kedro.logging.rst
  docs/api/kedro.pipeline.rst
  docs/api/kedro.runner.rst
  docs/pages/index.md
Due: docs_change

Path conditions:
  docs_change: any of: docs/.*
  code_change: any of: ^((?!docs/).)*$
