Repository kedro-org/kedro: changes, and which CircleCI parameters are due for each by the changed paths.
All: docs_change, code_change

.circleci/config.yml:

version: 2.1

parameters:
  release_kedro:
    type: boolean
    default: false
  # The parameters below are set in CircleCI UI.
  # https://app.circleci.com/settings/project/github/kedro-org/kedro/triggers?return-to=https%3A%2F%2Fapp.circleci.com%2Fpipelines%2Fgithub%2Fkedro-org%2Fkedro&triggerSource=&scheduledTriggerId=61f7226f-f092-4449-98d9-40420f8c46b2&success=true
  run_hourly:
    type: boolean
    default: false
  run_nightly:
    type: boolean
    default: false

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.1

workflows:
  regular:
    jobs:
      # the path-filtering/filter job determines which pipeline
      # parameters to update, i.e. which builds to run.
      - path-filtering/filter:
          name: check-updated-files
          base-revision: main
          config-path: .circleci/continue_config.yml
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            docs/.* docs_change true
            ^((?!docs/).)*$ code_change true

Move Ahdra to past maintainers
  docs/source/contribution/technical_steering_committee.md
Due: docs_change

Add changes to documentation
  RELEASE.md
  docs/source/configuration/configuration_basics.md
  docs/source/faq/faq.md
Due: docs_change, code_change

PR comments
  docs/source/deployment/airflow.md
Due: docs_change

Update RELEASE.md
  RELEASE.md
Due: code_change

Change RICH variable name to RICH_INTALLED
  kedro/ipython/__init__.py
  tests/ipython/test_ipython.py
Due: code_change

Update CITATION.cff
  CITATION.cff
Due: code_change

Fix credentials
  docs/source/deployment/airflow.md
Due: docs_change

Try fix doc build
  docs/source/hooks/introduction.md
Due: docs_change

Try fix doc build
  docs/source/conf.py
Due: docs_change

Try fix doc build
  docs/source/conf.py
  docs/source/hooks/introduction.md
Due: docs_change

Replace links to /api/kedro/.. with cross references (#3699)
  docs/source/configuration/advanced_configuration.md
  docs/source/configuration/config_loader_migration.md
  docs/source/configuration/configuration_basics.md
  docs/source/configuration/parameters.md
  docs/source/data/advanced_data_catalog_usage.md
  docs/source/data/data_catalog.md
  docs/source/data/how_to_create_a_custom_dataset.md
  docs/source/data/kedro_dataset_factories.md
  docs/source/data/partitioned_and_incremental_datasets.md
  docs/source/deployment/argo.md
  docs/source/deployment/aws_batch.md
  docs/source/development/commands_reference.md
  docs/source/extend_kedro/architecture_overview.md
  docs/source/extend_kedro/common_use_cases.md
  docs/source/extend_kedro/plugins.md
  docs/source/hooks/introduction.md
  docs/source/integrations/pyspark_integration.md
  docs/source/introduction/index.md
  docs/source/nodes_and_pipelines/nodes.md
  docs/source/nodes_and_pipelines/pipeline_introduction.md
  docs/source/nodes_and_pipelines/pipeline_registry.md
  docs/source/resources/glossary.md
  docs/source/tutorial/create_a_pipeline.md
Due: docs_change

Add deprecation warnings to micropkg CLI commands
  kedro/framework/cli/micropkg.py
Due: code_change

Add deprecation warning to docs about micropackaging
  docs/source/development/commands_reference.md
  docs/source/nodes_and_pipelines/micro_packaging.md
  kedro/framework/cli/micropkg.py
Due: docs_change, code_change

Move Ahdra to past maintainers (#3869)
  CITATION.cff
  docs/source/contribution/technical_steering_committee.md
Due: docs_change, code_change

initial draft
  CITATION.cff
Due: code_change

initial draft (#3875)
  CITATION.cff
Due: code_change

Add info about uninstalling rich on logging doc page
  docs/source/logging/index.md
Due: docs_change

Update docs/source/kedro_project_setup/code_beyond_starter_files.md
  docs/source/kedro_project_setup/code_beyond_starter_files.md
Due: docs_change

Link deepdives to a list of examples
  docs/source/kedro_project_setup/code_beyond_starter_files.md
Due: docs_change

Add base implementation of telemetry flag for kedro run
  kedro/framework/cli/project.py
  kedro/framework/cli/starters.py
  kedro/framework/cli/utils.py
Due: code_change

Update function on test
  tests/framework/cli/test_starters.py
Due: code_change

Lint
  tests/framework/cli/test_starters.py
Due: code_change

Update tests
  tests/framework/cli/test_starters.py
Due: code_change

Apply suggestions from code review
  docs/source/deployment/airflow.md
Due: docs_change

Update release notes
  RELEASE.md
Due: code_change

Fix comments
  docs/source/deployment/airflow.md
Due: docs_change

Add introduction
  docs/source/deployment/airflow.md
Due: docs_change

Backfill static assets for version 0.19.4
  docs/source/_templates/layout.html
  docs/source/conf.py
  pyproject.toml
Due: docs_change, code_change

Backfill static assets for version 0.19.3
  docs/source/_templates/layout.html
  docs/source/conf.py
  pyproject.toml
Due: docs_change, code_change

Update docs/source/deployment/databricks/databricks_deployment_workflow.md
  docs/source/deployment/databricks/databricks_deployment_workflow.md
Due: docs_change

Backfill static assets for version 0.19.2
  docs/source/_templates/layout.html
  docs/source/conf.py
  pyproject.toml
Due: docs_change, code_change

Update docs/source/deployment/airflow.md
  docs/source/deployment/airflow.md
Due: docs_change

Backfill static assets for version 0.19.1
  docs/source/_templates/layout.html
  docs/source/conf.py
  pyproject.toml
Due: docs_change, code_change
