Repository kedro-org/kedro: changes, and which CircleCI parameters are due for each by the changed paths.
All: docs_change, code_change

.circleci/config.yml:

version: 2.1

parameters:
  release_kedro:
    type: boolean
    default: false
  # The parameters below are set in CircleCI UI.
  # https://app.circleci.com/settings/project/github/kedro-org/kedro/triggers?return-to=https%3A%2F%2Fapp.circleci.com%2Fpipelines%2Fgithub%2Fkedro-org%2Fkedro&triggerSource=&scheduledTriggerId=61f7226f-f092-4449-98d9-40420f8c46b2&success=true
  run_hourly:
    type: boolean
    default: false
  run_nightly:
    type: boolean
    default: false

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.1

workflows:
  regular:
    jobs:
      # the path-filtering/filter job determines which pipeline
      # parameters to update, i.e. which builds to run.
      - path-filtering/filter:
          name: check-updated-files
          base-revision: main
          config-path: .circleci/continue_config.yml
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            docs/.* docs_change true
            ^((?!docs/).)*$ code_change true

Backfill static assets for version 0.19.0
  docs/source/_templates/layout.html
  docs/source/conf.py
  docs/source/starters/new_project_tools.md
  pyproject.toml
Due: docs_change, code_change

Add tests for the new telemetry flag
  tests/framework/cli/test_cli.py
Due: code_change

Add release note
  RELEASE.md
Due: code_change

Move Nero to past maintainers
  docs/source/contribution/technical_steering_committee.md
Due: docs_change

Update CITATION.cff
  CITATION.cff
Due: code_change

Move Nero to past maintainers (#3874)
  CITATION.cff
  docs/source/contribution/technical_steering_committee.md
Due: docs_change, code_change

Update README.md
  RELEASE.md
Due: code_change

Update Airflow AWS MWAA deployment docs (#3860)
  RELEASE.md
  docs/source/deployment/airflow.md
Due: docs_change, code_change

Make util functions private
  kedro/framework/cli/project.py
  kedro/framework/cli/starters.py
  kedro/framework/cli/utils.py
  tests/framework/cli/test_starters.py
Due: code_change

Lint
  kedro/framework/cli/project.py
  kedro/framework/cli/starters.py
Due: code_change

Add deprecation warnings to `micropkg` CLI + docs (#3873)
  RELEASE.md
  docs/source/development/commands_reference.md
  docs/source/nodes_and_pipelines/micro_packaging.md
  kedro/framework/cli/micropkg.py
Due: docs_change, code_change

Lazy load subcommands
  kedro/framework/cli/cli.py
  kedro/framework/cli/lazy_group.py
Due: code_change

Move transcoding constant/utils back to `pipeline` (#3826)
  kedro/framework/context/context.py
  kedro/pipeline/modular_pipeline.py
  kedro/pipeline/node.py
  kedro/pipeline/pipeline.py
  kedro/pipeline/transcoding.py
  tests/pipeline/test_pipeline.py
  tests/pipeline/test_pipeline_with_transcoding.py
Due: code_change

Make it possible to use Kedro after uninstalling Rich. (#3838)
  MANIFEST.in
  RELEASE.md
  docs/source/conf.py
  docs/source/configuration/configuration_basics.md
  docs/source/faq/faq.md
  docs/source/logging/index.md
  kedro/framework/project/__init__.py
  kedro/framework/project/default_logging.yml
  kedro/framework/project/rich_logging.yml
  kedro/ipython/__init__.py
  kedro/logging.py
  tests/framework/cli/test_starters.py
  tests/ipython/test_ipython.py
Due: docs_change, code_change

Update robots.txt for 0.19.6
  docs/source/robots.txt
Due: docs_change

Add implementation of telemetry consent flag for kedro run (#3876)
  RELEASE.md
  kedro/framework/cli/project.py
  kedro/framework/cli/starters.py
  kedro/framework/cli/utils.py
  tests/framework/cli/test_cli.py
  tests/framework/cli/test_starters.py
Due: code_change

Add option to raise errors during `find_pipelines` (#3823)
  RELEASE.md
  docs/source/nodes_and_pipelines/pipeline_registry.md
  kedro/framework/project/__init__.py
  kedro/pipeline/modular_pipeline.py
  tests/framework/project/test_pipeline_discovery.py
Due: docs_change, code_change

Release 0.19.6
  CITATION.cff
  RELEASE.md
  docs/source/development/commands_reference.md
  docs/source/robots.txt
  kedro/__init__.py
Due: docs_change, code_change

Update robots.txt
  docs/source/robots.txt
Due: docs_change

Update robots.txt for 0.19.6 (#3885)
  docs/source/robots.txt
Due: docs_change

Revert "Add implementation of telemetry consent flag for kedro run (#3876)"
  RELEASE.md
  kedro/framework/cli/project.py
  kedro/framework/cli/starters.py
  kedro/framework/cli/utils.py
  tests/framework/cli/test_cli.py
  tests/framework/cli/test_starters.py
Due: code_change

Revert "Add implementation of telemetry consent flag for kedro run (#3876)" (#3888)
  RELEASE.md
  kedro/framework/cli/project.py
  kedro/framework/cli/starters.py
  kedro/framework/cli/utils.py
  tests/framework/cli/test_cli.py
  tests/framework/cli/test_starters.py
Due: code_change

Revert weird MLflow release note edit
  RELEASE.md
Due: code_change

Remove note on changing registry location
  docs/source/kedro_project_setup/code_beyond_starter_files.md
Due: docs_change

Simplify domain logic comment
  docs/source/kedro_project_setup/code_beyond_starter_files.md
Due: docs_change

Replace tp.Dict by dict
  docs/source/kedro_project_setup/code_beyond_starter_files.md
Due: docs_change

Remove pyproject.toml from monorepo tree example
  docs/source/kedro_project_setup/code_beyond_starter_files.md
Due: docs_change

Replace historical and inference as pipeline split example
  docs/source/kedro_project_setup/code_beyond_starter_files.md
Due: docs_change

Add a note about find_pipelines()
  docs/source/kedro_project_setup/code_beyond_starter_files.md
Due: docs_change

Remove article before find pipelines
  docs/source/kedro_project_setup/code_beyond_starter_files.md
Due: docs_change

Update RELEASE.md
  RELEASE.md
Due: code_change

Revert robots.txt
  docs/source/robots.txt
Due: docs_change

Add to Release.md
  RELEASE.md
Due: code_change

Fix astro CLI docs link
  docs/source/deployment/airflow.md
Due: docs_change

Release 0.19.6 (#3887)
  CITATION.cff
  RELEASE.md
  docs/source/deployment/airflow.md
  docs/source/development/commands_reference.md
  kedro/__init__.py
Due: docs_change, code_change

Update test_logging.py
  tests/framework/project/test_logging.py
Due: code_change

Refactor the logging setup loggic
  kedro/framework/project/__init__.py
Due: code_change

Update telemetry.md
  docs/source/configuration/telemetry.md
Due: docs_change

add vscode mentions
  docs/source/development/set_up_vscode.md
  docs/source/get_started/install.md
Due: docs_change

Added note about project UUID
  docs/source/configuration/telemetry.md
Due: docs_change
