Repository kedro-org/kedro: changes, and which CircleCI parameters are due for each by the changed paths.
All: docs_change, code_change

.circleci/config.yml:

version: 2.1

parameters:
  release_kedro:
    type: boolean
    default: false
  # The parameters below are set in CircleCI UI.
  # https://app.circleci.com/settings/project/github/kedro-org/kedro/triggers?return-to=https%3A%2F%2Fapp.circleci.com%2Fpipelines%2Fgithub%2Fkedro-org%2Fkedro&triggerSource=&scheduledTriggerId=61f7226f-f092-4449-98d9-40420f8c46b2&success=true
  run_hourly:
    type: boolean
    default: false
  run_nightly:
    type: boolean
    default: false

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.1

workflows:
  regular:
    jobs:
      # the path-filtering/filter job determines which pipeline
      # parameters to update, i.e. which builds to run.
      - path-filtering/filter:
          name: check-updated-files
          base-revision: main
          config-path: .circleci/continue_config.yml
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            docs/.* docs_change true
            ^((?!docs/).)*$ code_change true

fix tests
  tests/config/test_omegaconf_config.py
  tests/framework/cli/test_cli.py
Due: code_change

avoid breaking change
  kedro/io/core.py
Due: code_change

Made list_datasets support pipelines as inputs
  kedro/framework/context/__init__.py
  kedro/framework/context/catalog_mixins.py
Due: code_change

Made resolve_patterns accept pipelines as input
  kedro/framework/context/catalog_mixins.py
Due: code_change

minor changes
  docs/source/deployment/nodes_grouping.md
  docs/source/nodes_and_pipelines/namespaces.md
Due: docs_change

Update configuration_basics.md
  docs/source/configuration/configuration_basics.md
Due: docs_change

add pytests
  kedro/runner/task.py
  pyproject.toml
  tests/runner/test_task.py
Due: code_change

update release note
  RELEASE.md
Due: code_change

add exc handling to inputs
  kedro/runner/task.py
Due: code_change

Update docs/source/deployment/nodes_grouping.md
  docs/source/deployment/nodes_grouping.md
Due: docs_change

Move sections
  docs/source/deployment/nodes_grouping.md
Due: docs_change

Remove mentions of viz experiment tracking
  docs/source/get_started/kedro_concepts.md
Due: docs_change

try to fix image
  docs/source/nodes_and_pipelines/namespaces.md
Due: docs_change

fix test
  kedro/runner/task.py
Due: code_change

Update recommendations for nesting namespaces in docs (#4572)
  docs/source/deployment/nodes_grouping.md
  docs/source/get_started/kedro_concepts.md
  docs/source/meta/images/viz_collapse_panel.png
  docs/source/nodes_and_pipelines/namespaces.md
Due: docs_change

remove ET doc ref
  docs/source/get_started/kedro_concepts.md
Due: docs_change

address PR comments
  kedro/framework/context/context.py
Due: code_change

Update run_a_pipeline.md
  docs/source/nodes_and_pipelines/run_a_pipeline.md
Due: docs_change

lint
  docs/source/nodes_and_pipelines/run_a_pipeline.md
Due: docs_change

Remove extra condition
  kedro/pipeline/pipeline.py
Due: code_change

Rename instances of `extra_params` and `_extra_params` to `runtime_params` (#4556)
  RELEASE.md
  docs/source/deployment/aws_batch.md
  docs/source/deployment/dask.md
  docs/source/deployment/vertexai.md
  docs/source/development/commands_reference.md
  docs/source/kedro_project_setup/session.md
  docs/source/resources/migration.md
  kedro/framework/cli/project.py
  kedro/framework/context/context.py
  kedro/framework/hooks/specs.py
  kedro/framework/session/session.py
  kedro/ipython/__init__.py
  tests/framework/cli/test_cli.py
  tests/framework/context/test_context.py
  tests/framework/session/conftest.py
  tests/framework/session/test_session.py
  tests/framework/session/test_session_hook_manager.py
  tests/ipython/test_ipython.py
Due: docs_change, code_change

Update node grouping API to only group on first level of namespace (#4570)
  kedro/pipeline/pipeline.py
  tests/pipeline/test_pipeline.py
Due: code_change

Add pipeline method to be consistent with Node node
  kedro/pipeline/pipeline.py
Due: code_change

Fix new test
  kedro/pipeline/pipeline.py
  tests/pipeline/test_pipeline.py
Due: code_change

Update the pipeline registry page
  docs/source/nodes_and_pipelines/pipeline_registry.md
Due: docs_change

Just use pipeline() everywhere
  features/steps/test_starter/{{ cookiecutter.repo_name }}/src/{{ cookiecutter.python_package }}/pipeline_registry.py
  features/steps/test_starter/{{ cookiecutter.repo_name }}/src/{{ cookiecutter.python_package }}/pipelines/data_engineering/pipeline.py
  features/steps/test_starter/{{ cookiecutter.repo_name }}/src/{{ cookiecutter.python_package }}/pipelines/data_science/pipeline.py
  kedro/pipeline/__init__.py
  kedro/pipeline/pipeline.py
  kedro/templates/pipeline/{{ cookiecutter.pipeline_name }}/pipeline.py
  kedro/templates/project/{{ cookiecutter.repo_name }}/src/{{ cookiecutter.python_package }}/pipeline_registry.py
  kedro_benchmarks/benchmark_runner.py
  tests/framework/cli/test_catalog.py
  tests/framework/project/test_pipeline_discovery.py
  tests/framework/project/test_pipeline_registry.py
  tests/framework/session/conftest.py
  tests/framework/session/test_session_extension_hooks.py
  tests/ipython/conftest.py
  tests/ipython/test_ipython.py
  tests/pipeline/test_modular_pipeline.py
  tests/pipeline/test_pipeline.py
  tests/pipeline/test_pipeline_from_missing.py
  tests/pipeline/test_pipeline_integration.py
  tests/pipeline/test_pipeline_with_transcoding.py
  tests/runner/conftest.py
  tests/runner/test_parallel_runner.py
  tests/runner/test_resume_logic.py
  tests/runner/test_sequential_runner.py
  tests/runner/test_thread_runner.py
Due: code_change

done
  kedro/io/core.py
Due: code_change

Simplify tool selection error message
  kedro/framework/cli/starters.py
Due: code_change

lint and test
  kedro/io/core.py
  tests/io/test_core.py
Due: code_change

done
  kedro/io/core.py
  tests/io/test_core.py
Due: code_change

lint fixed
  kedro/io/core.py
  tests/io/test_core.py
Due: code_change

Update the pipeline registry page (#4578)
  docs/source/nodes_and_pipelines/pipeline_registry.md
Due: docs_change

fix lint and tests
  .secrets.baseline
  tests/io/test_core.py
  tests/io/test_data_catalog.py
  tests/io/test_kedro_data_catalog.py
Due: code_change

fix tests
  tests/io/test_data_catalog.py
Due: code_change

apply code changes from review
  kedro/config/omegaconf_config.py
Due: code_change

Fix type check
  tests/framework/project/test_pipeline_registry.py
Due: code_change

changes based on review
  docs/source/nodes_and_pipelines/run_a_pipeline.md
Due: docs_change

Update docs/source/deployment/airflow.md
  docs/source/deployment/airflow.md
Due: docs_change

Update `DryRunner` docs implementation (#4575)
  docs/source/nodes_and_pipelines/run_a_pipeline.md
Due: docs_change
