Repository kedro-org/kedro: changes, and which CircleCI parameters are due for each by the changed paths.
All: docs_change, code_change

.circleci/config.yml:

version: 2.1

parameters:
  release_kedro:
    type: boolean
    default: false
  # The parameters below are set in CircleCI UI.
  # https://app.circleci.com/settings/project/github/kedro-org/kedro/triggers?return-to=https%3A%2F%2Fapp.circleci.com%2Fpipelines%2Fgithub%2Fkedro-org%2Fkedro&triggerSource=&scheduledTriggerId=61f7226f-f092-4449-98d9-40420f8c46b2&success=true
  run_hourly:
    type: boolean
    default: false
  run_nightly:
    type: boolean
    default: false

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.1

workflows:
  regular:
    jobs:
      # the path-filtering/filter job determines which pipeline
      # parameters to update, i.e. which builds to run.
      - path-filtering/filter:
          name: check-updated-files
          base-revision: main
          config-path: .circleci/continue_config.yml
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            docs/.* docs_change true
            ^((?!docs/).)*$ code_change true

Update .readthedocs.yml
  .readthedocs.yml
Due: code_change

Add OmegaConfLoader with tests
  dependency/requirements.txt
  kedro/config/__init__.py
  kedro/config/common.py
  kedro/config/omegaconf_config.py
  tests/config/test_omegaconf_config.py
Due: code_change

Use OmegaConf for merging configuration from different dirs
  kedro/config/omegaconf_config.py
  tests/config/test_omegaconf_config.py
Due: code_change

Clear built-in resolvers from OmegaConf
  kedro/config/omegaconf_config.py
Due: code_change

Fix readthedocs.yml file so build can pass (#2083)
  .readthedocs.yml
Due: code_change

Update issue YAML to point to Slack and docs (#2066)
  .github/ISSUE_TEMPLATE/config.yml
Due: code_change

Update RELEASE.md
  RELEASE.md
Due: code_change

Fix issue in documentation (parameter name) (#2082)
  kedro/extras/datasets/pandas/sql_dataset.py
Due: code_change

Release notes changes for 18.4 (#2064)
  RELEASE.md
Due: code_change

Improve class docstring
  kedro/config/omegaconf_config.py
  kedro/config/templated_config.py
Due: code_change

Docs/add examples for plotly and text datasets (#2042)
  RELEASE.md
  kedro/extras/datasets/plotly/json_dataset.py
  kedro/extras/datasets/plotly/plotly_dataset.py
  kedro/extras/datasets/text/text_dataset.py
Due: code_change

Lint
  tests/ipython/test_ipython.py
Due: code_change

Experiment with mocking
  tests/ipython/test_ipython.py
Due: code_change

Never mind
  tests/ipython/test_ipython.py
Due: code_change

Modify comma in default node names to semicolon
  kedro/pipeline/node.py
Due: code_change

Update tests for new node naming
  tests/pipeline/test_node.py
  tests/pipeline/test_pipeline.py
Due: code_change

Mock the global pipelines object instead of class
  tests/ipython/test_ipython.py
Due: code_change

Organise tests in class
  tests/ipython/test_ipython.py
Due: code_change

Please the linter - attempt 1
  tests/ipython/test_ipython.py
Due: code_change

Make Kedro compatible with Airflow 2.4.2 (#2030)
  RELEASE.md
  dependency/requirements.txt
Due: code_change

add a way to clean kedro-datasets
  Makefile
  docs/build-docs.sh
Due: docs_change, code_change

Update databricks.md
  docs/source/deployment/databricks.md
Due: docs_change

linkcheck fix
  docs/source/deployment/databricks.md
Due: docs_change

Add a way to clean `kedro.datasets` (#2090)
  Makefile
  docs/build-docs.sh
  docs/source/deployment/databricks.md
Due: docs_change, code_change

Update kedro version
  CITATION.cff
  RELEASE.md
  docs/source/deployment/databricks.md
  docs/source/development/commands_reference.md
  docs/source/extend_kedro/plugins.md
  docs/source/tutorial/tutorial_template.md
  docs/source/visualisation/visualise_charts_with_plotly.md
  kedro/__init__.py
Due: docs_change, code_change

Bump setuptools to 65.5.1
  Makefile
  dependency/requirements.txt
  features/environment.py
  pyproject.toml
  tools/circleci/requirements.txt
Due: code_change

Update release notes
  RELEASE.md
Due: code_change

Bump `setuptools` to 65.5.1 (#2093)
  Makefile
  RELEASE.md
  dependency/requirements.txt
  features/environment.py
  pyproject.toml
  tools/circleci/requirements.txt
Due: code_change

Update kedro version (#2092)
  CITATION.cff
  RELEASE.md
  docs/source/deployment/databricks.md
  docs/source/development/commands_reference.md
  docs/source/extend_kedro/plugins.md
  docs/source/tutorial/tutorial_template.md
  docs/source/visualisation/visualise_charts_with_plotly.md
  kedro/__init__.py
Due: docs_change, code_change

Fix failing docs_linkcheck
  docs/source/development/automated_testing.md
  kedro/ipython/__init__.py
Due: docs_change, code_change

Remove hard coded links to RTD
  docs/source/visualisation/experiment_tracking.md
  docs/source/visualisation/visualise_charts_with_plotly.md
Due: docs_change

Update relative links + fix lint
  docs/source/development/automated_testing.md
  kedro/extras/datasets/video/video_dataset.py
  kedro/ipython/__init__.py
Due: docs_change, code_change

fix lint
  kedro/ipython/__init__.py
Due: code_change

lint: disable line too long
  kedro/ipython/__init__.py
Due: code_change

Update docs/source/extend_kedro/plugins.md
  docs/source/extend_kedro/plugins.md
Due: docs_change

Fix failing docs_linkcheck (#2098)
  docs/source/development/automated_testing.md
  docs/source/visualisation/experiment_tracking.md
  docs/source/visualisation/visualise_charts_with_plotly.md
  kedro/extras/datasets/video/video_dataset.py
  kedro/ipython/__init__.py
Due: docs_change, code_change
