Repository kedro-org/kedro: changes, and which CircleCI parameters are due for each by the changed paths.
All: docs_change, code_change

s2 impl changed
  docs/on_demand_dependency_loading.md
  docs/scenario_2_dep_free_commands.md
Due: docs_change

Comments
  RELEASE.md
  docs/api/framework/kedro.framework.session.md
Due: docs_change, code_change

release notes
  RELEASE.md
Due: code_change

Apply suggestions from code review
  kedro/server/http_server.py
  kedro/server/utils.py
Due: code_change

feedback
  kedro/server/__init__.py
  kedro/server/http_server.py
  kedro/server/utils.py
  tests/server/test_http_server.py
  tests/server/test_utils.py
Due: code_change

add new line for rendering
  docs/extend/session.md
Due: docs_change

Update docs/extend/hooks/common_use_cases.md
  docs/extend/hooks/common_use_cases.md
Due: docs_change

docs: add contributor entry for upcoming release
  RELEASE.md
Due: code_change

docs: add stateful hooks use case
  docs/extend/hooks/common_use_cases.md
Due: docs_change

docs: refine stateful hooks guidance
  docs/extend/hooks/common_use_cases.md
Due: docs_change

lite shim impl
  docs/scenario_1_selective_loading.md
  docs/scenario_2_dep_free_commands.md
  kedro/framework/cli/catalog.py
  kedro/framework/cli/registry.py
  kedro/framework/project/__init__.py
  kedro/framework/project/_lite_shim.py
Due: docs_change, code_change

update selective loading doc
  docs/scenario_1_selective_loading.md
Due: docs_change

merge base
  docs/scenario_2_dep_free_commands.md
Due: docs_change

update alternative approach
  docs/scenario_2_dep_free_commands.md
Due: docs_change

update with alternatives edit
  docs/scenario_2_dep_free_commands.md
Due: docs_change

s2 doc update
  docs/scenario_2_dep_free_commands.md
Due: docs_change

Align with previous PR
  kedro/server/http_server.py
  kedro/server/models.py
  tests/server/test_http_server.py
Due: code_change

Implemented skill draft
  .agents/skills/kedro-babysit/SKILL.md
Due: code_change

test refactor
  kedro/server/http_server.py
  kedro/server/models.py
  tests/server/test_http_server.py
Due: code_change

Implemented reference.md
  .agents/skills/kedro-babysit/reference.md
Due: code_change

Added bootstrap env script
  .agents/skills/kedro-babysit/reference.md
  .agents/skills/kedro-babysit/scripts/bootstrap_env.sh
Due: code_change

Final tests
  kedro/server/http_server.py
  tests/server/test_http_server.py
  tests/server/test_utils.py
Due: code_change

update dep docs
  docs/on_demand_dependency_loading.md
  docs/scenario_1_selective_loading.md
Due: docs_change

Tests for run endpoint runrequest
  tests/server/test_http_server.py
Due: code_change

Added watch CI script
  .agents/skills/kedro-babysit/SKILL.md
  .agents/skills/kedro-babysit/scripts/run_local_checks.sh
  .agents/skills/kedro-babysit/scripts/watch_ci.sh
Due: code_change

Fixed small issues
  .agents/skills/kedro-babysit/SKILL.md
  .agents/skills/kedro-babysit/reference.md
  .agents/skills/kedro-babysit/scripts/bootstrap_env.sh
Due: code_change

Saved the plan
  kedro-babysit-plan.md
Due: code_change

update pipline loading architecture
  docs/pipeline_loading_architecture.md
Due: docs_change

Update advanced_configuration.md with custom loader info
  docs/configure/advanced_configuration.md
Due: docs_change

Improve error reporting for dataset mapping
  kedro/pipeline/pipeline.py
Due: code_change

add default port and host, docstring
  kedro/framework/cli/server.py
  kedro/server/utils.py
Due: code_change

Update mkdocs.yml
  mkdocs.yml
Due: code_change

Update welcome.html
  docs/overrides/welcome.html
Due: docs_change

Changes based on first tetst
  .agents/skills/kedro-babysit/SKILL.md
  .agents/skills/kedro-babysit/reference.md
  .agents/skills/kedro-babysit/scripts/watch_ci.sh
  kedro-babysit-plan.md
Due: code_change

Some suggestions applied
  kedro/server/http_server.py
  kedro/server/models.py
  tests/server/test_http_server.py
Due: code_change

Some more suggestions
  kedro/server/http_server.py
  kedro/server/models.py
  tests/server/test_http_server.py
Due: code_change

Docstrings
  kedro/server/http_server.py
Due: code_change

Remove local kedro-babysit working plan
  kedro-babysit-plan.md
Due: code_change

Path conditions:
  docs_change: any of: docs/.*
  code_change: any of: ^((?!docs/).)*$
