Repository kedro-org/kedro: changes, and which CircleCI parameters are due for each by the changed paths.
All: docs_change, code_change

Fix lint
  tests/runner/test_run_validation.py
Due: code_change

Fixed spelling
  docs/catalog-data/kedro_dataset_factories.md
  docs/catalog-data/test_phase.md
  docs/getting-started/commands_reference.md
  kedro/framework/cli/catalog.py
  kedro/framework/context/catalog_mixins.py
  tests/framework/cli/test_catalog.py
  tests/framework/context/test_catalog_commands_mixin.py
Due: docs_change, code_change

Fixed spelling
  kedro/framework/cli/catalog.py
  kedro/framework/context/catalog_mixins.py
Due: code_change

update dataset-6.0 to stable version
  docs/integrations-and-plugins/deltalake_versioning.md
Due: docs_change

update kedro and kedro-viz to be stable
  mkdocs.yml
Due: code_change

Changed name to describe
  docs/catalog-data/kedro_dataset_factories.md
  docs/catalog-data/test_phase.md
  docs/getting-started/commands_reference.md
  kedro/framework/cli/catalog.py
  kedro/framework/context/catalog_mixins.py
  tests/framework/cli/test_catalog.py
  tests/framework/context/test_catalog_commands_mixin.py
Due: docs_change, code_change

Add extra test cases for clarification
  tests/runner/test_run_validation.py
Due: code_change

Make node_dependencies and other properties cached_properties
  kedro/pipeline/pipeline.py
Due: code_change

Reimplement the algorithm to use toposort instead of dfs
  kedro/pipeline/pipeline.py
Due: code_change

Add a test with a big pipeline
  RELEASE.md
  kedro/pipeline/pipeline.py
  tests/pipeline/test_pipeline_namespaces.py
Due: code_change

Remove extra namespace
  kedro/framework/cli/registry.py
Due: code_change

Docs/update stable links (#4946)
  docs/integrations-and-plugins/deltalake_versioning.md
  mkdocs.yml
Due: docs_change, code_change

Fix test
  tests/framework/cli/test_registry.py
Due: code_change

lint
  tests/framework/cli/test_registry.py
Due: code_change

Fix duplicate namespace in `kedro registry describe` (#4947)
  kedro/framework/cli/registry.py
  tests/framework/cli/test_registry.py
Due: code_change

Move DVC page to Integrations
  docs/integrations-and-plugins/dvc.md
  mkdocs.yml
Due: docs_change, code_change

Remove link to missing page
  mkdocs.yml
Due: code_change

Update starter suggestion
  docs/getting-started/faq.md
Due: docs_change

Fix broken link
  docs/integrations-and-plugins/marimo.md
Due: docs_change

Remove rich section from config docs
  docs/configure/configuration_basics.md
Due: docs_change

Remove upper bound for Click
  pyproject.toml
Due: code_change

Replace deprecated Click imports
  kedro/framework/cli/cli.py
  kedro/framework/cli/utils.py
Due: code_change

Bring back old warm-up logic & error (#4941)
  kedro/runner/runner.py
  tests/runner/test_run_validation.py
  tests/runner/test_sequential_runner.py
Due: code_change

Update versions in deindex js
  docs/_static/deindex-old-docs.js
Due: docs_change

Update major release versions in deindex js
  docs/_static/deindex-old-docs.js
Due: docs_change

Added removing old ds when replacing
  kedro/io/data_catalog.py
Due: code_change

Remove rich section from config docs (#4952)
  docs/configure/configuration_basics.md
Due: docs_change

Added DatasetError
  kedro/io/data_catalog.py
Due: code_change

Updated docstrings
  kedro/io/data_catalog.py
Due: code_change

Invalid input is now properly captured
  tests/framework/cli/pipeline/test_pipeline.py
Due: code_change

Calling without arguments produces non-zero status
  tests/framework/cli/test_cli.py
  tests/framework/cli/test_cli_hooks.py
Due: code_change

Some output correctly goes to stderr now
  tests/framework/cli/test_cli.py
Due: code_change

Updated tests
  .secrets.baseline
  tests/io/test_data_catalog.py
Due: code_change

Fixed bug and applied suggestions
  .secrets.baseline
  kedro/io/data_catalog.py
  tests/io/test_data_catalog.py
Due: code_change

Removed raw_data argument from constructor
  kedro/io/data_catalog.py
Due: code_change

Update readme for project template
  kedro/templates/project/{{ cookiecutter.repo_name }}/README.md
Due: code_change

Fixed tests
  tests/io/test_data_catalog.py
  tests/pipeline/test_pipeline_from_missing.py
  tests/runner/test_parallel_runner.py
  tests/runner/test_sequential_runner.py
Due: code_change

Fixed tests
  tests/pipeline/test_pipeline_integration.py
  tests/runner/test_sequential_runner.py
Due: code_change

Path conditions:
  docs_change: any of: docs/.*
  code_change: any of: ^((?!docs/).)*$
