Repository kedro-org/kedro: changes, and which CircleCI parameters are due for each by the changed paths.
All: docs_change, code_change

.circleci/config.yml:

version: 2.1

parameters:
  release_kedro:
    type: boolean
    default: false
  # The parameters below are set in CircleCI UI.
  # https://app.circleci.com/settings/project/github/kedro-org/kedro/triggers?return-to=https%3A%2F%2Fapp.circleci.com%2Fpipelines%2Fgithub%2Fkedro-org%2Fkedro&triggerSource=&scheduledTriggerId=61f7226f-f092-4449-98d9-40420f8c46b2&success=true
  run_hourly:
    type: boolean
    default: false
  run_nightly:
    type: boolean
    default: false

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.1

workflows:
  regular:
    jobs:
      # the path-filtering/filter job determines which pipeline
      # parameters to update, i.e. which builds to run.
      - path-filtering/filter:
          name: check-updated-files
          base-revision: main
          config-path: .circleci/continue_config.yml
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            docs/.* docs_change true
            ^((?!docs/).)*$ code_change true

Reformulate final sentence
  docs/source/contribution/development_for_databricks.md
Due: docs_change

Reformulate python requirement
  docs/source/contribution/development_for_databricks.md
Due: docs_change

Fix updating of nested params from CLI
  kedro/framework/context/context.py
Due: code_change

Convert DictConfig to dict for proper merging
  kedro/config/omegaconf_config.py
  kedro/framework/cli/utils.py
  kedro/framework/context/context.py
Due: code_change

Update docs/source/contribution/development_for_databricks.md
  docs/source/contribution/development_for_databricks.md
Due: docs_change

Change order of introductory note
  docs/source/contribution/development_for_databricks.md
Due: docs_change

revert omegaconf
  kedro/config/omegaconf_config.py
  kedro/framework/context/context.py
Due: code_change

revert utils indent
  kedro/framework/cli/utils.py
Due: code_change

Update databricks.md
  docs/source/deployment/databricks.md
Due: docs_change

Add PowerShell commands
  docs/source/contribution/development_for_databricks.md
Due: docs_change

test
  features/steps/cli_steps.py
  features/steps/sh_run.py
Due: code_change

Revert "test"
  features/steps/cli_steps.py
  features/steps/sh_run.py
Due: code_change

Test for nested params with omegaconf
  tests/framework/context/test_context.py
Due: code_change

fix broken links
  docs/source/development/commands_reference.md
  docs/source/development/linting.md
Due: docs_change

Add test for checking store does not contain DictConfig
  tests/framework/session/test_session.py
Due: code_change

Update tools/databricks_build.py
  tools/databricks_build.py
Due: code_change

docslinkcheck + move fn outside
  docs/source/development/commands_reference.md
  docs/source/development/linting.md
  tests/framework/session/test_session.py
Due: docs_change, code_change

Fix overwriting of nested parameters in config by runtime parameters (#2378)
  docs/source/development/commands_reference.md
  docs/source/development/linting.md
  kedro/framework/cli/utils.py
  kedro/framework/context/context.py
  tests/framework/context/test_context.py
  tests/framework/session/test_session.py
Due: docs_change, code_change

Update kedro version
  CITATION.cff
  RELEASE.md
  docs/source/deployment/databricks.md
  docs/source/development/commands_reference.md
  docs/source/extend_kedro/plugins.md
  docs/source/tutorial/tutorial_template.md
  kedro/__init__.py
Due: docs_change, code_change

Update RELEASE.md
  RELEASE.md
Due: code_change

Linting
  RELEASE.md
Due: code_change

Bump requirements to ensure latest fsspec can be installed
  dependency/requirements.txt
  test_requirements.txt
Due: code_change

Update Release notes
  RELEASE.md
Due: code_change

Changes base on PR comments - rename commands and simplify list_command logic
  RELEASE.md
  features/jupyter.feature
  kedro/framework/cli/jupyter.py
  kedro/framework/cli/utils.py
Due: code_change

Fix extra end-of-code-block marker in Prefect docs
  docs/source/deployment/prefect.md
Due: docs_change

Fix extra end-of-code-block marker in Prefect docs (#2389)
  docs/source/deployment/prefect.md
Due: docs_change

Update citation.cff
  CITATION.cff
Due: code_change

Update docs/source/deployment/databricks.md
  docs/source/deployment/databricks.md
Due: docs_change

Release 0.18.6 (#2387)
  CITATION.cff
  RELEASE.md
  docs/source/deployment/databricks.md
  docs/source/development/commands_reference.md
  docs/source/extend_kedro/plugins.md
  docs/source/tutorial/tutorial_template.md
  kedro/__init__.py
Due: docs_change, code_change
