Repository kedro-org/kedro: changes, and which CircleCI parameters are due for each by the changed paths.
All: docs_change, code_change

Modification to spaceflights tutorial
  docs/source/tutorial/create_a_pipeline.md
  docs/source/tutorial/set_up_data.md
  docs/source/tutorial/tutorial_template.md
Due: docs_change

DBFS documentation (#2385)
  docs/source/deployment/databricks.md
Due: docs_change

Fix case where hidden files are detected in compressed file by fsspec
  kedro/config/omegaconf_config.py
Due: code_change

Apply suggestions from code review
  docs/source/kedro_project_setup/configuration.md
Due: docs_change

Set detail=False on fsspec ls
  kedro/config/omegaconf_config.py
Due: code_change

Use `fsspec` in `OmegaConfigLoader` to read config from compressed file (#2375)
  RELEASE.md
  dependency/requirements.txt
  docs/source/development/commands_reference.md
  docs/source/kedro_project_setup/configuration.md
  kedro/config/omegaconf_config.py
  kedro/framework/cli/project.py
  test_requirements.txt
  tests/config/test_omegaconf_config.py
  tests/framework/cli/test_cli.py
Due: docs_change, code_change

Disable as this is false alarm
  kedro/framework/cli/micropkg.py
Due: code_change

Update docs and release note. Minor refactor
  RELEASE.md
  kedro/framework/project/__init__.py
Due: code_change

Update links to new docs domain (#2400)
  CONTRIBUTING.md
  README.md
  RELEASE.md
  docs/conf.py
  docs/source/hooks/common_use_cases.md
  docs/source/index.rst
  kedro/framework/cli/micropkg.py
  kedro/templates/pipeline/{{ cookiecutter.pipeline_name }}/config/parameters/{{ cookiecutter.pipeline_name }}.yml
  kedro/templates/project/{{ cookiecutter.repo_name }}/README.md
  kedro/templates/project/{{ cookiecutter.repo_name }}/conf/README.md
  kedro/templates/project/{{ cookiecutter.repo_name }}/conf/base/catalog.yml
Due: docs_change, code_change

Add docs to explain registering a custom resolver
  docs/source/kedro_project_setup/configuration.md
Due: docs_change

Fix incorrect docs + add example for custom envs|
  docs/source/kedro_project_setup/configuration.md
Due: docs_change

Small clarifications
  docs/source/kedro_project_setup/configuration.md
Due: docs_change

Update kedro/framework/cli/jupyter.py
  kedro/framework/cli/jupyter.py
Due: code_change

Move kedro run config docs to running a pipeline
  docs/source/kedro_project_setup/configuration.md
  docs/source/nodes_and_pipelines/run_a_pipeline.md
Due: docs_change

Fix lint
  docs/source/nodes_and_pipelines/run_a_pipeline.md
Due: docs_change

Fix e2etst
  features/jupyter.feature
Due: code_change

Update the docstring
  kedro/framework/project/__init__.py
Due: code_change

Re-order config paragraphs
  docs/source/kedro_project_setup/configuration_revamp.md
Due: docs_change

Fix links
  docs/source/data/kedro_io.md
  docs/source/development/commands_reference.md
Due: docs_change

Apply suggestions from code review
  docs/source/kedro_project_setup/configuration.md
  docs/source/nodes_and_pipelines/run_a_pipeline.md
Due: docs_change

Update databricks deployment docs (#2404)
  docs/source/deployment/databricks.md
  docs/source/meta/images/databricks_notebook_example.png
Due: docs_change

Small simplifications
  docs/source/kedro_project_setup/configuration.md
  docs/source/kedro_project_setup/old_configuration.md
Due: docs_change

Add extra header
  docs/source/kedro_project_setup/configuration.md
Due: docs_change

Add clarifications about where code should go
  docs/source/kedro_project_setup/configuration.md
Due: docs_change

Another set of changes to spaceflights
  docs/source/notebooks_and_ipython/kedro_and_notebooks.md
  docs/source/tutorial/add_another_pipeline.md
  docs/source/tutorial/create_a_pipeline.md
  docs/source/tutorial/package_a_project.md
  docs/source/tutorial/set_up_data.md
  docs/source/tutorial/spaceflights_tutorial.md
  docs/source/tutorial/spaceflights_tutorial_faqs.md
  docs/source/tutorial/tutorial_template.md
Due: docs_change

Improve configuration docs (#2411)
  docs/source/data/kedro_io.md
  docs/source/development/commands_reference.md
  docs/source/kedro_project_setup/configuration.md
  docs/source/nodes_and_pipelines/run_a_pipeline.md
Due: docs_change

rename temp
  docs/source/kedro_project_setup/configuration.md
  docs/source/kedro_project_setup/new.md
Due: docs_change

Improve headers
  docs/source/kedro_project_setup/configuration.md
  docs/source/kedro_project_setup/old_configuration.md
Due: docs_change

clean up
  docs/source/kedro_project_setup/old_configuration.md
Due: docs_change

Add missing part for the dict-like interface of `_ProjectPipelines` (#2041)
  RELEASE.md
  kedro/framework/project/__init__.py
Due: code_change

Change to install.md to limit to FAQ removal
  docs/source/get_started/install.md
Due: docs_change

Add FAQ content
  docs/source/get_started/install.md
Due: docs_change

Divide config into basic and advanced + restructure basic content between explanations and how tos
  docs/source/configuration/advanced_configuration.md
  docs/source/configuration/configuration_basics.md
  kedro/config/config.py
Due: docs_change, code_change

Fix linkcheck
  docs/conf.py
Due: docs_change

Add documentation for running a packaged project
  docs/source/tutorial/package_a_project.md
Due: docs_change

Clarify meaning of 'main'
  docs/source/tutorial/package_a_project.md
Due: docs_change

Add backticks around code
  docs/source/tutorial/package_a_project.md
Due: docs_change

Path conditions:
  docs_change: any of: docs/.*
  code_change: any of: ^((?!docs/).)*$
