Repository kedro-org/kedro: changes, and which CircleCI parameters are due for each by the changed paths.
All: docs_change, code_change

Quick format pt2
  kedro/framework/cli/starters.py
Due: code_change

Revise starters section causing link break (#3353)
  docs/source/kedro_project_setup/starters.md
Due: docs_change

Apply suggestions from code review and fix lint
  kedro/framework/cli/starters.py
  kedro/templates/project/prompts.yml
Due: code_change

Drop redundant comma
  kedro/templates/project/prompts.yml
Due: code_change

try hadoop 2.7.1 and try starters hadoop fix
  .github/workflows/e2e-tests.yml
Due: code_change

Update e2e-tests.yml
  .github/workflows/e2e-tests.yml
Due: code_change

Update prompts.yml
  kedro/templates/project/prompts.yml
Due: code_change

Revert "Update prompts.yml"
  kedro/templates/project/prompts.yml
Due: code_change

This time signed-off
  kedro/templates/project/prompts.yml
Due: code_change

Apply suggestions from code review
  docs/source/configuration/advanced_configuration.md
  docs/source/configuration/configuration_basics.md
Due: docs_change

Take path-like filepaths more broadly for datasets (#3354)
  RELEASE.md
  kedro/io/core.py
Due: code_change

Modify `KedroContext` with frozen attributes instead of frozen class (#3300)
  RELEASE.md
  kedro/framework/context/context.py
  tests/framework/context/test_context.py
  tests/framework/session/test_session.py
Due: code_change

Add viz tool shorthand to help message (#3350)
  kedro/framework/cli/starters.py
Due: code_change

Remove custom Kedro syntax for --params (#3290)
  RELEASE.md
  docs/source/configuration/parameters.md
  docs/source/development/commands_reference.md
  features/run.feature
  kedro/framework/cli/utils.py
  kedro/framework/context/context.py
  tests/framework/cli/test_cli.py
  tests/framework/context/test_context.py
  tests/ipython/test_ipython.py
Due: docs_change, code_change

Quick format
  kedro/framework/cli/starters.py
Due: code_change

Add an option to get an example pipeline (#3295)
  MANIFEST.in
  RELEASE.md
  features/steps/cli_steps.py
  kedro/framework/cli/starters.py
  kedro/templates/project/cookiecutter.json
  kedro/templates/project/hooks/post_gen_project.py
  kedro/templates/project/hooks/utils.py
  kedro/templates/project/prompts.yml
  tests/framework/cli/test_starters.py
  tests/tools/test_cli.py
Due: code_change

[Ready] Docs changes to remove `pandas-iris` and update `kedro new` flow in onboarding docs (#3317)
  docs/source/deployment/airflow_astronomer.md
  docs/source/deployment/distributed.md
  docs/source/extend_kedro/architecture_overview.md
  docs/source/extend_kedro/common_use_cases.md
  docs/source/extend_kedro/index.md
  docs/source/extend_kedro/plugins.md
  docs/source/faq/faq.md
  docs/source/get_started/install.md
  docs/source/get_started/new_project.md
  docs/source/hooks/examples.md
  docs/source/index.rst
  docs/source/kedro_project_setup/index.md
  docs/source/kedro_project_setup/starters.md
  docs/source/meta/images/KedroArchitecture.drawio
  docs/source/meta/images/kedro_architecture.png
  docs/source/nodes_and_pipelines/modular_pipelines.md
  docs/source/nodes_and_pipelines/nodes.md
  docs/source/nodes_and_pipelines/run_a_pipeline.md
  docs/source/notebooks_and_ipython/kedro_and_notebooks.md
  docs/source/resources/glossary.md
  docs/source/starters/create_a_starter.md
  docs/source/starters/index.md
  docs/source/starters/new_project_tools.md
  docs/source/starters/starters.md
  docs/source/tutorial/tutorial_template.md
Due: docs_change

Update message on successful project creation
  kedro/framework/cli/starters.py
  kedro/templates/project/prompts.yml
Due: code_change

Explicitly set the environment defaults in `settings.py` (#3326)
  features/steps/test_starter/{{ cookiecutter.repo_name }}/src/{{ cookiecutter.python_package }}/settings.py
  kedro/templates/project/{{ cookiecutter.repo_name }}/src/{{ cookiecutter.python_package }}/settings.py
  tests/framework/session/test_session.py
Due: code_change

Minor dataset factories and config docs update (#3337)
  Makefile
  docs/source/configuration/parameters.md
  docs/source/data/kedro_dataset_factories.md
Due: docs_change, code_change

Add check for example pipeline message
  tests/framework/cli/test_starters.py
Due: code_change

Moved the environment assumption from `ConfigLoader` to `_ProjectSettings` (#3311)
  RELEASE.md
  features/steps/test_starter/{{ cookiecutter.repo_name }}/src/{{ cookiecutter.python_package }}/settings.py
  kedro/config/omegaconf_config.py
  kedro/framework/project/__init__.py
  kedro/templates/project/{{ cookiecutter.repo_name }}/src/{{ cookiecutter.python_package }}/settings.py
  tests/config/test_omegaconf_config.py
  tests/framework/context/test_context.py
  tests/framework/project/test_settings.py
Due: code_change

Move `pip-tools` to test requirements (#3338)
  .github/workflows/pip-compile.yml
  docs/source/kedro_project_setup/starters.md
  pyproject.toml
Due: docs_change, code_change

Update existing tests
  kedro/templates/project/prompts.yml
  tests/framework/cli/test_starters.py
Due: code_change

Update prompt order and language
  kedro/templates/project/prompts.yml
Due: code_change

Take path-like filepaths more broadly for datasets (#3345)
  RELEASE.md
  kedro/io/core.py
Due: code_change

Remove `pip-tools` as dependency (#3329)
  .github/workflows/pip-compile.yml
  RELEASE.md
  features/steps/test_plugin/pyproject.toml
  features/steps/test_plugin/setup.py
  pyproject.toml
Due: code_change

Fix lint
  docs/source/configuration/configuration_basics.md
Due: docs_change

Replace add-ons with tools
  features/steps/cli_steps.py
  features/steps/test_starter/cookiecutter.json
  features/steps/test_starter/{{ cookiecutter.repo_name }}/pyproject.toml
  kedro/framework/cli/starters.py
  kedro/framework/startup.py
  kedro/templates/project/cookiecutter.json
  kedro/templates/project/hooks/post_gen_project.py
  kedro/templates/project/hooks/utils.py
  kedro/templates/project/prompts.yml
  kedro/templates/project/{{ cookiecutter.repo_name }}/pyproject.toml
  tests/framework/cli/conftest.py
  tests/framework/cli/test_starters.py
  tests/framework/test_startup.py
  tests/ipython/test_ipython.py
  tests/tools/test_cli.py
Due: code_change

add file check for all addons
  features/steps/cli_steps.py
Due: code_change

lint
  features/steps/cli_steps.py
Due: code_change

Path conditions:
  docs_change: any of: docs/.*
  code_change: any of: ^((?!docs/).)*$
