Repository kedro-org/kedro: changes, and which CircleCI parameters are due for each by the changed paths.
All: docs_change, code_change

Update docs/source/tutorial/visualise_pipeline.md
  docs/source/tutorial/visualise_pipeline.md
Due: docs_change

Update based on Merel's review
  docs/source/logging/logging.md
Due: docs_change

Fixing unittest and kedro info bug
  tests/framework/cli/conftest.py
  tests/framework/cli/test_cli.py
Due: code_change

fix e2e tests
  features/ipython.feature
  features/steps/cli_steps.py
Due: code_change

fix linting
  docs/source/get_started/example_project.md
Due: docs_change

Update plotly docs (#1557)
  docs/source/tutorial/visualise_pipeline.md
Due: docs_change

Update docs/source/logging/logging.md
  docs/source/logging/logging.md
Due: docs_change

Combined the test cases
  tests/framework/cli/test_cli.py
Due: code_change

Fix test
  tests/framework/cli/test_cli.py
Due: code_change

fix typo
  tests/framework/cli/test_cli.py
Due: code_change

Trim whitespace
  docs/source/tutorial/visualise_pipeline.md
Due: docs_change

Add e2etest and fix unittest
  features/info.feature
  tests/framework/cli/test_cli.py
Due: code_change

fix e2etest
  features/info.feature
Due: code_change

Trim whitespace
  features/info.feature
Due: code_change

lint
  docs/source/get_started/example_project.md
  docs/source/logging/logging.md
Due: docs_change

Update cli_steps.py
  features/steps/cli_steps.py
Due: code_change

lint
  docs/source/tutorial/visualise_pipeline.md
Due: docs_change

Update visualise_pipeline.md
  docs/source/tutorial/visualise_pipeline.md
Due: docs_change

Update modular_pipelines.md
  docs/source/nodes_and_pipelines/modular_pipelines.md
Due: docs_change

Update documentation_contributor_guidelines.md
  docs/source/contribution/documentation_contributor_guidelines.md
Due: docs_change

replace #use-logging
  docs/source/logging/logging.md
Due: docs_change

update docs
  kedro/extras/datasets/matplotlib/matplotlib_writer.py
Due: code_change

[Bug Fix] - Kedro info failure, entry_point should use `module` instead of `module_name` (#1574)
  docs/source/get_started/example_project.md
  docs/source/tutorial/visualise_pipeline.md
  features/info.feature
  kedro/framework/cli/cli.py
  tests/framework/cli/conftest.py
  tests/framework/cli/test_cli.py
Due: docs_change, code_change

Update logging.md
  docs/source/logging/logging.md
Due: docs_change

fix lint
  docs/source/get_started/example_project.md
  docs/source/tutorial/visualise_pipeline.md
Due: docs_change

Update outdated MatplotlibWriter Doc (#1579)
  kedro/extras/datasets/matplotlib/matplotlib_writer.py
Due: code_change

Modular Pipeline Documentation updates (#1578)
  docs/source/contribution/documentation_contributor_guidelines.md
  docs/source/nodes_and_pipelines/modular_pipelines.md
Due: docs_change

RichHandler 1: initial setup change default logging.yml (#1569)
  features/ipython.feature
  features/steps/cli_steps.py
  features/steps/test_starter/{{ cookiecutter.repo_name }}/conf/base/logging.yml
  kedro/config/logging.yml
  kedro/templates/project/{{ cookiecutter.repo_name }}/conf/base/logging.yml
  requirements.txt
  tests/framework/cli/test_cli.py
Due: code_change

Update logging documentation (#1572)
  RELEASE.md
  docs/source/deployment/databricks.md
  docs/source/logging/logging.md
Due: docs_change, code_change

Rearrange pipeline creation documentation
  docs/source/tutorial/create_pipelines.md
Due: docs_change

Align formatting of `register_pipelines` docstring
  docs/source/tutorial/create_pipelines.md
Due: docs_change

Linting
  tests/extras/datasets/pandas/test_gbq_dataset.py
Due: code_change

Rearrange pipeline creation documentation (#1581)
  docs/source/tutorial/create_pipelines.md
Due: docs_change

Taking over PR changes
  kedro/framework/cli/starters.py
  kedro/framework/cli/utils.py
Due: code_change

Update README
  RELEASE.md
Due: code_change

Adding starters entrypoints - Fix unittest
  tests/framework/cli/test_cli.py
Due: code_change

Fix outdate starter alias
  kedro/framework/cli/starters.py
Due: code_change

Path conditions:
  docs_change: any of: docs/.*
  code_change: any of: ^((?!docs/).)*$
