Repository kedro-org/kedro: changes, and which CircleCI parameters are due for each by the changed paths.
All: docs_change, code_change

.circleci/config.yml:

version: 2.1

parameters:
  release_kedro:
    type: boolean
    default: false
  # The parameters below are set in CircleCI UI.
  # https://app.circleci.com/settings/project/github/kedro-org/kedro/triggers?return-to=https%3A%2F%2Fapp.circleci.com%2Fpipelines%2Fgithub%2Fkedro-org%2Fkedro&triggerSource=&scheduledTriggerId=61f7226f-f092-4449-98d9-40420f8c46b2&success=true
  run_hourly:
    type: boolean
    default: false
  run_nightly:
    type: boolean
    default: false

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.1

workflows:
  regular:
    jobs:
      # the path-filtering/filter job determines which pipeline
      # parameters to update, i.e. which builds to run.
      - path-filtering/filter:
          name: check-updated-files
          base-revision: main
          config-path: .circleci/continue_config.yml
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            docs/.* docs_change true
            ^((?!docs/).)*$ code_change true

add docs
  docs/source/configuration/advanced_configuration.md
Due: docs_change

Migrate test plugin to pyproject.toml
  features/steps/test_plugin/pyproject.toml
  features/steps/test_plugin/setup.py
Due: code_change

bubble up the common features and fix some level of headers
  docs/source/configuration/advanced_configuration.md
Due: docs_change

Add warning for pandas-iris usage in generator section
  docs/source/nodes_and_pipelines/nodes.md
Due: docs_change

update notebook with keywords
  docs/source/notebooks_and_ipython/notebook-example/add_kedro_to_a_notebook.ipynb
  docs/source/notebooks_and_ipython/notebook-example/add_kedro_to_a_notebook.md
Due: docs_change

remove default environments from notebook
  docs/source/notebooks_and_ipython/notebook-example/add_kedro_to_a_notebook.ipynb
  docs/source/notebooks_and_ipython/notebook-example/add_kedro_to_a_notebook.md
Due: docs_change

typo fix
  docs/source/configuration/configuration_basics.md
Due: docs_change

up dask
  setup.py
Due: code_change

Further updates for instances of kedro new
  docs/source/faq/faq.md
  docs/source/nodes_and_pipelines/nodes.md
  docs/source/tutorial/tutorial_template.md
Due: docs_change

Alternative solution
  features/steps/test_starter/{{ cookiecutter.repo_name }}/src/{{ cookiecutter.python_package }}/settings.py
  kedro/framework/session/session.py
  kedro/templates/project/{{ cookiecutter.repo_name }}/src/{{ cookiecutter.python_package }}/settings.py
  tests/framework/session/test_session.py
Due: code_change

Remove TODO as no longer required
  docs/source/tutorial/tutorial_template.md
Due: docs_change

Update release notes
  RELEASE.md
Due: code_change

Remove setuptools
  pyproject.toml
Due: code_change

Resolve some Vale issues and remove implication of tools + starters
  docs/source/deployment/distributed.md
  docs/source/get_started/new_project.md
  docs/source/nodes_and_pipelines/nodes.md
  docs/source/starters/starters.md
  docs/source/tutorial/tutorial_template.md
Due: docs_change

Remove `pip-tools` as dependency (#3329)
  .github/workflows/pip-compile.yml
  RELEASE.md
  features/steps/test_plugin/pyproject.toml
  features/steps/test_plugin/setup.py
  pyproject.toml
Due: code_change

Add outline
  docs/source/starters/new_project_tools.md
Due: docs_change

Try explicitly add package_name for mickropkg
  kedro/framework/cli/micropkg.py
Due: code_change

Remove create_default_dataset method and replace with arg in runner init
  kedro/io/__init__.py
  kedro/io/data_catalog.py
  kedro/io/memory_dataset.py
  kedro/runner/parallel_runner.py
  kedro/runner/runner.py
  kedro/runner/sequential_runner.py
  kedro/runner/thread_runner.py
  tests/io/test_data_catalog.py
  tests/runner/test_parallel_runner.py
  tests/runner/test_thread_runner.py
Due: code_change

Explicitly set the environment defaults in `settings.py` (#3326)
  features/steps/test_starter/{{ cookiecutter.repo_name }}/src/{{ cookiecutter.python_package }}/settings.py
  kedro/templates/project/{{ cookiecutter.repo_name }}/src/{{ cookiecutter.python_package }}/settings.py
  tests/framework/session/test_session.py
Due: code_change

fixes to internal links
  docs/source/deployment/airflow_astronomer.md
  docs/source/get_started/new_project.md
  docs/source/starters/starters.md
Due: docs_change

pandas-spaceflights bad, spaceflights-pandas good
  docs/source/notebooks_and_ipython/kedro_and_notebooks.md
Due: docs_change

Temporarily remove windows unit-tests
  .github/workflows/all-checks.yml
Due: code_change

Update readme, clean checkout
  RELEASE.md
  kedro/framework/cli/starters.py
Due: code_change

Add tests for SharedMemoryDataset
  tests/io/test_memory_dataset.py
Due: code_change

Add an option to get an example pipeline (#3295)
  MANIFEST.in
  RELEASE.md
  features/steps/cli_steps.py
  kedro/framework/cli/starters.py
  kedro/templates/project/cookiecutter.json
  kedro/templates/project/hooks/post_gen_project.py
  kedro/templates/project/hooks/utils.py
  kedro/templates/project/prompts.yml
  tests/framework/cli/test_starters.py
  tests/tools/test_cli.py
Due: code_change

Revert "bubble up the common features and fix some level of headers"
  docs/source/configuration/advanced_configuration.md
Due: docs_change

Fix the header
  docs/source/configuration/advanced_configuration.md
Due: docs_change

add example for standalone config
  docs/source/configuration/advanced_configuration.md
Due: docs_change

Rename save() to _save() for SharedMemoryDataset
  kedro/io/memory_dataset.py
Due: code_change

Try adding test for coverage
  tests/io/test_memory_dataset.py
Due: code_change

fix cookiecutter docs urls
  docs/source/nodes_and_pipelines/modular_pipelines.md
  docs/source/starters/create_a_starter.md
  docs/source/starters/starters.md
Due: docs_change

Ignore unreachable line
  kedro/io/memory_dataset.py
  tests/io/test_memory_dataset.py
Due: code_change

Ignore __getatrr__ for coverage
  kedro/io/memory_dataset.py
Due: code_change

Update the create a starter docs
  docs/source/starters/create_a_starter.md
  docs/source/starters/starters.md
Due: docs_change

Fix link to avoid linkcheck barf
  docs/source/starters/create_a_starter.md
Due: docs_change

Update docs/source/get_started/new_project.md
  docs/source/get_started/new_project.md
Due: docs_change

Update following review
  docs/source/faq/faq.md
Due: docs_change

Remove example from parameters docs, update make install-pre-commit
  Makefile
  docs/source/configuration/parameters.md
Due: docs_change, code_change

Apply suggestions from code review
  docs/source/configuration/advanced_configuration.md
Due: docs_change

Update docs/source/configuration/configuration_basics.md
  docs/source/configuration/configuration_basics.md
Due: docs_change
