Repository kedro-org/kedro: changes, and which CircleCI parameters are due for each by the changed paths.
All: docs_change, code_change

.circleci/config.yml:

version: 2.1

parameters:
  release_kedro:
    type: boolean
    default: false
  # The parameters below are set in CircleCI UI.
  # https://app.circleci.com/settings/project/github/kedro-org/kedro/triggers?return-to=https%3A%2F%2Fapp.circleci.com%2Fpipelines%2Fgithub%2Fkedro-org%2Fkedro&triggerSource=&scheduledTriggerId=61f7226f-f092-4449-98d9-40420f8c46b2&success=true
  run_hourly:
    type: boolean
    default: false
  run_nightly:
    type: boolean
    default: false

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.1

workflows:
  regular:
    jobs:
      # the path-filtering/filter job determines which pipeline
      # parameters to update, i.e. which builds to run.
      - path-filtering/filter:
          name: check-updated-files
          base-revision: main
          config-path: .circleci/continue_config.yml
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            docs/.* docs_change true
            ^((?!docs/).)*$ code_change true

Update deindexing script to handle removal of stable slug in docs (#4957)
  docs/_static/deindex-old-docs.js
Due: docs_change

Update readme for e2e test template
  features/steps/test_starter/{{ cookiecutter.repo_name }}/README.md
Due: code_change

Added custom CI timeout to save resources and speed up the CI
  .github/workflows/unit-tests.yml
Due: code_change

Update readme for project template (#4960)
  features/steps/test_starter/{{ cookiecutter.repo_name }}/README.md
  kedro/templates/project/{{ cookiecutter.repo_name }}/README.md
Due: code_change

Update FAQs with catalog
  docs/catalog-data/data_catalog.md
  docs/getting-started/faq.md
Due: docs_change

Update FAQs with catalog (#4964)
  docs/catalog-data/data_catalog.md
  docs/getting-started/faq.md
Due: docs_change

Remove some reqs
  pyproject.toml
Due: code_change

remove importlib_resources
  kedro/framework/project/__init__.py
Due: code_change

Quick pass, docs review (#4953)
  docs/getting-started/faq.md
  docs/integrations-and-plugins/dvc.md
  docs/integrations-and-plugins/marimo.md
  mkdocs.yml
Due: docs_change, code_change

Remove importlibe_metadata
  kedro/framework/cli/utils.py
  kedro/framework/project/__init__.py
Due: code_change

Add metadata again
  kedro/framework/cli/utils.py
  pyproject.toml
Due: code_change

minor
  kedro/framework/cli/utils.py
  kedro/framework/project/__init__.py
  pyproject.toml
Due: code_change

Fix benchmark for 1.0.0 (#4920)
  kedro_benchmarks/benchmark_runner.py
Due: code_change

Clean up dependencies (#4965)
  kedro/framework/project/__init__.py
  pyproject.toml
Due: code_change

Apply changes from the PR comments
  kedro/pipeline/pipeline.py
Due: code_change

Revert the importlib_resources removal as it is still needed
  kedro/framework/project/__init__.py
  pyproject.toml
Due: code_change

Removed test phase page
  docs/catalog-data/test_phase.md
Due: docs_change

Removed test phase page reference
  mkdocs.yml
Due: code_change

Fixed formatting
  docs/catalog-data/data_catalog.md
Due: docs_change

Fixed typo
  docs/catalog-data/data_catalog.md
Due: docs_change

Fixed API dataset example
  docs/catalog-data/data_catalog_yaml_examples.md
Due: docs_change

add the run status section in tutorials for kedro-viz
  docs/assets/workflow_view.png
  docs/tutorials/create_a_pipeline.md
Due: docs_change

update all kedro viz to stable version
  docs/about/migration.md
  docs/build/slice_a_pipeline.md
  docs/create/new_project.md
  docs/create/new_project_tools.md
  docs/getting-started/faq.md
  docs/getting-started/glossary.md
  docs/tutorials/create_a_pipeline.md
  docs/tutorials/spaceflights_tutorial.md
Due: docs_change

update kedro-datasets to be stable
  docs/catalog-data/advanced_data_catalog_usage.md
  docs/catalog-data/data_catalog.md
  docs/catalog-data/introduction.md
  docs/extend/common_use_cases.md
  docs/extend/how_to_create_a_custom_dataset.md
  docs/getting-started/faq.md
  docs/getting-started/kedro_concepts.md
  docs/tutorials/set_up_data.md
Due: docs_change

add a section for workflow run status in create new project
  docs/create/new_project.md
Due: docs_change

update kedro-viz link
  docs/deploy/supported-platforms/databricks/databricks_visualisation.md
Due: docs_change

Updated print format
  docs/catalog-data/advanced_data_catalog_usage.md
Due: docs_change

point to the stable version for kedro-viz
  docs/about/migration.md
  docs/deploy/supported-platforms/databricks/databricks_visualisation.md
  docs/tutorials/create_a_pipeline.md
Due: docs_change

remove pre-commit from pyproject
  pyproject.toml
Due: code_change

Added a few API references
  docs/api/io/kedro.io.md
Due: docs_change

Added missung class references
  docs/api/io/kedro.io.CatalogConfigResolver.md
  docs/api/io/kedro.io.SharedMemoryCatalogProtocol.md
Due: docs_change

Updated mkdocs page
  docs/api/io/kedro.io.CatalogProtocol.md
  mkdocs.yml
Due: docs_change, code_change

Updated runners section
  docs/build/run_a_pipeline.md
Due: docs_change

use name="kedro" in your Click group
  kedro/framework/cli/catalog.py
  kedro/framework/cli/cli.py
  kedro/framework/cli/jupyter.py
  kedro/framework/cli/pipeline.py
  kedro/framework/cli/project.py
  kedro/framework/cli/registry.py
  kedro/framework/cli/starters.py
Due: code_change

Fixed mypy
  kedro/framework/project/__init__.py
Due: code_change

Pinned kedro-datasets version
  pyproject.toml
Due: code_change

add breakline for docsstring in describe_datasets
  kedro/framework/cli/catalog.py
Due: code_change

change the format to plain rather than using table
  docs/getting-started/commands_reference.md
Due: docs_change

Commented failing test
  pyproject.toml
  tests/io/test_data_catalog.py
Due: code_change

Added custom CI timeout to save resources and speed up the CI (#4962)
  .github/workflows/unit-tests.yml
Due: code_change
