Repository kedro-org/kedro: changes, and which CircleCI parameters are due for each by the changed paths.
All: docs_change, code_change

.circleci/config.yml:

version: 2.1

parameters:
  release_kedro:
    type: boolean
    default: false
  # The parameters below are set in CircleCI UI.
  # https://app.circleci.com/settings/project/github/kedro-org/kedro/triggers?return-to=https%3A%2F%2Fapp.circleci.com%2Fpipelines%2Fgithub%2Fkedro-org%2Fkedro&triggerSource=&scheduledTriggerId=61f7226f-f092-4449-98d9-40420f8c46b2&success=true
  run_hourly:
    type: boolean
    default: false
  run_nightly:
    type: boolean
    default: false

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.1

workflows:
  regular:
    jobs:
      # the path-filtering/filter job determines which pipeline
      # parameters to update, i.e. which builds to run.
      - path-filtering/filter:
          name: check-updated-files
          base-revision: main
          config-path: .circleci/continue_config.yml
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            docs/.* docs_change true
            ^((?!docs/).)*$ code_change true

Update api_dataset.py
  kedro/extras/datasets/api/api_dataset.py
Due: code_change

Update parquet_dataset.py
  kedro/extras/datasets/dask/parquet_dataset.py
Due: code_change

Update kedro/io/partitioned_dataset.py
  kedro/io/partitioned_dataset.py
Due: code_change

Move credentials.yml creation to fixture
  tests/config/test_omegaconf_config.py
Due: code_change

Modify _resolve_environment_variables to only clear the oc.env resolver if it was not registered
  kedro/config/omegaconf_config.py
Due: code_change

Add omegaconfloader to api docs
  docs/source/api_docs/kedro.config.rst
  kedro/extras/datasets/video/video_dataset.py
Due: docs_change, code_change

Fix linkcheck
  docs/conf.py
  kedro/runner/runner.py
Due: docs_change, code_change

Fix `after_dataset_saved` hook so that it saves multiple outputs when run in async mode (#2159)
  RELEASE.md
  kedro/runner/runner.py
  tests/framework/session/test_session_extension_hooks.py
Due: code_change

Move environment variable resolution to load_and_merge_dir_config
  kedro/config/omegaconf_config.py
Due: code_change

Add read_environment_variables to load_and_merge_dir_config docstring
  kedro/config/omegaconf_config.py
Due: code_change

Modify link to guide on yaml aliases and anchors -- atlassian link + redirect are not available
  docs/source/kedro_project_setup/configuration.md
Due: docs_change

Add 'safe splitting' for node names in options for `kedro run` (#2139)
  RELEASE.md
  docs/source/kedro_project_setup/configuration.md
  kedro/framework/cli/project.py
  kedro/framework/cli/utils.py
  tests/framework/cli/test_cli.py
Due: docs_change, code_change

Update docs/source/hooks/examples.md
  docs/source/hooks/examples.md
Due: docs_change

Update Hooks documentation to include great_expectations v3 API (#2172)
  docs/source/hooks/examples.md
Due: docs_change

Address review suggestion
  kedro/config/omegaconf_config.py
Due: code_change

Fix lint
  docs/source/hooks/examples.md
Due: docs_change

Resolve trailing whitespaces introduced by merging back main
  docs/source/hooks/examples.md
Due: docs_change

Only convert omegaconf DictConfig to primitive type for logging (#2176)
  docs/source/hooks/examples.md
  kedro/config/omegaconf_config.py
  kedro/framework/session/session.py
  tests/framework/session/test_session.py
Due: docs_change, code_change

Add docs for the new `OmegaConfLoader` (#2177)
  docs/conf.py
  docs/source/api_docs/kedro.config.rst
  docs/source/kedro_project_setup/configuration.md
  kedro/extras/datasets/video/video_dataset.py
  kedro/runner/runner.py
Due: docs_change, code_change

Move pytest options from Makefile to pyproject.toml (#2179)
  Makefile
  pyproject.toml
Due: code_change

Document use of conf-source option
  docs/source/development/commands_reference.md
  docs/source/kedro_project_setup/configuration.md
Due: docs_change

Update configuration.md
  docs/source/kedro_project_setup/configuration.md
Due: docs_change

Add test for env resolver not being used when config key is not 'credentials'
  tests/config/test_omegaconf_config.py
Due: code_change

Lint
  tests/config/test_omegaconf_config.py
Due: code_change

Add release note
  RELEASE.md
Due: code_change

Refactor _resolve_environment_variables to remove unnecessary logic control flow variable
  kedro/config/omegaconf_config.py
Due: code_change

Add test_env_resolver_is_registered_after_loading
  tests/config/test_omegaconf_config.py
Due: code_change

Update kedro run cli arguments table
  docs/source/development/commands_reference.md
Due: docs_change

Fix test_env_resolver_is_registered_after_loading
  tests/config/test_omegaconf_config.py
Due: code_change

Add failing test
  tests/io/test_core.py
Due: code_change

Add patch specific for abfss
  kedro/io/core.py
Due: code_change

Update get_started doc to explicitly mention installation of Kedro-Viz package in order to run Kedro Viz command.
  docs/source/get_started/new_project.md
Due: docs_change

Fix linting
  tests/io/test_core.py
Due: code_change

Update both get_started and kedro viz doc to explicitly mention installation of Kedro-Viz package
  docs/source/get_started/new_project.md
  docs/source/visualisation/kedro-viz_visualisation.md
Due: docs_change

Update commands_reference.md
  docs/source/development/commands_reference.md
Due: docs_change

Add cli docs link to configuration.md
  docs/source/kedro_project_setup/configuration.md
Due: docs_change

Update get_started doc to explicitly mention installation of Kedro-Viz (#2191)
  docs/source/get_started/new_project.md
  docs/source/visualisation/kedro-viz_visualisation.md
Due: docs_change
