Repository kedro-org/kedro: changes, and which CircleCI parameters are due for each by the changed paths.
All: docs_change, code_change

.circleci/config.yml:

version: 2.1

parameters:
  release_kedro:
    type: boolean
    default: false
  # The parameters below are set in CircleCI UI.
  # https://app.circleci.com/settings/project/github/kedro-org/kedro/triggers?return-to=https%3A%2F%2Fapp.circleci.com%2Fpipelines%2Fgithub%2Fkedro-org%2Fkedro&triggerSource=&scheduledTriggerId=61f7226f-f092-4449-98d9-40420f8c46b2&success=true
  run_hourly:
    type: boolean
    default: false
  run_nightly:
    type: boolean
    default: false

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.1

workflows:
  regular:
    jobs:
      # the path-filtering/filter job determines which pipeline
      # parameters to update, i.e. which builds to run.
      - path-filtering/filter:
          name: check-updated-files
          base-revision: main
          config-path: .circleci/continue_config.yml
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            docs/.* docs_change true
            ^((?!docs/).)*$ code_change true

fix grammar
  docs/source/configuration/advanced_configuration.md
Due: docs_change

Update new.feature
  features/new.feature
Due: code_change

fix format
  docs/source/configuration/advanced_configuration.md
Due: docs_change

Update dataset factory docs
  docs/source/data/kedro_dataset_factories.md
Due: docs_change

Update content
  docs/source/faq/faq.md
  docs/source/get_started/new_project.md
  docs/source/starters/create_a_starter.md
  docs/source/starters/index.md
  docs/source/starters/starters.md
Due: docs_change

add-ons e2e test
  features/addons.feature
  features/new.feature
  features/steps/cli_steps.py
Due: code_change

fix minor errors
  features/addons.feature
  features/new.feature
  features/steps/cli_steps.py
Due: code_change

Typo
  docs/source/data/kedro_dataset_factories.md
Due: docs_change

Move pip-tools to test requirements instead of GHA wf
  .github/workflows/pip-compile.yml
  pyproject.toml
Due: code_change

Update kedro/io/data_catalog.py
  kedro/io/data_catalog.py
Due: code_change

Rename default_patterns to extra_dataset_patterns
  kedro/io/data_catalog.py
  kedro/io/memory_dataset.py
  kedro/runner/parallel_runner.py
  kedro/runner/runner.py
  kedro/runner/sequential_runner.py
  kedro/runner/thread_runner.py
Due: code_change

Link check
  docs/source/kedro_project_setup/starters.md
Due: docs_change

Move `pip-tools` to test requirements (#3338)
  .github/workflows/pip-compile.yml
  docs/source/kedro_project_setup/starters.md
  pyproject.toml
Due: docs_change, code_change

Try run parallel runner tests on windows
  tests/runner/test_parallel_runner.py
Due: code_change

Put back registring of LoggingDataset in test
  tests/runner/test_parallel_runner.py
Due: code_change

Are no-covers still needed?
  kedro/io/memory_dataset.py
Due: code_change

Put back no-cover for unreachable line
  kedro/io/memory_dataset.py
Due: code_change

Minor dataset factories and config docs update (#3337)
  Makefile
  docs/source/configuration/parameters.md
  docs/source/data/kedro_dataset_factories.md
Due: docs_change, code_change

test
  docs/source/_templates/layout.html
  docs/source/conf.py
Due: docs_change

Take path-like filepaths more broadly for datasets
  kedro/io/core.py
Due: code_change

Exclude `TYPE_CHECKING` block from coverage report
  pyproject.toml
Due: code_change

Update docs/source/nodes_and_pipelines/nodes.md
  docs/source/nodes_and_pipelines/nodes.md
Due: docs_change

Update docs/source/starters/starters.md
  docs/source/starters/starters.md
Due: docs_change

Update FAQ
  docs/source/faq/faq.md
Due: docs_change

update docs, data, pyspark and viz information
  docs/source/starters/new_project_tools.md
Due: docs_change

Revert "Exclude `TYPE_CHECKING` block from coverage report"
  pyproject.toml
Due: code_change

Check if --starter used with --example and/or --addons
  kedro/framework/cli/starters.py
  tests/framework/cli/test_starters.py
Due: code_change

Remove type checking block for just importing `os`
  kedro/io/core.py
Due: code_change

Update RELEASE.md
  RELEASE.md
Due: code_change

Updates following review
  docs/source/faq/faq.md
  docs/source/get_started/new_project.md
  docs/source/starters/create_a_starter.md
  docs/source/starters/index.md
  docs/source/starters/starters.md
Due: docs_change

add mermaid diagram
  docs/source/starters/new_project_tools.md
Due: docs_change

[Ready] Docs changes to remove `pandas-iris` and update `kedro new` flow in onboarding docs (#3317)
  docs/source/deployment/airflow_astronomer.md
  docs/source/deployment/distributed.md
  docs/source/extend_kedro/architecture_overview.md
  docs/source/extend_kedro/common_use_cases.md
  docs/source/extend_kedro/index.md
  docs/source/extend_kedro/plugins.md
  docs/source/faq/faq.md
  docs/source/get_started/install.md
  docs/source/get_started/new_project.md
  docs/source/hooks/examples.md
  docs/source/index.rst
  docs/source/kedro_project_setup/index.md
  docs/source/kedro_project_setup/starters.md
  docs/source/meta/images/KedroArchitecture.drawio
  docs/source/meta/images/kedro_architecture.png
  docs/source/nodes_and_pipelines/modular_pipelines.md
  docs/source/nodes_and_pipelines/nodes.md
  docs/source/nodes_and_pipelines/run_a_pipeline.md
  docs/source/notebooks_and_ipython/kedro_and_notebooks.md
  docs/source/resources/glossary.md
  docs/source/starters/create_a_starter.md
  docs/source/starters/index.md
  docs/source/starters/new_project_tools.md
  docs/source/starters/starters.md
  docs/source/tutorial/tutorial_template.md
Due: docs_change

update e2e add-ons
  features/addons.feature
  features/steps/cli_steps.py
Due: code_change

add tests for pyspark and viz
  features/addons.feature
  features/steps/cli_steps.py
Due: code_change

install dependencies
  features/addons.feature
Due: code_change
