Repository kedro-org/kedro: changes, and which CircleCI parameters are due for each by the changed paths.
All: docs_change, code_change

.circleci/config.yml:

version: 2.1

parameters:
  release_kedro:
    type: boolean
    default: false
  # The parameters below are set in CircleCI UI.
  # https://app.circleci.com/settings/project/github/kedro-org/kedro/triggers?return-to=https%3A%2F%2Fapp.circleci.com%2Fpipelines%2Fgithub%2Fkedro-org%2Fkedro&triggerSource=&scheduledTriggerId=61f7226f-f092-4449-98d9-40420f8c46b2&success=true
  run_hourly:
    type: boolean
    default: false
  run_nightly:
    type: boolean
    default: false

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.1

workflows:
  regular:
    jobs:
      # the path-filtering/filter job determines which pipeline
      # parameters to update, i.e. which builds to run.
      - path-filtering/filter:
          name: check-updated-files
          base-revision: main
          config-path: .circleci/continue_config.yml
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            docs/.* docs_change true
            ^((?!docs/).)*$ code_change true

Refactor setuptools function (#3025)
  kedro/framework/cli/hooks/manager.py
  kedro/framework/hooks/manager.py
  kedro/framework/session/session.py
  kedro/runner/parallel_runner.py
  tests/framework/session/test_session_extension_hooks.py
Due: code_change

Add ConfigLoader and TemplatedConfigLoader deprecation notices on documentation. (#2991) (#3031)
  docs/source/configuration/advanced_configuration.md
  docs/source/configuration/configuration_basics.md
  docs/source/configuration/credentials.md
  docs/source/configuration/parameters.md
  docs/source/development/automated_testing.md
Due: docs_change

fix typo (#3045)
  docs/source/extend_kedro/plugins.md
Due: docs_change

doc: fix typo return vs yield node generator (#3023)
  docs/source/nodes_and_pipelines/nodes.md
Due: docs_change

Add range validation
  kedro/templates/project/hooks/utils.py
Due: code_change

Clean up and clarify text
  kedro/templates/project/cookiecutter.json
  kedro/templates/project/prompts.yml
Due: code_change

Wrap hook script inside main function
  kedro/templates/project/hooks/post_gen_project.py
  kedro/templates/project/hooks/utils.py
Due: code_change

Revert displayed default
  kedro/templates/project/cookiecutter.json
Due: code_change

Add tests for add-on range validation
  tests/framework/cli/test_starters.py
Due: code_change

Update globals, runtime_params resolver + Add tests
  kedro/config/omegaconf_config.py
  tests/config/test_omegaconf_config.py
Due: code_change

Apply suggestions from code review
  kedro/framework/cli/starters.py
  kedro/templates/project/hooks/utils.py
Due: code_change

Update kedro/templates/project/hooks/utils.py
  kedro/templates/project/hooks/utils.py
Due: code_change

Apply suggestions from code review
  kedro/templates/project/hooks/utils.py
  tests/framework/cli/test_starters.py
Due: code_change

Fix lint
  kedro/framework/session/session.py
Due: code_change

Remove traceback from add-on validation - review suggestion
  kedro/framework/cli/starters.py
  kedro/templates/project/hooks/utils.py
  tests/framework/cli/test_starters.py
Due: code_change

Output add-on names when selected (via CLI)
  kedro/framework/cli/starters.py
Due: code_change

Add nightly build workflow and create an issue if it fails (#3032)
  .github/workflows/all-checks.yml
  .github/workflows/nightly-build.yml
Due: code_change

Revert to orginal wording, but retain Mehdi
  docs/source/contribution/technical_steering_committee.md
Due: docs_change

Add Mehdi to the TSC (#3046)
  docs/source/contribution/technical_steering_committee.md
Due: docs_change

Link to correct section about transcoding (#3035)
  .github/styles/Kedro/ignore.txt
  docs/source/integrations/pyspark_integration.md
Due: docs_change, code_change

Add docs, release notes, update test and error condition
  RELEASE.md
  docs/source/configuration/advanced_configuration.md
  kedro/config/omegaconf_config.py
  tests/config/test_omegaconf_config.py
Due: docs_change, code_change

Move table of contents
  docs/source/configuration/advanced_configuration.md
Due: docs_change

Apply suggestions from code review
  docs/source/configuration/advanced_configuration.md
Due: docs_change

Revert 47d935e and fix tests
  kedro/framework/cli/starters.py
  kedro/templates/project/hooks/utils.py
  kedro/templates/project/{{ cookiecutter.repo_name }}/src/requirements.txt
  tests/framework/cli/test_starters.py
Due: code_change

Update RELEASE.md
  RELEASE.md
Due: code_change

Fix test errors
  kedro/framework/cli/starters.py
Due: code_change

Try remove validation
  kedro/framework/cli/starters.py
Due: code_change

Add validation back
  kedro/framework/cli/starters.py
Due: code_change

release note
  RELEASE.md
Due: code_change

remove 3.7 from CI
  .circleci/continue_config.yml
  .github/workflows/all-checks.yml
  .github/workflows/docs-only-checks.yml
Due: code_change

Update pyproject.toml to add Python3.11 into pypi
  pyproject.toml
Due: code_change

Update reference Python 3.7 to Python 3.8 as minimum pin.
  .circleci/continue_config.yml
  docs/source/get_started/install.md
  docs/source/index.rst
  docs/source/introduction/introduction.md
  features/environment.py
  pyproject.toml
Due: docs_change, code_change

Clean up depedencies with Python 3.7
  docs/source/deployment/databricks/databricks_notebooks_development_workflow.md
  setup.py
Due: docs_change, code_change

Update `kedro.extas.datasets` -> `kedro_datasets` for tests
  pyproject.toml
  tests/framework/cli/pipeline/test_pipeline.py
  tests/framework/cli/test_catalog.py
  tests/io/test_cached_dataset.py
  tests/io/test_data_catalog.py
  tests/io/test_incremental_dataset.py
  tests/io/test_partitioned_dataset.py
Due: code_change

remove extras.datasets from importlinter
  pyproject.toml
Due: code_change

lint
  tests/framework/cli/pipeline/test_pipeline.py
  tests/framework/cli/test_catalog.py
  tests/io/test_cached_dataset.py
  tests/io/test_data_catalog.py
  tests/io/test_incremental_dataset.py
  tests/io/test_partitioned_dataset.py
Due: code_change

fix pluggy patch
  tests/framework/cli/test_cli_hooks.py
Due: code_change

Add Yolan Honoré-Rougé to TSC
  docs/source/contribution/technical_steering_committee.md
Due: docs_change
