Repository kedro-org/kedro: changes, and which CircleCI parameters are due for each by the changed paths.
All: docs_change, code_change

.circleci/config.yml:

version: 2.1

parameters:
  release_kedro:
    type: boolean
    default: false
  # The parameters below are set in CircleCI UI.
  # https://app.circleci.com/settings/project/github/kedro-org/kedro/triggers?return-to=https%3A%2F%2Fapp.circleci.com%2Fpipelines%2Fgithub%2Fkedro-org%2Fkedro&triggerSource=&scheduledTriggerId=61f7226f-f092-4449-98d9-40420f8c46b2&success=true
  run_hourly:
    type: boolean
    default: false
  run_nightly:
    type: boolean
    default: false

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.1

workflows:
  regular:
    jobs:
      # the path-filtering/filter job determines which pipeline
      # parameters to update, i.e. which builds to run.
      - path-filtering/filter:
          name: check-updated-files
          base-revision: main
          config-path: .circleci/continue_config.yml
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            docs/.* docs_change true
            ^((?!docs/).)*$ code_change true

Add configloader deprecation notices for configuration pages
  docs/source/configuration/advanced_configuration.md
  docs/source/configuration/configuration_basics.md
  docs/source/configuration/credentials.md
  docs/source/configuration/parameters.md
Due: docs_change

Update RELEASE.md
  RELEASE.md
Due: code_change

Release 0.18.13 (#2988)
  RELEASE.md
  docs/source/development/commands_reference.md
  kedro/__init__.py
  setup.py
Due: docs_change, code_change

Resynced
  pyproject.toml
Due: code_change

restore lower bound for pluggy
  pyproject.toml
Due: code_change

add Metadtahook
  docs/source/hooks/common_use_cases.md
Due: docs_change

Update starters.py
  kedro/framework/cli/starters.py
Due: code_change

Make dataset factory resolve nested dict properly
  RELEASE.md
  kedro/io/data_catalog.py
  tests/io/test_data_catalog.py
Due: code_change

Update CLI fns
  kedro/framework/cli/catalog.py
Due: code_change

Update setup.py
  setup.py
Due: code_change

Update unit test wf
  .github/workflows/unit-tests.yml
  setup.py
Due: code_change

Fix docstrings on kedro/extras/datasets
  kedro/extras/datasets/api/api_dataset.py
  kedro/extras/datasets/dask/parquet_dataset.py
  kedro/extras/datasets/json/json_dataset.py
  kedro/extras/datasets/matplotlib/matplotlib_writer.py
  kedro/extras/datasets/pandas/csv_dataset.py
  kedro/extras/datasets/pandas/excel_dataset.py
  kedro/extras/datasets/pandas/feather_dataset.py
  kedro/extras/datasets/pandas/gbq_dataset.py
  kedro/extras/datasets/pandas/generic_dataset.py
  kedro/extras/datasets/pandas/hdf_dataset.py
  kedro/extras/datasets/pandas/json_dataset.py
  kedro/extras/datasets/pandas/parquet_dataset.py
  kedro/extras/datasets/pandas/sql_dataset.py
  kedro/extras/datasets/pandas/xml_dataset.py
  kedro/extras/datasets/pickle/pickle_dataset.py
  kedro/extras/datasets/pillow/image_dataset.py
  kedro/extras/datasets/plotly/json_dataset.py
  kedro/extras/datasets/plotly/plotly_dataset.py
  kedro/extras/datasets/redis/redis_dataset.py
  kedro/extras/datasets/spark/deltatable_dataset.py
  kedro/extras/datasets/spark/spark_dataset.py
  kedro/extras/datasets/spark/spark_hive_dataset.py
  kedro/extras/datasets/spark/spark_jdbc_dataset.py
  kedro/extras/datasets/svmlight/svmlight_dataset.py
  kedro/extras/datasets/tensorflow/tensorflow_model_dataset.py
  kedro/extras/datasets/text/text_dataset.py
  kedro/extras/datasets/tracking/json_dataset.py
  kedro/extras/datasets/tracking/metrics_dataset.py
  kedro/extras/datasets/video/video_dataset.py
  kedro/extras/datasets/yaml/yaml_dataset.py
  kedro/io/partitioned_dataset.py
Due: code_change

Fix formatting error
  kedro/extras/datasets/api/api_dataset.py
  kedro/extras/datasets/dask/parquet_dataset.py
  kedro/extras/datasets/json/json_dataset.py
  kedro/extras/datasets/matplotlib/matplotlib_writer.py
  kedro/extras/datasets/pandas/csv_dataset.py
  kedro/extras/datasets/pandas/excel_dataset.py
  kedro/extras/datasets/pandas/feather_dataset.py
  kedro/extras/datasets/pandas/gbq_dataset.py
  kedro/extras/datasets/pandas/generic_dataset.py
  kedro/extras/datasets/pandas/hdf_dataset.py
  kedro/extras/datasets/pandas/json_dataset.py
  kedro/extras/datasets/pandas/parquet_dataset.py
  kedro/extras/datasets/pandas/sql_dataset.py
  kedro/extras/datasets/pandas/xml_dataset.py
  kedro/extras/datasets/pickle/pickle_dataset.py
  kedro/extras/datasets/pillow/image_dataset.py
  kedro/extras/datasets/plotly/json_dataset.py
  kedro/extras/datasets/plotly/plotly_dataset.py
  kedro/extras/datasets/redis/redis_dataset.py
  kedro/extras/datasets/spark/deltatable_dataset.py
  kedro/extras/datasets/spark/spark_dataset.py
  kedro/extras/datasets/spark/spark_hive_dataset.py
  kedro/extras/datasets/spark/spark_jdbc_dataset.py
  kedro/extras/datasets/svmlight/svmlight_dataset.py
  kedro/extras/datasets/tensorflow/tensorflow_model_dataset.py
  kedro/extras/datasets/text/text_dataset.py
  kedro/extras/datasets/tracking/json_dataset.py
  kedro/extras/datasets/tracking/metrics_dataset.py
  kedro/extras/datasets/video/video_dataset.py
  kedro/extras/datasets/yaml/yaml_dataset.py
  kedro/io/partitioned_dataset.py
Due: code_change

Explicitly define code block
  kedro/extras/datasets/api/api_dataset.py
  kedro/extras/datasets/dask/parquet_dataset.py
  kedro/extras/datasets/json/json_dataset.py
  kedro/extras/datasets/matplotlib/matplotlib_writer.py
  kedro/extras/datasets/pandas/csv_dataset.py
  kedro/extras/datasets/pandas/excel_dataset.py
  kedro/extras/datasets/pandas/feather_dataset.py
  kedro/extras/datasets/pandas/gbq_dataset.py
  kedro/extras/datasets/pandas/generic_dataset.py
  kedro/extras/datasets/pandas/hdf_dataset.py
  kedro/extras/datasets/pandas/json_dataset.py
  kedro/extras/datasets/pandas/parquet_dataset.py
  kedro/extras/datasets/pandas/sql_dataset.py
  kedro/extras/datasets/pandas/xml_dataset.py
  kedro/extras/datasets/pickle/pickle_dataset.py
  kedro/extras/datasets/pillow/image_dataset.py
  kedro/extras/datasets/plotly/json_dataset.py
  kedro/extras/datasets/plotly/plotly_dataset.py
  kedro/extras/datasets/redis/redis_dataset.py
  kedro/extras/datasets/spark/deltatable_dataset.py
  kedro/extras/datasets/spark/spark_dataset.py
  kedro/extras/datasets/spark/spark_hive_dataset.py
  kedro/extras/datasets/spark/spark_jdbc_dataset.py
  kedro/extras/datasets/svmlight/svmlight_dataset.py
  kedro/extras/datasets/tensorflow/tensorflow_model_dataset.py
  kedro/extras/datasets/text/text_dataset.py
  kedro/extras/datasets/tracking/json_dataset.py
  kedro/extras/datasets/tracking/metrics_dataset.py
  kedro/extras/datasets/video/video_dataset.py
  kedro/extras/datasets/yaml/yaml_dataset.py
  kedro/io/partitioned_dataset.py
Due: code_change

Fix empty line under code block
  kedro/extras/datasets/api/api_dataset.py
  kedro/extras/datasets/dask/parquet_dataset.py
  kedro/extras/datasets/json/json_dataset.py
  kedro/extras/datasets/matplotlib/matplotlib_writer.py
  kedro/extras/datasets/pandas/csv_dataset.py
  kedro/extras/datasets/pandas/excel_dataset.py
  kedro/extras/datasets/pandas/feather_dataset.py
  kedro/extras/datasets/pandas/gbq_dataset.py
  kedro/extras/datasets/pandas/generic_dataset.py
  kedro/extras/datasets/pandas/hdf_dataset.py
  kedro/extras/datasets/pandas/json_dataset.py
  kedro/extras/datasets/pandas/parquet_dataset.py
  kedro/extras/datasets/pandas/sql_dataset.py
  kedro/extras/datasets/pandas/xml_dataset.py
  kedro/extras/datasets/pickle/pickle_dataset.py
  kedro/extras/datasets/pillow/image_dataset.py
  kedro/extras/datasets/plotly/json_dataset.py
  kedro/extras/datasets/plotly/plotly_dataset.py
  kedro/extras/datasets/redis/redis_dataset.py
  kedro/extras/datasets/spark/deltatable_dataset.py
  kedro/extras/datasets/spark/spark_dataset.py
  kedro/extras/datasets/spark/spark_hive_dataset.py
  kedro/extras/datasets/spark/spark_jdbc_dataset.py
  kedro/extras/datasets/svmlight/svmlight_dataset.py
  kedro/extras/datasets/tensorflow/tensorflow_model_dataset.py
  kedro/extras/datasets/text/text_dataset.py
  kedro/extras/datasets/tracking/json_dataset.py
  kedro/extras/datasets/tracking/metrics_dataset.py
  kedro/extras/datasets/video/video_dataset.py
  kedro/extras/datasets/yaml/yaml_dataset.py
  kedro/io/partitioned_dataset.py
Due: code_change

Fix formatting error
  kedro/extras/datasets/api/api_dataset.py
  kedro/extras/datasets/pandas/hdf_dataset.py
  kedro/extras/datasets/pandas/json_dataset.py
  kedro/extras/datasets/pandas/parquet_dataset.py
  kedro/extras/datasets/pandas/sql_dataset.py
  kedro/extras/datasets/pickle/pickle_dataset.py
  kedro/extras/datasets/plotly/json_dataset.py
  kedro/extras/datasets/plotly/plotly_dataset.py
  kedro/extras/datasets/redis/redis_dataset.py
  kedro/extras/datasets/spark/deltatable_dataset.py
  kedro/extras/datasets/spark/spark_dataset.py
  kedro/extras/datasets/spark/spark_hive_dataset.py
  kedro/extras/datasets/spark/spark_jdbc_dataset.py
  kedro/extras/datasets/svmlight/svmlight_dataset.py
  kedro/extras/datasets/tensorflow/tensorflow_model_dataset.py
  kedro/extras/datasets/text/text_dataset.py
  kedro/extras/datasets/tracking/json_dataset.py
  kedro/extras/datasets/tracking/metrics_dataset.py
  kedro/extras/datasets/video/video_dataset.py
  kedro/extras/datasets/yaml/yaml_dataset.py
  kedro/io/partitioned_dataset.py
Due: code_change

Fix broken link
  kedro/io/partitioned_dataset.py
Due: code_change

Revert update to unit test wf
  .github/workflows/unit-tests.yml
Due: code_change

Update test
  tests/io/test_data_catalog.py
Due: code_change

Bump kedro-datasets version
  setup.py
Due: code_change

Update links in partitioned and incremental datasets
  kedro/io/partitioned_dataset.py
Due: code_change

Update links in partitioned dataset
  kedro/io/partitioned_dataset.py
Due: code_change

Add polars.GenericDataSet to .rst
  docs/source/kedro_datasets.rst
Due: docs_change

Fix docstrings on kedro/extras/datasets (#2995)
  docs/source/kedro_datasets.rst
  kedro/extras/datasets/api/api_dataset.py
  kedro/extras/datasets/dask/parquet_dataset.py
  kedro/extras/datasets/json/json_dataset.py
  kedro/extras/datasets/matplotlib/matplotlib_writer.py
  kedro/extras/datasets/pandas/csv_dataset.py
  kedro/extras/datasets/pandas/excel_dataset.py
  kedro/extras/datasets/pandas/feather_dataset.py
  kedro/extras/datasets/pandas/gbq_dataset.py
  kedro/extras/datasets/pandas/generic_dataset.py
  kedro/extras/datasets/pandas/hdf_dataset.py
  kedro/extras/datasets/pandas/json_dataset.py
  kedro/extras/datasets/pandas/parquet_dataset.py
  kedro/extras/datasets/pandas/sql_dataset.py
  kedro/extras/datasets/pandas/xml_dataset.py
  kedro/extras/datasets/pickle/pickle_dataset.py
  kedro/extras/datasets/pillow/image_dataset.py
  kedro/extras/datasets/plotly/json_dataset.py
  kedro/extras/datasets/plotly/plotly_dataset.py
  kedro/extras/datasets/redis/redis_dataset.py
  kedro/extras/datasets/spark/deltatable_dataset.py
  kedro/extras/datasets/spark/spark_dataset.py
  kedro/extras/datasets/spark/spark_hive_dataset.py
  kedro/extras/datasets/spark/spark_jdbc_dataset.py
  kedro/extras/datasets/svmlight/svmlight_dataset.py
  kedro/extras/datasets/tensorflow/tensorflow_model_dataset.py
  kedro/extras/datasets/text/text_dataset.py
  kedro/extras/datasets/tracking/json_dataset.py
  kedro/extras/datasets/tracking/metrics_dataset.py
  kedro/extras/datasets/video/video_dataset.py
  kedro/extras/datasets/yaml/yaml_dataset.py
  kedro/io/partitioned_dataset.py
  setup.py
Due: docs_change, code_change

Fix linting
  tests/io/test_data_catalog.py
Due: code_change

Some more changes to configuration docs
  docs/source/configuration/advanced_configuration.md
  docs/source/configuration/configuration_basics.md
  docs/source/configuration/credentials.md
  docs/source/configuration/parameters.md
Due: docs_change

Some more changes to configuration docs
  docs/source/configuration/advanced_configuration.md
  docs/source/configuration/configuration_basics.md
  docs/source/configuration/credentials.md
Due: docs_change

Update automated testing example with OCL
  docs/source/development/automated_testing.md
Due: docs_change

Minor docs changes on data section to create a PR and test Vale styles (#2966)
  .github/styles/Kedro/quotes.yml
  docs/source/data/advanced_data_catalog_usage.md
  docs/source/data/data_catalog.md
  docs/source/data/data_catalog_yaml_examples.md
  docs/source/data/how_to_create_a_custom_dataset.md
  docs/source/data/index.md
  docs/source/data/kedro_dataset_factories.md
  docs/source/data/partitioned_and_incremental_datasets.md
Due: docs_change, code_change

PiP/pyproject.toml and Conda/Meta.yaml Sync (#2922)
  pyproject.toml
Due: code_change

fix typo for build
  pyproject.toml
Due: code_change

Change text as per Vale suggestions
  docs/source/configuration/advanced_configuration.md
Due: docs_change

fix typo for build (#3001)
  pyproject.toml
Due: code_change

Update typing
  kedro/io/data_catalog.py
Due: code_change

add post_gen_project in cookiecutter hooks
  kedro/framework/cli/starters.py
  kedro/templates/project/cookiecutter.json
  kedro/templates/project/hooks/post_gen_project.py
Due: code_change

add confirmation message for the options selected
  kedro/framework/cli/starters.py
Due: code_change

Pin build version for 3.7
  pyproject.toml
Due: code_change

Fix docs according to comments
  docs/source/hooks/common_use_cases.md
  kedro/framework/hooks/manager.py
Due: docs_change, code_change
