Repository kedro-org/kedro: changes, and which CircleCI parameters are due for each by the changed paths.
All: docs_change, code_change

Remove unused import
  tests/framework/cli/test_jupyter.py
Due: code_change

remove --load-version
  kedro/framework/cli/project.py
  tests/framework/cli/test_cli.py
Due: code_change

[AUTO-MERGE] Merge main into develop via merge-main-to-develop (#3280)
  .pre-commit-config.yaml
  docs/source/conf.py
  docs/source/deployment/aws_batch.md
  docs/source/experiment_tracking/index.md
  docs/source/get_started/kedro_concepts.md
  docs/source/hooks/examples.md
  docs/source/notebooks_and_ipython/notebook-example/add_kedro_to_a_notebook.md
  docs/source/tutorial/create_a_pipeline.md
  docs/source/visualisation/visualise_charts_with_plotly.md
  features/steps/sh_run.py
  kedro/config/omegaconf_config.py
  kedro/framework/cli/micropkg.py
  kedro/framework/cli/pipeline.py
  kedro/framework/cli/project.py
  kedro/framework/cli/registry.py
  kedro/framework/cli/starters.py
  kedro/framework/cli/utils.py
  kedro/framework/hooks/specs.py
  kedro/framework/project/__init__.py
  kedro/framework/session/session.py
  kedro/io/core.py
  kedro/io/data_catalog.py
  kedro/io/lambda_dataset.py
  kedro/pipeline/modular_pipeline.py
  kedro/pipeline/node.py
  kedro/pipeline/pipeline.py
  kedro/runner/parallel_runner.py
  kedro/runner/runner.py
  pyproject.toml
  tests/config/test_omegaconf_config.py
  tests/framework/cli/test_catalog.py
  tests/framework/cli/test_starters.py
  tests/framework/session/test_session.py
  tests/framework/session/test_session_extension_hooks.py
  tests/io/test_core.py
  tests/pipeline/test_modular_pipeline.py
  tests/pipeline/test_node.py
  tests/runner/test_parallel_runner.py
  tests/runner/test_thread_runner.py
Due: docs_change, code_change

modify validation from the end of selection
  kedro/framework/cli/starters.py
  tests/framework/cli/test_starters.py
Due: code_change

LINT
  kedro/framework/cli/starters.py
Due: code_change

update error message link to installation guide
  kedro/io/core.py
Due: code_change

add tests
  tests/io/test_core.py
Due: code_change

Change error message
  kedro/io/core.py
  tests/io/test_core.py
Due: code_change

Update docstring
  tests/io/test_core.py
Due: code_change

fix lint
  kedro/io/core.py
  tests/io/test_core.py
Due: code_change

Update docs/source/data/how_to_create_a_custom_dataset.md
  docs/source/data/how_to_create_a_custom_dataset.md
Due: docs_change

Update docs/source/data/partitioned_and_incremental_datasets.md
  docs/source/data/partitioned_and_incremental_datasets.md
Due: docs_change

Update docs/source/extend_kedro/common_use_cases.md
  docs/source/extend_kedro/common_use_cases.md
Due: docs_change

Update docs/source/get_started/kedro_concepts.md
  docs/source/get_started/kedro_concepts.md
Due: docs_change

Update docs/source/get_started/new_project.md
  docs/source/get_started/new_project.md
Due: docs_change

Update docs/source/introduction/index.md
  docs/source/introduction/index.md
Due: docs_change

Update docs/source/notebooks_and_ipython/notebook-example/add_kedro_to_a_notebook.ipynb
  docs/source/notebooks_and_ipython/notebook-example/add_kedro_to_a_notebook.ipynb
Due: docs_change

Update docs/source/notebooks_and_ipython/notebook-example/add_kedro_to_a_notebook.md
  docs/source/notebooks_and_ipython/notebook-example/add_kedro_to_a_notebook.md
Due: docs_change

Update docs/source/resources/glossary.md
  docs/source/resources/glossary.md
Due: docs_change

Update docs/source/tutorial/add_another_pipeline.md
  docs/source/tutorial/add_another_pipeline.md
Due: docs_change

Update docs/source/tutorial/create_a_pipeline.md
  docs/source/tutorial/create_a_pipeline.md
Due: docs_change

Update docs/source/tutorial/set_up_data.md
  docs/source/tutorial/set_up_data.md
Due: docs_change

Update docs/source/tutorial/spaceflights_tutorial.md
  docs/source/tutorial/spaceflights_tutorial.md
Due: docs_change

Fix another link
  docs/source/data/data_catalog.md
Due: docs_change

Update tests/framework/cli/test_cli.py
  tests/framework/cli/test_cli.py
Due: code_change

simplify _split_params
  kedro/framework/cli/utils.py
Due: code_change

Add suggestions from review
  kedro/framework/cli/utils.py
  tests/framework/cli/test_cli.py
Due: code_change

remove _update_nested_dict, update params to use omegaconf, update magic_reload_kedro
  kedro/framework/context/context.py
  kedro/ipython/__init__.py
  tests/framework/context/test_context.py
Due: code_change

Remove -W flag from docs build
  docs/build-docs.sh
Due: docs_change

Update docs/build-docs.sh
  docs/build-docs.sh
Due: docs_change

Death to nitpicky (for now)
  docs/source/conf.py
Due: docs_change

Disable link checking for a test
  docs/build-docs.sh
Due: docs_change

Path conditions:
  docs_change: any of: docs/.*
  code_change: any of: ^((?!docs/).)*$
