Repository kedro-org/kedro: changes, and which CircleCI parameters are due for each by the changed paths.
All: docs_change, code_change

update Datasets name
  docs/extend/common_use_cases.md
Due: docs_change

Update `DataCatalog` docs for 1.0 (#4969)
  docs/api/io/kedro.io.CatalogConfigResolver.md
  docs/api/io/kedro.io.CatalogProtocol.md
  docs/api/io/kedro.io.SharedMemoryCatalogProtocol.md
  docs/api/io/kedro.io.md
  docs/build/run_a_pipeline.md
  docs/catalog-data/advanced_data_catalog_usage.md
  docs/catalog-data/data_catalog.md
  docs/catalog-data/data_catalog_yaml_examples.md
  docs/catalog-data/test_phase.md
  kedro/framework/project/__init__.py
  mkdocs.yml
Due: docs_change, code_change

include unreleased docs link
  docs/create/new_project.md
  docs/tutorials/create_a_pipeline.md
Due: docs_change

Fixed cli unit tests
  tests/framework/cli/test_cli.py
Due: code_change

Docs/fix cli reference (#4972)
  docs/getting-started/commands_reference.md
  kedro/framework/cli/catalog.py
  kedro/framework/cli/cli.py
  kedro/framework/cli/jupyter.py
  kedro/framework/cli/pipeline.py
  kedro/framework/cli/project.py
  kedro/framework/cli/registry.py
  kedro/framework/cli/starters.py
  tests/framework/cli/test_cli.py
Due: docs_change, code_change

Removed DataCatalog duplicatibg section
  docs/getting-started/commands_reference.md
Due: docs_change

Updated kedro ipython command docstrings
  kedro/framework/cli/project.py
Due: code_change

update example code block
  kedro/io/core.py
  kedro/io/data_catalog.py
  kedro/io/memory_dataset.py
Due: code_change

Docs/Workflow view (#4970)
  docs/about/migration.md
  docs/assets/workflow_view.png
  docs/build/slice_a_pipeline.md
  docs/catalog-data/advanced_data_catalog_usage.md
  docs/catalog-data/data_catalog.md
  docs/catalog-data/introduction.md
  docs/create/new_project.md
  docs/deploy/supported-platforms/databricks/databricks_visualisation.md
  docs/extend/common_use_cases.md
  docs/extend/how_to_create_a_custom_dataset.md
  docs/getting-started/faq.md
  docs/getting-started/glossary.md
  docs/getting-started/kedro_concepts.md
  docs/tutorials/create_a_pipeline.md
  docs/tutorials/set_up_data.md
  docs/tutorials/spaceflights_tutorial.md
Due: docs_change

update format for the rest of io
  kedro/io/cached_dataset.py
  kedro/io/core.py
Due: code_change

fix framework/context
  kedro/framework/context/catalog_mixins.py
Due: code_change

update session
  kedro/framework/session/session.py
Due: code_change

update other files
  kedro/config/omegaconf_config.py
  kedro/framework/context/context.py
  kedro/pipeline/node.py
  kedro/pipeline/pipeline.py
Due: code_change

fix typo
  kedro/framework/session/session.py
  kedro/io/memory_dataset.py
Due: code_change

Removed DataCatalog duplicating section (#4973)
  docs/getting-started/commands_reference.md
Due: docs_change

update catalog resolver
  kedro/io/catalog_config_resolver.py
  kedro/io/data_catalog.py
Due: code_change

update lint error
  kedro/framework/context/catalog_mixins.py
  kedro/io/catalog_config_resolver.py
  kedro/io/data_catalog.py
Due: code_change

Removed notebook section
  docs/getting-started/commands_reference.md
Due: docs_change

Updates package command docstrings
  docs/getting-started/commands_reference.md
  kedro/framework/cli/project.py
Due: docs_change, code_change

Removed the rest of the duplicating sections
  docs/getting-started/commands_reference.md
Due: docs_change

remove extra space
  kedro/config/omegaconf_config.py
  kedro/framework/context/catalog_mixins.py
  kedro/framework/context/context.py
  kedro/framework/session/session.py
  kedro/io/cached_dataset.py
  kedro/io/core.py
  kedro/io/memory_dataset.py
  kedro/pipeline/node.py
  kedro/pipeline/pipeline.py
Due: code_change

fix lint
  kedro/framework/context/catalog_mixins.py
  kedro/io/core.py
  kedro/io/memory_dataset.py
  kedro/pipeline/node.py
  kedro/pipeline/pipeline.py
Due: code_change

remove extra ::
  kedro/io/catalog_config_resolver.py
Due: code_change

add missing ```
  kedro/config/omegaconf_config.py
Due: code_change

Moved the section and restored code snippet
  docs/getting-started/commands_reference.md
Due: docs_change

Updated kedro commands section text
  docs/getting-started/commands_reference.md
Due: docs_change

Remove indentation
  docs/getting-started/commands_reference.md
Due: docs_change

Returned indentation
  docs/getting-started/commands_reference.md
Due: docs_change

Change dot to underscore to avoid misundestanding
  docs/catalog-data/kedro_dataset_factories.md
Due: docs_change

lint
  kedro/io/core.py
Due: code_change

Updated todos
  pyproject.toml
  tests/io/test_data_catalog.py
Due: code_change

revert importlib_resources
  kedro/framework/project/__init__.py
  pyproject.toml
Due: code_change

Resolve TODOs in tests (#4937)
  tests/framework/cli/test_cli.py
  tests/io/test_data_catalog.py
Due: code_change

Add separator
  docs/catalog-data/kedro_dataset_factories.md
Due: docs_change

changes based on review
  kedro/io/core.py
Due: code_change

Remove sorting of requirements
  kedro/templates/project/hooks/post_gen_project.py
  kedro/templates/project/hooks/utils.py
Due: code_change

Annotate `copy_mode` in `MemoryDataset` and `CachedDataset` as `Literal` instead of `str` (#4825)
  kedro/io/cached_dataset.py
  kedro/io/core.py
  kedro/io/memory_dataset.py
Due: code_change

Updated code example
  docs/getting-started/commands_reference.md
Due: docs_change

Updated the note
  docs/getting-started/commands_reference.md
Due: docs_change

Fixed formatting
  docs/getting-started/commands_reference.md
Due: docs_change

Path conditions:
  docs_change: any of: docs/.*
  code_change: any of: ^((?!docs/).)*$
