Repository kedro-org/kedro: changes, and which CircleCI parameters are due for each by the changed paths.
All: docs_change, code_change

.circleci/config.yml:

version: 2.1

parameters:
  release_kedro:
    type: boolean
    default: false
  # The parameters below are set in CircleCI UI.
  # https://app.circleci.com/settings/project/github/kedro-org/kedro/triggers?return-to=https%3A%2F%2Fapp.circleci.com%2Fpipelines%2Fgithub%2Fkedro-org%2Fkedro&triggerSource=&scheduledTriggerId=61f7226f-f092-4449-98d9-40420f8c46b2&success=true
  run_hourly:
    type: boolean
    default: false
  run_nightly:
    type: boolean
    default: false

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.1

workflows:
  regular:
    jobs:
      # the path-filtering/filter job determines which pipeline
      # parameters to update, i.e. which builds to run.
      - path-filtering/filter:
          name: check-updated-files
          base-revision: main
          config-path: .circleci/continue_config.yml
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            docs/.* docs_change true
            ^((?!docs/).)*$ code_change true

tests
  tests/framework/cli/test_cli.py
Due: code_change

test coverage
  tests/framework/cli/test_cli.py
Due: code_change

target pipeline for type_extractor
  kedro/validation/parameter_validator.py
  kedro/validation/type_extractor.py
  tests/validation/test_parameter_validator.py
  tests/validation/test_type_extractor.py
Due: code_change

Validate logging class for logging.yml config
  kedro/framework/project/__init__.py
  tests/framework/project/test_logging.py
Due: code_change

feat(deps): add optional kedro[pydantic] dependency extra
  RELEASE.md
  docs/configure/parameter_validation.md
  pyproject.toml
Due: docs_change, code_change

Update kedro/framework/project/__init__.py
  kedro/framework/project/__init__.py
Due: code_change

first draft
  SECURITY_MODEL.md
Due: code_change

Move _LOGGING_BASE_CLASSES to module level, lint
  kedro/framework/project/__init__.py
Due: code_change

connect with context
  kedro/framework/context/context.py
  kedro/framework/session/session.py
  tests/framework/context/test_context.py
Due: code_change

address PR comments
  docs/inspect/inspect-project.md
Due: docs_change

Add documentation for inspection API (#5480)
  docs/api/inspection/kedro.inspection.md
  docs/api/inspection/kedro.inspection.models.md
  docs/inspect/inspect-project.md
  mkdocs.yml
Due: docs_change, code_change

add release notes
  RELEASE.md
Due: code_change

Inspection API implementation (#5447)
  RELEASE.md
  docs/api/inspection/kedro.inspection.md
  docs/api/inspection/kedro.inspection.models.md
  docs/inspect/inspect-project.md
  features/inspection.feature
  features/steps/cli_steps.py
  kedro/inspection/__init__.py
  kedro/inspection/helper.py
  kedro/inspection/models.py
  kedro/inspection/snapshot.py
  mkdocs.yml
  tests/inspection/__init__.py
  tests/inspection/test_dataset_snapshot.py
  tests/inspection/test_helper.py
  tests/inspection/test_metadata_snapshot.py
  tests/inspection/test_node_pipeline_snapshot.py
  tests/inspection/test_project_snapshot.py
  tests/inspection/test_public_api.py
Due: docs_change, code_change

fix for security
  kedro/inspection/models.py
  kedro/inspection/snapshot.py
  tests/inspection/test_dataset_snapshot.py
  tests/inspection/test_project_snapshot.py
Due: code_change

first draft http server
  kedro/framework/cli/cli.py
  kedro/framework/cli/server.py
  kedro/server/__init__.py
  kedro/server/http_server.py
  kedro/server/models.py
  kedro/server/utils.py
  pyproject.toml
Due: code_change

Fix lint and unit test
  kedro/framework/cli/server.py
  kedro/server/__init__.py
  kedro/server/http_server.py
  kedro/server/models.py
  kedro/server/utils.py
  tests/framework/cli/test_cli.py
Due: code_change

Apply suggestion from @ravi-kumar-pilla
  docs/configure/parameter_validation.md
Due: docs_change

test
  .github/workflows/security.yml
  .gitignore
  tools/github_actions/check-pip-audit.sh
  tools/github_actions/check-semgrep.sh
Due: code_change

Add validation to logging class for `logging.yml` configuration (#5497)
  kedro/framework/project/__init__.py
  tests/framework/project/test_logging.py
Due: code_change

Document stateful hook patterns in common use cases
  docs/extend/hooks/common_use_cases.md
Due: docs_change

docs: adjust wording to satisfy Vale style checks
  docs/extend/hooks/common_use_cases.md
Due: docs_change

draft spike work
  docs/on_demand_dependency_loading.md
Due: docs_change

Tests
  tests/validation/test_parameter_validator.py
  tests/validation/test_utils.py
Due: code_change

Add function to resolve nested path
  kedro/validation/utils.py
Due: code_change

Better comment
  kedro/validation/utils.py
Due: code_change

Fix checkout warning logic
  kedro/framework/cli/starters.py
  tests/framework/cli/starters/test_new_from_cli_flags.py
Due: code_change

fixed errors
  .github/workflows/security.yml
Due: code_change

test deep scan
  .github/workflows/security.yml
Due: code_change

Add missing value reporter utility with unit tests
  kedro/missing_value_reporter.py
  tests/test_missing_value_reporter.py
Due: code_change

Strengthen partial missing values test with flagging assertion
  tests/test_missing_value_reporter.py
Due: code_change

fix: prevent false --checkout warning when using official starters
  kedro/framework/cli/starters.py
Due: code_change

add run result
  kedro/server/http_server.py
  kedro/server/models.py
Due: code_change

Add CMP script to Kedro docs
  mkdocs.yml
Due: code_change

Add support for Python 3.14
  .github/workflows/all-checks.yml
  README.md
  docs/overrides/welcome.html
  pyproject.toml
Due: docs_change, code_change

Bump version on version warning
  kedro/__init__.py
Due: code_change

Typo
  .github/workflows/all-checks.yml
Due: code_change

Update tests and fixtures to work with 3.14
  kedro/runner/task.py
  kedro/validation/type_extractor.py
  tests/framework/session/test_session_extension_hooks.py
  tests/test_import.py
Due: code_change

Force spawn on 3.14 tests
  tests/conftest.py
Due: code_change

Release note
  RELEASE.md
Due: code_change
