Repository kedro-org/kedro: changes, and which CircleCI parameters are due for each by the changed paths.
All: docs_change, code_change

remove unused method
  docs/source/extend_kedro/plugins.md
Due: docs_change

remove unused method (#4642)
  docs/source/extend_kedro/plugins.md
Due: docs_change

update some api format
  docs/api/kedro.io.md
  docs/api/kedro.logging.md
  docs/api/kedro.pipeline.md
  docs/api/kedro.runner.md
  docs/api/kedro.utils.md
  mkdocs.yml
Due: docs_change, code_change

reorganise css files
  docs/stylesheets/globals.css
  docs/stylesheets/themes.css
  mkdocs.yml
Due: docs_change, code_change

address PR comments
  kedro/framework/context/context.py
  kedro/io/kedro_data_catalog.py
Due: code_change

address PR comments
  kedro/framework/context/context.py
Due: code_change

update project.toml
  mkdocs.yml
  pyproject.toml
Due: code_change

first draft of readme
  docs/readme.md
Due: docs_change

Show the full interruption path into the warning
  kedro/pipeline/pipeline.py
  tests/pipeline/test_pipeline_namespaces.py
Due: code_change

Fixed typo - AWAA to MWAA (#4641)
  docs/source/deployment/airflow.md
Due: docs_change

fix some base api docs
  docs/api/kedro.config.md
  docs/api/kedro.io.md
  docs/api/kedro.logging.md
  docs/api/kedro.pipeline.md
  docs/api/kedro.runner.md
Due: docs_change

ignore mypy
  kedro/framework/context/context.py
Due: code_change

api/framework
  docs/api/framework/kedro.framework.cli.md
  docs/api/framework/kedro.framework.context.md
  docs/api/framework/kedro.framework.hooks.md
  docs/api/framework/kedro.framework.md
  docs/api/framework/kedro.framework.project.md
  docs/api/framework/kedro.framework.session.md
  docs/api/framework/kedro.framework.startup.md
  docs/api/kedro.utils.md
Due: docs_change

API for io
  docs/api/io/kedro.io.AbstractDataset.md
  docs/api/io/kedro.io.AbstractVersionedDataset.md
  docs/api/io/kedro.io.CachedDataset.md
  docs/api/io/kedro.io.DataCatalog.md
  docs/api/io/kedro.io.DatasetAlreadyExistsError.md
  docs/api/io/kedro.io.DatasetError.md
  docs/api/io/kedro.io.DatasetNotFoundError.md
  docs/api/io/kedro.io.LambdaDataset.md
  docs/api/io/kedro.io.MemoryDataset.md
  docs/api/io/kedro.io.Version.md
  docs/api/io/kedro.io.md
  docs/api/kedro.io.md
Due: docs_change

add back the old test
  .secrets.baseline
  tests/framework/context/test_context.py
Due: code_change

Fixed _validate_transcoded_datasets
  kedro/framework/context/context.py
Due: code_change

api doc for pipeline
  docs/api/kedro.pipeline.md
  docs/api/pipeline/kedro.pipeline.Pipeline.md
  docs/api/pipeline/kedro.pipeline.md
  docs/api/pipeline/kedro.pipeline.modular_pipeline.ModularPipelineError.md
  docs/api/pipeline/kedro.pipeline.modular_pipeline.pipeline.md
  docs/api/pipeline/kedro.pipeline.node.Node.md
  docs/api/pipeline/kedro.pipeline.node.md
Due: docs_change

api doc for runner
  docs/api/kedro.runner.md
  docs/api/runner/kedro.runner.AbstractRunner.md
  docs/api/runner/kedro.runner.ParallelRunner.md
  docs/api/runner/kedro.runner.SequentialRunner.md
  docs/api/runner/kedro.runner.ThreadRunner.md
  docs/api/runner/kedro.runner.md
  docs/api/runner/kedro.runner.run_node.md
  mkdocs.yml
Due: docs_change, code_change

Updated setter log message based on ser default dataset
  kedro/io/kedro_data_catalog.py
Due: code_change

API docs for config
  docs/api/config/kedro.config.AbstractConfigLoader.md
  docs/api/config/kedro.config.MissingConfigException.md
  docs/api/config/kedro.config.OmegaConfigLoader.md
  docs/api/config/kedro.config.md
  docs/api/kedro.config.md
  mkdocs.yml
Due: docs_change, code_change

API docs for ipython
  docs/api/ipython/kedro.ipython.load_ipython_extension.md
  docs/api/ipython/kedro.ipython.magic_load_node.md
  docs/api/ipython/kedro.ipython.magic_reload_kedro.md
  docs/api/ipython/kedro.ipython.md
  docs/api/ipython/kedro.ipython.reload_kedro.md
  mkdocs.yml
Due: docs_change, code_change

Fix test
  tests/io/test_core.py
Due: code_change

Move runtime pattern from runner to catalog (#4592)
  features/steps/test_starter/{{ cookiecutter.repo_name }}/src/{{ cookiecutter.python_package }}/settings.py
  kedro/framework/cli/catalog.py
  kedro/framework/context/context.py
  kedro/framework/hooks/specs.py
  kedro/framework/project/__init__.py
  kedro/framework/session/session.py
  kedro/io/__init__.py
  kedro/io/catalog_config_resolver.py
  kedro/io/core.py
  kedro/io/data_catalog.py
  kedro/io/kedro_data_catalog.py
  kedro/ipython/__init__.py
  kedro/runner/parallel_runner.py
  kedro/runner/runner.py
  kedro/runner/sequential_runner.py
  kedro/runner/thread_runner.py
  kedro/templates/project/{{ cookiecutter.repo_name }}/src/{{ cookiecutter.python_package }}/settings.py
  kedro_benchmarks/benchmark_datacatalog.py
  kedro_benchmarks/benchmark_kedrodatacatalog.py
  kedro_benchmarks/benchmark_runner.py
  tests/framework/cli/conftest.py
  tests/framework/cli/test_catalog.py
  tests/framework/context/test_context.py
  tests/framework/project/test_logging.py
  tests/framework/project/test_settings.py
  tests/framework/session/conftest.py
  tests/framework/session/test_session_extension_hooks.py
  tests/io/test_cached_dataset.py
  tests/io/test_data_catalog.py
  tests/pipeline/test_pipeline_from_missing.py
  tests/pipeline/test_pipeline_integration.py
  tests/runner/conftest.py
  tests/runner/test_parallel_runner.py
  tests/runner/test_resume_logic.py
  tests/runner/test_sequential_runner.py
  tests/runner/test_thread_runner.py
Due: code_change

address PR comments
  kedro/framework/cli/catalog.py
  kedro/framework/context/context.py
  kedro/framework/hooks/specs.py
  kedro/runner/runner.py
  kedro_benchmarks/benchmark_kedrodatacatalog.py
Due: code_change

Improve error handling for Custom Datasets (#4580)
  .secrets.baseline
  RELEASE.md
  kedro/io/core.py
  tests/io/test_core.py
  tests/io/test_data_catalog.py
  tests/io/test_kedro_data_catalog.py
Due: code_change

Reverted odd deletion
  kedro/io/kedro_data_catalog.py
Due: code_change

Removed not needed part of run
  kedro/runner/runner.py
Due: code_change

Updated list_datasets command
  kedro/framework/context/catalog_mixins.py
Due: code_change

Updated resolve patterns command
  kedro/framework/context/catalog_mixins.py
Due: code_change

partial ut update 2
  .secrets.baseline
  kedro/io/core.py
  tests/framework/cli/conftest.py
  tests/framework/cli/pipeline/test_pipeline.py
  tests/framework/cli/test_catalog.py
  tests/io/test_kedro_data_catalog.py
Due: code_change

merged develop
  .secrets.baseline
  RELEASE.md
  docs/source/deployment/airflow.md
  docs/source/extend_kedro/plugins.md
  kedro/io/core.py
  kedro/pipeline/modular_pipeline.py
  kedro/pipeline/pipeline.py
  tests/io/test_core.py
  tests/io/test_kedro_data_catalog.py
  tests/pipeline/test_modular_pipeline.py
  tests/pipeline/test_pipeline.py
Due: docs_change, code_change

fix unit tests except framework
  kedro/io/core.py
  kedro/io/kedro_data_catalog.py
  kedro/runner/runner.py
  tests/framework/cli/test_cli.py
  tests/framework/session/test_session.py
  tests/framework/session/test_session_extension_hooks.py
  tests/pipeline/test_pipeline_from_missing.py
  tests/runner/test_parallel_runner.py
  tests/runner/test_run_node.py
  tests/runner/test_sequential_runner.py
  tests/runner/test_task.py
Due: code_change

testing RTD
  .readthedocs.yml
  Makefile
Due: code_change

include more steps in the build
  .readthedocs.yml
Due: code_change

remove the built site
  .readthedocs.yml
Due: code_change

include build strict
  .readthedocs.yml
Due: code_change

remove build steps
  .readthedocs.yml
Due: code_change

Fix Read the Docs configuration for MkDocs
  .readthedocs.yml
Due: code_change

Path conditions:
  docs_change: any of: docs/.*
  code_change: any of: ^((?!docs/).)*$
