Repository kedro-org/kedro: changes, and which CircleCI parameters are due for each by the changed paths.
All: docs_change, code_change

.circleci/config.yml:

version: 2.1

parameters:
  release_kedro:
    type: boolean
    default: false
  # The parameters below are set in CircleCI UI.
  # https://app.circleci.com/settings/project/github/kedro-org/kedro/triggers?return-to=https%3A%2F%2Fapp.circleci.com%2Fpipelines%2Fgithub%2Fkedro-org%2Fkedro&triggerSource=&scheduledTriggerId=61f7226f-f092-4449-98d9-40420f8c46b2&success=true
  run_hourly:
    type: boolean
    default: false
  run_nightly:
    type: boolean
    default: false

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.1

workflows:
  regular:
    jobs:
      # the path-filtering/filter job determines which pipeline
      # parameters to update, i.e. which builds to run.
      - path-filtering/filter:
          name: check-updated-files
          base-revision: main
          config-path: .circleci/continue_config.yml
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            docs/.* docs_change true
            ^((?!docs/).)*$ code_change true

Fix image links
  docs/source/deployment/databricks/databricks_notebooks_development_workflow.md
Due: docs_change

Remove setup_logging and configure logging via config loader
  kedro/framework/session/session.py
  kedro/ipython/__init__.py
  tests/framework/session/test_session.py
Due: code_change

Remove Logging mentions
  docs/source/configuration/configuration_basics.md
  kedro/config/config.py
  kedro/config/omegaconf_config.py
  kedro/config/templated_config.py
Due: docs_change, code_change

Remove more logging mentions
  docs/source/configuration/advanced_configuration.md
  docs/source/logging/index.md
Due: docs_change

update migraiton notes
  RELEASE.md
Due: code_change

Fix tests
  tests/framework/cli/test_catalog.py
  tests/framework/session/test_session.py
Due: code_change

Add file for search console verification (#2631)
  docs/source/conf.py
  docs/source/googlebce3ad2fda582ae8.html
Due: docs_change

Remove Databricks host section
  docs/source/deployment/databricks/databricks_notebooks_development_workflow.md
Due: docs_change

point to main instead of develop for kedro-banner
  README.md
  docs/source/index.rst
Due: docs_change, code_change

Add main steps to creating GH personal token
  docs/source/deployment/databricks/databricks_notebooks_development_workflow.md
Due: docs_change

Validate and complete workflow
  docs/source/deployment/databricks/databricks_notebooks_development_workflow.md
  docs/source/meta/images/databricks_notebooks_workflow_finished_notebook.png
Due: docs_change

Modify output snippets to show console logging instead of rich
  docs/source/deployment/databricks/databricks_notebooks_development_workflow.md
Due: docs_change

Fix test
  kedro/framework/cli/catalog.py
Due: code_change

fix e2etest
  features/steps/cli_steps.py
Due: code_change

remove unncessary try/except
  kedro/framework/cli/catalog.py
Due: code_change

Update log docs
  docs/source/logging/logging.md
Due: docs_change

fix unused import
  features/steps/cli_steps.py
Due: code_change

Structure and syntax fixes
  docs/source/deployment/databricks/databricks_notebooks_development_workflow.md
Due: docs_change

Add environment manager note prerequisite and modify order
  docs/source/deployment/databricks/databricks_notebooks_development_workflow.md
Due: docs_change

Fix the level heading for collab exp tracking so it shows in sidebar
  docs/source/experiment_tracking/index.md
Due: docs_change

Change order of notes on SSH / HTTPS GH connection
  docs/source/deployment/databricks/databricks_notebooks_development_workflow.md
Due: docs_change

Modify test accuracy
  docs/source/deployment/databricks/databricks_notebooks_development_workflow.md
Due: docs_change

remove logging docs in rst
  docs/source/kedro.extras.rst
Due: docs_change

Update kedro catalog list command
  kedro/framework/cli/catalog.py
  kedro/framework/session/session.py
Due: code_change

update link
  docs/source/integrations/databricks_workspace.md
Due: docs_change

Add some unit tests
  tests/io/test_data_catalog.py
Due: code_change

Remove references to unreadable logs / storing logs on DBFS
  docs/source/deployment/databricks/databricks_deployment_workflow.md
Due: docs_change

Modify Databricks Iris to databricks-iris for consistency
  docs/source/deployment/databricks/databricks_deployment_workflow.md
Due: docs_change

Replace mentions of PySpark Iris and remove mention of environments
  docs/source/deployment/databricks/databricks_development_workflow.md
Due: docs_change

Capitalise Repo correctly
  docs/source/deployment/databricks/databricks_development_workflow.md
Due: docs_change

Fix the level heading for collab exp tracking so it shows in sidebar (#2647)
  docs/source/experiment_tracking/index.md
Due: docs_change

Remove old documentation
  docs/source/deployment/databricks/databricks_workspace.md
Due: docs_change

Refine wording for having to create a new package
  docs/source/deployment/databricks/databricks_deployment_workflow.md
Due: docs_change

Update title of deployment workflow
  docs/source/deployment/databricks/databricks_deployment_workflow.md
Due: docs_change

Fix logging docs
  docs/source/logging/logging.md
Due: docs_change

Modify logos
  kedro/ipython/logo-32x32.png
  kedro/ipython/logo-64x64.png
Due: code_change

Update Kedro icons in docs with for rebrand
  docs/source/meta/images/kedro_icon_no-type_blackbg.svg
  docs/source/meta/images/kedro_icon_no-type_whitebg.svg
  docs/source/meta/images/kedro_icon_type_blackbg.svg
  docs/source/meta/images/kedro_icon_type_whitebg.svg
Due: docs_change

Update Kedro icons in docs with for rebrand (#2652)
  docs/source/meta/images/kedro_icon_no-type_blackbg.svg
  docs/source/meta/images/kedro_icon_no-type_whitebg.svg
  docs/source/meta/images/kedro_icon_type_blackbg.svg
  docs/source/meta/images/kedro_icon_type_whitebg.svg
Due: docs_change

Modify readme.md to add new messaging
  README.md
Due: code_change
