Repository kedro-org/kedro: changes, and which CircleCI parameters are due for each by the changed paths.
All: docs_change, code_change

.circleci/config.yml:

version: 2.1

parameters:
  release_kedro:
    type: boolean
    default: false
  # The parameters below are set in CircleCI UI.
  # https://app.circleci.com/settings/project/github/kedro-org/kedro/triggers?return-to=https%3A%2F%2Fapp.circleci.com%2Fpipelines%2Fgithub%2Fkedro-org%2Fkedro&triggerSource=&scheduledTriggerId=61f7226f-f092-4449-98d9-40420f8c46b2&success=true
  run_hourly:
    type: boolean
    default: false
  run_nightly:
    type: boolean
    default: false

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.1

workflows:
  regular:
    jobs:
      # the path-filtering/filter job determines which pipeline
      # parameters to update, i.e. which builds to run.
      - path-filtering/filter:
          name: check-updated-files
          base-revision: main
          config-path: .circleci/continue_config.yml
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            docs/.* docs_change true
            ^((?!docs/).)*$ code_change true

Fix Read the Docs configuration for MkDocs output directory
  .readthedocs.yml
Due: code_change

Updated compose mixins nethod
  kedro/framework/context/context.py
  kedro/runner/runner.py
Due: code_change

Fix Read the Docs configuration: Remove conflicting keys
  .readthedocs.yml
Due: code_change

try making a copy instead of moving files
  .readthedocs.yml
Due: code_change

Unresolved credentials for patterns
  kedro/framework/context/catalog_mixins.py
Due: code_change

Add debugging to Read the Docs configuration
  .readthedocs.yml
Due: code_change

remove the last debugging stage
  .readthedocs.yml
Due: code_change

move index.md to be in the root directory
  docs/index.md
  mkdocs.yml
Due: docs_change, code_change

revert back to a simplier version
  .readthedocs.yml
Due: code_change

Tested run_only_missing and fixed annotation
  kedro/runner/runner.py
Due: code_change

Make catalog CLI logic reusable at catalog level (#4590)
  kedro/framework/context/__init__.py
  kedro/framework/context/catalog_mixins.py
  kedro/framework/context/context.py
  kedro/io/kedro_data_catalog.py
  kedro/runner/runner.py
Due: code_change

fix some warnings in the console
  docs/index.md
  docs/pages/configuration/advanced_configuration.md
  docs/pages/configuration/telemetry.md
  docs/pages/deployment/aws_step_functions.md
  docs/pages/development/commands_reference.md
  docs/pages/hooks/common_use_cases.md
  docs/pages/integrations/mlflow.md
  docs/pages/integrations/pyspark_integration.md
  docs/pages/kedro_project_setup/session.md
  docs/pages/notebooks_and_ipython/notebook-example/add_kedro_to_a_notebook.md
  docs/pages/tutorial/package_a_project.md
Due: docs_change

include the overview page for API
  docs/pages/api/index.md
  docs/pages/api/kedro.utils.md
  mkdocs.yml
Due: docs_change, code_change

include the rest of API
  docs/pages/api/index.md
  docs/pages/api/kedro.KedroDeprecationWarning.md
  docs/pages/api/kedro.KedroPythonVersionWarning.md
  docs/pages/api/kedro.load_ipython_extension.md
  mkdocs.yml
Due: docs_change, code_change

update docs with kedro run --namespaces
  docs/source/deployment/nodes_grouping.md
  docs/source/development/commands_reference.md
  docs/source/nodes_and_pipelines/namespaces.md
Due: docs_change

testing starters
  pyproject.toml
  tests/framework/cli/test_starters.py
Due: code_change

fix tests
  tests/framework/cli/test_catalog.py
  tests/framework/cli/test_starters.py
  tests/framework/context/test_context.py
  tests/framework/project/test_logging.py
Due: code_change

add warning for namespace
  kedro/framework/cli/project.py
  kedro/framework/cli/utils.py
Due: code_change

Add diagrams back to the docs
  docs/diagrams/installed-kedro-project.md
  docs/diagrams/kedro-ipython.md
  docs/diagrams/kedro-no-project.md
  docs/diagrams/kedro-plugin.md
  docs/diagrams/kedro-run.md
  docs/diagrams/kedro-with-project.md
  docs/diagrams/python-m-project.md
Due: docs_change

fix some of the console error
  docs/index.md
  docs/pages/api/framework/kedro.framework.hooks.md
  docs/pages/deployment/aws_step_functions.md
  docs/pages/hooks/common_use_cases.md
  docs/pages/introduction/index.md
  kedro/config/omegaconf_config.py
Due: docs_change, code_change

include search rankinga and update build-docs:
  .readthedocs.yml
  Makefile
Due: code_change

Added TODO
  kedro/runner/runner.py
Due: code_change

Update callback function
  kedro/framework/cli/utils.py
Due: code_change

update release note
  RELEASE.md
Due: code_change

fix lint error
  RELEASE.md
  kedro/framework/cli/project.py
  kedro/framework/cli/utils.py
Due: code_change

Merge modular pipeline behaviour with main pipeline class
  docs/source/conf.py
  docs/source/data/kedro_dataset_factories.md
  docs/source/nodes_and_pipelines/pipeline_introduction.md
  docs/source/tutorial/add_another_pipeline.md
  kedro/pipeline/__init__.py
  kedro/pipeline/modular_pipeline.py
  kedro/pipeline/pipeline.py
  kedro_benchmarks/benchmark_runner.py
  pyproject.toml
  tests/framework/cli/test_catalog.py
  tests/framework/session/conftest.py
  tests/ipython/conftest.py
  tests/ipython/test_ipython.py
  tests/pipeline/test_modular_pipeline.py
  tests/pipeline/test_pipeline.py
  tests/pipeline/test_pipeline_from_missing.py
  tests/pipeline/test_pipeline_integration.py
  tests/pipeline/test_pipeline_with_transcoding.py
  tests/runner/test_parallel_runner.py
  tests/runner/test_resume_logic.py
  tests/runner/test_sequential_runner.py
  tests/runner/test_thread_runner.py
Due: docs_change, code_change

Update doc string & redirect ModularPipelineError import
  kedro/framework/cli/__init__.py
  kedro/pipeline/modular_pipeline.py
  kedro/pipeline/pipeline.py
  tests/pipeline/test_modular_pipeline.py
Due: code_change

Add deprecation messages
  kedro/pipeline/modular_pipeline.py
  tests/pipeline/test_modular_pipeline.py
Due: code_change

resolve TODOs r1
  .secrets.baseline
  tests/framework/context/test_context.py
  tests/io/test_kedro_data_catalog.py
Due: code_change

include return type
  kedro/framework/cli/utils.py
Due: code_change

reason for kedro cli catalog list broken
  tests/framework/cli/test_catalog.py
Due: code_change

include conf.py
  docs/source/conf.py
Due: docs_change

Clean up
  docs/source/api/kedro.pipeline.rst
  kedro/pipeline/modular_pipeline.py
  kedro/pipeline/pipeline.py
  tests/pipeline/test_modular_pipeline.py
Due: docs_change, code_change

Add release notes
  RELEASE.md
Due: code_change

Add confirms to copy node
  kedro/pipeline/pipeline.py
Due: code_change

Update all mentions to 0.20.0 to 1.0.0
  RELEASE.md
  docs/source/development/commands_reference.md
  docs/source/nodes_and_pipelines/micro_packaging.md
  docs/source/nodes_and_pipelines/modular_pipelines.md
  kedro/framework/cli/micropkg.py
  kedro/framework/cli/utils.py
  kedro/io/core.py
  kedro/io/lambda_dataset.py
  kedro/pipeline/pipeline.py
  kedro/runner/runner.py
Due: docs_change, code_change

Update RELEASE.md
  RELEASE.md
Due: code_change

update headline in release note
  RELEASE.md
Due: code_change

update the release note
  RELEASE.md
Due: code_change
