Repository kedro-org/kedro: changes, and which CircleCI parameters are due for each by the changed paths.
All: docs_change, code_change

Move requirements from setup.py to pyproject.toml
  pyproject.toml
  setup.py
Due: code_change

Revert cloud version test
  tests/io/test_data_catalog.py
Due: code_change

Add package data to pyproject.toml
  pyproject.toml
Due: code_change

Revert to setup.py
  pyproject.toml
  setup.py
Due: code_change

Make Kedro not instantiate datasets from kedro.extras.datasets (#3069)
  .github/PULL_REQUEST_TEMPLATE.md
  docs/source/conf.py
  docs/source/nodes_and_pipelines/nodes.md
  features/steps/test_starter/{{ cookiecutter.repo_name }}/src/requirements.txt
  kedro/io/core.py
  kedro/io/data_catalog.py
Due: docs_change, code_change

clean up datasets related makefile command
  .github/workflows/unit-tests.yml
  Makefile
Due: code_change

Try fixing unit test
  tests/io/test_data_catalog.py
Due: code_change

Fix unit test
  tests/io/test_data_catalog.py
Due: code_change

Fix pip-compile cmd in Dependencies
  docs/source/kedro_project_setup/dependencies.md
Due: docs_change

Added new docs section that warns against using dot notation for pipeline creation
  docs/source/nodes_and_pipelines/pipeline_introduction.md
Due: docs_change

Added suggestion to use _ over . notation
  docs/source/nodes_and_pipelines/pipeline_introduction.md
Due: docs_change

Update docs/source/contribution/technical_steering_committee.md
  docs/source/contribution/technical_steering_committee.md
Due: docs_change

Fix pip-compile cmd in Dependencies (#3082)
  docs/source/kedro_project_setup/dependencies.md
Due: docs_change

Revise page title and some terminology
  docs/source/visualisation/share_kedro_viz.md
Due: docs_change

Remove suppression
  pyproject.toml
  tests/framework/context/test_context.py
Due: code_change

remove weasel word
  docs/source/visualisation/share_kedro_viz.md
Due: docs_change

Add organisation for each current Kedro maintainer (#3067)
  .github/styles/Kedro/ignore-names.txt
  .github/styles/Kedro/ignore.txt
  docs/source/contribution/technical_steering_committee.md
Due: docs_change, code_change

Add "Powered by Kedro" badge
  README.md
Due: code_change

Updated docs per review feedback
  docs/source/nodes_and_pipelines/pipeline_introduction.md
Due: docs_change

Few mods for Kedro docs style
  docs/source/deployment/amazon_emr/Dockerfile
  docs/source/deployment/amazon_emr/README.md
  docs/source/deployment/amazon_emr/entrypoint.py
  docs/source/deployment/amazon_emr_serverless.md
  docs/source/deployment/index.md
Due: docs_change

remove pytable installation
  .github/workflows/unit-tests.yml
Due: code_change

linting
  docs/source/deployment/amazon_emr_serverless.md
Due: docs_change

add pluggy dependency
  pyproject.toml
Due: code_change

Add "Powered by Kedro" badge (#3087)
  README.md
Due: code_change

Fix pluggy lower bound
  pyproject.toml
Due: code_change

Update release note
  RELEASE.md
Due: code_change

Remove mentions of old kedro cli commands
  features/steps/test_starter/{{ cookiecutter.repo_name }}/README.md
  kedro/framework/cli/micropkg.py
  kedro/templates/project/{{ cookiecutter.repo_name }}/README.md
Due: code_change

Make globals work with bypassed config
  kedro/config/omegaconf_config.py
  tests/config/test_omegaconf_config.py
Due: code_change

Drop Python 3.7 supports in Develop (#3060)
  .circleci/continue_config.yml
  .github/workflows/all-checks.yml
  .github/workflows/docs-only-checks.yml
  RELEASE.md
  docs/source/deployment/databricks/databricks_notebooks_development_workflow.md
  docs/source/get_started/install.md
  docs/source/index.rst
  docs/source/introduction/introduction.md
  features/environment.py
  pyproject.toml
  setup.py
  tests/framework/cli/test_cli_hooks.py
Due: docs_change, code_change

Fix broken link
  docs/source/deployment/databricks/databricks_deployment_workflow.md
Due: docs_change

Update links
  features/steps/test_starter/{{ cookiecutter.repo_name }}/README.md
  kedro/templates/project/{{ cookiecutter.repo_name }}/README.md
Due: code_change

Apply suggestions from code review
  kedro/config/omegaconf_config.py
  tests/config/test_omegaconf_config.py
Due: code_change

Update with review suggestion
  kedro/framework/cli/micropkg.py
Due: code_change

Corrected improper python notations, and renamed section to be dot-specific only
  docs/source/nodes_and_pipelines/pipeline_introduction.md
Due: docs_change

Revert changes from individual e2e test and change environment.py
  features/environment.py
  features/ipython.feature
  features/load_context.feature
  features/run.feature
  pyproject.toml
Due: code_change

Remove jupyter upper bounds
  pyproject.toml
Due: code_change

fix lint
  kedro/config/omegaconf_config.py
Due: code_change

Pandas version
  pyproject.toml
Due: code_change

Added linting changes
  docs/source/nodes_and_pipelines/pipeline_introduction.md
Due: docs_change

Path conditions:
  docs_change: any of: docs/.*
  code_change: any of: ^((?!docs/).)*$
