Repository kedro-org/kedro: changes, and which CircleCI parameters are due for each by the changed paths.
All: docs_change, code_change

.circleci/config.yml:

version: 2.1

parameters:
  release_kedro:
    type: boolean
    default: false
  # The parameters below are set in CircleCI UI.
  # https://app.circleci.com/settings/project/github/kedro-org/kedro/triggers?return-to=https%3A%2F%2Fapp.circleci.com%2Fpipelines%2Fgithub%2Fkedro-org%2Fkedro&triggerSource=&scheduledTriggerId=61f7226f-f092-4449-98d9-40420f8c46b2&success=true
  run_hourly:
    type: boolean
    default: false
  run_nightly:
    type: boolean
    default: false

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.1

workflows:
  regular:
    jobs:
      # the path-filtering/filter job determines which pipeline
      # parameters to update, i.e. which builds to run.
      - path-filtering/filter:
          name: check-updated-files
          base-revision: main
          config-path: .circleci/continue_config.yml
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            docs/.* docs_change true
            ^((?!docs/).)*$ code_change true

Add comment about bandit
  kedro/framework/cli/micropkg.py
Due: code_change

Update release notes
  RELEASE.md
Due: code_change

(security) Fix tar slip in micropackaging (#3559)
  RELEASE.md
  kedro/framework/cli/micropkg.py
  tests/framework/cli/micropkg/test_micropkg_pull.py
Due: code_change

Re-import mocked object
  tests/framework/project/test_pipeline_registry.py
  tests/ipython/test_ipython.py
Due: code_change

Remove latest docs from robots to prevent indexing
  docs/source/robots.txt
Due: docs_change

Remove latest docs from robots to prevent indexing (#3564)
  docs/source/robots.txt
Due: docs_change

Update citation.cff to be the same as the TSC list in the docs
  CITATION.cff
Due: code_change

Remove try-catch
  tests/ipython/test_ipython.py
Due: code_change

Rename overwritten varaible
  kedro/ipython/__init__.py
Due: code_change

Add test verification for _EPHEMERAL
  kedro/io/cached_dataset.py
  kedro/io/shared_memory_dataset.py
  tests/io/test_cached_dataset.py
  tests/io/test_data_catalog.py
  tests/io/test_lambda_dataset.py
  tests/io/test_shared_memory_dataset.py
Due: code_change

Update kedro/io/core.py
  kedro/io/core.py
Due: code_change

Minor corrections
  kedro/io/lambda_dataset.py
  kedro/io/shared_memory_dataset.py
Due: code_change

Add info about _EPHEMERAL to docs and release notes
  RELEASE.md
  docs/source/data/how_to_create_a_custom_dataset.md
Due: docs_change, code_change

Separate test on LambdaDataset
  kedro/io/cached_dataset.py
  kedro/io/lambda_dataset.py
  kedro/io/memory_dataset.py
  kedro/io/shared_memory_dataset.py
  tests/io/test_lambda_dataset.py
Due: code_change

Update docs/source/data/how_to_create_a_custom_dataset.md
  docs/source/data/how_to_create_a_custom_dataset.md
Due: docs_change

Add _EPHEMERAL attribute to AbstractDataset
  kedro/io/core.py
  kedro/io/memory_dataset.py
  tests/io/test_memory_dataset.py
Due: code_change

Remove unnecessary test
  tests/io/test_data_catalog.py
Due: code_change

Separate test on LambdaDataset
  tests/io/test_lambda_dataset.py
Due: code_change

Minor clarification on dog page
  docs/source/data/how_to_create_a_custom_dataset.md
Due: docs_change

Move release note to 0.19.3
  RELEASE.md
Due: code_change

Fix incorrect link on docs
  docs/source/data/how_to_create_a_custom_dataset.md
Due: docs_change

Update CITATION.cff
  CITATION.cff
Due: code_change

Add ephemeral attribute to main branch (#3566)
  RELEASE.md
  docs/source/data/how_to_create_a_custom_dataset.md
  kedro/io/cached_dataset.py
  kedro/io/core.py
  kedro/io/lambda_dataset.py
  kedro/io/memory_dataset.py
  kedro/io/shared_memory_dataset.py
  tests/io/test_cached_dataset.py
  tests/io/test_lambda_dataset.py
  tests/io/test_memory_dataset.py
  tests/io/test_shared_memory_dataset.py
Due: docs_change, code_change

Update token on auto-merge action
  .github/workflows/auto-merge-prs.yml
Due: code_change

Update token on auto-merge action (#3570)
  .github/workflows/auto-merge-prs.yml
Due: code_change

Add migration code examples
  docs/source/resources/migration.md
Due: docs_change

Add code examples for dataset changes
  docs/source/resources/migration.md
Due: docs_change

attemps to fix snyk
  kedro/framework/project/__init__.py
Due: code_change

update
  kedro/framework/project/__init__.py
Due: code_change

Update migration.md
  docs/source/resources/migration.md
Due: docs_change

Add link to migration guide to release notes
  RELEASE.md
Due: code_change

Add first draft
  docs/source/notebooks_and_ipython/kedro_and_notebooks.md
Due: docs_change

Update RELEASE.md
  RELEASE.md
Due: code_change

Update docs/source/resources/migration.md
  docs/source/resources/migration.md
Due: docs_change

Remoe outdated kedro jupyter convert docs
  docs/source/notebooks_and_ipython/kedro_and_notebooks.md
Due: docs_change

[Ready] Add Sphinx extension to reflect a page's last update time + add favicon (#3547)
  .readthedocs.yml
  docs/source/conf.py
  pyproject.toml
Due: docs_change, code_change

Suggestion: Review edits
  docs/source/notebooks_and_ipython/kedro_and_notebooks.md
Due: docs_change

undo comments
  docs/source/conf.py
Due: docs_change

Clean up `catalog resolve` CLI command to remove unnecessary checks.
  RELEASE.md
  kedro/framework/cli/catalog.py
Due: code_change

Check node func names
  kedro/ipython/__init__.py
  tests/ipython/test_ipython.py
Due: code_change
