Repository kedro-org/kedro: changes, and which CircleCI parameters are due for each by the changed paths.
All: docs_change, code_change

Minor change
  kedro/config/omegaconf_config.py
Due: code_change

update docs to reflect change to /conf file structure (#2913)
  docs/source/data/data_catalog.md
  docs/source/development/commands_reference.md
  docs/source/nodes_and_pipelines/micro_packaging.md
  docs/source/nodes_and_pipelines/modular_pipelines.md
  docs/source/tutorial/add_another_pipeline.md
  docs/source/tutorial/create_a_pipeline.md
Due: docs_change

Change CONTRIBUTING.md file based on PR #2894 (#2914)
  CONTRIBUTING.md
Due: code_change

Remove redundant pages and direct users to wiki
  docs/source/contribution/backwards_compatibility.md
  docs/source/contribution/developer_contributor_guidelines.md
  docs/source/contribution/development_for_databricks.md
  docs/source/contribution/documentation_contributor_guidelines.md
  docs/source/contribution/index.md
Due: docs_change

Move contribution guidelines from CONTRIBUTING.md to the Wiki (#2894)
  CONTRIBUTING.md
Due: code_change

Re-add kedro arch diagram, with revised graphic
  docs/source/extend_kedro/architecture_overview.md
  docs/source/extend_kedro/index.md
  docs/source/meta/images/KedroArchitecture.drawio
  docs/source/meta/images/kedro_architecture.png
Due: docs_change

fix broken anchor
  docs/source/extend_kedro/architecture_overview.md
Due: docs_change

Afternoon's work in rewriting/reorganising content
  docs/source/data/advanced_data_catalog_usage.md
  docs/source/data/data_catalog.md
  docs/source/data/data_catalog_basic_how_to.md
  docs/source/data/data_catalog_yaml_examples.md
  docs/source/data/how_to_create_a_custom_dataset.md
  docs/source/data/index.md
  docs/source/data/kedro_dataset_factories.md
  docs/source/data/partitioned_and_incremental_datasets.md
Due: docs_change

Lint docs changes
  docs/source/contribution/index.md
Due: docs_change

Few tweaks to index page
  docs/source/contribution/index.md
  docs/source/contribution/technical_steering_committee.md
Due: docs_change

Update docs/source/extend_kedro/architecture_overview.md
  docs/source/extend_kedro/architecture_overview.md
Due: docs_change

Add test for resolve
  tests/framework/cli/test_catalog.py
Due: code_change

Changes to architecture page following review
  CONTRIBUTING.md
  docs/source/extend_kedro/architecture_overview.md
Due: docs_change, code_change

Change diagram following reivew
  docs/source/meta/images/KedroArchitecture.drawio
  docs/source/meta/images/kedro_architecture.png
Due: docs_change

Add test to exclude params
  tests/framework/cli/test_catalog.py
Due: code_change

Add test for overwrite (not working)
  tests/framework/cli/test_catalog.py
Due: code_change

Fix test
  tests/framework/cli/test_catalog.py
Due: code_change

Remove print
  tests/framework/cli/test_catalog.py
Due: code_change

Add changes to RELEASE.md
  RELEASE.md
Due: code_change

Trim unreachable code
  kedro/framework/cli/catalog.py
Due: code_change

Make helper function private
  kedro/framework/cli/catalog.py
Due: code_change

Add globals resolver
  kedro/config/omegaconf_config.py
  tests/config/test_omegaconf_config.py
Due: code_change

Refactor
  kedro/framework/cli/catalog.py
Due: code_change

Add changes to the docs
  docs/source/development/commands_reference.md
Due: docs_change

Refactor 2
  kedro/framework/cli/catalog.py
Due: code_change

Fix docs build
  docs/source/development/commands_reference.md
Due: docs_change

More changes
  docs/source/data/advanced_data_catalog_usage.md
  docs/source/data/data_catalog_yaml_examples.md
  docs/source/data/index.md
  docs/source/data/kedro_dataset_factories.md
Due: docs_change

PiP/pyproject.toml and Conda/Meta.yaml Sync
  pyproject.toml
Due: code_change

Document the use of custom resolvers with `OmegaConfigLoader` (#2896)
  docs/source/configuration/advanced_configuration.md
  docs/source/faq/faq.md
Due: docs_change

Update kedro pipeline create to use new /conf file structure (#2856)
  RELEASE.md
  kedro/framework/cli/micropkg.py
  kedro/framework/cli/pipeline.py
  kedro/templates/pipeline/{{ cookiecutter.pipeline_name }}/config/parameters_{{ cookiecutter.pipeline_name }}.yml
  tests/framework/cli/micropkg/test_micropkg_package.py
  tests/framework/cli/micropkg/test_micropkg_pull.py
  tests/framework/cli/pipeline/test_pipeline.py
Due: code_change

Update kedro catalog create to use new /conf structure (#2884)
  RELEASE.md
  docs/source/configuration/configuration_basics.md
  kedro/framework/cli/catalog.py
  tests/framework/cli/test_catalog.py
Due: docs_change, code_change

Add migration steps for `ConfigLoader` to `OmegaConfigLoader` (#2887)
  RELEASE.md
  docs/source/configuration/config_loader_migration.md
  docs/source/configuration/index.md
Due: docs_change, code_change

Fix #2498 Adding logging issue 2498 (#2842)
  kedro/framework/cli/micropkg.py
Due: code_change

Try only trigger docs build when release notes updated (#2907)
  .github/workflows/all-checks.yml
  .github/workflows/docs-only-checks.yml
Due: code_change

Add Python 3.11 support to Kedro (#2851)
  .github/workflows/all-checks.yml
  .github/workflows/docs-only-checks.yml
  .github/workflows/e2e-tests.yml
  .github/workflows/pip-compile.yml
  .github/workflows/unit-tests.yml
  README.md
  RELEASE.md
  docs/source/conf.py
  docs/source/index.rst
  kedro/__init__.py
  kedro/extras/datasets/spark/deltatable_dataset.py
  kedro/extras/datasets/spark/spark_dataset.py
  kedro/extras/datasets/spark/spark_jdbc_dataset.py
  setup.py
  tests/extras/datasets/spark/test_deltatable_dataset.py
  tests/extras/datasets/spark/test_spark_dataset.py
  tests/extras/datasets/spark/test_spark_hive_dataset.py
  tests/extras/datasets/spark/test_spark_jdbc_dataset.py
  tests/framework/cli/test_cli.py
  tests/framework/cli/test_cli_hooks.py
  tests/io/test_data_catalog.py
  tests/test_import.py
  tests/tools/test_cli.py
Due: docs_change, code_change

Path conditions:
  docs_change: any of: docs/.*
  code_change: any of: ^((?!docs/).)*$
