Repository kedro-org/kedro: changes, and which CircleCI parameters are due for each by the changed paths.
All: docs_change, code_change

Fix #2498 Adding logging issue 2498 (#2842)
  kedro/framework/cli/micropkg.py
Due: code_change

Add back the data layers FAQ as I've no idea where else it fits
  docs/source/faq/faq.md
  docs/source/meta/images/data_layers.png
Due: docs_change

Try only trigger docs build when release notes updated (#2907)
  .github/workflows/all-checks.yml
  .github/workflows/docs-only-checks.yml
Due: code_change

Update nodes.md
  docs/source/nodes_and_pipelines/nodes.md
Due: docs_change

Add Python 3.11 support to Kedro (#2851)
  .github/workflows/all-checks.yml
  .github/workflows/docs-only-checks.yml
  .github/workflows/e2e-tests.yml
  .github/workflows/pip-compile.yml
  .github/workflows/unit-tests.yml
  README.md
  RELEASE.md
  docs/source/conf.py
  docs/source/index.rst
  kedro/__init__.py
  kedro/extras/datasets/spark/deltatable_dataset.py
  kedro/extras/datasets/spark/spark_dataset.py
  kedro/extras/datasets/spark/spark_jdbc_dataset.py
  setup.py
  tests/extras/datasets/spark/test_deltatable_dataset.py
  tests/extras/datasets/spark/test_spark_dataset.py
  tests/extras/datasets/spark/test_spark_hive_dataset.py
  tests/extras/datasets/spark/test_spark_jdbc_dataset.py
  tests/framework/cli/test_cli.py
  tests/framework/cli/test_cli_hooks.py
  tests/io/test_data_catalog.py
  tests/test_import.py
  tests/tools/test_cli.py
Due: docs_change, code_change

minor changes from review
  CONTRIBUTING.md
  README.md
Due: code_change

Revise FAQs and README (#2909)
  CONTRIBUTING.md
  README.md
  docs/source/faq/faq.md
  docs/source/get_started/install.md
  docs/source/index.rst
  docs/source/meta/images/data_layers.png
  docs/source/resources/index.md
  docs/source/tutorial/spaceflights_tutorial.md
  docs/source/visualisation/kedro-viz_visualisation.md
Due: docs_change, code_change

update s3fs dependency
  setup.py
Due: code_change

Update Generator example (#2858)
  RELEASE.md
  docs/source/nodes_and_pipelines/nodes.md
Due: docs_change, code_change

update docs to reflect change to /conf file structure
  docs/source/data/data_catalog.md
  docs/source/development/commands_reference.md
  docs/source/nodes_and_pipelines/micro_packaging.md
  docs/source/tutorial/add_another_pipeline.md
  docs/source/tutorial/create_a_pipeline.md
Due: docs_change

Fix merge conflicts
  docs/source/configuration/config_loader_migration.md
Due: docs_change

Update CONTRIBUTING.md
  CONTRIBUTING.md
Due: code_change

Update kedro pipeline create to use new /conf file structure (#2856)
  RELEASE.md
  kedro/framework/cli/micropkg.py
  kedro/framework/cli/pipeline.py
  kedro/templates/pipeline/{{ cookiecutter.pipeline_name }}/config/parameters_{{ cookiecutter.pipeline_name }}.yml
  tests/framework/cli/micropkg/test_micropkg_package.py
  tests/framework/cli/micropkg/test_micropkg_pull.py
  tests/framework/cli/pipeline/test_pipeline.py
Due: code_change

Remove contributing-to-Kedro.md draft from the branch
  contributing-to-Kedro.md
Due: code_change

Document the use of custom resolvers with `OmegaConfigLoader` (#2896)
  docs/source/configuration/advanced_configuration.md
  docs/source/faq/faq.md
Due: docs_change

Some adjustments to ordering of text
  CONTRIBUTING.md
Due: code_change

Add contribution details to wiki page draft
  contributing-to-Kedro.md
Due: code_change

Update kedro catalog create to use new /conf structure (#2884)
  RELEASE.md
  kedro/framework/cli/catalog.py
  tests/framework/cli/test_catalog.py
Due: code_change

Add migration steps for `ConfigLoader` to `OmegaConfigLoader` (#2887)
  RELEASE.md
  docs/source/configuration/config_loader_migration.md
  docs/source/configuration/index.md
Due: docs_change, code_change

Allow registering of custom resolvers to `OmegaConfigLoader` (#2869)
  RELEASE.md
  kedro/config/omegaconf_config.py
  tests/config/test_omegaconf_config.py
Due: code_change

Fix broken link to Prefect website in deploy guide (#2885)
  docs/source/deployment/prefect.md
Due: docs_change

Fix broken link
  docs/source/configuration/configuration_basics.md
Due: docs_change

Clarify the <micropkg_name> argument to kedro micropkg package (#2835)
  docs/source/nodes_and_pipelines/micro_packaging.md
Due: docs_change

Add drafts for new contributing.md and wiki page
  CONTRIBUTING.md
  contributing-to-Kedro.md
Due: code_change

Change CONTRIBUTING.md file based on PR #2894
  CONTRIBUTING.md
Due: code_change

revert unnecessary change for test - newer version of moto solves this
  setup.py
  tests/conftest.py
  tests/io/test_partitioned_dataset.py
Due: code_change

update docs, folder structure diagrams
  docs/source/nodes_and_pipelines/micro_packaging.md
  docs/source/nodes_and_pipelines/modular_pipelines.md
Due: docs_change

Remove pipeline filtering
  kedro/framework/cli/catalog.py
Due: code_change

Prevent overwrite or param inclusion
  kedro/framework/cli/catalog.py
Due: code_change

Trim filepath
  kedro/framework/cli/catalog.py
Due: code_change

Appease linter
  kedro/framework/cli/catalog.py
Due: code_change

Refactor load_and_merge_dir()
  kedro/config/omegaconf_config.py
Due: code_change

Try adding globals resolver
  kedro/config/omegaconf_config.py
Due: code_change

Path conditions:
  docs_change: any of: docs/.*
  code_change: any of: ^((?!docs/).)*$
