Repository kedro-org/kedro: changes, and which CircleCI parameters are due for each by the changed paths.
All: docs_change, code_change

Update experiment tracking docs with working example
  docs/source/logging/experiment_tracking.md
Due: docs_change

Update experiment tracking tutorial with working examples
  docs/source/tutorial/set_up_experiment_tracking.md
  docs/source/tutorial/visualise_pipeline.md
Due: docs_change

Update release notes
  RELEASE.md
Due: code_change

Fix lint
  docs/source/logging/experiment_tracking.md
  docs/source/tutorial/set_up_experiment_tracking.md
Due: docs_change

Add link to virtual environment docs
  docs/source/development/automated_testing.md
Due: docs_change

Add example of good test naming
  docs/source/development/automated_testing.md
Due: docs_change

Improve link accessibility
  docs/source/development/automated_testing.md
Due: docs_change

Improve pytest docs link accessibility
  docs/source/development/automated_testing.md
Due: docs_change

Add reminder link to virtual environment docs
  docs/source/development/automated_testing.md
Due: docs_change

Fix formatting in link to coverage docs
  docs/source/development/automated_testing.md
Due: docs_change

Remove reference to /src under 'Run your tests'
  docs/source/development/automated_testing.md
Due: docs_change

Modify references to <project_name> to <package_name>
  docs/source/development/automated_testing.md
Due: docs_change

limit dependabot to just dependency folder
  .github/dependabot.yml
  dependency/requirements.txt
  setup.py
Due: code_change

Update test_requirements.txt
  test_requirements.txt
Due: code_change

Update MANIFEST.in
  MANIFEST.in
Due: code_change

Pin importlib_metadata for python 3.7 linter
  requirements.txt
Due: code_change

Upper pin importlib_metadata only for python 3.7
  requirements.txt
Due: code_change

Fix link
  docs/source/deployment/databricks.md
Due: docs_change

fix e2e
  features/environment.py
Due: code_change

Update experiment tracking documentation with working examples (#1893)
  RELEASE.md
  docs/source/deployment/databricks.md
  docs/source/logging/experiment_tracking.md
  docs/source/tutorial/set_up_experiment_tracking.md
  docs/source/tutorial/visualise_pipeline.md
  requirements.txt
Due: docs_change, code_change

Apply suggestions from code review
  README.md
Due: code_change

Remove "also"
  README.md
Due: code_change

Add NHS AI Lab and ReSpo.Vision to companies list (#1878)
  README.md
Due: code_change

Fix sentence structure
  docs/source/development/automated_testing.md
Due: docs_change

Fix broken databricks doc link
  docs/source/deployment/databricks.md
Due: docs_change

Capitalized kedro-viz in Visualise Layers
  docs/source/tutorial/visualise_pipeline.md
Due: docs_change

Document how users can use pytest instead of kedro test (#1879)
  docs/source/development/automated_testing.md
  docs/source/index.rst
Due: docs_change

Capitalised kedro-viz
  docs/source/tutorial/visualise_pipeline.md
Due: docs_change

Apply suggestions from code review
  docs/source/kedro_project_setup/configuration.md
Due: docs_change

Add config_patterns as argument to CL
  docs/source/development/automated_testing.md
  kedro/config/config.py
  kedro/config/templated_config.py
Due: docs_change, code_change

Add documentation for linting tools
  docs/source/development/commands_reference.md
  docs/source/development/linting.md
  docs/source/index.rst
Due: docs_change

capitalised Kedro viz
  docs/source/tutorial/set_up_experiment_tracking.md
Due: docs_change

Updated set_up_experiment_tracking.md
  docs/source/tutorial/set_up_experiment_tracking.md
Due: docs_change

Capitalise Kedro-Viz in the "Visualize layers" section (#1899)
  docs/source/tutorial/set_up_experiment_tracking.md
  docs/source/tutorial/visualise_pipeline.md
Due: docs_change

Fix linting on autmated test page
  docs/source/development/automated_testing.md
Due: docs_change

Fix linting on autmated test page (#1906)
  docs/source/development/automated_testing.md
Due: docs_change

Make AbstractConfigLoader inherit from UserDict
  kedro/config/abstract_config.py
Due: code_change

Fix linkchecks
  docs/conf.py
Due: docs_change

remove a redundant function call
  kedro/io/core.py
Due: code_change

remove spark from comments
  kedro/io/cached_dataset.py
Due: code_change

Path conditions:
  docs_change: any of: docs/.*
  code_change: any of: ^((?!docs/).)*$
