Repository kedro-org/kedro: changes, and which CircleCI parameters are due for each by the changed paths.
All: docs_change, code_change

.circleci/config.yml:

version: 2.1

parameters:
  release_kedro:
    type: boolean
    default: false
  # The parameters below are set in CircleCI UI.
  # https://app.circleci.com/settings/project/github/kedro-org/kedro/triggers?return-to=https%3A%2F%2Fapp.circleci.com%2Fpipelines%2Fgithub%2Fkedro-org%2Fkedro&triggerSource=&scheduledTriggerId=61f7226f-f092-4449-98d9-40420f8c46b2&success=true
  run_hourly:
    type: boolean
    default: false
  run_nightly:
    type: boolean
    default: false

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.1

workflows:
  regular:
    jobs:
      # the path-filtering/filter job determines which pipeline
      # parameters to update, i.e. which builds to run.
      - path-filtering/filter:
          name: check-updated-files
          base-revision: main
          config-path: .circleci/continue_config.yml
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            docs/.* docs_change true
            ^((?!docs/).)*$ code_change true

Fix old links
  docs/source/nodes_and_pipelines/modular_pipelines.md
  docs/source/nodes_and_pipelines/pipeline_introduction.md
Due: docs_change

Remove unneeded custom JupyterCommandGroup
  docs/source/api/kedro.framework.cli.jupyter.JupyterCommandGroup.rst
  kedro/framework/cli/jupyter.py
Due: docs_change, code_change

Update docs with better commands
  docs/source/deployment/databricks/databricks_deployment_workflow.md
Due: docs_change

Remove old code/mentions related to jupyter convert (#3963)
  docs/source/api/kedro.framework.cli.jupyter.JupyterCommandGroup.rst
  features/steps/cli_steps.py
  kedro/framework/cli/jupyter.py
Due: docs_change, code_change

Update ignore-names.txt
  .github/styles/Kedro/ignore-names.txt
Due: code_change

Update error message when `kedro-datasets` is not installed or `DataSet` spelling is used (#3952)
  RELEASE.md
  kedro/io/core.py
  tests/io/test_data_catalog.py
Due: code_change

Revert "Add implementation of telemetry consent flag for kedro run (#3876)" (#3888)
  RELEASE.md
  kedro/framework/cli/project.py
  kedro/framework/cli/starters.py
  kedro/framework/cli/utils.py
  tests/framework/cli/test_cli.py
  tests/framework/cli/test_starters.py
Due: code_change

Describe integration with MLflow (#3856)
  docs/source/conf.py
  docs/source/configuration/advanced_configuration.md
  docs/source/index.rst
  docs/source/integrations/mlflow.md
  docs/source/meta/images/complete-mlflow-tracking-kedro-mlflow.png
  docs/source/meta/images/extra-mlflow-tracking.png
  docs/source/meta/images/kedro-mlflow-registered-model.png
  docs/source/meta/images/mlflow-artifact-preview-image.png
  docs/source/meta/images/mlflow-pickle-artifact.png
Due: docs_change

Unpack dictionary parameters
  RELEASE.md
  kedro/pipeline/modular_pipeline.py
  kedro/pipeline/node.py
  tests/pipeline/test_node.py
Due: code_change

Fix catalog shallow copy changing class type (#3950)
  RELEASE.md
  kedro/io/data_catalog.py
  tests/io/test_data_catalog.py
Due: code_change

Release 0.19.6 (#3887)
  CITATION.cff
  RELEASE.md
  docs/source/deployment/airflow.md
  docs/source/development/commands_reference.md
  kedro/__init__.py
Due: docs_change, code_change

Fixed namespace issue with unpacking dictionary parameters
  kedro/pipeline/modular_pipeline.py
Due: code_change

Update error message when catalog entry is invalid (#3944)
  RELEASE.md
  kedro/io/core.py
  kedro/io/data_catalog.py
  tests/io/test_data_catalog.py
Due: code_change

Update telemetry.md (#3897)
  docs/source/configuration/telemetry.md
Due: docs_change

Add an example of `catalog.list(<regex>)` and replace `io` to `catalog` in docs (#3924)
  docs/source/data/advanced_data_catalog_usage.md
  docs/source/notebooks_and_ipython/kedro_and_notebooks.md
Due: docs_change

Add deprecation warning to get_pkg_version (#3947)
  RELEASE.md
  kedro/framework/cli/utils.py
  tests/framework/cli/test_cli.py
Due: code_change

Remove all subdirectories inside tests/pipelines when no example chosen (#3956)
  kedro/templates/project/hooks/utils.py
Due: code_change

Remove duplicate tools/cli.py code (#3961)
  tests/tools/test_cli.py
  tools/cli.py
Due: code_change

remove redundant assignments
  kedro/framework/cli/starters.py
Due: code_change

Add defaults to other arguments as well
  kedro/framework/context/context.py
Due: code_change

Apply suggestions from code review
  docs/source/nodes_and_pipelines/modular_pipelines.md
  docs/source/nodes_and_pipelines/pipeline_introduction.md
Due: docs_change

Address review comments
  docs/source/faq/faq.md
  docs/source/nodes_and_pipelines/modular_pipelines.md
  docs/source/nodes_and_pipelines/namespaces.md
Due: docs_change

Address review comments
  docs/source/nodes_and_pipelines/namespaces.md
  docs/source/nodes_and_pipelines/pipeline_introduction.md
Due: docs_change

Test + lint
  kedro/framework/cli/cli.py
  kedro/framework/cli/lazy_group.py
Due: code_change

fix test
  tests/framework/project/test_logging.py
Due: code_change

Refactor the logging setup loggic (#3896)
  kedro/framework/project/__init__.py
  tests/framework/project/test_logging.py
Due: code_change

Update kedro/pipeline/node.py
  kedro/pipeline/node.py
Due: code_change

Added a note on logging customisation at runtime
  docs/source/logging/index.md
Due: docs_change

Updated RELEASE.md
  RELEASE.md
Due: code_change

Applied siggesions
  docs/source/logging/index.md
Due: docs_change

Apply suggestions from code review
  docs/source/faq/faq.md
  docs/source/nodes_and_pipelines/modular_pipelines.md
Due: docs_change

Extended data catalog configuration section
  docs/source/data/data_catalog.md
Due: docs_change

Small updates
  docs/source/data/data_catalog.md
Due: docs_change

Applied suggestions
  docs/source/logging/index.md
Due: docs_change

Added some clarifications based on the review comment
  docs/source/data/data_catalog.md
Due: docs_change

Applied suggested changes
  docs/source/logging/index.md
Due: docs_change

Extended docs with logging customisation at runtime (#3968)
  RELEASE.md
  docs/source/logging/index.md
Due: docs_change, code_change

replace property with parameter for consistency
  RELEASE.md
  docs/source/data/data_catalog.md
Due: docs_change, code_change
