Repository kedro-org/kedro: changes, and which CircleCI parameters are due for each by the changed paths.
All: docs_change, code_change

.circleci/config.yml:

version: 2.1

parameters:
  release_kedro:
    type: boolean
    default: false
  # The parameters below are set in CircleCI UI.
  # https://app.circleci.com/settings/project/github/kedro-org/kedro/triggers?return-to=https%3A%2F%2Fapp.circleci.com%2Fpipelines%2Fgithub%2Fkedro-org%2Fkedro&triggerSource=&scheduledTriggerId=61f7226f-f092-4449-98d9-40420f8c46b2&success=true
  run_hourly:
    type: boolean
    default: false
  run_nightly:
    type: boolean
    default: false

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.1

workflows:
  regular:
    jobs:
      # the path-filtering/filter job determines which pipeline
      # parameters to update, i.e. which builds to run.
      - path-filtering/filter:
          name: check-updated-files
          base-revision: main
          config-path: .circleci/continue_config.yml
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            docs/.* docs_change true
            ^((?!docs/).)*$ code_change true

Apply suggestions from code review
  docs/source/configuration/config_loader_migration.md
Due: docs_change

Replace any remaining instances of DataSet in docs
  docs/source/data/advanced_data_catalog_usage.md
  docs/source/data/data_catalog.md
  docs/source/data/data_catalog_yaml_examples.md
  docs/source/data/how_to_create_a_custom_dataset.md
  docs/source/data/kedro_dataset_factories.md
  docs/source/data/partitioned_and_incremental_datasets.md
  docs/source/deployment/argo.md
Due: docs_change

Add architecture graphic back to docs with revisions (#2916)
  CONTRIBUTING.md
  docs/source/extend_kedro/architecture_overview.md
  docs/source/extend_kedro/index.md
  docs/source/meta/images/KedroArchitecture.drawio
  docs/source/meta/images/kedro_architecture.png
Due: docs_change, code_change

Fix a broken link to docs for `PartitionedDataset`
  docs/source/data/how_to_create_a_custom_dataset.md
Due: docs_change

Add kedro catalog resolve command (#2891)
  RELEASE.md
  docs/source/development/commands_reference.md
  kedro/framework/cli/catalog.py
  tests/framework/cli/test_catalog.py
Due: docs_change, code_change

Replace "DataSet" with "Dataset" in Markdown files (#2735)
  docs/source/configuration/advanced_configuration.md
  docs/source/configuration/parameters.md
  docs/source/data/advanced_data_catalog_usage.md
  docs/source/data/data_catalog.md
  docs/source/data/data_catalog_yaml_examples.md
  docs/source/data/how_to_create_a_custom_dataset.md
  docs/source/data/kedro_dataset_factories.md
  docs/source/data/partitioned_and_incremental_datasets.md
  docs/source/deployment/argo.md
  docs/source/deployment/aws_batch.md
  docs/source/deployment/aws_step_functions.md
  docs/source/deployment/prefect.md
  docs/source/development/commands_reference.md
  docs/source/extend_kedro/common_use_cases.md
  docs/source/hooks/examples.md
  docs/source/integrations/pyspark_integration.md
  docs/source/nodes_and_pipelines/run_a_pipeline.md
  docs/source/nodes_and_pipelines/slice_a_pipeline.md
  docs/source/notebooks_and_ipython/kedro_and_notebooks.md
  docs/source/resources/glossary.md
  docs/source/tutorial/add_another_pipeline.md
  docs/source/tutorial/create_a_pipeline.md
  docs/source/tutorial/spaceflights_tutorial_faqs.md
Due: docs_change

Enable setting default value for globals resolver
  docs/source/configuration/advanced_configuration.md
  kedro/config/omegaconf_config.py
  tests/config/test_omegaconf_config.py
Due: docs_change, code_change

Typo
  docs/source/configuration/advanced_configuration.md
Due: docs_change

Remove outdated mention to environment.yml
  features/steps/test_starter/{{ cookiecutter.repo_name }}/README.md
Due: code_change

Replace outdated extras requirement with kedro-datasets
  features/environment.py
  features/steps/test_starter/{{ cookiecutter.repo_name }}/src/requirements.txt
Due: code_change

Remove leftover reference to micropkg setup.py
  tests/framework/cli/micropkg/test_micropkg_requirements.py
Due: code_change

Replace setup.py with pyproject.toml in default project template
  docs/source/kedro_project_setup/starters.md
  features/steps/test_starter/{{ cookiecutter.repo_name }}/src/pyproject.toml
  features/steps/test_starter/{{ cookiecutter.repo_name }}/src/setup.py
  kedro/templates/project/{{ cookiecutter.repo_name }}/src/pyproject.toml
  kedro/templates/project/{{ cookiecutter.repo_name }}/src/setup.py
Due: docs_change, code_change

Adapt link to moving file in docs
  docs/source/conf.py
  docs/source/development/linting.md
Due: docs_change

Revert "Replace outdated extras requirement with kedro-datasets"
  features/environment.py
  features/steps/test_starter/{{ cookiecutter.repo_name }}/src/requirements.txt
Due: code_change

Add release notes for pyproject.toml change
  RELEASE.md
Due: code_change

Move flake8 configuration to dedicated file
  docs/source/deployment/airflow_astronomer.md
  docs/source/development/linting.md
  docs/source/get_started/kedro_concepts.md
  docs/source/kedro_project_setup/starters.md
  features/steps/test_starter/{{ cookiecutter.repo_name }}/.flake8
  features/steps/test_starter/{{ cookiecutter.repo_name }}/setup.cfg
  kedro/templates/project/{{ cookiecutter.repo_name }}/.flake8
Due: docs_change, code_change

update how to do default globals for ocl
  docs/source/configuration/config_loader_migration.md
Due: docs_change

Automatically trigger `kedro-starters` release on the release of `kedro` (#2889)
  .github/workflows/release-starters.yml
Due: code_change

Create issues_metrics.yml (#2814)
  .github/workflows/issues_metrics.yml
Due: code_change

Clean up setuptools and wheel requirements to align with PEP-518 (#2927)
  .circleci/continue_config.yml
  .github/workflows/e2e-tests.yml
  .github/workflows/pip-compile.yml
  .github/workflows/unit-tests.yml
  Makefile
  features/environment.py
  tools/circleci/requirements.txt
Due: code_change

remove README.md from micropkg tests
  tests/framework/cli/micropkg/test_micropkg_package.py
  tests/framework/cli/micropkg/test_micropkg_pull.py
Due: code_change

Clean up `kedro pipeline create` outdated docs (#2945)
  kedro/framework/cli/catalog.py
  kedro/templates/pipeline/{{ cookiecutter.pipeline_name }}/README.md
  kedro/templates/pipeline/{{ cookiecutter.pipeline_name }}/config/parameters_{{ cookiecutter.pipeline_name }}.yml
  tests/framework/cli/micropkg/test_micropkg_package.py
  tests/framework/cli/micropkg/test_micropkg_pull.py
Due: code_change

Move test for keys starting with _ to the top
  kedro/config/omegaconf_config.py
  tests/config/test_omegaconf_config.py
Due: code_change

Fix cross ref link in docs
  docs/source/faq/faq.md
Due: docs_change

Add globals feature for `OmegaConfigLoader` using a globals resolver (#2921)
  RELEASE.md
  docs/source/configuration/advanced_configuration.md
  docs/source/configuration/configuration_basics.md
  docs/source/faq/faq.md
  kedro/config/omegaconf_config.py
  tests/config/test_omegaconf_config.py
Due: docs_change, code_change

Add vale GHA
  .github/styles/Kedro/Spellings.yml
  .github/styles/Kedro/ignore-names.txt
  .github/styles/Kedro/ignore.txt
  .github/workflows/docs-language-linter.yml
  .github/workflows/docs-only-checks.yml
  .vale.ini
Due: code_change

Update condition
  .github/workflows/docs-language-linter.yml
Due: code_change

Add typos
  docs/source/tutorial/create_a_pipeline.md
Due: docs_change

Consolidate two `ruff-pre-commit` entries into one (#2881)
  .pre-commit-config.yaml
  docs/source/conf.py
  kedro/framework/cli/micropkg.py
  pyproject.toml
Due: docs_change, code_change

Fix typos across docs
  docs/source/data/index.md
  docs/source/data/partitioned_and_incremental_datasets.md
  docs/source/deployment/databricks/databricks_deployment_workflow.md
  docs/source/deployment/databricks/databricks_notebooks_development_workflow.md
  docs/source/extend_kedro/architecture_overview.md
Due: docs_change

Capitalisation stuff
  docs/source/deployment/databricks/databricks_notebooks_development_workflow.md
  docs/source/development/commands_reference.md
  docs/source/experiment_tracking/index.md
Due: docs_change

Update .github/styles/Kedro/ignore.txt
  .github/styles/Kedro/ignore.txt
Due: code_change

Fix typos across the documentation (#2956)
  docs/source/data/index.md
  docs/source/data/partitioned_and_incremental_datasets.md
  docs/source/deployment/databricks/databricks_deployment_workflow.md
  docs/source/deployment/databricks/databricks_notebooks_development_workflow.md
  docs/source/development/commands_reference.md
  docs/source/experiment_tracking/index.md
  docs/source/extend_kedro/architecture_overview.md
Due: docs_change

Update merge-gatekeeper.yml
  .github/workflows/merge-gatekeeper.yml
Due: code_change

Fix for PyPI
  README.md
Due: code_change

add some styles
  .github/styles/Kedro/abbreviations.yml
  .github/styles/Kedro/contractions.yml
  .github/styles/Kedro/gender.yml
  .github/styles/Kedro/headings.yml
  .github/styles/Kedro/inclusive.yml
  .github/styles/Kedro/links.yml
  .github/styles/Kedro/oxfordcomma.yml
  .github/styles/Kedro/pronouns.yml
  .github/styles/Kedro/quotes.yml
  .github/styles/Kedro/sentencelength.yml
  .github/styles/Kedro/toowordy.yml
  .github/styles/Kedro/ukspelling.yml
  .github/styles/Kedro/weaselwords.yml
  .github/styles/Kedro/words.yml
Due: code_change

Tweaks to styles
  .github/styles/Kedro/ukspelling.yml
  .github/styles/Kedro/words.yml
Due: code_change
