Repository kedro-org/kedro: changes, and which CircleCI parameters are due for each by the changed paths.
All: docs_change, code_change

Add public API for inspection layer (#5459)
  features/inspection.feature
  features/steps/cli_steps.py
  kedro/inspection/__init__.py
  tests/inspection/test_public_api.py
Due: code_change

Remove kedro import from pipeline CLI
  kedro/framework/cli/pipeline.py
  kedro/framework/cli/project.py
Due: code_change

Dedup union warning by type and use short class names
  kedro/validation/type_extractor.py
  tests/validation/test_type_extractor.py
Due: code_change

kedro run
  kedro/framework/cli/project.py
Due: code_change

rename
  kedro/validation/type_extractor.py
Due: code_change

Add ipython
  kedro/ipython/__init__.py
Due: code_change

Document stateful hook patterns in common use cases
  docs/extend/hooks/common_use_cases.md
Due: docs_change

Minor formatting changes to telemetry.md
  docs/about/telemetry.md
Due: docs_change

docs: update kedro-dagster references to stateful-y organization
  docs/deploy/supported-platforms/dagster.md
  docs/extend/plugins.md
Due: docs_change

docs: add release note
  RELEASE.md
Due: code_change

Fix #5487: Handle types.UnionType (int | str) in parameter validation
  kedro/validation/model_factory.py
  kedro/validation/parameter_validator.py
  kedro/validation/type_extractor.py
  tests/validation/test_parameter_validator.py
  tests/validation/test_type_extractor.py
Due: code_change

Update RELEASE.md for fix #5487
  RELEASE.md
Due: code_change

fix pytests
  tests/inspection/test_project_snapshot.py
Due: code_change

Fix: AttributeError on UnionType in parameter validation type extractor (#5479)
  RELEASE.md
  docs/configure/parameter_validation.md
  kedro/validation/type_extractor.py
  tests/validation/test_type_extractor.py
Due: docs_change, code_change

Update version
  CITATION.cff
  RELEASE.md
  kedro/__init__.py
Due: code_change

Update RELEASE.md
  RELEASE.md
Due: code_change

update run data
  kedro/framework/cli/project.py
  tests/framework/cli/test_cli.py
  tests/ipython/test_ipython.py
Due: code_change

Release Kedro 1.3.1 (#5490)
  CITATION.cff
  RELEASE.md
  kedro/__init__.py
Due: code_change

Last test
  kedro/framework/cli/project.py
  tests/framework/cli/test_cli.py
Due: code_change

Update dagster.md
  docs/deploy/supported-platforms/dagster.md
Due: docs_change

docs: update kedro-dagster references to stateful-y organization (#5486)
  docs/deploy/supported-platforms/dagster.md
  docs/extend/plugins.md
Due: docs_change

Update docstrings
  kedro/framework/session/abstract_session.py
  kedro/framework/session/service_session.py
Due: code_change

release notes
  RELEASE.md
Due: code_change

Update mkdocs.yml
  mkdocs.yml
Due: code_change

revert scheme names to light/dark
  docs/stylesheets/mermaid.css
  mkdocs.yml
Due: docs_change, code_change

add test for cli with service session
  tests/framework/cli/test_cli.py
Due: code_change

pin and badge update
  docs/overrides/welcome.html
  pyproject.toml
Due: docs_change, code_change

Fix indent in docs (#5491)
  docs/overrides/welcome.html
  docs/stylesheets/mermaid.css
  mkdocs.yml
  pyproject.toml
Due: docs_change, code_change

backfill mermaid doc fix for 1.3.1
  docs/overrides/welcome.html
  docs/stylesheets/mermaid.css
  mkdocs.yml
  pyproject.toml
Due: docs_change, code_change

Update tests
  tests/framework/cli/test_cli.py
  tests/framework/session/conftest.py
  tests/framework/session/test_service_session.py
Due: code_change

Remove accidental extra test
  tests/framework/cli/test_cli.py
Due: code_change

Add OSSF Scorecard workflow
  .github/workflows/scorecard.yml
Due: code_change

Add scorecard badge to README
  README.md
Due: code_change

Use v4 upload-sarif action
  .github/workflows/scorecard.yml
Due: code_change

Suggested changes
  kedro/framework/session/service_session.py
  kedro/framework/session/session.py
  tests/framework/session/test_service_session.py
Due: code_change

`KedroServiceSession` v1 (#5441)
  RELEASE.md
  kedro/framework/session/__init__.py
  kedro/framework/session/abstract_session.py
  kedro/framework/session/service_session.py
  kedro/framework/session/session.py
  tests/framework/session/conftest.py
  tests/framework/session/test_service_session.py
  tests/framework/session/test_session.py
Due: code_change

lint
  kedro/framework/cli/project.py
  kedro/ipython/__init__.py
Due: code_change

Path conditions:
  docs_change: any of: docs/.*
  code_change: any of: ^((?!docs/).)*$
