Repository kedro-org/kedro: changes, and which CircleCI parameters are due for each by the changed paths.
All: docs_change, code_change

.circleci/config.yml:

version: 2.1

parameters:
  release_kedro:
    type: boolean
    default: false
  # The parameters below are set in CircleCI UI.
  # https://app.circleci.com/settings/project/github/kedro-org/kedro/triggers?return-to=https%3A%2F%2Fapp.circleci.com%2Fpipelines%2Fgithub%2Fkedro-org%2Fkedro&triggerSource=&scheduledTriggerId=61f7226f-f092-4449-98d9-40420f8c46b2&success=true
  run_hourly:
    type: boolean
    default: false
  run_nightly:
    type: boolean
    default: false

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.1

workflows:
  regular:
    jobs:
      # the path-filtering/filter job determines which pipeline
      # parameters to update, i.e. which builds to run.
      - path-filtering/filter:
          name: check-updated-files
          base-revision: main
          config-path: .circleci/continue_config.yml
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            docs/.* docs_change true
            ^((?!docs/).)*$ code_change true

Fix partial name
  kedro/pipeline/node.py
  tests/pipeline/test_node.py
Due: code_change

fix for nav bar padding
  docs/stylesheets/globals.css
Due: docs_change

fix the primary sidebar hover state and padding
  docs/stylesheets/globals.css
Due: docs_change

Fix table of content and hover state
  docs/stylesheets/globals.css
  docs/stylesheets/themes.css
  docs/stylesheets/typography.css
  mkdocs.yml
Due: docs_change, code_change

fix footer
  docs/stylesheets/footer.css
Due: docs_change

fix lint
  docs/stylesheets/footer.css
Due: docs_change

fix table and bullet points
  docs/stylesheets/themes.css
  docs/stylesheets/typography.css
Due: docs_change

Add margin for code block
  docs/stylesheets/globals.css
Due: docs_change

Update docstring args
  docs/source/deployment/dask.md
Due: docs_change

update fake cli fixture
  tests/framework/cli/conftest.py
Due: code_change

Update release notes
  RELEASE.md
Due: code_change

Update Dask docs (#4733)
  RELEASE.md
  docs/source/deployment/dask.md
Due: docs_change, code_change

Update test to match regex pattern instead of hardcoded hash
  tests/pipeline/test_node.py
Due: code_change

Update RELEASE.md
  RELEASE.md
Due: code_change

Made get_type raise an error
  kedro/framework/context/catalog_mixins.py
  kedro/io/data_catalog.py
Due: code_change

Proposal: Change default node name (#4715)
  RELEASE.md
  kedro/framework/cli/registry.py
  kedro/pipeline/node.py
  tests/framework/cli/test_registry.py
  tests/pipeline/test_node.py
Due: code_change

docstrings for catalog commands mixin
  kedro/framework/context/catalog_mixins.py
Due: code_change

Updated get docstring
  kedro/io/data_catalog.py
Due: code_change

Updated error name in docstrings
  kedro/io/data_catalog.py
Due: code_change

Update pattern resolution behaviour (#4749)
  .secrets.baseline
  kedro/framework/context/catalog_mixins.py
  kedro/io/catalog_config_resolver.py
  kedro/io/core.py
  kedro/io/data_catalog.py
  kedro/runner/runner.py
  tests/io/test_data_catalog.py
Due: code_change

add docstrings for CatalogConfigResolver
  kedro/io/catalog_config_resolver.py
Due: code_change

Update docs for creating a custom dataset
  docs/pages/extend/how_to_create_a_custom_dataset.md
Due: docs_change

Remove micropkg docs
  docs/pages/api/framework/kedro.framework.cli.md
  docs/pages/getting-started/commands_reference.md
  docs/pages/nodes_and_pipelines/micro_packaging.md
Due: docs_change

fix TOC scrolling
  docs/stylesheets/globals.css
Due: docs_change

updated docstrings for catalogconfig resolver after feature1 merge
  kedro/io/catalog_config_resolver.py
Due: code_change

update docstrings in datacatalog after feat1 merge
  kedro/io/data_catalog.py
Due: code_change

adjust docstring
  kedro/framework/context/catalog_mixins.py
Due: code_change

Update docs for creating a custom dataset (#4755)
  docs/pages/extend/how_to_create_a_custom_dataset.md
Due: docs_change

Added @lucharo to contributors
  RELEASE.md
Due: code_change

Style improvements
  RELEASE.md
Due: code_change

Style improvements
  .github/styles/Kedro/ignore-names.txt
Due: code_change

Style improvements
  .github/styles/Kedro/ignore.txt
Due: code_change

Style improvements
  docs/source/integrations/marimo.md
Due: docs_change

Style improvements
  docs/source/kedro_project_setup/session.md
Due: docs_change

Update ignore.txt
  .github/styles/Kedro/ignore.txt
Due: code_change

[DOC] dynamic session loading in non jupyter environments (marimo, python scripts, streamlit) (#4497)
  .github/styles/Kedro/ignore-names.txt
  .github/styles/Kedro/ignore.txt
  RELEASE.md
  docs/source/index.rst
  docs/source/integrations/marimo.md
  docs/source/kedro_project_setup/session.md
Due: docs_change, code_change

add new hook spec
  kedro/framework/hooks/specs.py
  kedro/runner/parallel_runner.py
Due: code_change

Release Kedro 0.19.13
  CITATION.cff
  RELEASE.md
  docs/source/development/commands_reference.md
  kedro/__init__.py
Due: docs_change, code_change

address PR comments1
  kedro/framework/context/catalog_mixins.py
  kedro/io/catalog_config_resolver.py
  kedro/io/data_catalog.py
  kedro_benchmarks/benchmark_datacatalog.py
  kedro_benchmarks/benchmark_runner.py
Due: code_change
