Repository kedro-org/kedro: changes, and which CircleCI parameters are due for each by the changed paths.
All: docs_change, code_change

.circleci/config.yml:

version: 2.1

parameters:
  release_kedro:
    type: boolean
    default: false
  # The parameters below are set in CircleCI UI.
  # https://app.circleci.com/settings/project/github/kedro-org/kedro/triggers?return-to=https%3A%2F%2Fapp.circleci.com%2Fpipelines%2Fgithub%2Fkedro-org%2Fkedro&triggerSource=&scheduledTriggerId=61f7226f-f092-4449-98d9-40420f8c46b2&success=true
  run_hourly:
    type: boolean
    default: false
  run_nightly:
    type: boolean
    default: false

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.1

workflows:
  regular:
    jobs:
      # the path-filtering/filter job determines which pipeline
      # parameters to update, i.e. which builds to run.
      - path-filtering/filter:
          name: check-updated-files
          base-revision: main
          config-path: .circleci/continue_config.yml
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            docs/.* docs_change true
            ^((?!docs/).)*$ code_change true

Revert http server related stuff
  kedro/server/__init__.py
  kedro/server/http_server.py
  kedro/server/models.py
  kedro/server/utils.py
  pyproject.toml
  tests/server/__init__.py
  tests/server/test_http_server.py
  tests/server/test_utils.py
Due: code_change

changes based on review
  RELEASE.md
  kedro/framework/context/context.py
  tests/framework/context/test_context.py
Due: code_change

Remove former team members from TSC
  CITATION.cff
  docs/about/technical_steering_committee.md
Due: docs_change, code_change

Add Elena to TSC
  docs/about/technical_steering_committee.md
Due: docs_change

Remove former team members from TSC (#5572)
  CITATION.cff
  docs/about/technical_steering_committee.md
Due: docs_change, code_change

Update org & role for Deepyaman & Joel
  docs/about/technical_steering_committee.md
Due: docs_change

Target pipeline for `type_extractor` (#5494)
  .secrets.baseline
  RELEASE.md
  kedro/framework/context/context.py
  kedro/framework/session/service_session.py
  kedro/framework/session/session.py
  kedro/validation/type_extractor.py
  tests/framework/context/test_context.py
  tests/framework/session/test_service_session.py
  tests/framework/session/test_session.py
  tests/validation/test_parameter_validator.py
  tests/validation/test_type_extractor.py
Due: code_change

Add first version for docs drafting skill
  .agents/skills/kedro-docs-draft-writer/SKILL.md
  .agents/skills/kedro-docs-draft-writer/reference.md
  .agents/skills/kedro-docs-draft-writer/style-guide.md
Due: code_change

Revert http server related commits (#5570)
  .github/styles/Kedro/ignore.txt
  RELEASE.md
  docs/api/framework/kedro.framework.cli.md
  docs/api/index.md
  docs/api/server/kedro.server.md
  docs/api/server/kedro.server.models.md
  docs/extend/serving.md
  docs/inspect/inspect-project.md
  kedro/framework/cli/cli.py
  kedro/framework/cli/server.py
  kedro/framework/project/__init__.py
  kedro/inspection/__init__.py
  kedro/inspection/helper.py
  kedro/inspection/snapshot.py
  kedro/server/__init__.py
  kedro/server/http_server.py
  kedro/server/models.py
  kedro/server/utils.py
  mkdocs.yml
  pyproject.toml
  tests/framework/cli/conftest.py
  tests/framework/cli/test_cli.py
  tests/framework/cli/test_server.py
  tests/inspection/test_project_snapshot.py
  tests/inspection/test_public_api.py
  tests/server/__init__.py
  tests/server/conftest.py
  tests/server/test_http_server.py
  tests/server/test_run_endpoint.py
  tests/server/test_snapshot_endpoint.py
  tests/server/test_utils.py
Due: docs_change, code_change

Update role for Yetu & Yolan
  docs/about/technical_steering_committee.md
Due: docs_change

Add Alice to TSC
  docs/about/technical_steering_committee.md
Due: docs_change

Add Maintainer role to Rashida & Merel
  docs/about/technical_steering_committee.md
Due: docs_change

Add Elena to TSC (#5573)
  docs/about/technical_steering_committee.md
Due: docs_change

Bump version
  CITATION.cff
  RELEASE.md
  kedro/__init__.py
  pyproject.toml
Due: code_change

Bump version (#5575)
  CITATION.cff
  RELEASE.md
  kedro/__init__.py
  pyproject.toml
Due: code_change

Add back http server
  .github/styles/Kedro/ignore.txt
  RELEASE.md
  docs/api/framework/kedro.framework.cli.md
  docs/api/index.md
  docs/api/server/kedro.server.md
  docs/api/server/kedro.server.models.md
  docs/extend/serving.md
  docs/inspect/inspect-project.md
  kedro/framework/cli/cli.py
  kedro/framework/cli/server.py
  kedro/framework/project/__init__.py
  kedro/inspection/__init__.py
  kedro/inspection/helper.py
  kedro/inspection/snapshot.py
  kedro/server/__init__.py
  kedro/server/http_server.py
  kedro/server/models.py
  kedro/server/utils.py
  mkdocs.yml
  pyproject.toml
  tests/framework/cli/conftest.py
  tests/framework/cli/test_cli.py
  tests/framework/cli/test_server.py
  tests/inspection/test_project_snapshot.py
  tests/inspection/test_public_api.py
  tests/server/__init__.py
  tests/server/conftest.py
  tests/server/test_http_server.py
  tests/server/test_run_endpoint.py
  tests/server/test_snapshot_endpoint.py
  tests/server/test_utils.py
Due: docs_change, code_change

Add Elijah to TSC
  docs/about/technical_steering_committee.md
Due: docs_change

Update for role & org Marcin + org Ivan
  docs/about/technical_steering_committee.md
Due: docs_change

Upate citation.cff
  CITATION.cff
Due: code_change

Add Joe to TSC
  CITATION.cff
  docs/about/technical_steering_committee.md
Due: docs_change, code_change

Add Nok as maintainer
  docs/about/technical_steering_committee.md
Due: docs_change

Add Elijah to TSC (#5577)
  docs/about/technical_steering_committee.md
Due: docs_change

Add Tynan as advisor
  docs/about/technical_steering_committee.md
Due: docs_change

Add Elena as maintainer
  docs/about/technical_steering_committee.md
Due: docs_change

Add Jitendra as committer
  docs/about/technical_steering_committee.md
Due: docs_change

Add back http server (#5576)
  .github/styles/Kedro/ignore.txt
  RELEASE.md
  docs/api/framework/kedro.framework.cli.md
  docs/api/index.md
  docs/api/server/kedro.server.md
  docs/api/server/kedro.server.models.md
  docs/extend/serving.md
  docs/inspect/inspect-project.md
  kedro/framework/cli/cli.py
  kedro/framework/cli/server.py
  kedro/framework/project/__init__.py
  kedro/inspection/__init__.py
  kedro/inspection/helper.py
  kedro/inspection/snapshot.py
  kedro/server/__init__.py
  kedro/server/http_server.py
  kedro/server/models.py
  kedro/server/utils.py
  mkdocs.yml
  pyproject.toml
  tests/framework/cli/conftest.py
  tests/framework/cli/test_cli.py
  tests/framework/cli/test_server.py
  tests/inspection/test_project_snapshot.py
  tests/inspection/test_public_api.py
  tests/server/__init__.py
  tests/server/conftest.py
  tests/server/test_http_server.py
  tests/server/test_run_endpoint.py
  tests/server/test_snapshot_endpoint.py
  tests/server/test_utils.py
Due: docs_change, code_change

[Vote]: Add Alice to TSC (#5578)
  CITATION.cff
  docs/about/technical_steering_committee.md
Due: docs_change, code_change

Split models into success and failure
  docs/extend/serving.md
  docs/inspect/inspect-project.md
  kedro/server/http_server.py
  kedro/server/models.py
  tests/server/test_http_server.py
  tests/server/test_run_endpoint.py
  tests/server/test_snapshot_endpoint.py
Due: docs_change, code_change

Add Ankita as committer
  docs/about/technical_steering_committee.md
Due: docs_change

Add description
  kedro/server/models.py
Due: code_change

Add Joe to TSC (#5579)
  CITATION.cff
  docs/about/technical_steering_committee.md
Due: docs_change, code_change

Add Elijah as committer
  docs/about/technical_steering_committee.md
Due: docs_change

http server: Split response models into success and failure (#5581)
  docs/extend/serving.md
  docs/inspect/inspect-project.md
  kedro/server/http_server.py
  kedro/server/models.py
  tests/server/test_http_server.py
  tests/server/test_run_endpoint.py
  tests/server/test_snapshot_endpoint.py
Due: docs_change, code_change

Wire selective pipeline loading to CLI
  kedro/framework/project/__init__.py
  kedro/framework/session/session.py
  tests/framework/project/test_pipeline_discovery.py
  tests/framework/session/test_session.py
Due: code_change

Add Joe as maintainer
  docs/about/technical_steering_committee.md
Due: docs_change

Add Ali as committer
  docs/about/technical_steering_committee.md
Due: docs_change

Pass new parameter in all the required places
  kedro/framework/cli/catalog.py
  kedro/framework/cli/registry.py
  tests/framework/cli/test_registry.py
Due: code_change

Release note
  RELEASE.md
Due: code_change

Exclude temporary Diataxis planning docs from Vale
  .vale.ini
Due: code_change

Remove temporary Diataxis planning docs
  .vale.ini
  CATALOG_DIATAXIS_REORGANIZATION_PLAN.md
  DIATAXIS_REORGANIZATION_PLAN.md
Due: code_change
