Repository kedro-org/kedro: changes, and which CircleCI parameters are due for each by the changed paths.
All: docs_change, code_change

.circleci/config.yml:

version: 2.1

parameters:
  release_kedro:
    type: boolean
    default: false
  # The parameters below are set in CircleCI UI.
  # https://app.circleci.com/settings/project/github/kedro-org/kedro/triggers?return-to=https%3A%2F%2Fapp.circleci.com%2Fpipelines%2Fgithub%2Fkedro-org%2Fkedro&triggerSource=&scheduledTriggerId=61f7226f-f092-4449-98d9-40420f8c46b2&success=true
  run_hourly:
    type: boolean
    default: false
  run_nightly:
    type: boolean
    default: false

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.1

workflows:
  regular:
    jobs:
      # the path-filtering/filter job determines which pipeline
      # parameters to update, i.e. which builds to run.
      - path-filtering/filter:
          name: check-updated-files
          base-revision: main
          config-path: .circleci/continue_config.yml
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            docs/.* docs_change true
            ^((?!docs/).)*$ code_change true

add security fixes in release notes
  RELEASE.md
Due: code_change

Update RELEASE.md
  RELEASE.md
Due: code_change

Update session_id, run_id
  kedro/framework/session/service_session.py
Due: code_change

update tests to cover default env
  tests/inspection/test_project_snapshot.py
Due: code_change

Release Kedro 1.3.0 (#5477)
  CITATION.cff
  RELEASE.md
  kedro/__init__.py
Due: code_change

create class method for re-use
  kedro/inspection/helper.py
  kedro/inspection/models.py
  kedro/inspection/snapshot.py
Due: code_change

add tests for class method
  tests/inspection/test_dataset_snapshot.py
Due: code_change

Fix: Prevent .secrets.baseline changes from triggering all CI tests
  .github/workflows/all-checks.yml
Due: code_change

lint
  kedro/framework/session/service_session.py
Due: code_change

strip factory patterns
  kedro/inspection/helper.py
  tests/inspection/test_helper.py
Due: code_change

Add Project snapshot for the inspection layer (#5458)
  kedro/inspection/helper.py
  kedro/inspection/models.py
  kedro/inspection/snapshot.py
  tests/inspection/test_dataset_snapshot.py
  tests/inspection/test_helper.py
  tests/inspection/test_node_pipeline_snapshot.py
  tests/inspection/test_project_snapshot.py
Due: code_change

Add instructions on bucket creation
  docs/deploy/supported-platforms/aws_batch.md
Due: docs_change

adjust integrations tests
  tests/inspection/test_integration.py
Due: code_change

Add suggestion for pipeline close matches
  kedro/framework/session/service_session.py
Due: code_change

Some tests and refactoring
  pyproject.toml
  tests/framework/session/conftest.py
  tests/framework/session/test_service_session.py
  tests/framework/session/test_session.py
Due: code_change

Fix AttributeError on non-Pydantic/dataclass type hints in parameter validation The type extractor now filters out types it cannot validate
  RELEASE.md
  kedro/validation/type_extractor.py
  tests/validation/test_type_extractor.py
Due: code_change

lint
  kedro/validation/type_extractor.py
  tests/validation/test_type_extractor.py
Due: code_change

docs: use CSS variables for mermaid Kedro branding colours
  docs/stylesheets/mermaid.css
Due: docs_change

more tests
  kedro/framework/session/service_session.py
  tests/framework/session/conftest.py
  tests/framework/session/test_service_session.py
  tests/framework/session/test_session.py
Due: code_change

docs: fix linter issues in mermaid.css
  docs/stylesheets/mermaid.css
Due: docs_change

changes based on review
  RELEASE.md
  kedro/validation/type_extractor.py
  tests/validation/test_type_extractor.py
Due: code_change

Update type_extractor.py
  kedro/validation/type_extractor.py
Due: code_change

docs: improve mermaid diagram visibility in dark mode (#5460)
  docs/stylesheets/mermaid.css
  mkdocs.yml
Due: docs_change, code_change

document limitation about multi-type unions
  docs/configure/parameter_validation.md
Due: docs_change

lint
  docs/configure/parameter_validation.md
Due: docs_change

add log warning for union type hint not supported for validation
  kedro/validation/type_extractor.py
  tests/validation/test_type_extractor.py
Due: code_change

address PR comments
  tests/inspection/test_integration.py
  tests/inspection/test_public_api.py
Due: code_change

address PR comments
  kedro/inspection/__init__.py
Due: code_change

add e2e tests
  features/inspection.feature
  features/steps/cli_steps.py
Due: code_change

docs for inspection api
  docs/api/inspection/kedro.inspection.md
  docs/api/inspection/kedro.inspection.models.md
  docs/inspect/inspect-project.md
  mkdocs.yml
Due: docs_change, code_change

fix doc linter
  docs/inspect/inspect-project.md
Due: docs_change

fix version comment
  docs/inspect/inspect-project.md
Due: docs_change

fix heading
  docs/inspect/inspect-project.md
Due: docs_change

warn single time
  kedro/validation/type_extractor.py
  tests/validation/test_type_extractor.py
Due: code_change

rest of the tests
  kedro/framework/session/service_session.py
  tests/framework/session/test_service_session.py
  tests/framework/session/test_session.py
Due: code_change

Squashed commit of the following:
  kedro/framework/session/service_session.py
  pyproject.toml
  tests/framework/session/conftest.py
  tests/framework/session/test_service_session.py
  tests/framework/session/test_session.py
Due: code_change

combine e2e test scenarios
  features/inspection.feature
  features/steps/cli_steps.py
Due: code_change
