Repository kedro-org/kedro: changes, and which CircleCI parameters are due for each by the changed paths.
All: docs_change, code_change

Try latest moto
  .circleci/continue_config.yml
  test_requirements.txt
Due: code_change

remove lint disabler
  kedro/framework/hooks/specs.py
Due: code_change

Revert changes
  docs/source/extend_kedro/hooks.md
  kedro/framework/hooks/specs.py
  kedro/framework/session/session.py
  tests/framework/hooks/test_manager.py
  tests/framework/session/conftest.py
  tests/framework/session/test_session_extension_hooks.py
Due: docs_change, code_change

trailing whitespace
  docs/source/tutorial/namespace_pipelines.md
Due: docs_change

Update example_project.md (#1426)
  docs/source/get_started/example_project.md
Due: docs_change

fix test
  tests/framework/session/test_session.py
Due: code_change

Fix lint issue
  tests/framework/session/test_session.py
Due: code_change

Fix tests
  tests/framework/session/test_session.py
Due: code_change

black
  tests/framework/session/test_session.py
Due: code_change

Provide more useful YAML error when there is invalid config file (#1419)
  RELEASE.md
  kedro/config/common.py
  tests/config/test_config.py
Due: code_change

Update docs to add namespace prefix to spaceflights tutorial (#1421)
  docs/source/tutorial/namespace_pipelines.md
Due: docs_change

Remove recommendations for databricks-connect (#1376)
  docs/source/deployment/databricks.md
Due: docs_change

fix: redirect error to STDOUT to avoid printing fatal error
  kedro/framework/session/session.py
Due: code_change

add change details to Release.md
  RELEASE.md
Due: code_change

add git call to error handling
  kedro/framework/session/session.py
Due: code_change

Update description
  RELEASE.md
Due: code_change

Updates post-release (#1400)
  .circleci/continue_config.yml
  RELEASE.md
  docs/source/faq/faq.md
Due: docs_change, code_change

correct wrong merge
  RELEASE.md
Due: code_change

suggested change
  RELEASE.md
Due: code_change

Revert all changes and pin moto back
  .circleci/continue_config.yml
  test_requirements.txt
  tests/io/test_incremental_dataset.py
  tests/io/test_partitioned_dataset.py
Due: code_change

Updated comment
  kedro/framework/cli/cli.py
Due: code_change

Fix lint
  docs/source/tutorial/namespace_pipelines.md
Due: docs_change

Removed nested session test and add tests to make sure multiple sessions can be created.
  kedro/framework/session/session.py
  tests/framework/session/test_session.py
Due: code_change

Remove _active_session global and activate/deactivate mechanism.
  kedro/extras/extensions/ipython.py
  kedro/framework/session/session.py
  tests/extras/extensions/test_ipython.py
  tests/framework/session/test_session.py
Due: code_change

Fix unit tests (#1432)
  docs/source/tutorial/namespace_pipelines.md
  test_requirements.txt
Due: docs_change, code_change

lint and rename variable
  RELEASE.md
  kedro/framework/session/session.py
Due: code_change

improve TemplatedConfigLoader
  RELEASE.md
  docs/source/kedro_project_setup/configuration.md
  kedro/config/common.py
  kedro/config/templated_config.py
  tests/config/test_templated_config.py
Due: docs_change, code_change

switch defaults
  kedro/config/templated_config.py
Due: code_change

Add base env to the tempalted config laoder scope
  docs/source/kedro_project_setup/configuration.md
  kedro/config/templated_config.py
  tests/config/test_templated_config.py
Due: docs_change, code_change

Update empty starter test with new kedrocontext signature
  kedro/templates/project/{{ cookiecutter.repo_name }}/src/tests/test_run.py
Due: code_change

Update migration guide to include new signature for KedroContext
  RELEASE.md
Due: code_change

handle git fatal error on non-git projects (#1422)
  RELEASE.md
  kedro/framework/session/session.py
Due: code_change

Linting
  kedro/config/templated_config.py
Due: code_change

Linting
  kedro/config/templated_config.py
  tests/config/test_templated_config.py
Due: code_change

Fix style
  docs/source/kedro_project_setup/configuration.md
Due: docs_change

Revert "Remove _active_session global and activate/deactivate mechanism."
  kedro/extras/extensions/ipython.py
  kedro/framework/session/session.py
  tests/extras/extensions/test_ipython.py
  tests/framework/session/test_session.py
Due: code_change

https://github.com/sphinx-doc/sphinx/issues/7369
  docs/conf.py
Due: docs_change

Undo `user_agent` change, but still trigger builds
  docs/conf.py
Due: docs_change

Path conditions:
  docs_change: any of: docs/.*
  code_change: any of: ^((?!docs/).)*$
