Repository kedro-org/kedro: changes, and which CircleCI parameters are due for each by the changed paths.
All: docs_change, code_change

Update broken link to Databricks, and fix sentence
  docs/source/deployment/databricks.md
Due: docs_change

Update description for `pipeline` arg to `run` CLI
  kedro/framework/cli/project.py
Due: code_change

Improve error handling in IPython extension
  kedro/extras/extensions/ipython.py
Due: code_change

Update docs
  docs/source/development/commands_reference.md
  docs/source/tools_integration/ipython.md
Due: docs_change

Remove old dependency
  requirements.txt
Due: code_change

Fix up tests
  tests/extras/extensions/test_ipython.py
Due: code_change

Add example for using multisheet excel file
  docs/source/data/data_catalog.md
Due: docs_change

Update multi-sheet excel example
  docs/source/data/data_catalog.md
Due: docs_change

Lint
  kedro/extras/extensions/ipython.py
  tests/extras/extensions/test_ipython.py
Due: code_change

Remove unnecessary <project_root> references, change <project-name> to <project_name>, ensure proper use of <package_name>.
  docs/source/deployment/argo.md
  docs/source/deployment/kubeflow.md
  docs/source/development/commands_reference.md
  docs/source/hooks/common_use_cases.md
  docs/source/hooks/examples.md
  docs/source/hooks/introduction.md
  docs/source/nodes_and_pipelines/micro_packaging.md
  docs/source/nodes_and_pipelines/run_a_pipeline.md
  docs/source/tools_integration/pyspark.md
  kedro/framework/cli/micropkg.py
Due: docs_change, code_change

Fix erroneous use of <project-name> in favour of <package_name>.
  docs/source/tools_integration/ipython.md
Due: docs_change

Standardize use of 'name', 'package' and 'root' in examples of user input
  docs/source/deployment/argo.md
  docs/source/deployment/databricks.md
  docs/source/deployment/kubeflow.md
  docs/source/development/commands_reference.md
  docs/source/development/set_up_vscode.md
  docs/source/hooks/common_use_cases.md
  docs/source/hooks/examples.md
  docs/source/hooks/introduction.md
  docs/source/kedro_project_setup/configuration.md
  docs/source/nodes_and_pipelines/micro_packaging.md
  docs/source/nodes_and_pipelines/run_a_pipeline.md
  docs/source/tools_integration/ipython.md
  docs/source/tools_integration/pyspark.md
  kedro/extras/extensions/ipython.py
  kedro/framework/cli/micropkg.py
  kedro/framework/session/session.py
  kedro/framework/startup.py
  tests/extras/extensions/test_ipython.py
Due: docs_change, code_change

Remove out-of-date section of doc string for KedroSession.
  kedro/framework/session/session.py
Due: code_change

Fix doclinks
  docs/source/deployment/databricks.md
Due: docs_change

Fix out-of-date reference to src/dist.
  docs/source/nodes_and_pipelines/micro_packaging.md
Due: docs_change

Update docs/source/development/commands_reference.md
  docs/source/development/commands_reference.md
Due: docs_change

Update Kedro-Viz version to v5
  docs/source/tutorial/tutorial_template.md
Due: docs_change

Save without formatting
  docs/source/tutorial/tutorial_template.md
Due: docs_change

Modify code snippets for workflow creation to use package_name instead of project_name.
  docs/source/deployment/argo.md
  docs/source/deployment/kubeflow.md
Due: docs_change

Update broken link to Databricks, and fix sentence (#1757)
  docs/source/deployment/databricks.md
Due: docs_change

Fix typo in requirements.txt
  requirements.txt
Due: code_change

Allow dotted keys in the extra params
  kedro/framework/cli/utils.py
Due: code_change

Update test_cli.py
  tests/framework/cli/test_cli.py
Due: code_change

Update RELEASE.md
  RELEASE.md
Due: code_change

Update Kedro-Viz version to v5 in docs (#1764)
  docs/source/tutorial/tutorial_template.md
Due: docs_change

Disable rich tracebacks on Databricks
  kedro/framework/project/__init__.py
Due: code_change

Apply suggestions from code review
  kedro/framework/project/__init__.py
Due: code_change

Add anchors to datacatalog page examples
  docs/source/data/data_catalog.md
Due: docs_change

Update example
  docs/source/get_started/example_project.md
Due: docs_change

Add logic to find possible namespaces
  kedro/pipeline/pipeline.py
Due: code_change

Standardize use of 'name', 'package' and 'root' in examples of user input (#1753)
  docs/source/deployment/argo.md
  docs/source/deployment/databricks.md
  docs/source/deployment/kubeflow.md
  docs/source/development/commands_reference.md
  docs/source/development/set_up_vscode.md
  docs/source/hooks/common_use_cases.md
  docs/source/hooks/examples.md
  docs/source/hooks/introduction.md
  docs/source/kedro_project_setup/configuration.md
  docs/source/nodes_and_pipelines/micro_packaging.md
  docs/source/nodes_and_pipelines/run_a_pipeline.md
  docs/source/tools_integration/ipython.md
  docs/source/tools_integration/pyspark.md
  kedro/extras/extensions/ipython.py
  kedro/framework/cli/micropkg.py
  kedro/framework/session/session.py
  kedro/framework/startup.py
  tests/extras/extensions/test_ipython.py
Due: docs_change, code_change

Update deployment_guide.md
  docs/source/deployment/deployment_guide.md
Due: docs_change

update flowchart
  docs/source/deployment/deployment_guide.md
Due: docs_change

Add tests
  tests/pipeline/test_pipeline.py
Due: code_change

Fix linting
  kedro/pipeline/pipeline.py
  tests/pipeline/test_pipeline.py
Due: code_change

Use regex to make namespace matching more specific
  kedro/pipeline/pipeline.py
  tests/pipeline/test_pipeline.py
Due: code_change

Add changes to RELEASE.md
  RELEASE.md
Due: code_change

Add example for multi-sheet excel
  kedro/extras/datasets/pandas/excel_dataset.py
Due: code_change

Update the logs from rich format
  docs/source/get_started/example_project.md
  docs/source/tutorial/create_pipelines.md
Due: docs_change

Fix indendatation
  docs/source/get_started/example_project.md
  docs/source/tutorial/create_pipelines.md
Due: docs_change

Path conditions:
  docs_change: any of: docs/.*
  code_change: any of: ^((?!docs/).)*$
