Repository kedro-org/kedro: changes, and which CircleCI parameters are due for each by the changed paths.
All: docs_change, code_change

Update prompts file for e2e tests
  features/steps/test_starter/prompts.yml
Due: code_change

Update docs/conf.py
  docs/conf.py
Due: docs_change

Update docs/source/logging/logging.md
  docs/source/logging/logging.md
Due: docs_change

Put framework logging into LOGGING and fix import resetting logging (#1644)
  MANIFEST.in
  RELEASE.md
  docs/conf.py
  docs/source/logging/logging.md
  kedro/config/default_logger.py
  kedro/extras/extensions/ipython.py
  kedro/framework/cli/cli.py
  kedro/framework/cli/micropkg.py
  kedro/framework/cli/starters.py
  kedro/framework/project/__init__.py
  kedro/framework/project/default_logging.yml
  kedro/framework/session/session.py
  kedro/runner/parallel_runner.py
  tests/__init__.py
  tests/framework/cli/test_cli.py
  tests/framework/project/test_logging.py
  tests/runner/test_parallel_runner.py
Due: docs_change, code_change

[KED-3023] Enable plugins to extend starter-aliases default list (#1592)
  .pre-commit-config.yaml
  RELEASE.md
  docs/source/extend_kedro/create_kedro_starters.md
  docs/source/extend_kedro/plugins.md
  features/activate_nbstripout.feature
  features/build_docs.feature
  features/build_reqs.feature
  features/info.feature
  features/ipython.feature
  features/jupyter.feature
  features/load_context.feature
  features/new_project.feature
  features/package.feature
  features/run.feature
  features/starter.feature
  features/steps/cli_steps.py
  features/steps/test_plugin/plugin.py
  features/steps/test_plugin/setup.py
  features/test.feature
  kedro/framework/cli/cli.py
  kedro/framework/cli/starters.py
  kedro/framework/cli/utils.py
  kedro/framework/project/__init__.py
  pyproject.toml
  requirements.txt
  tests/framework/cli/test_cli.py
  tests/framework/cli/test_starters.py
Due: docs_change, code_change

Merge develop + linting
  tests/framework/cli/test_starters.py
  tests/framework/project/test_logging.py
Due: code_change

Changes based on review
  docs/source/development/debugging.md
  docs/source/extend_kedro/common_use_cases.md
  docs/source/hooks/examples.md
  docs/source/hooks/introduction.md
  docs/source/index.rst
  docs/source/kedro_project_setup/settings.md
Due: docs_change

update kedro_io.md
  docs/source/data/kedro_io.md
Due: docs_change

Suggested doc improvements from review
  docs/source/contribution/developer_contributor_guidelines.md
  docs/source/data/data_catalog.md
  docs/source/data/kedro_io.md
  docs/source/deployment/airflow_astronomer.md
  docs/source/deployment/argo.md
  docs/source/deployment/aws_batch.md
  docs/source/deployment/aws_sagemaker.md
  docs/source/deployment/aws_step_functions.md
  docs/source/deployment/databricks.md
  docs/source/deployment/kubeflow.md
  docs/source/deployment/prefect.md
  docs/source/development/commands_reference.md
  docs/source/development/debugging.md
  docs/source/development/set_up_pycharm.md
  docs/source/development/set_up_vscode.md
Due: docs_change

Split up the documentation page about Hooks (#1641)
  docs/source/data/kedro_io.md
  docs/source/development/debugging.md
  docs/source/extend_kedro/common_use_cases.md
  docs/source/hooks/common_use_cases.md
  docs/source/hooks/examples.md
  docs/source/hooks/introduction.md
  docs/source/index.rst
  docs/source/kedro_project_setup/settings.md
Due: docs_change

Update prerequisites.md
  docs/source/get_started/prerequisites.md
Due: docs_change

Update install.md
  docs/source/get_started/install.md
Due: docs_change

Update new_project.md
  docs/source/get_started/new_project.md
Due: docs_change

Change dataset colour
  kedro/io/data_catalog.py
Due: code_change

Make styling consistent
  kedro/config/common.py
  kedro/io/data_catalog.py
  kedro/pipeline/node.py
Due: code_change

Fix linting
  kedro/config/common.py
  kedro/io/data_catalog.py
  kedro/pipeline/node.py
Due: code_change

Fix failing tests (temporary)
  tests/io/test_data_catalog.py
Due: code_change

Fix linting: the sequel
  tests/io/test_data_catalog.py
Due: code_change

Update example_project.md
  docs/source/get_started/example_project.md
Due: docs_change

Make style tags concise
  kedro/config/common.py
Due: code_change

Adding pandas-iris back
  kedro/framework/cli/starters.py
Due: code_change

Remove set_level from caplog
  tests/io/test_data_catalog.py
Due: code_change

Generic typings abstract dataset (#1612)
  RELEASE.md
  docs/conf.py
  docs/source/extend_kedro/custom_datasets.md
  kedro/extras/datasets/api/api_dataset.py
  kedro/extras/datasets/biosequence/biosequence_dataset.py
  kedro/extras/datasets/dask/parquet_dataset.py
  kedro/extras/datasets/email/message_dataset.py
  kedro/extras/datasets/geopandas/geojson_dataset.py
  kedro/extras/datasets/holoviews/holoviews_writer.py
  kedro/extras/datasets/json/json_dataset.py
  kedro/extras/datasets/matplotlib/matplotlib_writer.py
  kedro/extras/datasets/networkx/gml_dataset.py
  kedro/extras/datasets/networkx/graphml_dataset.py
  kedro/extras/datasets/networkx/json_dataset.py
  kedro/extras/datasets/pandas/csv_dataset.py
  kedro/extras/datasets/pandas/excel_dataset.py
  kedro/extras/datasets/pandas/feather_dataset.py
  kedro/extras/datasets/pandas/gbq_dataset.py
  kedro/extras/datasets/pandas/generic_dataset.py
  kedro/extras/datasets/pandas/hdf_dataset.py
  kedro/extras/datasets/pandas/json_dataset.py
  kedro/extras/datasets/pandas/parquet_dataset.py
  kedro/extras/datasets/pandas/sql_dataset.py
  kedro/extras/datasets/pandas/xml_dataset.py
  kedro/extras/datasets/pickle/pickle_dataset.py
  kedro/extras/datasets/pillow/image_dataset.py
  kedro/extras/datasets/plotly/json_dataset.py
  kedro/extras/datasets/redis/redis_dataset.py
  kedro/extras/datasets/spark/deltatable_dataset.py
  kedro/extras/datasets/spark/spark_dataset.py
  kedro/extras/datasets/spark/spark_hive_dataset.py
  kedro/extras/datasets/spark/spark_jdbc_dataset.py
  kedro/extras/datasets/tensorflow/tensorflow_model_dataset.py
  kedro/extras/datasets/text/text_dataset.py
  kedro/extras/datasets/tracking/json_dataset.py
  kedro/extras/datasets/tracking/metrics_dataset.py
  kedro/extras/datasets/yaml/yaml_dataset.py
  kedro/io/core.py
Due: docs_change, code_change

Apply suggestions from code review
  docs/source/deployment/argo.md
  docs/source/deployment/aws_step_functions.md
Due: docs_change

Update docs/source/data/data_catalog.md
  docs/source/data/data_catalog.md
Due: docs_change

Update starters.md
  docs/source/get_started/starters.md
Due: docs_change

Update standalone_use_of_datacatalog.md
  docs/source/get_started/standalone_use_of_datacatalog.md
Due: docs_change

Further richify logs (#1663)
  kedro/config/common.py
  kedro/io/data_catalog.py
  kedro/pipeline/node.py
  tests/io/test_data_catalog.py
Due: code_change

Update spaceflights_tutorial.md
  docs/source/tutorial/spaceflights_tutorial.md
Due: docs_change

Update tutorial_template.md
  docs/source/tutorial/tutorial_template.md
Due: docs_change

Documentation improvements (#1656)
  docs/source/contribution/developer_contributor_guidelines.md
  docs/source/data/data_catalog.md
  docs/source/data/kedro_io.md
  docs/source/deployment/airflow_astronomer.md
  docs/source/deployment/argo.md
  docs/source/deployment/aws_batch.md
  docs/source/deployment/aws_sagemaker.md
  docs/source/deployment/aws_step_functions.md
  docs/source/deployment/databricks.md
  docs/source/deployment/kubeflow.md
  docs/source/deployment/prefect.md
  docs/source/development/commands_reference.md
  docs/source/development/debugging.md
  docs/source/development/set_up_pycharm.md
  docs/source/development/set_up_vscode.md
Due: docs_change

Documentation improvements for new_project.md (#1662)
  docs/source/get_started/new_project.md
Due: docs_change

Update docs/source/tutorial/spaceflights_tutorial.md
  docs/source/tutorial/spaceflights_tutorial.md
Due: docs_change

Doc improvements to install.md (#1661)
  docs/source/get_started/install.md
Due: docs_change

Add pretty install
  kedro/framework/project/__init__.py
Due: code_change

Update create_pipelines.md
  docs/source/tutorial/create_pipelines.md
Due: docs_change

Doc improvements to prerequisites.md (#1660)
  docs/source/get_started/prerequisites.md
Due: docs_change

Add Cvetanka Nechevska to the team member list (#1638)
  docs/source/faq/faq.md
Due: docs_change

Doc improvements to example_project.md (#1666)
  docs/source/get_started/example_project.md
Due: docs_change

Path conditions:
  docs_change: any of: docs/.*
  code_change: any of: ^((?!docs/).)*$
