Repository kedro-org/kedro: changes, and which CircleCI parameters are due for each by the changed paths.
All: docs_change, code_change

Add docs on difference between `OmegaConf` and `OmegaConfigLoader` (#3352)
  docs/source/configuration/advanced_configuration.md
  docs/source/configuration/configuration_basics.md
Due: docs_change

change input type
  docs/source/_templates/layout.html
Due: docs_change

rename to tools
  features/addons.feature
  features/steps/cli_steps.py
  features/tools.feature
Due: code_change

Update cli_steps.py
  features/steps/cli_steps.py
Due: code_change

Seems like the rename from class_obj to dataset_type wasn't complete
  kedro/io/core.py
Due: code_change

additional changes to ordering/content
  docs/source/starters/new_project_tools.md
Due: docs_change

Allow kedro new from config file without tools or example
  kedro/framework/cli/starters.py
Due: code_change

Add test
  tests/framework/cli/test_starters.py
Due: code_change

updated mermaid diagrams
  docs/source/starters/new_project_tools.md
Due: docs_change

Update `kedro new` prompts (#3358)
  docs/source/deployment/databricks/databricks_deployment_workflow.md
  docs/source/deployment/databricks/databricks_ide_development_workflow.md
Due: docs_change

Update test
  tests/framework/cli/test_starters.py
Due: code_change

Update condition
  kedro/framework/cli/starters.py
Due: code_change

remove package_name from KedroSession.create
  kedro/framework/session/session.py
Due: code_change

fix tests
  RELEASE.md
  kedro/framework/cli/catalog.py
  kedro/ipython/__init__.py
  tests/framework/cli/pipeline/test_pipeline.py
  tests/framework/session/conftest.py
  tests/framework/session/test_session.py
  tests/framework/session/test_session_extension_hooks.py
  tests/framework/session/test_session_hook_manager.py
Due: code_change

Missing capital
  kedro/framework/cli/starters.py
Due: code_change

Update RELEASE.md
  RELEASE.md
Due: code_change

undo old release note change
  RELEASE.md
Due: code_change

Update config validation
  kedro/framework/cli/starters.py
Due: code_change

[Ready] Add video course content to docs (#3305)
  docs/source/course/index.md
  docs/source/deployment/databricks/databricks_deployment_workflow.md
  docs/source/deployment/databricks/databricks_ide_development_workflow.md
  docs/source/index.rst
Due: docs_change

update tests for package_name no longer existing
  tests/framework/session/test_session.py
  tests/ipython/test_ipython.py
Due: code_change

lint
  tests/framework/session/test_session.py
Due: code_change

Don't allow `--starters` with `--tools` or `--example` (#3362)
  kedro/framework/cli/starters.py
  tests/framework/cli/test_starters.py
Due: code_change

Add suggestion from review
  kedro/framework/cli/starters.py
Due: code_change

changes based on review
  .github/workflows/e2e-tests.yml
  features/steps/cli_steps.py
  features/tools.feature
Due: code_change

Add images to placehoders
  docs/source/meta/images/kedro-new-help.png
  docs/source/meta/images/kedro-new-tools-prompt.png
  docs/source/starters/new_project_tools.md
Due: docs_change

Add E2E test for tools (#3325)
  .github/workflows/e2e-tests.yml
  features/steps/cli_steps.py
  features/tools.feature
Due: code_change

Drop `package_name` argument in KedroSession.create (#3372)
  RELEASE.md
  kedro/framework/cli/catalog.py
  kedro/framework/session/session.py
  kedro/ipython/__init__.py
  tests/framework/cli/pipeline/test_pipeline.py
  tests/framework/session/conftest.py
  tests/framework/session/test_session.py
  tests/framework/session/test_session_extension_hooks.py
  tests/framework/session/test_session_hook_manager.py
  tests/ipython/test_ipython.py
Due: code_change

Allow `kedro new` with config file without tools or example (#3370)
  kedro/framework/cli/starters.py
  tests/framework/cli/test_starters.py
Due: code_change

Add tests for helper functions
  tests/framework/cli/test_starters.py
Due: code_change

Update docs/source/starters/new_project_tools.md
  docs/source/starters/new_project_tools.md
Due: docs_change

Update docs/source/starters/starters.md
  docs/source/starters/starters.md
Due: docs_change

Remove `extras` from custom dataset path hierarchy
  docs/source/data/how_to_create_a_custom_dataset.md
Due: docs_change

Update Databricks deployment docs
  docs/source/deployment/databricks/databricks_deployment_workflow.md
  docs/source/meta/images/databricks_configure_job_cluster.png
Due: docs_change

Indent comments to stop Ruff reformatting the file
  kedro/templates/project/{{ cookiecutter.repo_name }}/src/{{ cookiecutter.python_package }}/settings.py
Due: code_change

Fix indentation for `parse_dataset_definition` def
  kedro/io/core.py
Due: code_change

Validate config when used with starter
  kedro/framework/cli/starters.py
Due: code_change

Fix indentation for `parse_dataset_definition` def (#3381)
  kedro/io/core.py
Due: code_change

Indent comments to stop Ruff reformatting the file (#3380)
  kedro/templates/project/{{ cookiecutter.repo_name }}/src/{{ cookiecutter.python_package }}/settings.py
Due: code_change

Address review comments
  docs/source/conf.py
  kedro/io/__init__.py
  kedro/io/memory_dataset.py
  kedro/io/shared_memory_dataset.py
  kedro/runner/parallel_runner.py
  kedro/runner/sequential_runner.py
  kedro/runner/thread_runner.py
  tests/io/test_memory_dataset.py
Due: docs_change, code_change

Path conditions:
  docs_change: any of: docs/.*
  code_change: any of: ^((?!docs/).)*$
