Repository kedro-org/kedro: changes, and which CircleCI parameters are due for each by the changed paths.
All: docs_change, code_change

Deprecate Python 3.9
  .github/workflows/all-checks.yml
  .github/workflows/docs-only-checks.yml
  .readthedocs.yml
  kedro/templates/project/{{ cookiecutter.repo_name }}/pyproject.toml
  pyproject.toml
  tests/io/test_data_catalog.py
Due: code_change

Adjust tests to change importlib_resources into importlib.resources
  kedro/framework/project/__init__.py
  tests/framework/project/test_pipeline_discovery.py
Due: code_change

Adjust tests to change importlib_metadata into importlib.metadata
  kedro/framework/cli/starters.py
  kedro/framework/cli/utils.py
  tests/framework/cli/conftest.py
Due: code_change

Lint
  features/steps/util.py
  kedro/config/omegaconf_config.py
  kedro/framework/cli/starters.py
  kedro/framework/cli/utils.py
  kedro/framework/context/catalog_mixins.py
  kedro/framework/project/__init__.py
  kedro/io/catalog_config_resolver.py
  kedro/ipython/__init__.py
  kedro/pipeline/node.py
  kedro/utils.py
  tests/framework/session/test_session_extension_hooks.py
  tests/pipeline/test_node.py
Due: code_change

Update release notes and README
  README.md
  RELEASE.md
Due: code_change

Lint
  kedro/framework/project/__init__.py
Due: code_change

done
  .vale.ini
Due: code_change

Remove Python 3.9 support (#5165)
  .github/workflows/all-checks.yml
  .github/workflows/docs-only-checks.yml
  .readthedocs.yml
  README.md
  RELEASE.md
  features/steps/util.py
  kedro/config/omegaconf_config.py
  kedro/framework/cli/starters.py
  kedro/framework/cli/utils.py
  kedro/framework/context/catalog_mixins.py
  kedro/framework/project/__init__.py
  kedro/io/catalog_config_resolver.py
  kedro/ipython/__init__.py
  kedro/pipeline/node.py
  kedro/templates/project/{{ cookiecutter.repo_name }}/pyproject.toml
  kedro/utils.py
  pyproject.toml
  tests/framework/cli/conftest.py
  tests/framework/project/test_pipeline_discovery.py
  tests/framework/session/test_session_extension_hooks.py
  tests/io/test_data_catalog.py
  tests/pipeline/test_node.py
Due: code_change

Apply suggestion from @ankatiyar
  pyproject.toml
Due: code_change

Add linkcheck job to github CI
  .github/workflows/docs-linkcheck.yml
Due: code_change

Add permissions
  .github/workflows/docs-linkcheck.yml
Due: code_change

Run on all pushes
  .github/workflows/docs-only-checks.yml
Due: code_change

Edit the correct file
  .github/workflows/docs-linkcheck.yml
  .github/workflows/docs-only-checks.yml
Due: code_change

Install UV the same way we do on unit tests
  .github/workflows/docs-linkcheck.yml
Due: code_change

Fix MKdocs warnings
  docs/about/technical_steering_committee.md
  docs/integrations-and-plugins/marimo.md
  kedro/io/data_catalog.py
  mkdocs.yml
Due: docs_change, code_change

Lint
  kedro/io/data_catalog.py
  mkdocs.yml
Due: code_change

Add Lychee to github CI job
  .github/workflows/docs-linkcheck.yml
Due: code_change

Install lychee with cargo
  .github/workflows/docs-linkcheck.yml
Due: code_change

Add stricter validation to docs, fix broken anchors
  docs/about/telemetry.md
  docs/build/run_a_pipeline.md
  docs/build/slice_a_pipeline.md
  docs/configure/configuration_basics.md
  docs/deploy/single_machine.md
  docs/develop/automated_testing.md
  docs/getting-started/faq.md
  docs/tutorials/add_another_pipeline.md
  docs/tutorials/spaceflights_tutorial_faqs.md
  mkdocs.yml
Due: docs_change, code_change

Remove lychee from CI
  .github/workflows/docs-linkcheck.yml
Due: code_change

Make anchor links more specific, run lincheck only on python 3.11
  .github/workflows/docs-linkcheck.yml
  docs/build/run_a_pipeline.md
  docs/deploy/single_machine.md
  docs/getting-started/faq.md
Due: docs_change, code_change

Update docs/build/slice_a_pipeline.md
  docs/build/slice_a_pipeline.md
Due: docs_change

Update docs/tutorials/add_another_pipeline.md
  docs/tutorials/add_another_pipeline.md
Due: docs_change

Run MKDocs strict validation on new commit pushes. (#5173)
  .github/workflows/docs-linkcheck.yml
  docs/about/technical_steering_committee.md
  docs/about/telemetry.md
  docs/build/run_a_pipeline.md
  docs/build/slice_a_pipeline.md
  docs/configure/configuration_basics.md
  docs/deploy/single_machine.md
  docs/develop/automated_testing.md
  docs/getting-started/faq.md
  docs/integrations-and-plugins/marimo.md
  docs/tutorials/add_another_pipeline.md
  docs/tutorials/spaceflights_tutorial_faqs.md
  kedro/io/data_catalog.py
  mkdocs.yml
Due: docs_change, code_change

Remove space between "params:" and parameter names
  docs/build/namespaces.md
Due: docs_change

testing hook integration within kedro core
  kedro/framework/cli/project.py
  kedro/framework/session/session.py
  kedro/framework/session/validator.py
  pyproject.toml
Due: code_change

Modified input arguments
  kedro/pipeline/agent_context.py
Due: code_change

Added parameters handling
  kedro/pipeline/agent_context.py
Due: code_change

create params draft
  kedro/framework/cli/catalog.py
Due: code_change

add parameter to json schema cli command
  kedro/framework/cli/catalog.py
Due: code_change

added readme
  kedro/framework/session/README.md
  kedro/framework/session/session.py
  kedro/framework/session/validator.py
Due: code_change

monkey patching of params within after_context_created hook
  kedro/framework/cli/project.py
  kedro/framework/session/README.md
  kedro/framework/session/session.py
  kedro/framework/session/validator.py
Due: code_change

Remove space between "params:" and parameter names (#5175)
  docs/build/namespaces.md
Due: docs_change

draft for valiation layer
  kedro/framework/context/context.py
  kedro/framework/validation/README.md
  kedro/framework/validation/__init__.py
  kedro/framework/validation/exceptions.py
  kedro/framework/validation/model_factory.py
  kedro/framework/validation/source_filters.py
  kedro/framework/validation/type_extractor.py
  kedro/framework/validation/validators/__init__.py
  kedro/framework/validation/validators/parameter_validator.py
Due: code_change

First draft - just bullets
  docs/integrations-and-plugins/great_expectations.md
Due: docs_change

Try remove gitpython dependency
  kedro/framework/cli/starters.py
  pyproject.toml
  tests/framework/cli/test_starters.py
Due: code_change

Fill up draft a bit more
  docs/integrations-and-plugins/great_expectations.md
Due: docs_change

Lint
  docs/integrations-and-plugins/great_expectations.md
  mkdocs.yml
Due: docs_change, code_change

Add hook example
  docs/integrations-and-plugins/great_expectations.md
Due: docs_change

Add pipeline example
  docs/integrations-and-plugins/great_expectations.md
Due: docs_change

Path conditions:
  docs_change: any of: docs/.*
  code_change: any of: ^((?!docs/).)*$
