Repository kedro-org/kedro: changes, and which CircleCI parameters are due for each by the changed paths.
All: docs_change, code_change

Make deployment Mermaid diagram smaller
  docs/source/_static/css/theme-overrides.css
  docs/source/deployment/index.md
Due: docs_change

Fix bug with removing datasets that match when multiple patterns present
  kedro/io/data_catalog.py
Due: code_change

Update links in one section for some unknown reason
  docs/source/deployment/argo.md
Due: docs_change

Refactor the update_skip_nodes method into SoftFailRunner
  kedro/runner/softfail_runner.py
Due: code_change

Remove unused import
  kedro/config/omegaconf_config.py
Due: code_change

Update kedro-azureml section
  docs/source/deployment/azure.md
Due: docs_change

[READY] Bring deployment docs up-to-date and add new pages for additional targets (#2557)
  docs/source/_static/css/theme-overrides.css
  docs/source/deployment/airflow_astronomer.md
  docs/source/deployment/amazon_sagemaker.md
  docs/source/deployment/argo.md
  docs/source/deployment/aws_batch.md
  docs/source/deployment/aws_sagemaker.md
  docs/source/deployment/aws_step_functions.md
  docs/source/deployment/azure.md
  docs/source/deployment/dask.md
  docs/source/deployment/databricks.md
  docs/source/deployment/distributed.md
  docs/source/deployment/index.md
  docs/source/deployment/kubeflow.md
  docs/source/deployment/prefect.md
  docs/source/deployment/single_machine.md
  docs/source/deployment/vertexai.md
  docs/source/meta/images/aws_create_iam_role.png
  docs/source/meta/images/kubeflow_pipelines_dag.png
  docs/source/meta/images/kubeflow_pipelines_experiment_run.png
  docs/source/meta/images/kubeflow_pipelines_upload_pipeline.png
Due: docs_change

Partially remove reliance on setup.py for micropackaging
  kedro/framework/cli/micropkg.py
Due: code_change

Revert "Partially remove reliance on setup.py for micropackaging"
  kedro/framework/cli/micropkg.py
Due: code_change

Stop producing `.egg` files from `kedro package`
  RELEASE.md
  dependency/requirements.txt
  docs/source/deployment/single_machine.md
  docs/source/development/commands_reference.md
  kedro/framework/cli/project.py
  tests/framework/cli/test_project.py
Due: docs_change, code_change

Upgrade import-linter
  test_requirements.txt
Due: code_change

remove a line from coverage temporarily
  kedro/framework/session/session.py
Due: code_change

Remove mentions to `.egg` and stop producing them from `kedro package` (#2568)
  RELEASE.md
  dependency/requirements.txt
  docs/source/deployment/single_machine.md
  docs/source/development/commands_reference.md
  kedro/framework/cli/project.py
  test_requirements.txt
  tests/framework/cli/test_project.py
Due: docs_change, code_change

OmegaConfigLoader returns `Dict` instead of `DictConfig`, resolves runtime_params properly (#2467)
  RELEASE.md
  kedro/config/abstract_config.py
  kedro/config/omegaconf_config.py
  kedro/framework/session/session.py
  tests/config/test_omegaconf_config.py
Due: code_change

update
  kedro/runner/softfail_runner.py
Due: code_change

refactor
  kedro/runner/softfail_runner.py
Due: code_change

modify databricks testing guide for contributors
  docs/source/contribution/development_for_databricks.md
Due: docs_change

Update docs/source/contribution/development_for_databricks.md
  docs/source/contribution/development_for_databricks.md
Due: docs_change

Update development_for_databricks.md
  docs/source/contribution/development_for_databricks.md
Due: docs_change

Remove catalog to make it compatible with 0.18.2
  kedro/runner/softfail_runner.py
Due: code_change

Partially revert #2378 as OCL no longer returning DictConfig
  kedro/framework/context/context.py
  tests/framework/context/test_context.py
Due: code_change

Revert #2176 with special logging handling
  kedro/framework/session/session.py
Due: code_change

remove unused import
  kedro/framework/session/session.py
Due: code_change

Allow empty config files
  kedro/config/omegaconf_config.py
Due: code_change

Revert special logic handling DictConfig (#2582)
  kedro/framework/context/context.py
  kedro/framework/session/session.py
  tests/framework/context/test_context.py
Due: code_change

Quick fix .gitpod.yml
  .gitpod.yml
Due: code_change

Re-title and modify introduction to databricks testing guide in contribution section (#2579)
  docs/source/contribution/development_for_databricks.md
Due: docs_change

Remove condition for empty config
  kedro/config/omegaconf_config.py
Due: code_change

Quick fix .gitpod.yml (#2585)
  .gitpod.yml
Due: code_change

Revert "Remove condition for empty config"
  kedro/config/omegaconf_config.py
Due: code_change

Update release notes
  RELEASE.md
Due: code_change

Add table of contents, entry point guide, data and conf upload guide
  docs/source/integrations/databricks_deployment_workflow.md
Due: docs_change

Add unit test
  tests/config/test_omegaconf_config.py
Due: code_change

Add changes to RELEASE.md
  RELEASE.md
  kedro/io/cached_dataset.py
  kedro/io/lambda_dataset.py
  kedro/io/memory_dataset.py
  kedro/io/partitioned_dataset.py
Due: code_change

first draft
  docs/source/visualisation/experiment_tracking.md
Due: docs_change

`OmegaConfigLoader` should not show `MissingConfigException` when the file is empty (#2584)
  RELEASE.md
  kedro/config/omegaconf_config.py
  tests/config/test_omegaconf_config.py
Due: code_change

Refactor the _build_conf_paths method
  kedro/config/omegaconf_config.py
Due: code_change

refactor the load_omega_config method
  kedro/config/omegaconf_config.py
Due: code_change

Refactor the merge&resolve method
  kedro/config/omegaconf_config.py
Due: code_change

Path conditions:
  docs_change: any of: docs/.*
  code_change: any of: ^((?!docs/).)*$
