Repository kedro-org/kedro: changes, and which CircleCI parameters are due for each by the changed paths.
All: docs_change, code_change

Heading fixes
  .github/styles/Kedro/headings.yml
  docs/readme.md
Due: docs_change, code_change

Improved docstrings
  kedro/pipeline/llm_context.py
Due: code_change

Apply suggestions from code review
  docs/about/technical_steering_committee.md
Due: docs_change

Shorten sentences
  .github/styles/Kedro/ignore.txt
  docs/deploy/supported-platforms/aws_step_functions.md
  docs/deploy/supported-platforms/prefect.md
  docs/integrations-and-plugins/notebooks_and_ipython/index.md
  docs/integrations-and-plugins/notebooks_and_ipython/kedro_and_notebooks.md
  docs/tutorials/add_another_pipeline.md
Due: docs_change, code_change

Address small nit: TSC instead of Kedro TSC
  docs/about/technical_steering_committee.md
Due: docs_change

Marked feature experimental
  kedro/pipeline/llm_context.py
Due: code_change

Add datasets vote process
  docs/about/technical_steering_committee.md
Due: docs_change

Add datasets vote
  docs/about/technical_steering_committee.md
Due: docs_change

Fix links
  docs/about/technical_steering_committee.md
Due: docs_change

(docs): Fix `Vale` warnings for develop and extend docs (#5268)
  .github/styles/Kedro/headings.yml
  docs/develop/automated_testing.md
  docs/develop/dependencies.md
  docs/develop/linting.md
  docs/develop/logging.md
  docs/develop/vibe_coding_with_mcp.md
  docs/extend/common_use_cases.md
  docs/extend/create_a_starter.md
  docs/extend/hooks/common_use_cases.md
  docs/extend/hooks/examples.md
  docs/extend/hooks/introduction.md
  docs/extend/how_to_create_a_custom_dataset.md
  docs/extend/plugins.md
  docs/extend/session.md
Due: docs_change, code_change

done
  docs/legal/cookie_policy.md
  docs/overrides/partials/copyright-legal-socials.html
  mkdocs.yml
Due: docs_change, code_change

lint
  docs/legal/cookie_policy.md
Due: docs_change

Change terminology from voting members to maintainer and maintainer to committer
  docs/about/technical_steering_committee.md
Due: docs_change

fix lint
  docs/overrides/partials/copyright-legal-socials.html
Due: docs_change

remvoe Legal from header
  mkdocs.yml
Due: code_change

fix docs lint
  mkdocs.yml
Due: code_change

move cookie policy
  mkdocs.yml
Due: code_change

fix vale
  docs/legal/cookie_policy.md
Due: docs_change

(docs): Fix `Vale` warnings in tutorial docs (#5269)
  .github/styles/Kedro/headings.yml
  .github/styles/Kedro/ignore.txt
  docs/tutorials/add_another_pipeline.md
  docs/tutorials/create_a_pipeline.md
  docs/tutorials/notebooks_tutorial.md
  docs/tutorials/set_up_data.md
  docs/tutorials/settings.md
  docs/tutorials/spaceflights_tutorial.md
  docs/tutorials/spaceflights_tutorial_faqs.md
  docs/tutorials/test_a_project.md
  docs/tutorials/tutorial_template.md
Due: docs_change, code_change

UK spelling
  docs/integrations-and-plugins/great_expectations.md
  docs/integrations-and-plugins/pandera.md
Due: docs_change

(docs): Fix `Vale` warnings in integration docs (#5270)
  .github/styles/Kedro/headings.yml
  .github/styles/Kedro/ignore.txt
  docs/integrations-and-plugins/deltalake_versioning.md
  docs/integrations-and-plugins/dvc.md
  docs/integrations-and-plugins/great_expectations.md
  docs/integrations-and-plugins/iceberg_versioning.md
  docs/integrations-and-plugins/mlflow.md
  docs/integrations-and-plugins/notebooks_and_ipython/index.md
  docs/integrations-and-plugins/notebooks_and_ipython/kedro_and_notebooks.md
  docs/integrations-and-plugins/pandera.md
  docs/integrations-and-plugins/pyspark_integration.md
Due: docs_change, code_change

Update TSC terms to become member & inactivity for advisor
  docs/about/technical_steering_committee.md
Due: docs_change

Final cleanups
  docs/about/technical_steering_committee.md
Due: docs_change

Update to the TSC terms (#4686)
  .github/styles/Kedro/headings.yml
  docs/about/technical_steering_committee.md
Due: docs_change, code_change

Remove duplicates
  .github/styles/Kedro/headings.yml
Due: code_change

Remove duplicates
  .github/styles/Kedro/ignore.txt
Due: code_change

Remove duplicates
  docs/extend/common_use_cases.md
  docs/integrations-and-plugins/great_expectations.md
  docs/integrations-and-plugins/pandera.md
Due: docs_change

Remove duplicates
  docs/integrations-and-plugins/great_expectations.md
Due: docs_change

Add GenAI lingo to ignore
  .github/styles/Kedro/ignore.txt
Due: code_change

(docs): Fix `Vale` warnings in getting started docs (#5281)
  .github/styles/Kedro/headings.yml
  .github/styles/Kedro/ignore-names.txt
  .github/styles/Kedro/ignore.txt
  docs/build/pipeline_registry.md
  docs/create/new_project_tools.md
  docs/getting-started/architecture_overview.md
  docs/getting-started/commands_reference.md
  docs/getting-started/course.md
  docs/getting-started/faq.md
  docs/getting-started/glossary.md
  docs/getting-started/install.md
  docs/getting-started/kedro_concepts.md
Due: docs_change, code_change

(docs): Fix `Vale` warnings in Build section of the docs (#5282)
  .github/styles/Kedro/ignore.txt
  docs/build/modular_pipelines.md
  docs/build/namespaces.md
  docs/build/nodes.md
  docs/build/pipeline_introduction.md
  docs/build/pipeline_registry.md
  docs/build/run_a_pipeline.md
  docs/build/slice_a_pipeline.md
Due: docs_change, code_change

Final edit
  docs/getting-started/faq.md
Due: docs_change

Run Vale job only on docs files
  .vale.ini
Due: code_change

Run Vale job only on docs files (#5284)
  .vale.ini
Due: code_change

(docs): Fix `Vale` warnings across several sections (#5283)
  .github/styles/Kedro/headings.yml
  .github/styles/Kedro/ignore.txt
  docs/about/migration.md
  docs/about/telemetry.md
  docs/catalog-data/data_catalog.md
  docs/catalog-data/data_catalog_yaml_examples.md
  docs/catalog-data/partitioned_and_incremental_datasets.md
  docs/deploy/supported-platforms/aws_step_functions.md
  docs/deploy/supported-platforms/prefect.md
  docs/extend/hooks/examples.md
  docs/extend/how_to_create_a_custom_dataset.md
  docs/getting-started/faq.md
  docs/ide/set_up_pycharm.md
  docs/ide/set_up_vscode.md
  docs/integrations-and-plugins/notebooks_and_ipython/index.md
  docs/integrations-and-plugins/notebooks_and_ipython/kedro_and_notebooks.md
  docs/readme.md
  docs/tutorials/add_another_pipeline.md
Due: docs_change, code_change

Rename the term "data science" to the term "data engineering and data science"
  README.md
  docs/build/namespaces.md
  docs/build/pipeline_registry.md
  docs/create/minimal_kedro_project.md
  docs/deploy/supported-platforms/airflow.md
  docs/deploy/supported-platforms/databricks/databricks_visualisation.md
  docs/getting-started/course.md
  docs/getting-started/glossary.md
  docs/getting-started/install.md
  docs/integrations-and-plugins/marimo.md
  docs/integrations-and-plugins/notebooks_and_ipython/notebook-example/add_kedro_to_a_notebook.md
  docs/overrides/welcome.html
  docs/tutorials/add_another_pipeline.md
  docs/tutorials/create_a_pipeline.md
  docs/tutorials/test_a_project.md
  features/test_starter/{{ cookiecutter.repo_name }}/src/{{ cookiecutter.python_package }}/pipelines/data_science/README.md
  kedro/framework/cli/cli.py
  mkdocs.yml
Due: docs_change, code_change

Implement list_versions for versioned datasets
  kedro/io/core.py
  tests/io/test_core.py
Due: code_change

Fix Kedro documentation telemetry
  docs/hooks.py
  docs/overrides/main.html
  mkdocs.yml
Due: docs_change, code_change

Version check
  docs/hooks.py
Due: docs_change

Build version updated
  docs/hooks.py
Due: docs_change

Path conditions:
  docs_change: any of: docs/.*
  code_change: any of: ^((?!docs/).)*$
