Repository kedro-org/kedro: changes, and which CircleCI parameters are due for each by the changed paths.
All: docs_change, code_change

Lint
  kedro/config/omegaconf_config.py
Due: code_change

more refactoring for the load_omega_config method
  kedro/config/omegaconf_config.py
Due: code_change

Add detailed instructions for creating a job on Databricks
  docs/source/integrations/databricks_deployment_workflow.md
  docs/source/meta/images/databricks_configure_new_job.png
Due: docs_change

Revert addition of underscore to metadata attribute
  kedro/io/cached_dataset.py
  kedro/io/lambda_dataset.py
  kedro/io/memory_dataset.py
  kedro/io/partitioned_dataset.py
Due: code_change

Update docs/source/visualisation/experiment_tracking.md
  docs/source/visualisation/experiment_tracking.md
Due: docs_change

Resection some of the viz docs into experiment tracking
  docs/source/experiment_tracking/experiment_tracking.md
  docs/source/experiment_tracking/index.md
  docs/source/index.rst
  docs/source/visualisation/index.md
Due: docs_change

<3 Sphinx <3
  docs/source/index.rst
Due: docs_change

Add the Kedro RichHandler
  kedro/extras/logging/__init__.py
  kedro/extras/logging/rich_logger.py
  kedro/framework/project/__init__.py
Due: code_change

Add images and automated deployment resources
  docs/source/integrations/databricks_deployment_workflow.md
  docs/source/meta/images/databricks_configure_job_cluster.png
  docs/source/meta/images/databricks_create_job_cluster.png
  docs/source/meta/images/databricks_job_status.png
Due: docs_change

Remove use of 'allows', add summary
  docs/source/integrations/databricks_deployment_workflow.md
Due: docs_change

Remove link to missing image
  docs/source/integrations/databricks_deployment_workflow.md
Due: docs_change

Add deployment workflow to toctree
  docs/source/integrations/index.md
Due: docs_change

Lint and fix missing link
  docs/source/integrations/databricks_deployment_workflow.md
Due: docs_change

Update RELEASE.md
  RELEASE.md
Due: code_change

Proposal of updated settings.py
  kedro/templates/project/{{ cookiecutter.repo_name }}/src/{{ cookiecutter.python_package }}/settings.py
Due: code_change

Update settings after comment
  features/steps/test_starter/{{ cookiecutter.repo_name }}/src/{{ cookiecutter.python_package }}/settings.py
  kedro/templates/project/{{ cookiecutter.repo_name }}/src/{{ cookiecutter.python_package }}/settings.py
Due: code_change

Update pipeline hooks docstrings
  kedro/framework/hooks/specs.py
Due: code_change

Proposal of updated settings.py (#2587)
  features/steps/test_starter/{{ cookiecutter.repo_name }}/src/{{ cookiecutter.python_package }}/settings.py
  kedro/templates/project/{{ cookiecutter.repo_name }}/src/{{ cookiecutter.python_package }}/settings.py
Due: code_change

Remove the separate page
  docs/source/experiment_tracking/experiment_tracking.md
  docs/source/experiment_tracking/index.md
Due: docs_change

Collaborative Experiment Tracking Docs (#2589)
  docs/source/experiment_tracking/index.md
  docs/source/index.rst
  docs/source/visualisation/index.md
Due: docs_change

Acknowledge community contribution
  RELEASE.md
Due: code_change

Add metadata attribute to `kedro.io` datasets (#2537)
  RELEASE.md
  kedro/io/cached_dataset.py
  kedro/io/lambda_dataset.py
  kedro/io/memory_dataset.py
  kedro/io/partitioned_dataset.py
Due: code_change

Update specs in pipeline hooks docstrings (#2598)
  RELEASE.md
  kedro/framework/hooks/specs.py
Due: code_change

Cleaned up and up to date version of dataset factories code
  dependency/requirements.txt
  kedro/io/data_catalog.py
  kedro/runner/runner.py
Due: code_change

Minor style, syntax and grammar improvements
  docs/source/integrations/databricks_deployment_workflow.md
Due: docs_change

Clarify role of setuptools in hooks
  kedro/framework/hooks/manager.py
Due: code_change

Add debug level logging for hook execution order
  kedro/framework/cli/hooks/manager.py
  kedro/framework/hooks/manager.py
Due: code_change

Remove mentions to outdated and unused `pkg_resources`
  docs/source/extend_kedro/plugins.md
Due: docs_change

Adapt example hook to spec signature
  docs/source/hooks/introduction.md
Due: docs_change

Grammar and style fixes in docs
  docs/source/extend_kedro/plugins.md
Due: docs_change

Revert "Adapt example hook to spec signature"
  docs/source/hooks/introduction.md
Due: docs_change

Miscellaneous hooks improvements (#2596)
  docs/source/extend_kedro/plugins.md
  kedro/framework/cli/hooks/manager.py
  kedro/framework/hooks/manager.py
Due: docs_change, code_change

Add some simple tests
  kedro/io/data_catalog.py
  tests/io/test_data_catalog.py
Due: code_change

Fixes for correctness during validation
  docs/source/integrations/databricks_deployment_workflow.md
  docs/source/meta/images/databricks_configure_new_job.png
Due: docs_change

Clean up imports and comments
  kedro/extras/logging/rich_logger.py
Due: code_change

Path conditions:
  docs_change: any of: docs/.*
  code_change: any of: ^((?!docs/).)*$
