Repository kedro-org/kedro: changes, and which CircleCI parameters are due for each by the changed paths.
All: docs_change, code_change

Added CachedDataset case
  kedro/io/core.py
Due: code_change

Update docs/diagrams/installed-kedro-project.md
  docs/diagrams/installed-kedro-project.md
Due: docs_change

Update mermaid entrypoint diagrams with current state (#4339)
  docs/diagrams/installed-kedro-project.md
  docs/diagrams/kedro-ipython.md
  docs/diagrams/kedro-no-project.md
  docs/diagrams/kedro-plugin.md
  docs/diagrams/kedro-run.md
  docs/diagrams/kedro-with-project.md
  docs/diagrams/python-m-project.md
Due: docs_change

Remove layout
  docs/source/_templates/layout.html
Due: docs_change

Switch to custom robots.txt and sitemap.xml
  docs/source/conf.py
  docs/source/robots.txt
  docs/source/sitemap.xml
Due: docs_change

Change html_extra_path
  docs/source/conf.py
  docs/source/extra_files/robots.txt
  docs/source/extra_files/sitemap.xml
Due: docs_change

Address review comments
  docs/source/configuration/parameters.md
Due: docs_change

bump version to 0.19.10
  CITATION.cff
  RELEASE.md
  docs/source/development/commands_reference.md
  kedro/__init__.py
Due: docs_change, code_change

update command ref
  docs/source/development/commands_reference.md
Due: docs_change

update 3.13 badge
  README.md
Due: code_change

add py313
  docs/source/index.rst
Due: docs_change

address review comments
  docs/source/deployment/databricks/databricks_ide_databricks_asset_budnels_workflow.md
Due: docs_change

rename
  docs/source/deployment/databricks/databricks_ide_databricks_asset_bundles_workflow.md
Due: docs_change

fic index
  docs/source/deployment/databricks/index.md
Due: docs_change

fix reference
  Makefile
  docs/source/deployment/databricks/databricks_dbx_workflow.md
  docs/source/deployment/databricks/databricks_deployment_workflow.md
  docs/source/deployment/databricks/databricks_notebooks_development_workflow.md
  docs/source/deployment/databricks/index.md
Due: docs_change, code_change

update release noteS
  RELEASE.md
Due: code_change

Add link to RTD github
  docs/source/conf.py
Due: docs_change

Manually create a sitemap.xml for docs SEO (#4261)
  docs/source/conf.py
  docs/source/extra_files/robots.txt
  docs/source/extra_files/sitemap.xml
Due: docs_change

Clean up
  kedro/runner/runner.py
  tests/runner/test_sequential_runner.py
  tests/runner/test_thread_runner.py
Due: code_change

Fix mypy checks
  kedro/runner/parallel_runner.py
  kedro/runner/runner.py
  kedro/runner/sequential_runner.py
  kedro/runner/thread_runner.py
Due: code_change

Fix sequential runner test
  tests/runner/test_sequential_runner.py
Due: code_change

Fix thread runner
  tests/runner/test_thread_runner.py
Due: code_change

Ignore coverage for abstract method
  kedro/runner/runner.py
Due: code_change

Add databricks asset bundles docs (#4265)
  Makefile
  RELEASE.md
  docs/source/deployment/databricks/databricks_dbx_workflow.md
  docs/source/deployment/databricks/databricks_deployment_workflow.md
  docs/source/deployment/databricks/databricks_ide_databricks_asset_bundles_workflow.md
  docs/source/deployment/databricks/databricks_notebooks_development_workflow.md
  docs/source/deployment/databricks/index.md
  docs/source/meta/images/databricks-job-run.png
  docs/source/meta/images/databricks_cluster_id1.png
  docs/source/meta/images/databricks_cluster_id2.png
Due: docs_change, code_change

merge main and update release note
  RELEASE.md
Due: code_change

Try fix thread runner test on 3.13
  tests/runner/test_thread_runner.py
Due: code_change

Fix thread runner test
  tests/runner/test_thread_runner.py
Due: code_change

Fix sequential runner test on windows
  tests/runner/test_sequential_runner.py
Due: code_change

More flexible options for resume suggestion in thread runner tests
  tests/runner/test_thread_runner.py
Due: code_change

Release 0.19.10 (#4352)
  CITATION.cff
  README.md
  RELEASE.md
  docs/source/development/commands_reference.md
  docs/source/index.rst
  kedro/__init__.py
Due: docs_change, code_change

Updated release notes
  RELEASE.md
  kedro/io/core.py
Due: code_change

Clean up + make resume tests the same
  kedro/runner/thread_runner.py
  tests/runner/test_sequential_runner.py
  tests/runner/test_thread_runner.py
Due: code_change

Update tests/runner/test_sequential_runner.py
  tests/runner/test_sequential_runner.py
Due: code_change

Clean up
  tests/runner/test_thread_runner.py
Due: code_change

Added tests for CachedDataset use case
  tests/io/conftest.py
  tests/io/test_data_catalog.py
  tests/io/test_kedro_data_catalog.py
Due: code_change

Update docs/source/configuration/parameters.md
  docs/source/configuration/parameters.md
Due: docs_change

Updated unit test after version validation is applied
  tests/io/test_kedro_data_catalog.py
Due: code_change

Removed MemoryDatasets
  kedro/io/core.py
  kedro/io/kedro_data_catalog.py
Due: code_change

Removed _is_parameter
  kedro/framework/cli/catalog.py
  kedro/io/core.py
Due: code_change

Pop metadata from cached dataset configuration
  kedro/io/core.py
Due: code_change

Path conditions:
  docs_change: any of: docs/.*
  code_change: any of: ^((?!docs/).)*$
