Repository kedro-org/kedro: changes, and which CircleCI parameters are due for each by the changed paths.
All: docs_change, code_change

.circleci/config.yml:

version: 2.1

parameters:
  release_kedro:
    type: boolean
    default: false
  # The parameters below are set in CircleCI UI.
  # https://app.circleci.com/settings/project/github/kedro-org/kedro/triggers?return-to=https%3A%2F%2Fapp.circleci.com%2Fpipelines%2Fgithub%2Fkedro-org%2Fkedro&triggerSource=&scheduledTriggerId=61f7226f-f092-4449-98d9-40420f8c46b2&success=true
  run_hourly:
    type: boolean
    default: false
  run_nightly:
    type: boolean
    default: false

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.1

workflows:
  regular:
    jobs:
      # the path-filtering/filter job determines which pipeline
      # parameters to update, i.e. which builds to run.
      - path-filtering/filter:
          name: check-updated-files
          base-revision: main
          config-path: .circleci/continue_config.yml
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            docs/.* docs_change true
            ^((?!docs/).)*$ code_change true

Change wording
  docs/source/tutorial/package_a_project.md
Due: docs_change

Move installation instructions above running instructions
  docs/source/tutorial/package_a_project.md
Due: docs_change

Import from <package_name> instead of spaceflights
  docs/source/tutorial/package_a_project.md
Due: docs_change

Modify wording
  docs/source/tutorial/package_a_project.md
Due: docs_change

Remove repo_name instructions
  docs/source/tutorial/package_a_project.md
Due: docs_change

Remove extraneous space in docs/source/contribution/technical_steering_committee.md
  docs/source/contribution/technical_steering_committee.md
Due: docs_change

Expand CLI to command line interface
  docs/source/tutorial/package_a_project.md
Due: docs_change

Add missing 'the'
  docs/source/tutorial/package_a_project.md
Due: docs_change

Fix incorrect references to <project_name>
  docs/source/integrations/databricks_workspace.md
  docs/source/tutorial/add_another_pipeline.md
  docs/source/tutorial/package_a_project.md
Due: docs_change

Move TSC into docs (#2491)
  README.md
  docs/source/contribution/technical_steering_committee.md
Due: docs_change, code_change

Tweak font size of top-level links
  docs/source/_static/css/qb1-sphinx-rtd.css
Due: docs_change

Revise instructions for creating and adding access token
  docs/source/integrations/databricks_development_workflow.md
Due: docs_change

Fix path to requirements.txt
  docs/source/integrations/databricks_development_workflow.md
Due: docs_change

Add Databricks CLI authentication step
  docs/source/integrations/databricks_development_workflow.md
Due: docs_change

Add correct CLI command to upload to dbfs
  docs/source/integrations/databricks_development_workflow.md
Due: docs_change

Add instructions to load and execute Kedro project using IPython extension instead of custom code
  docs/source/integrations/databricks_development_workflow.md
Due: docs_change

Going rogue and adding a line of CSS
  docs/source/_static/css/qb1-sphinx-rtd.css
Due: docs_change

Fix missing tensorflow for macos testing dependency
  setup.py
  test_requirements.txt
Due: code_change

Updated release notes
  RELEASE.md
Due: code_change

#2456 switch to lazy loading for incremental data sets
  docs/source/data/kedro_io.md
  kedro/io/partitioned_dataset.py
  tests/io/test_incremental_dataset.py
Due: docs_change, code_change

Remove spurious white space
  docs/source/integrations/databricks_development_workflow.md
Due: docs_change

Add instructions for using correct environment
  docs/source/integrations/databricks_development_workflow.md
Due: docs_change

Add instructions for modifying classifier, using isort and committing and pushing
  docs/source/integrations/databricks_development_workflow.md
Due: docs_change

Fix 3-nearest neighbour classifier
  docs/source/integrations/databricks_development_workflow.md
Due: docs_change

Fix summary
  docs/source/integrations/databricks_development_workflow.md
Due: docs_change

Modify incorrect spellings of drop-down and check out
  docs/source/integrations/databricks_development_workflow.md
Due: docs_change

Modify title
  docs/source/integrations/databricks_development_workflow.md
Due: docs_change

Replace and deprecate `DataSet` use in class names
  kedro/io/core.py
  kedro/utils.py
Due: code_change

Replace another format string with an f-string
  kedro/utils.py
Due: code_change

Perform deprecations for cached, lambda, and partitioned datasets
  kedro/io/cached_dataset.py
  kedro/io/lambda_dataset.py
  kedro/io/partitioned_dataset.py
Due: code_change

Deprecated `MemoryDataSet` in favor of `MemoryDataset`
  kedro/io/memory_dataset.py
Due: code_change

Fix keyword argument to specify metaclass on `CachedDataSet`
  kedro/io/cached_dataset.py
Due: code_change

Fix reference to `PartitionedDataset`
  kedro/io/partitioned_dataset.py
Due: code_change

Keep `AbstractDataSet` subscriptable
  kedro/io/core.py
Due: code_change

Add links to Q&A pairs added to config docs
  docs/source/faq/faq.md
Due: docs_change

Add back a few sections
  docs/source/index.rst
Due: docs_change

update notes
  RELEASE.md
Due: code_change
