Repository kedro-org/kedro: changes, and which CircleCI parameters are due for each by the changed paths.
All: docs_change, code_change

.circleci/config.yml:

version: 2.1

parameters:
  release_kedro:
    type: boolean
    default: false
  # The parameters below are set in CircleCI UI.
  # https://app.circleci.com/settings/project/github/kedro-org/kedro/triggers?return-to=https%3A%2F%2Fapp.circleci.com%2Fpipelines%2Fgithub%2Fkedro-org%2Fkedro&triggerSource=&scheduledTriggerId=61f7226f-f092-4449-98d9-40420f8c46b2&success=true
  run_hourly:
    type: boolean
    default: false
  run_nightly:
    type: boolean
    default: false

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.1

workflows:
  regular:
    jobs:
      # the path-filtering/filter job determines which pipeline
      # parameters to update, i.e. which builds to run.
      - path-filtering/filter:
          name: check-updated-files
          base-revision: main
          config-path: .circleci/continue_config.yml
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            docs/.* docs_change true
            ^((?!docs/).)*$ code_change true

Add test for zip files
  kedro/config/omegaconf_config.py
  tests/config/test_omegaconf_config.py
Due: code_change

Debug windows test
  kedro/config/omegaconf_config.py
Due: code_change

Add automated tooling and a guide for building and installing Kedro on a Databricks cluster (#2369)
  Makefile
  RELEASE.md
  docs/source/contribution/development_for_databricks.md
  docs/source/deployment/databricks.md
  docs/source/index.rst
  tools/databricks_build.py
Due: docs_change, code_change

Add @stichbury and @astrojuanlu to `docs/` in `CODEOWNERS`
  CODEOWNERS
Due: code_change

Match zip files better
  kedro/config/omegaconf_config.py
Due: code_change

Add @stichbury and @astrojuanlu to `docs/` in `CODEOWNERS` (#2390)
  CODEOWNERS
Due: code_change

Render Mermaid diagrams from Sphinx
  .readthedocs.yml
  docs/conf.py
Due: docs_change, code_change

Switch from SVG to PNG for Mermaid diagrams
  docs/conf.py
Due: docs_change

Add missing packages to RTD
  .readthedocs.yml
Due: code_change

Work around sandbox issue
  docs/conf.py
  docs/puppeteer-config.json
Due: docs_change

Fix lint
  kedro/framework/context/context.py
  tests/framework/context/test_context.py
Due: code_change

Update docs and release notes
  RELEASE.md
  docs/source/development/commands_reference.md
  docs/source/kedro_project_setup/configuration.md
Due: docs_change, code_change

Render Mermaid diagrams from Sphinx (#2392)
  .readthedocs.yml
  docs/conf.py
  docs/puppeteer-config.json
Due: docs_change, code_change

Package conf as tar.gz
  kedro/framework/cli/project.py
  tests/framework/cli/test_project.py
Due: code_change

Add e2e test for packaging and loading tar.gz config
  dependency/requirements.txt
  docs/source/development/commands_reference.md
  docs/source/kedro_project_setup/configuration.md
  features/run.feature
  features/steps/cli_steps.py
  kedro/config/omegaconf_config.py
  kedro/framework/cli/project.py
  test_requirements.txt
  tests/config/test_omegaconf_config.py
  tests/framework/cli/test_cli.py
Due: docs_change, code_change

Update docs to add that the conf is packaged as well
  docs/source/deployment/single_machine.md
  docs/source/development/commands_reference.md
  docs/source/tutorial/package_a_project.md
Due: docs_change

Update release notes
  RELEASE.md
Due: code_change

Apply suggestions from code review
  docs/source/kedro_project_setup/configuration.md
Due: docs_change

Update docs/source/deployment/databricks.md
  docs/source/deployment/databricks.md
Due: docs_change

Clarify that local config files aren't packaged
  docs/source/deployment/single_machine.md
  docs/source/tutorial/package_a_project.md
Due: docs_change

Update databricks.md
  docs/source/deployment/databricks.md
Due: docs_change

Explain expected zip/tar structure
  docs/source/kedro_project_setup/configuration.md
Due: docs_change

Fix lint
  docs/source/deployment/single_machine.md
  docs/source/tutorial/package_a_project.md
Due: docs_change

Fix bug with renamed command
  kedro/framework/cli/jupyter.py
  tests/framework/cli/test_jupyter.py
Due: code_change

Adding a skinny FAQ with some basic questions
  docs/source/faq/faq.md
  docs/source/index.rst
Due: docs_change

Fix linting error
  docs/source/faq/faq.md
Due: docs_change

Try also increasing upper bound for fs related dependencies
  dependency/requirements.txt
  test_requirements.txt
Due: code_change

Revise the installation guide again
  docs/source/development/automated_testing.md
  docs/source/get_started/install.md
  docs/source/index.rst
  docs/source/introduction/introduction.md
  docs/source/tutorial/add_another_pipeline.md
  docs/source/tutorial/create_a_pipeline.md
  docs/source/tutorial/package_a_project.md
  docs/source/tutorial/set_up_data.md
  docs/source/tutorial/spaceflights_tutorial_faqs.md
  docs/source/tutorial/tutorial_template.md
Due: docs_change

Tidy up index
  docs/source/index.rst
Due: docs_change

Convert one callout to a tip
  docs/source/get_started/install.md
Due: docs_change

Pin versions per python version
  dependency/requirements.txt
  test_requirements.txt
Due: code_change

Package config in compressed format (#2395)
  RELEASE.md
  docs/source/deployment/single_machine.md
  docs/source/development/commands_reference.md
  docs/source/tutorial/package_a_project.md
  kedro/framework/cli/project.py
  tests/framework/cli/test_project.py
Due: docs_change, code_change

Pin fsspec exactly to versions supporting 3.7
  dependency/requirements.txt
Due: code_change

Update links to new docs domain
  CONTRIBUTING.md
  README.md
  RELEASE.md
  docs/source/hooks/common_use_cases.md
  docs/source/index.rst
  kedro/templates/pipeline/{{ cookiecutter.pipeline_name }}/config/parameters/{{ cookiecutter.pipeline_name }}.yml
  kedro/templates/project/{{ cookiecutter.repo_name }}/README.md
  kedro/templates/project/{{ cookiecutter.repo_name }}/conf/README.md
  kedro/templates/project/{{ cookiecutter.repo_name }}/conf/base/catalog.yml
Due: docs_change, code_change

Update to conf.py
  docs/conf.py
Due: docs_change

Update CONTRIBUTING.md
  CONTRIBUTING.md
Due: code_change

Further tweaks to language and layout
  docs/source/get_started/install.md
  docs/source/get_started/kedro_concepts.md
  docs/source/get_started/new_project.md
  docs/source/introduction/introduction.md
  docs/source/tutorial/spaceflights_tutorial.md
  docs/source/tutorial/tutorial_template.md
Due: docs_change

Update docs
  docs/source/deployment/databricks.md
  docs/source/meta/images/databricks_notebook_example.png
Due: docs_change
