Repository kedro-org/kedro: changes, and which CircleCI parameters are due for each by the changed paths.
All: docs_change, code_change

Fix logging option
  kedro/templates/project/hooks/post_gen_project.py
  kedro/templates/project/prompts.yml
  kedro/templates/project/{{ cookiecutter.repo_name }}/conf/logging.yml
  tests/framework/cli/test_starters.py
Due: code_change

Update lint add-on logic
  kedro/templates/project/hooks/post_gen_project.py
  kedro/templates/project/{{ cookiecutter.repo_name }}/conf/logging.yml
Due: code_change

Ensure add-ons message only shows when add-ons are configurable
  kedro/framework/cli/starters.py
Due: code_change

Add ConfigLoader and TemplatedConfigLoader deprecation notices on documentation. (#2991)
  docs/source/configuration/advanced_configuration.md
  docs/source/configuration/configuration_basics.md
  docs/source/configuration/credentials.md
  docs/source/configuration/parameters.md
  docs/source/development/automated_testing.md
Due: docs_change

Pin azure-storage-blob version + add nightly build
  .github/workflows/all-checks.yml
  .github/workflows/nightly-build.yml
  setup.py
Due: code_change

Update .github/workflows/nightly-build.yml
  .github/workflows/nightly-build.yml
Due: code_change

Fix for linter error
  docs/source/robots.txt
Due: docs_change

Update robots.txt to hide older versions of the docs (#3030)
  docs/source/robots.txt
Due: docs_change

Add requirement checks to tests
  tests/framework/cli/test_starters.py
Due: code_change

Update names
  .github/workflows/nightly-build.yml
Due: code_change

Revert pin as the issue is fixed
  setup.py
Due: code_change

Refactor unit tests
  tests/framework/cli/test_starters.py
Due: code_change

Add validation to add ons in config file
  kedro/framework/cli/starters.py
Due: code_change

remove debug message
  kedro/framework/hooks/manager.py
Due: code_change

Update condition
  .github/workflows/nightly-build.yml
Due: code_change

Lint Print Statement for debugging
  pyproject.toml
Due: code_change

Fix release note
  RELEASE.md
Due: code_change

Apply suggestions from code review
  docs/source/extend_kedro/plugins.md
  docs/source/hooks/common_use_cases.md
  docs/source/hooks/examples.md
  docs/source/hooks/index.md
  docs/source/hooks/introduction.md
Due: docs_change

Update pyproject.toml
  pyproject.toml
Due: code_change

Apply suggestions from code review
  docs/source/extend_kedro/plugins.md
Due: docs_change

Add runtime_params resolver
  kedro/config/omegaconf_config.py
  tests/config/test_omegaconf_config.py
Due: code_change

Link to correct section about transcoding
  docs/source/integrations/pyspark_integration.md
Due: docs_change

Adding transcoding to Vale's lexicon
  .github/styles/Kedro/ignore.txt
Due: code_change

Update faq.md fixing label formatting
  docs/source/faq/faq.md
Due: docs_change

Refactor add-ons flow script
  kedro/templates/project/hooks/post_gen_project.py
  kedro/templates/project/hooks/utils.py
Due: code_change

Update faq.md fixing label formatting (#3005)
  docs/source/faq/faq.md
Due: docs_change

update e2e test requirements
  kedro/templates/project/{{ cookiecutter.repo_name }}/src/requirements.txt
Due: code_change

update env requirements.txt
  kedro/templates/project/{{ cookiecutter.repo_name }}/src/requirements.txt
Due: code_change

Fix CI - Fail Jupyter notebook e2e test due to traitlets (#3040)
  kedro/templates/project/{{ cookiecutter.repo_name }}/src/requirements.txt
Due: code_change

Update requirements.txt
  kedro/templates/project/{{ cookiecutter.repo_name }}/src/requirements.txt
Due: code_change

Update vale linter to run for all changes as a PR check (#3019)
  .github/styles/Kedro/ignore-names.txt
  .github/styles/Kedro/ignore.txt
  .github/styles/Kedro/ukspelling.yml
  .github/workflows/docs-language-linter.yml
  .github/workflows/merge-gatekeeper.yml
Due: code_change

fix e2etest
  features/environment.py
  kedro/templates/project/{{ cookiecutter.repo_name }}/src/requirements.txt
Due: code_change

Update documentation of hooks LIFO order (#3013)
  Makefile
  RELEASE.md
  docs/source/extend_kedro/plugins.md
  docs/source/hooks/common_use_cases.md
  docs/source/hooks/examples.md
  docs/source/hooks/introduction.md
  kedro/templates/project/{{ cookiecutter.repo_name }}/src/pyproject.toml
  kedro/templates/project/{{ cookiecutter.repo_name }}/src/{{ cookiecutter.python_package }}/settings.py
Due: docs_change, code_change

fix typo
  docs/source/extend_kedro/plugins.md
Due: docs_change

Bug fix - only append req when both condition meet
  features/environment.py
Due: code_change

Lint Print Statement (#3034)
  features/environment.py
  kedro/templates/project/{{ cookiecutter.repo_name }}/src/requirements.txt
  pyproject.toml
Due: code_change

Revise TSC page + add Mehdi
  docs/source/contribution/technical_steering_committee.md
Due: docs_change

Update docs/source/contribution/technical_steering_committee.md
  docs/source/contribution/technical_steering_committee.md
Due: docs_change

Pass through correct repo name in test
  tests/framework/cli/test_starters.py
Due: code_change

Path conditions:
  docs_change: any of: docs/.*
  code_change: any of: ^((?!docs/).)*$
