Repository kedro-org/kedro: changes, and which CircleCI parameters are due for each by the changed paths.
All: docs_change, code_change

.circleci/config.yml:

version: 2.1

parameters:
  release_kedro:
    type: boolean
    default: false
  # The parameters below are set in CircleCI UI.
  # https://app.circleci.com/settings/project/github/kedro-org/kedro/triggers?return-to=https%3A%2F%2Fapp.circleci.com%2Fpipelines%2Fgithub%2Fkedro-org%2Fkedro&triggerSource=&scheduledTriggerId=61f7226f-f092-4449-98d9-40420f8c46b2&success=true
  run_hourly:
    type: boolean
    default: false
  run_nightly:
    type: boolean
    default: false

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.1

workflows:
  regular:
    jobs:
      # the path-filtering/filter job determines which pipeline
      # parameters to update, i.e. which builds to run.
      - path-filtering/filter:
          name: check-updated-files
          base-revision: main
          config-path: .circleci/continue_config.yml
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            docs/.* docs_change true
            ^((?!docs/).)*$ code_change true

Fixing docs
  docs/source/conf.py
Due: docs_change

Returned optional
  kedro/io/warning_utils.py
Due: code_change

Modify namespace grouping API
  kedro/pipeline/pipeline.py
  tests/pipeline/test_pipeline.py
Due: code_change

Add GroupedNode to init
  kedro/pipeline/__init__.py
Due: code_change

Fix sphinx
  kedro/pipeline/pipeline.py
Due: code_change

Re-trigger CI/CD
  kedro/pipeline/pipeline.py
Due: code_change

Remove class descr from docstring
  kedro/pipeline/pipeline.py
Due: code_change

Ensure deterministic behaviour
  kedro/pipeline/pipeline.py
Due: code_change

Rename GroupedNode class and move to node.py
  kedro/pipeline/__init__.py
  kedro/pipeline/node.py
  kedro/pipeline/pipeline.py
  tests/pipeline/test_pipeline.py
Due: code_change

Renamed references to catalog path
  .secrets.baseline
  docs/pages/catalog-data/advanced_data_catalog_usage.md
  docs/pages/catalog-data/introduction.md
  docs/pages/catalog-data/kedro_data_catalog.md
  docs/pages/configure/credentials.md
  docs/pages/getting-started/commands_reference.md
  docs/pages/integrations-and-plugins/notebooks_and_ipython/kedro_and_notebooks.md
  docs/pages/tutorials/settings.md
  mkdocs.yml
  tests/framework/session/test_session.py
  tests/io/test_kedro_data_catalog.py
Due: docs_change, code_change

Renamed catalog references
  .secrets.baseline
  docs/source/conf.py
  docs/source/configuration/credentials.md
  docs/source/data/advanced_data_catalog_usage.md
  docs/source/data/index.md
  docs/source/data/kedro_data_catalog.md
  docs/source/development/commands_reference.md
  docs/source/kedro_project_setup/settings.md
  docs/source/notebooks_and_ipython/kedro_and_notebooks.md
  kedro/framework/session/session.py
  kedro/io/__init__.py
  kedro/io/data_catalog.py
  tests/framework/session/test_session.py
  tests/io/test_data_catalog.py
Due: docs_change, code_change

first layout for welcome page - mobile version
  docs/overrides/welcome.html
  docs/stylesheets/footer.css
  docs/stylesheets/globals.css
  docs/stylesheets/welcome.css
Due: docs_change

Updated release notes
  RELEASE.md
Due: code_change

Applied suggested changes
  kedro/io/data_catalog.py
  kedro/io/kedro_data_catalog.py
Due: code_change

footer on mobile
  docs/overrides/partials/copyright-legal-socials.html
  docs/stylesheets/footer.css
  docs/stylesheets/welcome.css
Due: docs_change

move typography to its own place
  docs/stylesheets/globals.css
  docs/stylesheets/typography.css
  mkdocs.yml
Due: docs_change, code_change

styling for cards section
  docs/stylesheets/welcome.css
Due: docs_change

Update Dask docs
  docs/source/deployment/dask.md
Due: docs_change

Reverted warning text
  docs/pages/catalog-data/data_catalog.md
Due: docs_change

Renamed test file
  .secrets.baseline
  tests/io/test_data_catalog.py
Due: code_change

Reverted docs warning
  docs/source/data/data_catalog.md
Due: docs_change

Update Release.md
  RELEASE.md
Due: code_change

Amend catalog deprecation warning (#4728)
  RELEASE.md
  docs/source/conf.py
  kedro/framework/context/context.py
  kedro/framework/project/__init__.py
  kedro/io/data_catalog.py
  kedro/io/kedro_data_catalog.py
  kedro/io/warning_utils.py
Due: docs_change, code_change

Removed references to KedroDataCatalog from docs
  docs/pages/catalog-data/data_catalog.md
  docs/pages/catalog-data/introduction.md
  docs/pages/catalog-data/kedro_data_catalog.md
Due: docs_change

Address review comments
  docs/pages/tutorials/add_another_pipeline.md
Due: docs_change

Update recommendation to use Pipeline & Node Class instead of methods (#4727)
  docs/pages/build/modular_pipelines.md
  docs/pages/build/nodes.md
  docs/pages/build/pipeline_introduction.md
  docs/pages/catalog-data/kedro_dataset_factories.md
  docs/pages/catalog-data/partitioned_and_incremental_datasets.md
  docs/pages/create/minimal_kedro_project.md
  docs/pages/getting-started/kedro_concepts.md
  docs/pages/integrations-and-plugins/pyspark_integration.md
  docs/pages/tutorials/add_another_pipeline.md
Due: docs_change

Refactor grouped_nodes_by_namespace() to return structured GroupedNode list (#4729)
  RELEASE.md
  kedro/pipeline/__init__.py
  kedro/pipeline/node.py
  kedro/pipeline/pipeline.py
  tests/pipeline/test_pipeline.py
Due: code_change

Missed doc update for Pipeline recomm
  docs/pages/build/modular_pipelines.md
Due: docs_change

tidy up the styling for footer on mobile
  docs/stylesheets/footer.css
  docs/stylesheets/globals.css
Due: docs_change

Apparently I missed a lot 🤣
  docs/pages/build/namespaces.md
  docs/pages/build/nodes.md
  docs/pages/build/pipeline_introduction.md
  docs/pages/build/pipeline_registry.md
  docs/pages/build/run_a_pipeline.md
  docs/pages/build/slice_a_pipeline.md
  docs/pages/catalog-data/data_catalog_yaml_examples.md
  docs/pages/catalog-data/kedro_dataset_factories.md
  docs/pages/configure/parameters.md
  docs/pages/deploy/nodes_grouping.md
  docs/pages/integrations-and-plugins/deltalake_versioning.md
  docs/pages/tutorials/add_another_pipeline.md
  docs/pages/tutorials/create_a_pipeline.md
  docs/pages/tutorials/test_a_project.md
Due: docs_change

Missed doc update for Pipeline recomm (#4735)
  docs/pages/build/modular_pipelines.md
  docs/pages/build/namespaces.md
  docs/pages/build/nodes.md
  docs/pages/build/pipeline_introduction.md
  docs/pages/build/pipeline_registry.md
  docs/pages/build/run_a_pipeline.md
  docs/pages/build/slice_a_pipeline.md
  docs/pages/catalog-data/data_catalog_yaml_examples.md
  docs/pages/catalog-data/kedro_dataset_factories.md
  docs/pages/configure/parameters.md
  docs/pages/deploy/nodes_grouping.md
  docs/pages/integrations-and-plugins/deltalake_versioning.md
  docs/pages/tutorials/add_another_pipeline.md
  docs/pages/tutorials/create_a_pipeline.md
  docs/pages/tutorials/test_a_project.md
Due: docs_change

tidy up the css code
  docs/stylesheets/footer.css
  docs/stylesheets/globals.css
  docs/stylesheets/typography.css
  docs/stylesheets/welcome.css
Due: docs_change

fix the active styling for nav link
  docs/stylesheets/globals.css
Due: docs_change

Hide the nav label specifically on desktop version only
  docs/stylesheets/globals.css
Due: docs_change
