Repository kedro-org/kedro: changes, and which CircleCI parameters are due for each by the changed paths.
All: docs_change, code_change

.circleci/config.yml:

version: 2.1

parameters:
  release_kedro:
    type: boolean
    default: false
  # The parameters below are set in CircleCI UI.
  # https://app.circleci.com/settings/project/github/kedro-org/kedro/triggers?return-to=https%3A%2F%2Fapp.circleci.com%2Fpipelines%2Fgithub%2Fkedro-org%2Fkedro&triggerSource=&scheduledTriggerId=61f7226f-f092-4449-98d9-40420f8c46b2&success=true
  run_hourly:
    type: boolean
    default: false
  run_nightly:
    type: boolean
    default: false

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.1

workflows:
  regular:
    jobs:
      # the path-filtering/filter job determines which pipeline
      # parameters to update, i.e. which builds to run.
      - path-filtering/filter:
          name: check-updated-files
          base-revision: main
          config-path: .circleci/continue_config.yml
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            docs/.* docs_change true
            ^((?!docs/).)*$ code_change true

Remove the extra newline
  docs/source/tutorial/create_pipelines.md
Due: docs_change

Add example for multi-sheet excel
  kedro/extras/datasets/pandas/excel_dataset.py
Due: code_change

Change logic to catch mutliple arguments
  kedro/pipeline/pipeline.py
Due: code_change

Fix linting pt2
  kedro/pipeline/pipeline.py
Due: code_change

Add comment to multi-sheet example
  kedro/extras/datasets/pandas/excel_dataset.py
Due: code_change

Update multi-sheet example
  kedro/extras/datasets/pandas/excel_dataset.py
Due: code_change

fix: Prefect deployment code
  docs/source/deployment/prefect.md
Due: docs_change

Added changes to RELEASE.md
  RELEASE.md
Due: code_change

Apply suggestions from code review
  kedro/extras/extensions/ipython.py
Due: code_change

Rename test
  tests/extras/extensions/test_ipython.py
Due: code_change

Improve IPython extension error handling (#1761)
  RELEASE.md
  docs/source/development/commands_reference.md
  docs/source/tools_integration/ipython.md
  kedro/extras/extensions/ipython.py
  requirements.txt
  tests/extras/extensions/test_ipython.py
Due: docs_change, code_change

Relaxed delta-spark version
  RELEASE.md
  setup.py
Due: code_change

Update deployment_guide.md (#1771)
  docs/source/deployment/deployment_guide.md
Due: docs_change

Make test more readable
  tests/pipeline/test_pipeline.py
Due: code_change

Fix linting pt3
  tests/pipeline/test_pipeline.py
Due: code_change

Update docs/source/deployment/prefect.md
  docs/source/deployment/prefect.md
Due: docs_change

Add tests for multiple arguments
  tests/pipeline/test_pipeline.py
Due: code_change

Add comments to tests
  tests/pipeline/test_pipeline.py
Due: code_change

Applied PR changes
  docs/source/deployment/prefect.md
Due: docs_change

Change logic to use endswith() instead of regex
  kedro/pipeline/pipeline.py
Due: code_change

Clarify test fixture names
  tests/pipeline/test_pipeline.py
Due: code_change

docs(pyspark): fix missing PluginManager
  docs/source/tools_integration/pyspark.md
Due: docs_change

Update e2e test starter to auto-discover pipelines
  features/steps/test_starter/{{ cookiecutter.repo_name }}/src/{{ cookiecutter.python_package }}/pipeline_registry.py
Due: code_change

Add space to find_pipelines to improve readability
  kedro/framework/project/__init__.py
Due: code_change

Add missing import to registry of the test starter
  features/steps/test_starter/{{ cookiecutter.repo_name }}/src/{{ cookiecutter.python_package }}/pipeline_registry.py
Due: code_change

Remove unused import from a test pipeline registry
  features/steps/test_starter/{{ cookiecutter.repo_name }}/src/{{ cookiecutter.python_package }}/pipeline_registry.py
Due: code_change

Make registry behave as before but using discovery
  features/steps/test_starter/{{ cookiecutter.repo_name }}/src/{{ cookiecutter.python_package }}/pipeline_registry.py
  tests/framework/cli/test_catalog.py
  tests/framework/cli/test_registry.py
Due: code_change

Update pipeline name in end-to-end test CLI config
  features/steps/e2e_test_cli_config.yml
Due: code_change

Print underlying error when cannot load a pipeline
  kedro/framework/project/__init__.py
Due: code_change

Only search through unregistered nodes
  kedro/pipeline/pipeline.py
  tests/pipeline/test_pipeline.py
Due: code_change

Update RELEASE.md
  RELEASE.md
Due: code_change

Try disable toctree
  docs/conf.py
Due: docs_change

Try disable toctree pt 2
  kedro/pipeline/pipeline.py
Due: code_change

Revert changes
  docs/conf.py
  kedro/pipeline/pipeline.py
Due: docs_change, code_change

Rewind to last passing version
  docs/source/deployment/deployment_guide.md
Due: docs_change

Fast-forward back to current because that fixed nothing :(
  docs/source/deployment/deployment_guide.md
Due: docs_change
