Repository kedro-org/kedro: changes, and which CircleCI parameters are due for each by the changed paths.
All: docs_change, code_change

.circleci/config.yml:

version: 2.1

parameters:
  release_kedro:
    type: boolean
    default: false
  # The parameters below are set in CircleCI UI.
  # https://app.circleci.com/settings/project/github/kedro-org/kedro/triggers?return-to=https%3A%2F%2Fapp.circleci.com%2Fpipelines%2Fgithub%2Fkedro-org%2Fkedro&triggerSource=&scheduledTriggerId=61f7226f-f092-4449-98d9-40420f8c46b2&success=true
  run_hourly:
    type: boolean
    default: false
  run_nightly:
    type: boolean
    default: false

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.1

workflows:
  regular:
    jobs:
      # the path-filtering/filter job determines which pipeline
      # parameters to update, i.e. which builds to run.
      - path-filtering/filter:
          name: check-updated-files
          base-revision: main
          config-path: .circleci/continue_config.yml
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            docs/.* docs_change true
            ^((?!docs/).)*$ code_change true

Update docs/source/conf.py
  docs/source/conf.py
Due: docs_change

Apply suggestions from code review
  features/steps/test_starter/{{ cookiecutter.repo_name }}/conf/base/catalog.yml
  kedro/io/partitioned_dataset.py
Due: code_change

Vale linting
  docs/source/notebooks_and_ipython/index.md
  docs/source/notebooks_and_ipython/kedro_and_notebooks.md
Due: docs_change

Rename all mentions in docs of `DataSet` to `Dataset` (#3148)
  docs/source/conf.py
  docs/source/configuration/advanced_configuration.md
  docs/source/configuration/config_loader_migration.md
  docs/source/data/advanced_data_catalog_usage.md
  docs/source/data/data_catalog.md
  docs/source/data/data_catalog_yaml_examples.md
  docs/source/data/how_to_create_a_custom_dataset.md
  docs/source/data/kedro_dataset_factories.md
  docs/source/data/partitioned_and_incremental_datasets.md
  docs/source/deployment/airflow_astronomer.md
  docs/source/deployment/aws_batch.md
  docs/source/deployment/aws_step_functions.md
  docs/source/deployment/dask.md
  docs/source/experiment_tracking/index.md
  docs/source/hooks/common_use_cases.md
  docs/source/hooks/examples.md
  docs/source/integrations/pyspark_integration.md
  docs/source/kedro_project_setup/dependencies.md
  docs/source/nodes_and_pipelines/nodes.md
  docs/source/nodes_and_pipelines/run_a_pipeline.md
  docs/source/nodes_and_pipelines/slice_a_pipeline.md
  docs/source/notebooks_and_ipython/kedro_and_notebooks.md
  docs/source/notebooks_and_ipython/kedro_as_a_data_registry.md
  docs/source/tutorial/add_another_pipeline.md
  docs/source/tutorial/create_a_pipeline.md
  docs/source/tutorial/spaceflights_tutorial_faqs.md
  docs/source/tutorial/tutorial_template.md
  docs/source/visualisation/kedro-viz_visualisation.md
  docs/source/visualisation/preview_datasets.md
  docs/source/visualisation/visualise_charts_with_plotly.md
Due: docs_change

Rename remaining mentions of DataSet
  docs/source/kedro.io.rst
  docs/source/kedro_datasets.rst
  docs/source/tutorial/set_up_data.md
Due: docs_change

Fix broken xref
  docs/source/development/commands_reference.md
  docs/source/faq/faq.md
Due: docs_change

Remove patch
  pyproject.toml
Due: code_change

Rename all `DataSet` mentions to `Dataset` (excl. docs) (#3147)
  .circleci/continue_config.yml
  docs/source/kedro.io.rst
  docs/source/kedro_datasets.rst
  docs/source/tutorial/set_up_data.md
  features/environment.py
  features/steps/e2e_test_catalog.yml
  features/steps/test_starter/{{ cookiecutter.repo_name }}/conf/base/catalog.yml
  features/steps/test_starter/{{ cookiecutter.repo_name }}/requirements.txt
  kedro/config/templated_config.py
  kedro/io/__init__.py
  kedro/io/cached_dataset.py
  kedro/io/core.py
  kedro/io/data_catalog.py
  kedro/io/lambda_dataset.py
  kedro/io/memory_dataset.py
  kedro/io/partitioned_dataset.py
  kedro/runner/parallel_runner.py
  tests/config/test_config.py
  tests/config/test_omegaconf_config.py
  tests/config/test_templated_config.py
  tests/framework/cli/pipeline/test_pipeline.py
  tests/framework/cli/test_catalog.py
  tests/framework/context/test_context.py
  tests/framework/session/conftest.py
  tests/framework/session/test_session_extension_hooks.py
  tests/io/test_cached_dataset.py
  tests/io/test_core.py
  tests/io/test_data_catalog.py
  tests/io/test_incremental_dataset.py
  tests/io/test_partitioned_dataset.py
  tests/runner/conftest.py
  tests/runner/test_parallel_runner.py
Due: docs_change, code_change

Include new libraries at requirements.txt in spaceflights tutorial tutorial_template.md (#3118)
  docs/source/tutorial/tutorial_template.md
Due: docs_change

Feedback update
  docs/source/notebooks_and_ipython/notebook-example/add_kedro_to_a_notebook.ipynb
  docs/source/notebooks_and_ipython/notebook-example/add_kedro_to_a_notebook.md
Due: docs_change

Complete parallel_runner.py coverage
  tests/runner/test_parallel_runner.py
Due: code_change

Merge branch 'develop' into fix/datasets-test-coverage
  tests/runner/test_parallel_runner.py
Due: code_change

Update logic to work with lower python versions
  kedro/config/omegaconf_config.py
Due: code_change

Update release notes
  RELEASE.md
Due: code_change

Complete tests of core functions
  kedro/io/core.py
  tests/io/test_core.py
Due: code_change

Add test scaffolding
  tests/io/test_core.py
Due: code_change

Mention upcoming removal and rename of datasets in docs + release notes
  RELEASE.md
  docs/source/data/advanced_data_catalog_usage.md
  docs/source/data/data_catalog.md
  docs/source/data/data_catalog_yaml_examples.md
  docs/source/data/kedro_dataset_factories.md
Due: docs_change, code_change

MVP for "add-ons" flow within kedro new CLI command (#2987)
  RELEASE.md
  features/steps/cli_steps.py
  kedro/framework/cli/starters.py
  kedro/templates/project/cookiecutter.json
  kedro/templates/project/hooks/post_gen_project.py
  kedro/templates/project/hooks/utils.py
  kedro/templates/project/prompts.yml
  kedro/templates/project/{{ cookiecutter.repo_name }}/conf/logging.yml
  kedro/templates/project/{{ cookiecutter.repo_name }}/pyproject.toml
  kedro/templates/project/{{ cookiecutter.repo_name }}/requirements.txt
  pyproject.toml
  tests/framework/cli/test_starters.py
Due: code_change

Remove instructions for `pip install "kedro[all]"`
  docs/source/kedro_project_setup/dependencies.md
Due: docs_change

Apply suggestions from code review
  RELEASE.md
  docs/source/data/advanced_data_catalog_usage.md
Due: docs_change, code_change

Update message in all catalog docs
  docs/source/data/data_catalog.md
  docs/source/data/data_catalog_yaml_examples.md
  docs/source/data/kedro_dataset_factories.md
Due: docs_change

Remove unnecessary test requirements (#3144)
  pyproject.toml
Due: code_change

Move project setup to advanced section
  docs/source/index.rst
  docs/source/kedro_project_setup/index.md
Due: docs_change

Remove instructions for `pip install "kedro[all]"` (#3156)
  docs/source/kedro_project_setup/dependencies.md
Due: docs_change

Update layout.html and css
  docs/source/_static/css/theme-overrides.css
  docs/source/_templates/layout.html
Due: docs_change

Remove os
  kedro/config/omegaconf_config.py
Due: code_change

Update index.rst 🤦‍♀️
  docs/source/index.rst
Due: docs_change

Mention upcoming removal and rename of datasets in docs + release notes (#3155)
  RELEASE.md
  docs/source/data/advanced_data_catalog_usage.md
  docs/source/data/data_catalog.md
  docs/source/data/data_catalog_yaml_examples.md
  docs/source/data/kedro_dataset_factories.md
Due: docs_change, code_change

Make settings.py optional
  kedro/framework/project/__init__.py
  tests/framework/project/test_settings.py
Due: code_change

[Ready] Changes to improve existing content about notebook development & kedro (#3127)
  docs/source/development/commands_reference.md
  docs/source/faq/faq.md
  docs/source/kedro_project_setup/starters.md
  docs/source/meta/images/jupyter_new_notebook.png
  docs/source/meta/images/new_jupyter_browser_window.png
  docs/source/meta/images/new_jupyter_notebook_view.png
  docs/source/meta/images/run_viz_in_notebook.png
  docs/source/notebooks_and_ipython/index.md
  docs/source/notebooks_and_ipython/kedro_and_notebooks.md
  docs/source/notebooks_and_ipython/kedro_as_a_data_registry.md
Due: docs_change

Fix unit tests
  kedro/framework/project/__init__.py
  tests/framework/project/test_settings.py
Due: code_change

Fix merge conflics
  kedro/framework/cli/starters.py
  kedro/templates/project/hooks/post_gen_project.py
  kedro/templates/project/hooks/utils.py
  kedro/templates/project/{{ cookiecutter.repo_name }}/src/pyproject.toml
  kedro/templates/project/{{ cookiecutter.repo_name }}/src/requirements.txt
  tests/framework/cli/test_starters.py
Due: code_change

Lint
  tests/framework/cli/test_starters.py
Due: code_change

Remove secret scan kryptonite
  docs/source/notebooks_and_ipython/notebook-example/add_kedro_to_a_notebook.ipynb
  docs/source/notebooks_and_ipython/notebook-example/add_kedro_to_a_notebook.md
Due: docs_change

Ignore lint_only by merge gatekeeper
  .github/workflows/merge-gatekeeper.yml
Due: code_change

Make `OmegaConfigLoader` accept paths containing dots outside of conf_source (#3145)
  RELEASE.md
  kedro/config/omegaconf_config.py
  tests/config/test_omegaconf_config.py
Due: code_change

Revise documentation table of contents (#3157)
  .github/workflows/merge-gatekeeper.yml
  docs/source/index.rst
  docs/source/kedro_project_setup/index.md
  docs/source/notebooks_and_ipython/notebook-example/add_kedro_to_a_notebook.ipynb
  docs/source/notebooks_and_ipython/notebook-example/add_kedro_to_a_notebook.md
Due: docs_change, code_change

Also change FutureWarnings to KedroDeprecationWarnings
  features/jupyter.feature
  kedro/framework/session/session.py
  kedro/io/data_catalog.py
Due: code_change

add pyspark config to add-ons
  kedro/templates/project/hooks/utils.py
  kedro/templates/project/prompts.yml
Due: code_change
