Repository kedro-org/kedro: changes, and which CircleCI parameters are due for each by the changed paths.
All: docs_change, code_change

.circleci/config.yml:

version: 2.1

parameters:
  release_kedro:
    type: boolean
    default: false
  # The parameters below are set in CircleCI UI.
  # https://app.circleci.com/settings/project/github/kedro-org/kedro/triggers?return-to=https%3A%2F%2Fapp.circleci.com%2Fpipelines%2Fgithub%2Fkedro-org%2Fkedro&triggerSource=&scheduledTriggerId=61f7226f-f092-4449-98d9-40420f8c46b2&success=true
  run_hourly:
    type: boolean
    default: false
  run_nightly:
    type: boolean
    default: false

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.1

workflows:
  regular:
    jobs:
      # the path-filtering/filter job determines which pipeline
      # parameters to update, i.e. which builds to run.
      - path-filtering/filter:
          name: check-updated-files
          base-revision: main
          config-path: .circleci/continue_config.yml
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            docs/.* docs_change true
            ^((?!docs/).)*$ code_change true

Remove spurious 'i.e.'
  docs/source/workflow_integration/databricks_visualisation.md
Due: docs_change

Remove verbosity from viz on Databricks intro
  docs/source/workflow_integration/visualisation.md
Due: docs_change

Revert command modifcation
  docs/build-docs.sh
Due: docs_change

Add a line between copy and code snippets for rendering
  docs/source/workflow_integration/databricks_visualisation.md
Due: docs_change

Remove gerund
  docs/source/workflow_integration/databricks_visualisation.md
Due: docs_change

Convert databricks.rst to MyST format
  docs/source/integrations/databricks.rst
Due: docs_change

Rename databricks visualisation docs
  docs/source/workflow_integration/databricks.rst
  docs/source/workflow_integration/databricks_visualisation.md
Due: docs_change

Change title to include mention of Notebooks
  docs/source/workflow_integration/databricks_workspace.md
Due: docs_change

Rename databricks.rst to databricks.md
  docs/source/integrations/databricks.md
Due: docs_change

Rename index entry to 'Integrations'
  docs/source/index.rst
Due: docs_change

Rename workflow_integration to integrations
  docs/source/integrations/databricks.rst
  docs/source/integrations/databricks_visualisation.md
  docs/source/integrations/databricks_workspace.md
  docs/source/integrations/pyspark.rst
  docs/source/integrations/pyspark_integration.md
Due: docs_change

Remove spurious conflict messages
  docs/source/index.rst
Due: docs_change

Reorganise the documentation structure for Kedro / Databricks integration (#2442)
  docs/source/deployment/deployment_guide.md
  docs/source/index.rst
  docs/source/integrations/databricks.md
  docs/source/integrations/databricks_visualisation.md
  docs/source/integrations/databricks_workspace.md
  docs/source/integrations/pyspark.rst
  docs/source/integrations/pyspark_integration.md
Due: docs_change

Fix file hierarchy
  docs/source/kedro.config.rst
  docs/source/kedro.datasets.rst
  docs/source/kedro.extras.datasets.rst
  docs/source/kedro.extras.logging.color_logger.ColorHandler.rst
  docs/source/kedro.framework.cli.cli.KedroCLI.rst
  docs/source/kedro.framework.cli.hooks.manager.CLIHooksManager.rst
  docs/source/kedro.framework.cli.utils.CommandCollection.rst
  docs/source/kedro.framework.cli.utils.rst
  docs/source/kedro.framework.context.rst
  docs/source/kedro.framework.session.shelvestore.ShelveStore.rst
  docs/source/kedro.framework.session.store.BaseSessionStore.rst
  docs/source/kedro.io.rst
  docs/source/kedro.pipeline.rst
  docs/source/kedro.runner.rst
Due: docs_change

Fix destination of linkcheck
  docs/build-docs.sh
Due: docs_change

Minor reference fix
  docs/source/tutorial/package_a_project.md
Due: docs_change

Explain ignored documentation files
  .gitignore
Due: code_change

Restore test requirements
  test_requirements.txt
Due: code_change

Restore treating documentation warnings as errors
  .readthedocs.yml
  docs/build-docs.sh
Due: docs_change, code_change

Fix Read the Docs configuration
  .readthedocs.yml
Due: code_change

Remove redundant build-docs CI job
  .circleci/continue_config.yml
Due: code_change

Fix Sphinx language config
  docs/conf.py
Due: docs_change

Ignore .rst files generated to support docs build
  .gitignore
Due: code_change

Manually fix JupyterCommandGroup API docs
  docs/source/kedro.framework.cli.jupyter.JupyterCommandGroup.rst
Due: docs_change

Update documentation dependencies
  setup.py
Due: code_change

Remove all autosummary members from problematic class
  docs/source/kedro.framework.cli.jupyter.JupyterCommandGroup.rst
Due: docs_change

Temporarily disable nitpicky mode for linkcheck
  docs/build-docs.sh
Due: docs_change

Cap sphinx-autodoc-typehints version
  setup.py
Due: code_change

Fix CSS paths
  docs/source/_static/css/qb1-sphinx-rtd.css
  docs/source/_static/css/theme-overrides.css
  docs/source/conf.py
Due: docs_change

Install all documentation dependencies
  setup.py
  test_requirements.txt
Due: code_change

Fix circular imports
  kedro/config/common.py
  kedro/config/config.py
  kedro/config/omegaconf_config.py
  kedro/config/templated_config.py
Due: code_change

Upgrade Read the Docs to Python 3.8
  .readthedocs.yml
Due: code_change

Remove unused documentation extensions
  docs/conf.py
  setup.py
Due: docs_change, code_change

Try to not move files around
  docs/build-docs.sh
  docs/source/_templates/autosummary/base.rst
  docs/source/_templates/autosummary/class.rst
  docs/source/_templates/autosummary/module.rst
  docs/source/_templates/breadcrumbs.html
  docs/source/_templates/layout.html
  docs/source/conf.py
  docs/source/kedro_logo.svg
  docs/source/puppeteer-config.json
  docs/source/robots.txt
Due: docs_change

Restore nitpicky linkcheck
  docs/build-docs.sh
Due: docs_change

Minor fixes to docstrings
  kedro/io/__init__.py
  kedro/pipeline/modular_pipeline.py
Due: code_change

Remove unused docs/package.json
  docs/package.json
Due: docs_change

Move linkcheck to Read the Docs
  .circleci/continue_config.yml
  .readthedocs.yml
Due: code_change

Remove old devserver Makefile target
  Makefile
Due: code_change

Fix databricks broken reference
  docs/source/index.rst
Due: docs_change
