Repository kedro-org/kedro: changes, and which CircleCI parameters are due for each by the changed paths.
All: docs_change, code_change

Updates
  docs/source/tutorial/create_pipelines.md
  docs/source/tutorial/package_a_project.md
  docs/source/tutorial/spaceflights_tutorial.md
  docs/source/tutorial/tutorial_template.md
Due: docs_change

Make config_patterns configurable in `settings.py` (#1966)
  features/steps/test_starter/{{ cookiecutter.repo_name }}/src/{{ cookiecutter.python_package }}/settings.py
  kedro/config/config.py
  kedro/config/templated_config.py
  kedro/templates/project/{{ cookiecutter.repo_name }}/src/{{ cookiecutter.python_package }}/settings.py
  tests/config/test_config.py
  tests/config/test_templated_config.py
  tests/framework/session/test_session.py
Due: code_change

Explain config patterns in docs + updates to `TemplatedConfigLoader` docs (#1971)
  docs/source/deployment/aws_sagemaker.md
  docs/source/kedro_project_setup/configuration.md
Due: docs_change

Update release notes
  RELEASE.md
Due: code_change

Fix lint
  docs/source/deployment/aws_sagemaker.md
Due: docs_change

Fix Docstring example for PickleDataSet (#1977)
  docs/source/deployment/aws_sagemaker.md
  kedro/extras/datasets/pickle/pickle_dataset.py
Due: docs_change, code_change

Add test
  tests/io/test_data_catalog.py
Due: code_change

More changes to docs structure and content
  docs/build-docs.sh
  docs/source/faq/faq.md
  docs/source/get_started/prerequisites.md
  docs/source/index.rst
  docs/source/logging/experiment_tracking.md
  docs/source/nodes_and_pipelines/modular_pipelines.md
  docs/source/resources/glossary.md
  docs/source/tutorial/create_pipelines.md
  docs/source/tutorial/namespace_pipelines.md
  docs/source/tutorial/set_up_data.md
  docs/source/tutorial/set_up_experiment_tracking.md
  docs/source/tutorial/spaceflights_tutorial.md
  docs/source/tutorial/spaceflights_tutorial_faqs.md
  docs/source/tutorial/tutorial_template.md
  docs/source/visualisation/experiment_tracking.md
  docs/source/visualisation/kedro-viz_visualisation.md
  docs/source/visualisation/visualise_charts_with_plotly.md
Due: docs_change

Few more tweaks
  docs/source/get_started/prerequisites.md
  docs/source/tutorial/package_a_project.md
  docs/source/tutorial/set_up_data.md
Due: docs_change

Update contribution guidelines to datasets
  .github/PULL_REQUEST_TEMPLATE.md
  docs/source/contribution/developer_contributor_guidelines.md
  docs/source/extend_kedro/custom_datasets.md
  docs/source/extend_kedro/plugins.md
  kedro/extras/datasets/api/api_dataset.py
  kedro/extras/datasets/biosequence/biosequence_dataset.py
  kedro/extras/datasets/dask/parquet_dataset.py
  kedro/extras/datasets/email/message_dataset.py
  kedro/extras/datasets/geopandas/geojson_dataset.py
  kedro/extras/datasets/holoviews/holoviews_writer.py
  kedro/extras/datasets/json/json_dataset.py
  kedro/extras/datasets/matplotlib/matplotlib_writer.py
  kedro/extras/datasets/networkx/gml_dataset.py
  kedro/extras/datasets/networkx/graphml_dataset.py
  kedro/extras/datasets/networkx/json_dataset.py
  kedro/extras/datasets/pandas/csv_dataset.py
  kedro/extras/datasets/pandas/excel_dataset.py
  kedro/extras/datasets/pandas/feather_dataset.py
  kedro/extras/datasets/pandas/gbq_dataset.py
  kedro/extras/datasets/pandas/generic_dataset.py
  kedro/extras/datasets/pandas/hdf_dataset.py
  kedro/extras/datasets/pandas/json_dataset.py
  kedro/extras/datasets/pandas/parquet_dataset.py
  kedro/extras/datasets/pandas/sql_dataset.py
  kedro/extras/datasets/pandas/xml_dataset.py
  kedro/extras/datasets/pickle/pickle_dataset.py
  kedro/extras/datasets/pillow/image_dataset.py
  kedro/extras/datasets/plotly/json_dataset.py
  kedro/extras/datasets/plotly/plotly_dataset.py
  kedro/extras/datasets/redis/redis_dataset.py
  kedro/extras/datasets/spark/deltatable_dataset.py
  kedro/extras/datasets/spark/spark_dataset.py
  kedro/extras/datasets/spark/spark_hive_dataset.py
  kedro/extras/datasets/spark/spark_jdbc_dataset.py
  kedro/extras/datasets/tensorflow/tensorflow_model_dataset.py
  kedro/extras/datasets/text/text_dataset.py
  kedro/extras/datasets/tracking/json_dataset.py
  kedro/extras/datasets/tracking/metrics_dataset.py
  kedro/extras/datasets/yaml/yaml_dataset.py
Due: docs_change, code_change

Fix linting and minor changes
  docs/source/extend_kedro/plugins.md
  kedro/extras/datasets/pandas/excel_dataset.py
Due: docs_change, code_change

Add SVMLight DataSet
  RELEASE.md
  docs/source/api_docs/kedro.extras.datasets.rst
  kedro/extras/datasets/svmlight/__init__.py
  kedro/extras/datasets/svmlight/svmlight_dataset.py
  test_requirements.txt
  tests/extras/datasets/libsvm/__init__.py
  tests/extras/datasets/libsvm/test_svmlight_dataset.py
Due: docs_change, code_change

Add SnowflakeTableDataSet
  kedro/extras/datasets/pandas/__init__.py
  kedro/extras/datasets/pandas/snowflake_dataset.py
Due: code_change

Add snowflake-snowpark-python
  test_requirements.txt
Due: code_change

docs: Add save_args to Yaml Api example
  kedro/extras/datasets/matplotlib/matplotlib_writer.py
Due: code_change

docs: Remove blank line from release notes
  RELEASE.md
Due: code_change

Update robots.txt (#1929)
  docs/robots.txt
Due: docs_change

Improve MatplotlibWriter documentation with examples
  kedro/extras/datasets/matplotlib/matplotlib_writer.py
Due: code_change

Add description of change in RELEASE.md
  RELEASE.md
Due: code_change

docs: Move release note to correct version
  RELEASE.md
Due: code_change

Update kedro-viz_visualisation.md
  docs/source/visualisation/kedro-viz_visualisation.md
Due: docs_change

Update build-docs.sh
  docs/build-docs.sh
Due: docs_change

Update .gitignore to add docs/temp directory
  .gitignore
Due: code_change

Improve MatplotlibWriter documentation with examples (#1945)
  RELEASE.md
  kedro/extras/datasets/matplotlib/matplotlib_writer.py
Due: code_change

Modify test to remove the dummy obj
  tests/io/test_data_catalog.py
Due: code_change

Update docs/source/tutorial/create_pipelines.md
  docs/source/tutorial/create_pipelines.md
Due: docs_change

Replace Discord links in docs with links to Slack
  docs/source/contribution/contribute_to_kedro.md
  docs/source/contribution/technical_steering_committee.md
  docs/source/faq/faq.md
  docs/source/get_started/install.md
  docs/source/get_started/prerequisites.md
  docs/source/index.rst
Due: docs_change

Apply suggestions from code review
  docs/source/faq/faq.md
  docs/source/get_started/install.md
  docs/source/get_started/prerequisites.md
  docs/source/index.rst
Due: docs_change

Apply suggestions from code review
  docs/source/contribution/contribute_to_kedro.md
  docs/source/contribution/technical_steering_committee.md
  docs/source/faq/faq.md
  docs/source/get_started/install.md
  docs/source/get_started/prerequisites.md
Due: docs_change

More changes to add modular pipelines
  docs/source/faq/faq.md
  docs/source/get_started/prerequisites.md
  docs/source/index.rst
  docs/source/tutorial/add_another_pipeline.md
  docs/source/tutorial/create_a_pipeline.md
  docs/source/tutorial/create_pipelines.md
  docs/source/tutorial/package_a_project.md
  docs/source/tutorial/set_up_data.md
  docs/source/tutorial/spaceflights_tutorial.md
  docs/source/tutorial/tutorial_template.md
Due: docs_change

Fix lint
  .github/PULL_REQUEST_TEMPLATE.md
  docs/source/extend_kedro/custom_datasets.md
  docs/source/extend_kedro/plugins.md
Due: docs_change, code_change

Few more updates
  docs/build-docs.sh
  docs/source/tutorial/add_another_pipeline.md
  docs/source/tutorial/create_a_pipeline.md
  docs/source/tutorial/set_up_data.md
  docs/source/tutorial/spaceflights_tutorial.md
  docs/source/tutorial/spaceflights_tutorial_faqs.md
  docs/source/tutorial/tutorial_template.md
Due: docs_change

Fix mocker.spy with different API for Python 3.7
  tests/io/test_data_catalog.py
Due: code_change

Fix lint
  .github/PULL_REQUEST_TEMPLATE.md
Due: code_change

Please the linter
  tests/io/test_data_catalog.py
Due: code_change

Update contribution guidelines documentation for kedro-datasets (#1991)
  .github/PULL_REQUEST_TEMPLATE.md
  docs/source/contribution/developer_contributor_guidelines.md
  docs/source/extend_kedro/custom_datasets.md
  docs/source/extend_kedro/plugins.md
  kedro/extras/datasets/api/api_dataset.py
  kedro/extras/datasets/biosequence/biosequence_dataset.py
  kedro/extras/datasets/dask/parquet_dataset.py
  kedro/extras/datasets/email/message_dataset.py
  kedro/extras/datasets/geopandas/geojson_dataset.py
  kedro/extras/datasets/holoviews/holoviews_writer.py
  kedro/extras/datasets/json/json_dataset.py
  kedro/extras/datasets/matplotlib/matplotlib_writer.py
  kedro/extras/datasets/networkx/gml_dataset.py
  kedro/extras/datasets/networkx/graphml_dataset.py
  kedro/extras/datasets/networkx/json_dataset.py
  kedro/extras/datasets/pandas/csv_dataset.py
  kedro/extras/datasets/pandas/excel_dataset.py
  kedro/extras/datasets/pandas/feather_dataset.py
  kedro/extras/datasets/pandas/gbq_dataset.py
  kedro/extras/datasets/pandas/generic_dataset.py
  kedro/extras/datasets/pandas/hdf_dataset.py
  kedro/extras/datasets/pandas/json_dataset.py
  kedro/extras/datasets/pandas/parquet_dataset.py
  kedro/extras/datasets/pandas/sql_dataset.py
  kedro/extras/datasets/pandas/xml_dataset.py
  kedro/extras/datasets/pickle/pickle_dataset.py
  kedro/extras/datasets/pillow/image_dataset.py
  kedro/extras/datasets/plotly/json_dataset.py
  kedro/extras/datasets/plotly/plotly_dataset.py
  kedro/extras/datasets/redis/redis_dataset.py
  kedro/extras/datasets/spark/deltatable_dataset.py
  kedro/extras/datasets/spark/spark_dataset.py
  kedro/extras/datasets/spark/spark_hive_dataset.py
  kedro/extras/datasets/spark/spark_jdbc_dataset.py
  kedro/extras/datasets/tensorflow/tensorflow_model_dataset.py
  kedro/extras/datasets/text/text_dataset.py
  kedro/extras/datasets/tracking/json_dataset.py
  kedro/extras/datasets/tracking/metrics_dataset.py
  kedro/extras/datasets/yaml/yaml_dataset.py
Due: docs_change, code_change

Black
  tests/io/test_data_catalog.py
Due: code_change

Make Kedro instantiate datasets from `kedro_dataset`with higher priority than `kedro.extras.datasets` (#1734)
  RELEASE.md
  kedro/io/core.py
  tests/io/test_data_catalog.py
Due: code_change

Pre-commit checks
  docs/build-docs.sh
  docs/source/get_started/prerequisites.md
  docs/source/index.rst
  docs/source/tutorial/add_another_pipeline.md
  docs/source/tutorial/create_a_pipeline.md
  docs/source/tutorial/package_a_project.md
  docs/source/tutorial/set_up_data.md
  docs/source/tutorial/spaceflights_tutorial.md
  docs/source/tutorial/spaceflights_tutorial_faqs.md
  docs/source/tutorial/tutorial_template.md
  docs/source/visualisation/kedro-viz_visualisation.md
  docs/source/visualisation/visualise_charts_with_plotly.md
Due: docs_change

Fix a few issues
  docs/source/get_started/install.md
  docs/source/tutorial/spaceflights_tutorial.md
  docs/source/tutorial/tutorial_template.md
  docs/source/visualisation/kedro-viz_visualisation.md
Due: docs_change

Path conditions:
  docs_change: any of: docs/.*
  code_change: any of: ^((?!docs/).)*$
