Repository kedro-org/kedro: changes, and which CircleCI parameters are due for each by the changed paths.
All: docs_change, code_change

Replace use of deprecated `_package_name` variable (#2533)
  docs/source/integrations/pyspark_integration.md
Due: docs_change

Remove logs folder from `kedro new` project template (#2532)
  docs/source/deployment/airflow_astronomer.md
  docs/source/deployment/aws_step_functions.md
  docs/source/deployment/single_machine.md
  docs/source/get_started/kedro_concepts.md
  docs/source/kedro_project_setup/starters.md
  docs/source/logging/logging.md
  docs/source/tutorial/package_a_project.md
  kedro/framework/context/context.py
  kedro/templates/project/{{ cookiecutter.repo_name }}/conf/base/logging.yml
  kedro/templates/project/{{ cookiecutter.repo_name }}/logs/.gitkeep
  tests/framework/cli/test_starters.py
Due: docs_change, code_change

Minor corrections and improvements
  docs/source/integrations/databricks_development_workflow.md
Due: docs_change

Add metadata attribute to kedro.io datasets
  kedro/io/cached_dataset.py
  kedro/io/lambda_dataset.py
  kedro/io/memory_dataset.py
  kedro/io/partitioned_dataset.py
Due: code_change

Lint
  kedro/io/lambda_dataset.py
Due: code_change

Fix flake8 error by using new variable annotation syntax
  features/environment.py
  kedro/config/common.py
  kedro/framework/cli/micropkg.py
  kedro/framework/session/session.py
  kedro/framework/session/shelvestore.py
  kedro/io/data_catalog.py
  kedro/io/partitioned_dataset.py
  kedro/pipeline/node.py
  kedro/pipeline/pipeline.py
  kedro/runner/parallel_runner.py
  kedro/runner/thread_runner.py
Due: code_change

Revert accidental change
  kedro/runner/thread_runner.py
Due: code_change

Add 'What this page covers'
  docs/source/integrations/databricks_development_workflow.md
Due: docs_change

remove misleading example for pandas.ParquetDataSet
  kedro/extras/datasets/pandas/parquet_dataset.py
Due: code_change

Leverage PEP 585 in kedro/config files
  kedro/config/abstract_config.py
  kedro/config/common.py
  kedro/config/config.py
  kedro/config/omegaconf_config.py
  kedro/config/templated_config.py
Due: code_change

Add from __future__ import annotations import
  kedro/config/abstract_config.py
  kedro/config/omegaconf_config.py
  kedro/config/templated_config.py
Due: code_change

Fix lint
  kedro/config/abstract_config.py
  kedro/config/omegaconf_config.py
  kedro/config/templated_config.py
Due: code_change

Undox myself
  docs/source/meta/images/databricks_telemetry_consent.png
Due: docs_change

Use PEP 585 in kedro/framework files
  kedro/framework/cli/hooks/specs.py
  kedro/framework/cli/jupyter.py
  kedro/framework/cli/micropkg.py
  kedro/framework/cli/pipeline.py
  kedro/framework/cli/starters.py
  kedro/framework/cli/utils.py
  kedro/framework/context/context.py
  kedro/framework/hooks/specs.py
  kedro/framework/project/__init__.py
  kedro/framework/session/session.py
  kedro/framework/session/shelvestore.py
  kedro/framework/session/store.py
Due: code_change

Add documentation for a development workflow for Kedro Projects on Databricks (#2482)
  docs/source/integrations/databricks_development_workflow.md
  docs/source/integrations/index.md
  docs/source/meta/images/databricks_conf_folder_creation.png
  docs/source/meta/images/databricks_finished_notebook.png
  docs/source/meta/images/databricks_notebook_creation.png
  docs/source/meta/images/databricks_repo_creation.png
  docs/source/meta/images/databricks_run_all.png
  docs/source/meta/images/databricks_telemetry_consent.png
  docs/source/meta/images/final_conf_folder.png
  docs/source/meta/images/find_databricks_host_and_username.png
Due: docs_change

Use PEP 585 on remaining files
  kedro/io/cached_dataset.py
  kedro/io/core.py
  kedro/io/data_catalog.py
  kedro/io/lambda_dataset.py
  kedro/io/memory_dataset.py
  kedro/io/partitioned_dataset.py
  kedro/ipython/__init__.py
  kedro/pipeline/modular_pipeline.py
  kedro/pipeline/node.py
  kedro/pipeline/pipeline.py
  kedro/runner/parallel_runner.py
  kedro/runner/runner.py
  kedro/runner/thread_runner.py
  kedro/templates/project/{{ cookiecutter.repo_name }}/src/{{ cookiecutter.python_package }}/pipeline_registry.py
  tools/cli.py
Due: code_change

update doc
  docs/source/logging/logging.md
Due: docs_change

Update Release Notes
  RELEASE.md
Due: code_change

Fix lint
  tools/cli.py
Due: code_change

Trim whitespace...
  docs/source/logging/logging.md
Due: docs_change

Use PEP 585 in tests
  docs/source/conf.py
  features/environment.py
  features/steps/sh_run.py
  features/steps/test_starter/{{ cookiecutter.repo_name }}/src/{{ cookiecutter.python_package }}/pipeline_registry.py
  features/steps/test_starter/{{ cookiecutter.repo_name }}/src/{{ cookiecutter.python_package }}/pipelines/data_engineering/nodes.py
  features/steps/test_starter/{{ cookiecutter.repo_name }}/src/{{ cookiecutter.python_package }}/pipelines/data_science/nodes.py
  features/steps/util.py
  kedro/framework/cli/micropkg.py
  tests/config/test_config.py
  tests/config/test_omegaconf_config.py
  tests/config/test_templated_config.py
  tests/framework/cli/test_cli_hooks.py
  tests/framework/cli/test_starters.py
  tests/framework/context/test_context.py
  tests/framework/project/test_pipeline_discovery.py
  tests/framework/session/conftest.py
  tests/io/test_core.py
  tests/io/test_incremental_dataset.py
  tests/runner/test_parallel_runner.py
  tests/runner/test_sequential_runner.py
  tests/runner/test_thread_runner.py
Due: docs_change, code_change

Fix unit tests on 3.7 and 3.8
  tests/framework/project/test_pipeline_discovery.py
Due: code_change

Change to sub-section
  docs/source/logging/logging.md
Due: docs_change

Remove type comment in favour of PEP 526 for variable annotation (#2538)
  features/environment.py
  kedro/config/common.py
  kedro/framework/cli/micropkg.py
  kedro/framework/session/session.py
  kedro/framework/session/shelvestore.py
  kedro/io/data_catalog.py
  kedro/io/partitioned_dataset.py
  kedro/pipeline/node.py
  kedro/pipeline/pipeline.py
  kedro/runner/parallel_runner.py
  kedro/runner/thread_runner.py
Due: code_change

Add encoding to please linting
  tests/framework/project/test_logging.py
Due: code_change

Try adding more classes to ignore in nitpick
  docs/source/conf.py
Due: docs_change

Add missing change to release notes
  RELEASE.md
Due: code_change

Update RELEASE.md
  RELEASE.md
Due: code_change

Add missing change to release notes (#2544)
  RELEASE.md
Due: code_change

Document deprecation of `kedro.extras.datasets`
  kedro/extras/datasets/README.md
  kedro/extras/datasets/__init__.py
Due: code_change

Better way of documenting kedro_datasets
  .gitignore
  .readthedocs.yml
  docs/build-docs.sh
  docs/kedro-datasets-docs.sh
  docs/source/conf.py
  docs/source/data/data_catalog.md
  docs/source/data/kedro_io.md
  docs/source/extend_kedro/common_use_cases.md
  docs/source/extend_kedro/custom_datasets.md
  docs/source/get_started/kedro_concepts.md
  docs/source/index.rst
  docs/source/integrations/pyspark_integration.md
  docs/source/kedro.datasets.rst
  docs/source/kedro_datasets.rst
  docs/source/tutorial/add_another_pipeline.md
  docs/source/tutorial/create_a_pipeline.md
  docs/source/tutorial/set_up_data.md
  docs/source/visualisation/visualise_charts_with_plotly.md
Due: docs_change, code_change

Drop unneeded build requirement
  pyproject.toml
Due: code_change

Add visible DeprecationWarning for kedro.extras.datasets
  kedro/extras/datasets/__init__.py
  kedro/io/core.py
Due: code_change

Hide reference to kedro.extras.datasets
  docs/source/kedro.extras.rst
Due: docs_change

Update __init__.py files, __all__ definitions, etc
  kedro/extras/datasets/api/__init__.py
  kedro/extras/datasets/api/api_dataset.py
  kedro/extras/datasets/biosequence/__init__.py
  kedro/extras/datasets/biosequence/biosequence_dataset.py
  kedro/io/__init__.py
Due: code_change

Warn of impending Kedro 0.19 (not abstract future)
  kedro/utils.py
Due: code_change

Update `VideoDataSet` to `VideoDataset` (and refs)
  kedro/extras/datasets/video/__init__.py
  kedro/extras/datasets/video/video_dataset.py
Due: code_change

Add missing `kedro.utils.DeprecatedClassMeta` imps
  kedro/extras/datasets/api/api_dataset.py
  kedro/extras/datasets/biosequence/biosequence_dataset.py
  kedro/extras/datasets/video/video_dataset.py
Due: code_change

Change deprecated references to `AbstractDataSet`
  kedro/extras/datasets/api/api_dataset.py
Due: code_change

Path conditions:
  docs_change: any of: docs/.*
  code_change: any of: ^((?!docs/).)*$
