Repository kedro-org/kedro: changes, and which CircleCI parameters are due for each by the changed paths.
All: docs_change, code_change

.circleci/config.yml:

version: 2.1

parameters:
  release_kedro:
    type: boolean
    default: false
  # The parameters below are set in CircleCI UI.
  # https://app.circleci.com/settings/project/github/kedro-org/kedro/triggers?return-to=https%3A%2F%2Fapp.circleci.com%2Fpipelines%2Fgithub%2Fkedro-org%2Fkedro&triggerSource=&scheduledTriggerId=61f7226f-f092-4449-98d9-40420f8c46b2&success=true
  run_hourly:
    type: boolean
    default: false
  run_nightly:
    type: boolean
    default: false

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.1

workflows:
  regular:
    jobs:
      # the path-filtering/filter job determines which pipeline
      # parameters to update, i.e. which builds to run.
      - path-filtering/filter:
          name: check-updated-files
          base-revision: main
          config-path: .circleci/continue_config.yml
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            docs/.* docs_change true
            ^((?!docs/).)*$ code_change true

RichHandler implementation 2: fancy tracebacks (#1603)
  .circleci/continue_config.yml
  RELEASE.md
  docs/source/development/set_up_pycharm.md
  docs/source/logging/logging.md
  kedro/config/default_logger.py
Due: docs_change, code_change

Fix bug when multiple plugins installed it will only print one of the origin
  kedro/framework/cli/starters.py
Due: code_change

fix pre-commit hook for attrs
  .pre-commit-config.yaml
Due: code_change

Linting
  features/steps/test_plugin/plugin.py
  kedro/framework/cli/utils.py
Due: code_change

fiz linting and minor bug
  kedro/framework/cli/starters.py
  kedro/framework/cli/utils.py
Due: code_change

remove test
  tests/pipeline/test_pipeline.py
Due: code_change

Minor refactoring with list comprehension
  kedro/pipeline/pipeline.py
Due: code_change

Fix Linting
  tests/pipeline/test_pipeline.py
Due: code_change

attempt to fix Import-Linter cannot be built issue
  pyproject.toml
Due: code_change

Apply changes for Merel's review
  docs/source/extend_kedro/plugins.md
  kedro/framework/cli/starters.py
Due: docs_change, code_change

minor update of release notes
  RELEASE.md
Due: code_change

Consistent node execution order by sorting node with `Sequentialrunner` (#1604)
  RELEASE.md
  kedro/pipeline/pipeline.py
  tests/pipeline/test_pipeline.py
  tests/pipeline/test_pipeline_with_transcoding.py
Due: code_change

print text when assertion fails
  features/steps/cli_steps.py
Due: code_change

Start at improving link accessibility
  docs/source/contribution/developer_contributor_guidelines.md
  docs/source/data/data_catalog.md
  docs/source/data/kedro_io.md
  docs/source/deployment/airflow_astronomer.md
  docs/source/deployment/argo.md
  docs/source/deployment/aws_batch.md
Due: docs_change

if _load or _save unconditionally raises an Error, it must return a NoReturn type. For _save, data input has type None in these cases. This is reflected in the AbstractDataSet typing as well
  kedro/extras/datasets/api/api_dataset.py
  kedro/extras/datasets/holoviews/holoviews_writer.py
  kedro/extras/datasets/json/json_dataset.py
  kedro/extras/datasets/matplotlib/matplotlib_writer.py
  kedro/extras/datasets/networkx/graphml_dataset.py
  kedro/extras/datasets/pandas/gbq_dataset.py
  kedro/extras/datasets/pandas/generic_dataset.py
  kedro/extras/datasets/pandas/json_dataset.py
  kedro/extras/datasets/pandas/sql_dataset.py
  kedro/extras/datasets/spark/deltatable_dataset.py
  kedro/extras/datasets/tracking/json_dataset.py
  kedro/extras/datasets/tracking/metrics_dataset.py
Due: code_change

Update RELEASE.md
  RELEASE.md
Due: code_change

Fix docs linkcheck
  docs/conf.py
Due: docs_change

[TEMP] - print console log for e2e
  Makefile
Due: code_change

update documentation and minor refactoring
  docs/source/extend_kedro/create_kedro_starters.md
  docs/source/extend_kedro/plugins.md
  kedro/framework/cli/cli.py
  kedro/framework/cli/starters.py
  kedro/framework/cli/utils.py
Due: docs_change, code_change

refactor e2etest
  docs/source/extend_kedro/create_kedro_starters.md
  docs/source/extend_kedro/plugins.md
  features/activate_nbstripout.feature
  features/build_docs.feature
  features/build_reqs.feature
  features/info.feature
  features/ipython.feature
  features/jupyter.feature
  features/load_context.feature
  features/new_project.feature
  features/package.feature
  features/run.feature
  features/starter.feature
  features/steps/cli_steps.py
  features/test.feature
Due: docs_change, code_change

fix linting
  kedro/framework/cli/starters.py
Due: code_change

Bug fix when refactoring the argument the CLI argument isn't updated properly
  kedro/framework/cli/starters.py
Due: code_change

Improve links in deployment guides
  docs/source/deployment/aws_sagemaker.md
  docs/source/deployment/aws_step_functions.md
  docs/source/deployment/dask.md
  docs/source/deployment/databricks.md
  docs/source/deployment/kubeflow.md
  docs/source/deployment/prefect.md
Due: docs_change

linting
  kedro/extras/datasets/api/api_dataset.py
  kedro/extras/datasets/holoviews/holoviews_writer.py
  kedro/extras/datasets/matplotlib/matplotlib_writer.py
  kedro/extras/datasets/pandas/gbq_dataset.py
  kedro/extras/datasets/pandas/sql_dataset.py
  kedro/extras/datasets/spark/deltatable_dataset.py
Due: code_change

Consistent click message color and stricter test for plugin
  kedro/framework/cli/starters.py
  tests/framework/cli/test_starters.py
Due: code_change

Improve links in development section
  docs/source/development/commands_reference.md
  docs/source/development/debugging.md
  docs/source/development/set_up_pycharm.md
  docs/source/development/set_up_vscode.md
Due: docs_change

Fix link
  docs/source/deployment/aws_sagemaker.md
  docs/source/deployment/aws_step_functions.md
Due: docs_change

Update docs/source/extend_kedro/create_kedro_starters.md
  docs/source/extend_kedro/create_kedro_starters.md
Due: docs_change

fix lint
  Makefile
  kedro/framework/cli/starters.py
Due: code_change

Fix doclink
  docs/source/extend_kedro/create_kedro_starters.md
Due: docs_change

Fix broken link to spark docs
  docs/source/tools_integration/pyspark.md
  kedro/extras/datasets/spark/spark_dataset.py
  kedro/extras/datasets/spark/spark_jdbc_dataset.py
Due: docs_change, code_change

Simplify isort configuration using "black" profile
  features/steps/test_starter/{{ cookiecutter.repo_name }}/pyproject.toml
  kedro/templates/project/{{ cookiecutter.repo_name }}/pyproject.toml
  pyproject.toml
  test_requirements.txt
Due: code_change

Remove unnecessary `known_first_party` configuration
  pyproject.toml
Due: code_change

feat: add paginated api dataset
  kedro/extras/datasets/api/__init__.py
  kedro/extras/datasets/api/paginated_api_dataset.py
  tests/extras/datasets/api/test_paginated_api_dataset.py
Due: code_change

fix: add finally clause to exception handling
  kedro/extras/datasets/api/paginated_api_dataset.py
Due: code_change

fix: update pagination handling logic
  kedro/extras/datasets/api/paginated_api_dataset.py
  tests/extras/datasets/api/test_paginated_api_dataset.py
Due: code_change

initial version with load args.
  kedro/extras/datasets/api/BaseAuthFactory.py
  kedro/extras/datasets/api/api_dataset.py
Due: code_change

changed configurations into load_args. Created BaseAuthFactory to instantiate authenticator objects from config.
  tests/extras/datasets/api/test_api_dataset.py
Due: code_change

added a bunch more tests that shows some new capabilities such as streaming, certs etc.
  RELEASE.md
  docs/source/data/data_catalog.md
  tests/extras/datasets/api/test_api_auth.py
  tests/extras/datasets/api/test_api_dataset.py
Due: docs_change, code_change
